.row.form-fieldset
	.col-xs-12.col-sm-12.col-md-12
		.form-fieldset__title Ваша контактная информация
	.col-xs-12.col-sm-8.col-md-6
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#fam.form-control.js-requere(type='text', value='', tabindex='1', maxlength='150', name='name', placeholder='Фамилия, имя, отчество*')

	.col-xs-12.col-sm-8.col-md-6
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#card_number.form-control.js-requere(type='text', value='', tabindex='2', maxlength='20', name='card_number', placeholder='Номер банковской карты*')
.row.form-fieldset
	.col-xs-12.col-sm-12.col-md-12
		.form-fieldset__title Контактная информация рекомендуемого лица
	.col-xs-12.col-sm-8.col-md-6
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#fam_rec.form-control.js-requere(type='text', value='', tabindex='3', maxlength='150', name='nameRec', placeholder='Фамилия, имя, отчество*')

	.col-xs-12.col-sm-8.col-md-6
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#phonenum_rec.form-control.js-requere(type='text', value='', tabindex='4', maxlength='20', name='phonenum11', placeholder='Контактный телефон*')

.row
	.col-xs-12.col-sm-12.col-md-12
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#email.form-control.field-email.js-requere(type='text', value='', tabindex='5', maxlength='40', name='email', placeholder='Адрес электронной почты')

		.form-group
			.col-xs-12.col-sm-12.col-md-12
				textarea#comment_rec.form-control.field-text.js-requere(value="", tabindex="6", rows="2", cols="15", name="comment", placeholder="Комментарий")

		.form-group
			.col-xs-12.col-sm-12.col-md-12
				.checkbox
					input.js-requere#agree_rec_1(type="checkbox", name="agree_1", value="0")
					label(for="agree_rec_1", tabindex="7") 
						span.requere Я&nbsp;ознакомился с&nbsp;условиями акции.

			.col-xs-12.col-sm-12.col-md-12
				.checkbox
					input#agree_rec_2.js-requere(type="checkbox", name="agree_2", value="0")
					label(for="agree_rec_2", tabindex="8")
						span.requere Я&nbsp;подтверждаю, что рекомендуемое мной лицо предоставило разрешение на&nbsp;передачу своих персональных данных АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
