case page
	when 'special'
		if(frame_tab == "tab_1")
			.frame.frame--overlay.frame--bordered
				.frame-visual(style="background-image: url('../../content/frame-bg/frame-special.jpg');")
					img(src="../../f/i/spacer.gif", alt="Citigold. Ваш круг избранных", title="Citigold. Ваш круг избранных")
				.frame-content
					.b-table
						.b-table__cell-middle
							.row.no-margin
								.col-xs-12.col-sm-12.col-md-12.no-padding.text-center
									.frame-caption.frame-caption--text-img(style="background-image: url('../../content/frame-bg/special-text.png');")
										.frame-caption__inner
											.frame-caption__title Citigold. Ваш круг избранных
											p.frame-caption__leadtext Больше друзей&nbsp;&mdash; выше вознаграждение

		if(frame_tab == "tab_2")
			.frame
				.frame-visual(style="background-image: url('../../content/frame-bg/frame-special-2.jpg');")
				.frame-content
					.b-table
						.b-table__cell-middle
							.row.no-margin
								.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
									.frame-caption.frame-caption--md
										.frame-caption__inner
											//- .frame-caption__text.text-uppercase Citigold
											.frame-caption__title Пресса там, где&nbsp;Вы
											p.frame-caption__leadtext С&nbsp;электронной библиотекой
											a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Заказать звонок
	when 'Citigold_vklad'
		.frame
			.frame-visual(style="background-image: url('../../content/frame-bg/frame-special-3.jpg');")
				img(src="../../f/i/spacer.gif", alt="Промо вклад", title="Промо вклад")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										//- .frame-caption__text.text-uppercase Citigold
										.frame-caption__title Промо вклад
										p.frame-caption__leadtext Cо&nbsp;специальной ставкой для всех клиентов Citigold&nbsp;<small><sup>1</sup></small>.
										.btn-panel.no-padding
											a.btn.btn--md.btn--black.btn--rounded.btn--wide-md(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Заказать звонок
											a.btn.btn--md.btn--black.btn--rounded.btn--wide-md(href="https://www.citibank.ru/russia/promo/rus/promo_deposit_dlya_klientov.htm?icid=lopvsbn") Подробнее
	when 'rewards'
		.frame
			.frame-visual(style="background-image: url('../../content/frame-bg/frame-selected.jpg');")
				img(src="../../f/i/spacer.gif", alt="Спасибо, что рекомендуете нас!", title="Спасибо, что рекомендуете нас!")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										//- .frame-caption__text.text-uppercase Citigold
										h1.frame-caption__title Спасибо, что рекомендуете нас!
										p.frame-caption__leadtext Программа &laquo;Пригласите Ваших друзей&raquo;<small><sup>1</sup></small>
	when 'advantage'
		.frame
			.frame-visual(style="background-image: url('../../content/frame-bg/frame-privilege.jpg');")
				img(src="../../f/i/spacer.gif", alt="Банковский Сервис", title="Банковский Сервис")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										//- .frame-caption__text.text-uppercase Citigold
										h1.frame-caption__title Банковский Сервис
										p.frame-caption__leadtext Ваши персональные условия клиента Citigold действуют не&nbsp;только в&nbsp;России, но&nbsp;и&nbsp;за&nbsp;ее&nbsp;пределами.
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Открыть счет
	when 'privileges'
		.frame
			.frame-visual(style="background-image: url('../../content/frame-bg/frame-travel.jpg');")
				img(src="../../f/i/spacer.gif", alt="карта привилегированного клиента", title="карта привилегированного клиента")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										//- .frame-caption__text.text-uppercase Citigold
										h1.frame-caption__title Привилегии для&nbsp;путешествий
										p.frame-caption__leadtext При поддержании среднемесячного баланса в&nbsp;рамках пакета банковских услуг Citigold Вы&nbsp;сможете пользоваться особыми привилегиями&nbsp;<small><sup>1</sup></small>.
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Заказать звонок
	when 'invest'
		.frame
			.frame-visual(style="background-image: url('../../content/frame-bg/frame-invest.jpg');")
				img(src="../../f/i/spacer.gif", alt="Инвестиции и страхование", title="услуга priority pass")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										//- .frame-caption__text.text-uppercase Citigold
										h1.frame-caption__title Инвестиции и&nbsp;страхование
										p.frame-caption__leadtext Профессиональные консультации по&nbsp;управлению капиталом, основанные на&nbsp;наших знаниях, опыте и&nbsp;аналитике
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Заказать звонок
	when 'analitics'
		.frame
			.frame-visual(style="background-image: url('../../content/frame-bg/frame-analitics.jpg');")
				img(src="../../f/i/spacer.gif", alt="Рыночная аналитика", title="услуга priority pass")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-12.no-padding.text-center
								.frame-caption
									.frame-caption__inner
										//- .frame-caption__text.text-uppercase Citigold
										h1.frame-caption__title Рыночная аналитика
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Заказать звонок
	when 'citigold'
		.frame.frame--overlay
			.frame-visual(style="background-image: url('../../content/frame-bg/frame-about.jpg');")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-7.col-md-6.col-md-offset-2.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										//- .frame-caption__text.text-uppercase Citigold
										.frame-caption__title Успех, каким его видите&nbsp;Вы
										p.frame-caption__leadtext Путешествия по&nbsp;миру, строительство дома мечты, заслуженный отдых... Не&nbsp;так важно, что&nbsp;Вы подразумеваете под благополучием. С&nbsp;Citigold Вы&nbsp;этого достигните.
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Заказать звонок
	when 'onlain-zajavka'
		.frame.frame--overlay-mobile-full
			.frame-visual(style="background-image: url('../../content/frame-bg/frame-about.jpg');")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-2.no-padding
								.frame-caption.frame-caption--md.radius-rtop-30
									.frame-caption__inner
										//- .frame-caption__text.text-uppercase Citigold
										.frame-caption__title Успех, каким его видите&nbsp;Вы
										p.frame-caption__leadtext Путешествия по&nbsp;миру, строительство дома мечты, заслуженный отдых... Не&nbsp;так важно, что&nbsp;Вы подразумеваете под благополучием. С&nbsp;Citigold Вы&nbsp;этого достигните.
	default
		.col-right
