doctypehtml
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
include head
body
	.app.main-page
		.app-content
			header.app-header
				include header-top.jade
				include app-header.jade
			.main-content
				.wrap-content
					block content

		include app-footer-main.jade
		include modal
	include scripts
	block scripts
	include analitics
</html>
