#popup-pdfviewer.modal.fade.viewer-dialog
	button.viewer-close(type="button")
		span ×
	.modal-dialog.modal-dialog--md
		#viewer-popup.viewer-request-container.collapse
			.viewer-request
				p.content-text Хотите получить полную версию?<br />Пожалуйста, свяжитесь с&nbsp;Вашим персональным менеджером.
				a.content-text.middle.link.jsp-feedback(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Стать клиентом Citigold
		.modal-content
			.modal-body
				canvas#viewer-container
			.modal-footer
	.viewer-controls.text-center
		.viewer-controls__inner
			#viewer-prev.btn-view.btn-view--prev
			ul.viewer-pager
			#viewer-next.btn-view.btn-view--next
			//| <div>Page: <span id="page_num"></span>/ <span id="page_count"></span></div>


#popup-feedback.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content#js-modal-reg
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Онлайн-заявка
				form#cglead.form-horizontal(autocomplete="off", name="cglead", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
					.row
						.col-xs-12.col-sm-12.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input#name.form-control.js-requere(placeholder="Имя Фамилия", type="text", name="name", maxlength="100", tabindex="1", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input#phonenum.form-control.js-requere(type="text", placeholder="Телефон", name="phonenum11", maxlength="20", tabindex="2", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									select#city.form-control.select-box.js-requere(name="city", tabindex="5")
										option(value='') Выберите город
										option(value="Москва") Москва
										option(value="Санкт-Петербург") Санкт-Петербург
										option(value="Волгоград") Волгоград
										option(value="Екатеринбург") Екатеринбург
										option(value="Нижний Новгород") Нижний Новгород
										option(value="Ростов-на-Дону") Ростов-на-Дону
										option(value="Самара") Самара
										option(value="Уфа") Уфа
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									select#branch.form-control.select-box.js-requere(tabindex='6', name='branch', disabled)
										option(selected="selected", value="") Отделение банка
						.col-xs-12.col-sm-12.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									textarea#comment.form-control.js-requere(placeholder="Комментарий", name="comment", cols="15", rows="8", tabindex="7", value="")
					.form-group
						.col-xs-12.col-sm-12.col-md-12
							.modal-text
								.checkbox
									input#client.js-requere(type="checkbox", value="не клиент", name="client", tabindex="8")
									label(for="client") Являюсь клиентом Ситибанка
								.agreement Я&nbsp;согласен получать от&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; уведомления и&nbsp;звонки по&nbsp;сетям электросвязи, в&nbsp;том числе рекламного характера (в&nbsp;том числе по&nbsp;телефону, факсу, мобильной связи и&nbsp;электронной почте) с&nbsp;целью предложения инвестиционных, страховых и&nbsp;банковских продуктов.
								.agreement Настоящим я&nbsp;выражаю АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; (Москва, ул. Гашека, д. 8–10, стр.&nbsp;1) свое безусловное согласие на&nbsp;обработку (в&nbsp;том числе сбор, систематизацию, анализ, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в&nbsp;том числе передачу, включая трансграничную), обезличивание, блокирование, уничтожение и&nbsp;иные действия) автоматизированным, механическим, ручным или иным способом по&nbsp;усмотрению АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; всех моих персональных данных (в&nbsp;том числе биометрических), содержащихся в&nbsp;настоящем заявлении, в&nbsp;целях обсуждения моих инвестиционных целей. Обработка указанных выше персональных данных осуществляется также с&nbsp;целью предложения мне банковских, инвестиционных, страховых и&nbsp;иных услуг и&nbsp;продуктов, хранения данных, ведения статистической отчетности, управления рисками, выполнения предъявляемых АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; требований, а&nbsp;также с&nbsp;иными не&nbsp;запрещенными законодательством Российской Федерации целями. Данное согласие на&nbsp;обработку персональных данных действует до&nbsp;достижения целей их&nbsp;обработки и&nbsp;до&nbsp;момента истечения сроков их&nbsp;архивного хранения после прекращения всех моих договорных отношений с&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
								.checkbox
									input#agree.js-requere(type="checkbox", name="agree", value="0", tabindex="9")
									label(for="agree") Я соглашаюсь с обозначенными выше условиями.
							ul#error-list.list-styled.content-text.error-text(style="display: none;")
								li
							button#submit.btn.btn--lg.btn--gray.btn--rounded.disabled(type="button", tabindex="10") Отправить заявку
							input#sourcecode(type="hidden", name="sourcecode", value="EMPTY***")
							input#IEWAcategory(name="IEWAcategory", type="hidden", value="CitiGold Lead Form")
			.modal-footer


block popup-success
	#popup-success.modal.fade.collapse
		.modal-dialog.modal-dialog--lg
			.modal-content
				.modal-content-header
					.close
					.modal-content-header__inner
				.modal-content-body
					.modal-content-body__header
						h2.modal-content__title Благодарим Вас за&nbsp;заполненную онлайн-заявку!
						p.modal-content__subtitle В&nbsp;ближайшее время наш сотрудник позвонит Вам, чтобы договориться о&nbsp;встрече в&nbsp;удобное для Вас время.
				.modal-footer

#popup-request.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Благодарим Вас за&nbsp;заявку!
					//- p.modal-content__subtitle Ваш персональный менеджер свяжется с&nbsp;Вами через некоторое время.
			.modal-footer


#popup-guid.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Рекомендация
					p.feedback-text Если Вас заинтересовало данное предложение, оставьте Вашу рекомендацию.
					p.feedback-text <sup>*</sup> Поля, обязательные для заполнения.
				form#cgmgm.form-horizontal(enctype='multipart/form-data', name='cgmgm', autocomplete='off', action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_mgm/russian_new/")
					include form.jade
					.form-group
						.col-xs-12.col-sm-12.col-md-12
							input#IEWAcategory(name="IEWAcategory", type="hidden", value="Citigold Application Form")
							input#sourcecode_rec(type="hidden", name="sourcecode", value="EMPTY***")
							//- input#PageName.success(type="hidden", value="citi_gold")
							#submit-rec.btn.btn--gray.btn--lg.disabled(tabindex="9") Отправить

#popup-guid-success.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Благодарим Вас за&nbsp;рекомендацию!
					p.modal-content__subtitle В&nbsp;ближайшее время наш сотрудник свяжется с&nbsp;рекомендованным Вами лицом, чтобы договориться <span class="visible-md-block visible-lg-block"></span> о&nbsp;встрече в&nbsp;удобное для него время.
					p.modal-content__subtitle Ваш персональный менеджер свяжется с&nbsp;Вами через некоторое время после того, как рекомендованное Вами лицо станет клиентом Ситибанка.
			.modal-footer

#popup-target.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-body
				h2.modal-content__title Внимание!
				p.modal-content__subtitle Вы&nbsp;собираетесь покинуть сайт Ситибанка и&nbsp;перейти на&nbsp;сайт <span class="js-popup-target-text  font-bold"></span>
				p.modal-content__subtitle Нажмите &laquo;Продолжить&raquo;, чтобы осуществить переход на&nbsp;этот сайт, или &laquo;Отмена&raquo;, чтобы остаться на&nbsp;сайте Ситибанка.
				.modal-content__links
					a.btn.btn--lg.btn--gray.btn--rounded.js-popup-target-link(href="http://www.ritzcarlton.com/Moscow") Продолжить
					.btn.btn--lg.btn--gray.btn--rounded.close Отмена

//- #popup-elib.modal.fade.collapse
	.modal-dialog.modal-dialog--sm
		.modal-content
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Спасибо за Ваше мнение!
			.modal-footer
