case page
	when 'special'
		.frame
			if(frame_tab == "tab_1")
				.frame-visual(style="background-image: url('../content/frame-bg/frame-special.jpg');")
					img(src="../f/i/spacer.gif", alt="Recommend the bank you trust", title="Recommend the bank you trust")
				.frame-content
					.b-table
						.b-table__cell-middle
							.row.no-margin
								.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
									.frame-caption.frame-caption--md
										.frame-caption__inner
											.frame-caption__title Recommend the bank you trust!
											p.frame-caption__leadtext It&rsquo;s nice to&nbsp;be&nbsp;trusted, but to&nbsp;be&nbsp;recommended is&nbsp;twice that nice! Not only will we&nbsp;say &laquo;Thank you&raquo; for referring&nbsp;us, but we&nbsp;will also offer you a&nbsp;great compliment.
	when 'Citigold_vklad'
		.frame
			.frame-visual(style="background-image: url('../content/frame-bg/frame-special-3.jpg');")
				img(src="../f/i/spacer.gif", alt="Time Deposits", title="Time Deposits")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										.frame-caption__title.text-uppercase Time Deposits
										p.frame-caption__leadtext Special deposit rates for all Citigold customers&nbsp;<small><sup>1</sup></small>.
										.btn-panel.no-padding
											a.btn.btn--md.btn--black.btn--rounded.btn--wide-md(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Request a&nbsp;callback
											a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/promo/rus/promo_deposit_dlya_klientov.htm?icid=lopvsbn") Details
	when 'advantage'
		.frame
			.frame-visual(style="background-image: url('../content/frame-bg/frame-privilege.jpg');")
				img(src="../f/i/spacer.gif", alt="Banking Services", title="Banking Services")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										h1.frame-caption__title Banking Services
										p.frame-caption__leadtext Your personalized Citigold privileges extend beyond home.
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Open an&nbsp;account
	when 'privileges'
		.frame
			.frame-visual(style="background-image: url('../content/frame-bg/frame-travel.jpg');")
				img(src="../f/i/spacer.gif", alt="Priority Pass", title="Priority Pass")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-6.col-md-offset-6.no-padding
								.frame-caption.frame-caption--md
									.frame-caption__inner
										h1.frame-caption__title Travel Privileges
										p.frame-caption__leadtext You can enjoy special privileges subject to&nbsp;your meeting the average monthly relationship balance requirement&nbsp;<small><sup>1</sup></small>.
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Request a&nbsp;callback

	when 'invest'
		.frame
			.frame-visual(style="background-image: url('../content/frame-bg/frame-invest.jpg');")
				img(src="../f/i/spacer.gif", alt="Investment and Insurance", title="услуга priority pass")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-12.no-padding.text-center
								.frame-caption
									.frame-caption__inner
										h1.frame-caption__title Investment and&nbsp;Insurance
										p.frame-caption__leadtext Trusted Advisory based on&nbsp;our experience and analytics
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Request a&nbsp;callback
	when 'analitics'
		.frame
			.frame-visual(style="background-image: url('../content/frame-bg/frame-analitics.jpg');")
				img(src="../f/i/spacer.gif", alt="Market Analytics", title="услуга priority pass")
			.frame-content
				.b-table
					.b-table__cell-middle
						.row.no-margin
							.col-xs-12.col-sm-12.col-md-12.no-padding.text-center
								.frame-caption
									.frame-caption__inner
										h1.frame-caption__title Market Analytics
										a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Request a&nbsp;callback
	
	when 'citigold'
		.frame.frame--overlay
			.frame-visual(style="background-image: url('../content/frame-bg/frame-about.jpg');")
			.frame-content
				.b-table
					.b-table__cell-middle
						.container
							.row.no-margin
								.col-xs-12.col-sm-7.col-md-6.no-padding
									.frame-caption.frame-caption--md
										.frame-caption__inner
											.frame-caption__title Wealth on&nbsp;Your Terms
											p.frame-caption__leadtext Wealth is&nbsp;travelling the world, realising your dream home, an&nbsp;early retirement. No&nbsp;matter how you define wealth, Citigold can help you achieve&nbsp;it.
											a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Request a&nbsp;callback
	default
		.col-right
