block link
	-var page = '';
	-var activePage = '';
block disclamer_text
	-var disclamer = '';
block analitics
	-var connonical_page = ''
block switch_frame
	-var frame_tab = '';
block page
	-var page_name = "";


head
	meta(http-equiv="X-UA-Compatible", content="IE=9;IE=10;IE=Edge,chrome=1")
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='robots', content='index, follow')
	block description
		meta(name='description', content='')
	block title
		title Citi-Gold
	link(rel='shortcut icon', href='../../f/i/favicon.ico', type='image/x-icon')
	link(rel='icon', href='../../f/i/favicon.ico', type='image/x-icon')
	link(rel='canonical', href='https://www.citibank.ru/russia/citigold/eng/' + connonical_page + '.htm')

	link(rel='stylesheet', href='../../f/css/jquery.fs.selecter.css')
	link(rel='stylesheet', href='../../f/css/jquery.fs.scroller.css')
	link(rel='stylesheet', href='../../f/css/main.css')
	link(rel='stylesheet', href='../../f/css/main_eng.css')
	<!--[if IE 8]><link rel="stylesheet" href="../../f/css/ie_older.css"><![endif]-->
	<!--[if IE 8]><script type='text/javascript' src="../../f/js/css3-mediaqueries.js"></script><![endif]-->
	<!--[if IE 8]><script type='text/javascript' src="../../f/js/html5shiv.min.js"></script><![endif]-->
	<!--[if IE 8]><script type='text/javascript' src="../../f/js/respond.min.js"></script><![endif]-->
	<!--[if IE 8]><script type='text/javascript' src="../../f/js/selectivizr-min.js"></script><![endif]-->
