doctypehtml
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->
include head
body
	.app
		if(page_name == "promo")
			.app-content.app-promo
				.main-content
					.wrap-content
						block content
		else
			.app-content
				.main-content
					.wrap-content
						block content

		include modal
	include scripts
	block scripts
	include analitics
</html>
