#popup-pdfviewer.modal.fade.viewer-dialog
	button.viewer-close(type="button")
		span ×
	.modal-dialog.modal-dialog--md
		#viewer-popup.viewer-request-container.collapse
			.viewer-request
				p.content-text For full version please contact your personal manager.
				a.content-text.middle.link.jsp-feedback(href="https://www.citibank.ru/russia/citigold/eng/citigold_client.htm") Become a&nbsp;Citigold customer
		.modal-content
			.modal-body
				canvas#viewer-container
			.modal-footer
	.viewer-controls.text-center
		.viewer-controls__inner
			#viewer-prev.btn-view.btn-view--prev
			ul.viewer-pager
			#viewer-next.btn-view.btn-view--next
			//| <div>Page: <span id="page_num"></span>/ <span id="page_count"></span></div>


#popup-feedback.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content#js-modal-reg
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Online Form
				form#cglead.form-horizontal(autocomplete="off", name="cglead", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
					.row
						.col-xs-12.col-sm-12.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input#name.form-control.js-requere(placeholder="Full name", type="text", name="name", maxlength="100", tabindex="1", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input#phonenum.form-control.js-requere(type="text", placeholder="Phone number", name="phonenum11", maxlength="20", tabindex="2", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									select#city.form-control.select-box.js-requere(name="city", tabindex="5")
										option(value='') Select your city
										option(value="Moscow") Moscow
										option(value="St.Petersburg") St.Petersburg
										option(value="Volgograd") Volgograd
										option(value="Ekaterinburg") Ekaterinburg
										option(value="Nizhniy Novgorod") Nizhniy Novgorod
										option(value="Rostov-on-Don") Rostov-on-Don
										option(value="Samara") Samara
										option(value="Ufa") Ufa
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									select#branch.form-control.select-box.js-requere(tabindex='6', name='branch', disabled)
										option(selected="selected", value="") Branch
						.col-xs-12.col-sm-12.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									textarea#comment.form-control.js-requere(placeholder="Comments", name="comment", cols="15", rows="8", tabindex="7", value="")
					.form-group
						.col-xs-12.col-sm-12.col-md-12
							.modal-text
								.checkbox
									input#client.js-requere(type="checkbox", value="no customer", name="client", tabindex="8")
									label(for="client") I&rsquo;m an&nbsp;existing Citibank customer
								.agreement I&nbsp;agree to&nbsp;receive from AO&nbsp;Citibank notifications and communications, including marketing communications about investment, insurance and banking products, by&nbsp;phone, fax, mobile and email.
								.agreement I&nbsp;hereby give AO&nbsp;Citibank, with its office at&nbsp;8-10, bldg.&nbsp;1, Gasheka st., Moscow, my&nbsp;unconditional consent to&nbsp;the processing of&nbsp;all my&nbsp;personal data, including biometrics, contained in&nbsp;this form for the purpose of&nbsp;my&nbsp;investment goals discussion. AO&nbsp;Citibank may process my&nbsp;personal data, which includes its collection, systematization, analysis, accumulation, storage, update, modification, use, distribution and transfer, including across borders, depersonalization, blocking, destruction or&nbsp;other processes, electronically, mechanically, manually or&nbsp;otherwise as&nbsp;it&nbsp;thinks fit. The processing of&nbsp;the above personal data will also be&nbsp;carried out for the purposes of&nbsp;providing me&nbsp;with banking, investment, insurance or&nbsp;other products and services, data storage, statistical accounting, risk management, statutory compliance, or&nbsp;any other purpose not prohibited by&nbsp;Russian law. This consent for the processing of&nbsp;personal data will be&nbsp;valid until such time as&nbsp;the purpose of&nbsp;their processing is&nbsp;achieved and their retention period has expired after the termination of&nbsp;all my&nbsp;contractual relationships with AO&nbsp;Citibank.
								.checkbox
									input#agree.js-requere(type="checkbox", name="agree", value="0", tabindex="9")
									label(for="agree") I&nbsp;agree to&nbsp;the terms set out above.
							ul#error-list.list-styled.content-text.error-text(style="display: none;")
								li
							button#submit.btn.btn--lg.btn--gray.btn--rounded.disabled(type="button", tabindex="10") Submit
							input#sourcecode(type="hidden", name="sourcecode", value="EMPTY***")
							input#IEWAcategory(name="IEWAcategory", type="hidden", value="CitiGold Lead Form")
			.modal-footer


#popup-success.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Thank you for your recommendation!
					p.modal-content__subtitle Our representative will contact your referee shortly to&nbsp;schedule a&nbsp;meeting at&nbsp;his convenience.
					p.modal-content__subtitle Our representative will contact you after your referee will open a&nbsp;Citigold account.
			.modal-footer


#popup-guid.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Referral Form
					p.feedback-text If&nbsp;you are interested in&nbsp;this offer, please submit your referral.
					p.feedback-text <sup>*</sup> All fields marked with an&nbsp;asterisk are mandatory.
				form#cgmgm.form-horizontal(enctype='multipart/form-data', name='cgmgm', autocomplete='off', action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_mgm/russian_new/")
					include form.jade
					.form-group
						.col-xs-12.col-sm-12.col-md-12
							input#IEWAcategory(name="IEWAcategory", type="hidden", value="Citigold Application Form")
							input#sourcecode_rec(type="hidden", name="sourcecode", value="EMPTY***")
							#submit-rec.btn.btn--gray.btn--lg.disabled(tabindex="9") Submit

#popup-guid-success.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.close
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Thank you for your recommendation!
					p.modal-content__subtitle Our representative will contact recommended by&nbsp;you person shortly <span class="visible-md-block visible-lg-block"></span>to&nbsp;schedule a&nbsp;meeting at&nbsp;his convenience.
					p.modal-content__subtitle Your personal manager will contact you as&nbsp;soon as&nbsp;recommended by&nbsp;you person becomes a&nbsp;Citi client.
			.modal-footer

#popup-target.modal.fade.collapse
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-body
				h2.modal-content__title Attention!
				p.modal-content__subtitle You are going to&nbsp;leave the Citibank website and go&nbsp;to&nbsp;the website <span class="js-popup-target-text  font-bold"></span>
				p.modal-content__subtitle Click &laquo;Continue&raquo; to&nbsp;make the transition to&nbsp;this site, or&nbsp;&laquo;Cancel&raquo; to&nbsp;remain on&nbsp;the website of&nbsp;Citibank.
				.modal-content__links
					a.btn.btn--lg.btn--gray.btn--rounded.js-popup-target-link(href="#") Continue
					.btn.btn--lg.btn--gray.btn--rounded.close Cancel
