script(src='../../f/js/jquery.min.js')
script(src='../../f/js/vendor.js')
//- script(src='../../f/js/jquery.fancybox.pack.js')
script(src='../../f/js/main.js')
script(src='../../f/js/validate_eng.js')
