.section-promo {
  position: relative;
  margin-bottom: 100px;
}
.section-about {
  background-color: $white;
  position: relative;
  padding: 25px;
  color: $white;
  &__header {
    margin-top: 73px;
    margin-bottom: 31px;
    padding-bottom: 37px;
    border-bottom: 1px solid $color-dl-title;
  }
  &__text {
    font-size: $font-size-h6;
    line-height: ceil($font-size-h2 - 2px);
    margin-top: 24px;
    margin-bottom: 0;
  }
  &__descr,
  &__descl {
    font-size: $font-size-base;
    line-height: $font-size-tabnav;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  &__content {
    margin-bottom: 26px;
    padding-bottom: 37px;
    border-bottom: 1px solid $color-dl-title;
  }

  &__reward {
    display: flex;
    align-items: center;
  }

  &__reward-img {
    flex-basis: 150px;
    padding-right: 10px;

    @media (max-width: $screen-xs-max){
      min-width: 40px;
      flex-basis: 84px;
      padding-right: 0;
    }

    img {
      max-width: 100%;
    }
  }

  &__reward-text {
    padding-left: 10px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 12px;

    @media (max-width: $screen-xs-max){
      font-size: $font-size-sm;
      line-height: 1.2;
    }
  }
}
@media (min-width: $screen-lg-min){
  .section-about__media {
    height: 310px;
    position: absolute;
    left: -100%;
    top: 84px;
    .i1, .i2 {
      display: block;
      position: absolute;
      opacity: 0;
    }
    .i1 {
      left: -20px;
      top: 230px;
      transition: all ease 1s;
    }
    .i2 {
      left: -80px;
      top: 300px;
      transition: all ease 1.5s;
    }
    &.scroll-effects {
      .i1 {
        top: 0;
        opacity: 1;
      }
      .i2 {
        top: 230px;
        opacity: 1;
      }
    }
  }
}
.section-about-box {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
.particle-page {
  &__body {
    padding-bottom: 130px;
  }
}
.full-carousel {
  &__item {
    text-align: center;
  }
  &__title {
    font-size: $font-size-h6;
    line-height: $line-height-large;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    color: inherit;

    a {
      color: $color-base;
    }
  }
}
.full-carousel-state {
  &.slick-slider {
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }
  .slick-dots {
    li {
      button {
        &:before {
          color: #e8e8e8;
          font-size: 11px;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: #b4975a;
          }
        }
      }
    }
  }
}
.full-carousel-state-arrows {
  width: 102px;
  height: 84px;
  margin-top: 38px;
  margin-left: 75px;
  position: relative;
  &:before {
    border-left: 1px solid #dcd7cf;
    width: 0;
    height: 84px;
    content: "";
    position: absolute;
    left: 51px;
    top: 0;
  }
}
.full-carousel-state-next {
  @include sprite-2x($sprite-full-carousel-right);
  outline: 0 none;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -18px;
  z-index: 1;
  cursor: pointer;
}
.full-carousel-state-prev {
  @include sprite-2x($sprite-full-carousel-left);
  outline: 0 none;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -18px;
  z-index: 1;
  cursor: pointer;
}
.full-carousel-nav-container {
  display: none;
  position: absolute;
  left: 14px;
  top: 0;
  margin-top: -545px;
}
.full-carousel-nav {
  margin-bottom: 0;
}
.full-carousel-nav-item {
  color: $color-barleycorn;
  margin: 0;
  outline: 0 none;
  cursor: pointer;
  &+ .full-carousel-nav-item {
    .full-carousel-nav-item__inner {
      border-top: 1px solid $particle-color;
    }
  }
  &__inner {
    padding: 22px 35px 22px 16px;
  }
  &.slick-slide {
    border: 0 none;
    border-left: 5px solid transparent;
  }
  &:hover,
  &.slick-current {
    border-left-color: $color-barleycorn;
    color: $color-base;
  }
}
.preview-link {
  $width: nth($sprite-prev-link, 5);
  $height: nth($sprite-prev-link, 6);
  @include sprite-2x($sprite-prev-link);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: ceil($height / -2);
  margin-left: ceil($width / -2);
}

.video-link {
  $width: nth($sprite-video-link, 5);
  $height: nth($sprite-video-link, 6);
  @include sprite-2x($sprite-video-link);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: ceil($height / -2);
  margin-left: ceil($width / -2);
}
/* start animation promo */
.start {
  border: 2px solid $particle-color;
  border-radius: 20px;
  box-shadow: 0 0 0 2px rgba($black, 0.1);
  width: 33px;
  height: 63px;
  position: fixed;
  bottom: 110px;
  left: 50%;
  margin-left: -16px;
  z-index: 62;
  .progress {
    animation: scroll 1.5s infinite;
    background: none repeat 0 0 $particle-color;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba($black, 0.1);
    display: block;
    height: 6px;
    margin: 12px auto;
    width: 6px;
  }
}
.fadeInUp {
  animation: fadeInUp 1s ease 0.5s;
}
@keyframes scroll {
  0% { opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
/* end animation promo */
@media screen and (max-width: $screen-xs-max){
  .section-promo {
    margin-bottom: 0;
  }
  .section-about-box {
    padding: 0 10px 24px;
  }
  .section-about {
    padding: 10px;
    &__header {
      margin-top: 20px;
      padding-bottom: 16px;
      margin-bottom: 25px;
    }
    &__media {
      position: static;
      height: auto;
      margin-top: 24px;
      > img {
        max-width: 100%;
        height: auto;
      }
    }
    &__text {
      font-size: $font-size-base;
      line-height: 1.42;
    }
    &__content {
      padding-bottom: 25px;
      margin-bottom: 19px;
    }
    &__descr,
    &__descl {
      margin-top: 8px;
      margin-bottom: 8px;
      font-size: $font-size-sm;
      line-height: 1.2;
    }
    &__descr {
      width: 170px;
      float: right;
    }
  }
  .particle-page {
    &__body {
      padding-bottom: 0;
    }
  }
  .preview-link {
    $width: nth($sprite-prev-link-sm, 5);
    $height: nth($sprite-prev-link-sm, 6);
    @include sprite-2x($sprite-prev-link-sm);
    margin-top: ceil($height / -2);
    margin-left: ceil($width / -2);
  }
  .video-link {
    $width: nth($sprite-video-link-sm, 5);
    $height: nth($sprite-video-link-sm, 6);
    @include sprite-2x($sprite-video-link-sm);
    margin-top: ceil($height / -2);
    margin-left: ceil($width / -2);
  }
  .full-carousel-state {
    &.slick-slider {
      margin-bottom: 40px;
      img {
        max-width: 120%;
        margin-left: -15%;
      }
    }
  }
}
@media screen and (max-width: $screen-xs-min){
  .particle-page {
    .content {
      background-position: -50% 22%;
      background-size: 110% auto;
    }
    .particle-page-body {
      max-width: 60%;
      min-height: 200px;
      margin-top: 10%;
    }
  }
}
@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min){
  .particle-page {
    .content {
      background-position: 100% 15%;
      background-size: 100% auto;
    }
    .particle-page-body {
      max-width: 50%;
      min-height: 250px;
      margin-top: 10%;
    }
  }

}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .section-investstrategy {
    .frame-visual {
      height: 650px;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-md-max){
  .section-about-box {
    padding: 0 39px 45px;
  }
  .section-about {
    &__header {
      margin-top: 44px;
    }
    &__media {
      position: static;
      height: auto;
      margin-top: 24px;
      text-align: center;
      > img {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin: 0 1%;
      }
    }
    &__content {
      
    }
    &__footer {
      
    }
    &__descr,
    &__descl {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__descr {
      float: right;
    }
  }
  .particle-page {
    &__body {
      padding-bottom: 30px;
    }
  }
  .full-carousel-state {
    .slick-dots {
      top: 115px;
      bottom: inherit;
      text-align: left;
      padding: 0 30px;
    }
  }
  .full-carousel {
    &__item {
      text-align: center;
    }
  }
}
@media (min-width: $screen-md-min){
  .full-carousel-state {
    &.slick-slider img {
      max-width: none;
    }
  }
  .full-carousel-nav-container {
    display: block;
  }
  /*.full-carousel__title {
    display: none;
  }*/
  .preview-link {
    display: none;
    .full-carousel__item:hover & {
      display: block;
    }
  }
  .app-promo {
    .app-header {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: -190px;
      opacity: 0;
      transition: all 1s ease 0s;
      z-index: 1;
    }
    &.hello_show3 {
      .app-header {
        opacity: 1;
        top: 0;
      }
    }
    .section-promo {
      height: 950px;
      .frame-content {
        padding-top: 170px;
      }
      .frame,
      .frame-visual {
        height: 850px;
      }
      .frame {
        border: 50px solid $white;
        transition: all 0.5s ease 0.1s;
      }
      .frame-caption {
        position: absolute;
        left: 0;
        top: 0;
        transition: all 1s ease 0s;
        opacity: 0;
      }
    }
    &.hello_show2 {
      .section-promo {
        .frame-caption {
          opacity: 1;
          top: 50%;
          margin-top: -190px;
        }
      }
    }
    &.hello_show1 {
      .section-promo {
        height: 850px;
        .frame {
          border-width: 0;
        }
      }
    }
    .particle-page-item {
      position: relative;
      top: 130px;
      opacity: 0;
    }
    .section-investstrategy {
      .frame-caption {
        position: relative;
        top: 30%;
        transition: all 1s ease 0s;
        opacity: 0;
        &.scroll-effects {
          opacity: 1;
          top: 0;
        }
      }
    }
  }
}
