.analitics-item {
    border: 1px solid $gray-lighter;
    &:hover {
        background-color: $gray-light;
        .preview-link {
            display: block;
        }
    }
    &__heading {
        padding: 32px 30px;
    }
    &__content {
        position: relative;
        text-align: center;
        padding-bottom: 28px;
        .analitics-item_video & {
            padding-bottom: 0;
        }
    }
    &__title {
        font-size: $font-size-h4;
        line-height: 1.2;
        color: $gray;
        margin: 0;
    }
    &__media {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        height: auto;
    }
}

.video-link {
    cursor: pointer;
}

.preview {
    overflow: hidden;
    &__video-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        display: none;
    }
    &__video-wrap {
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        display: none;
    }
    &__video-player {
        width: 100%;
        height: 100%;
    }
    &__video-close {
        width: $sprite-popup-close-width;
        height: $sprite-popup-close-height;
        @include sprite-2x($sprite-popup-close);
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        @media #{$phone} {
            right: 10px;
            top: 10px;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            right: 10px;
            top: 10px;
        }
    }
    &__body-overflow {
        overflow: hidden;
    }
}

.video-content {
    background-color: #eee;
    height: 300px;

    @media #{$phone} {
        height: auto;
    }

    >.row {
        height: 100%;
    }

    &__left,
    &__right {
        height: 100%;
    }

    &__right_pull &__info {
        padding-left: 24px;

        @media #{$phone} {
            padding-left: 20px;
        }
    }

    &__info {
        @media #{$phone} {
            padding: 10px 20px;
        }
    }

    &+ .video-content {
        clear: left;
        margin-top: 80px;

        @media #{$phone} {
            margin-top: 40px;
        }
    }
}

@media #{$phone} {
    .analitics-item {
        &__heading {
            padding: 30px 20px 15px;
        }
        &__content {
            padding: 15px;
        }
        &__title {
            font-size: $font-size-h6;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .analitics-item {
        &__heading {
            padding: 30px 20px 15px;
        }
        &__content {
            padding: 15px;
        }
    }
}
