.app {
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
}

@media (min-width: $screen-md-max) {
    .app {
        &.main-page {
            width: 1050px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.app-header,
.app-content {
    position: relative;
}

.app-content {
    height: 100%;
}

.header-top {
    background: -webkit-linear-gradient(top, #383838 0%, #383838 40%, #1a1a1a 44%, #070707 100%);
    background: linear-gradient(to bottom, #383838 0%, #383838 40%, #1a1a1a 44%, #070707 100%);
    width: 100%;
    height: 21px;
    min-height: 21px;
    padding-top: 3px;
    &__inner {
        max-width: 1004px;
        width: auto;
        padding-left: ceil($gutter-width / 2);
        padding-right: floor($gutter-width / 2);
        margin: 0 auto;
        @include clearfix;
    }
    &__nav {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        @include clearfix;
        &+.header-top__nav {
            margin-left: 45px;
        }
        &--last {
            float: right;
        }
        >li {
            display: block;
            float: left;
            position: relative;
            a,
            span {
                display: block;
                position: relative;
            }
            >a {
                padding: 0 10px;
                color: $white;
                font-size: 10px;
                height: 11px;
                line-height: 100%;
                margin: 0;
                text-transform: uppercase;
            }
        }
        &--lang {
            >li {
                &:first-child {
                    >a {
                        padding-left: 0;
                    }
                }
                >a {
                    padding: 0 19px;
                }
                &+li {
                    border-left: 1px solid $white;
                }
            }
        }
        &--links {
            .dropdown-menu {
                background: none;
                border: 0 none;
                width: 280px;
                padding: 0;
                margin: 0;
                box-shadow: none;
                top: 18px;
            }
        }
    }
}

.dropdown {
    position: relative;
}

.open {
    >.dropdown-menu {
        display: block;
    }
    >a {
        outline: 0;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: $font-size-base;
    text-align: left;
    background-color: $btn-default-bg;
    border: 1px solid $btn-default-border;
    border-radius: $input-border-radius;

    .bg-rus {
        background: url("../i/cross_line.gif") repeat 0 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        color: $gray;
        padding: 20px 19px;
    }

    a,
    &__item {
        background-color: $white;
        color: $color-base;
        height: auto;
        display: block;
        padding: 0 10px 10px;
        text-transform: uppercase;

        & +a {
            margin-top: 5px;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    &__item + &__item {
        margin-top: 5px;
    }

    p {
        margin-bottom: 0;
    }

    h5 {
        font-family: $font-interstate-reg;
        font-size: 12px;
        margin: 0;
        padding: 10px 0 5px;
    }

    &_navbar {
        margin-top: 0;

        @media screen and (max-width: $screen-sm-max) {
            border-radius: 0;
            border: medium none;
            position: relative;
            padding: 10px 26px 0;
        }

        a {
            background-color: #f7f7f7;

            &:hover,
            &:focus,
            &.active {
                color: $color-barleycorn;
            }
        }
    }
    
    &_navbar &__item {
        background-color: #f7f7f7;

        &.active {
            color: $color-barleycorn;
        }
    }
}

.quick-search {
    background-color: $white;
    border-radius: 3px;
    min-width: 245px;
    height: 15px;
    margin-left: 8px;
    position: relative;

    .icon-search-top {
        margin-top: -6px;
        pointer-events: none;
        position: absolute;
        left: 3px;
        top: 50%;
    }

    &__btn {
        background-image: none;
        border-radius: 0;
        border: 1px solid transparent;
        border-left-color: $gray;
        background: none;
        height: 15px;
        font-size: 10px;
        line-height: 100%;
        color: $gray-dark;
        white-space: nowrap;
        padding: 1px 4px 3px;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        float: right;

        &:focus {
            outline: none;
        }
    }

    &__input {
        padding-left: 17px;
        width: 100%;
        max-width: 189px;
        float: left;
    }

    &__input input {
        width: 100%;
        height: 15px;
        border: 0 none;
        color: $gray-dark;
        font-size: 10px;
        line-height: 1em;
        display: inline-block;
        vertical-align: top;

        &:focus {
            outline: none;
        }
    }
}

.app-header-wrap {
    background-color: #002d72;
    &__inner {
        max-width: 1000px;
        height: 121px;
        margin: 0 auto;
        padding-top: 12px;
    }
}

.navbar-top-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 30px;
    margin-right: -11px;
    margin-bottom: 25px;
    background-color: transparent;
    background-image: none;
    border: 0 none;
    &:focus {
        outline: 0;
    }
    .icon-bar {
        background-color: $white;
        display: block;
        width: 25px;
        height: 4px;
        &+.icon-bar {
            margin-top: 5px;
        }
    }
}

.navbar-top-contacts {
    width: 280px;
    float: right;
    margin-right: 48px;
}

.navbar-brand {
    display: inline-block;
    vertical-align: top;
    margin-top: 29px;
    >img {
        max-width: 100%;
        height: auto;
    }
}

.carousel-phone {
    &__heading {
        font-size: 10px;
        color: $color-barleycorn-lighter;
        text-transform: uppercase;
    }
    &__wrap {
        color: $white;
    }
}

.carousel-phone-list {
    height: 41px;
    padding-left: 36px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    padding-bottom: 11px;

    &.slick-initialized {
        opacity: 1;
    }

    &:before {
        content: "";
        width: 0;
        height: 21px;
        border-left: 1px solid $color-barleycorn-light;
        position: absolute;
        left: 16px;
        top: 7px;
    }
    &__item {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    &.slick-slider {
        margin-bottom: 0;
    }
    .slick-prev,
    .slick-next {
        $width: nth($sprite-slick-arrow-left-sm, 5);
        $height: nth($sprite-slick-arrow-left-sm, 6);
        width: $width;
        height: $height;
        margin-top: -9px;
        z-index: 1;
        &:before {
            opacity: 1;
        }
        &.slick-disabled {
            &:before {
                opacity: 0.5;
            }
        }
    }
    .slick-prev {
        left: 0;
        &:before {
            content: "";
            display: block;
            @include sprite-2x($sprite-slick-arrow-left-sm);
        }
    }
    .slick-next {
        right: inherit;
        left: 26px;
        &:before {
            content: "";
            display: block;
            @include sprite-2x($sprite-slick-arrow-right-sm);
        }
    }
}

@media #{$smallDescktop} {
    .navbar-top-toggle {
        display: none;
    }
}

.brand {
    display: inline-block;
    margin-left: 9px;
    >img {
        max-width: 100%;
        height: auto;
    }
}

.ico-caret {
    display: none;
    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: $white transparent transparent transparent;
    }
}

@media screen and (max-width: $screen-xs-max) {
    .app {
        min-width: 320px;
    }
    .header-top {
        display: none;
    }
    .app-header-wrap {
        &__inner {
            height: 44px;
            padding-top: 0;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .navbar-brand {
        margin-top: 12px;
        width: 76px;
    }
    .navbar-top-toggle {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: -6px;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .header-top {
        display: none;
    }
    .app-header-wrap {
        &__inner {
            height: 100px;
            padding-top: 0;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
