.feedback {
	background-color: $color-barleycorn;
	margin-top: 44px;
	padding-top: 45px;
	padding-bottom: 80px;

	&__heading {
		color: $white;
		font-size: 16px;
		margin-bottom: 45px;
	}
}

.feedback-title {
	color: $white;
	font-size: $font-size-h1;
	margin-bottom: 28px;
}

.feedback-text {
	line-height: $font-size-tabnav;
	margin-bottom: 0;
}

.form-fieldset {
	margin-top: 8px;
	&__title {
		font-size: $font-size-h4;
		color: $white;
		margin-bottom: 20px;
	}
}

.app-footer-nav-inner {
	@include clearfix;
}

.app-footer-disclamer {
	font-size: $font-size-sm;
	color: $white;
	.main-page & {
		margin-top: 10px;
		color: $gray;
	}
}

.app-footer-nav {
	&__top {
		background-color: #333;
	}
	
	&__bottom {
		background-color: #333;
		.app-footer-nav-inner {
			border-top: 1px solid $white;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.footer-nav {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				padding-top: 4px;
				padding-bottom: 4px;
			}
			&__item {
				&.active {
					font-weight: bold;
				}
			}
		}
		.app-footer-nav-inner {
			a {
				color: $white;
				font-size: $font-size-base;
				line-height: $font-size-lg;
			}
		}
	}
}

.btn-group-footer {
	float: right;
	max-width: 300px;
}

.brand-footer {
	float: left;

	> img {
		max-width: 100%;
		height: auto;
	}
}

.main-page {
	.app-footer-nav__top {
		background-color: $white;
		.app-footer-nav-inner {
			margin-left: -6px;
			margin-right: -6px;
		}
		li {
			padding: 12px 6px;
		}
	}
	.app-footer-nav__bottom {
		background-color: $white;

		.app-footer-nav-inner {
			border-top-color: #d7d7d7;
			padding-top: 17px;
			padding-left: 30px;
			padding-bottom: 0;
		}
	}
	.app-footer-nav-inner {
		position: relative;
		ul {
			list-style: none;
			padding: 0;
			margin-bottom: 0;
		}
		.footer-nav {
			display: inline-block;
			vertical-align: top;
		}
	}
	.app-footer-nav-inner,
	.app-footer-nav-inner a {
		color: $gray;
		font-size: $font-size-sm;
	}
	.brand-footer {
		position: absolute;
		top: 17px;
		left: 0;
		margin-top: 0;
	}
}

.footer-description {
	float: right;
	text-align: right;
	font-size: $font-size-xs;
	line-height: $font-size-lg;
	a {
		border-bottom: 1px solid #949494;
		margin-left: 5px;
		&:first-child {
			margin-left: 0;
		}
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

@media (max-width: $screen-xs-max) {
	.btn-group-footer {
		float: none;
		margin-top: 38px
	}
	.brand-footer {
		width: 40px;
		float: none;
	}
	.app-footer-nav__top {
		.app-footer-nav-inner {
			padding: 28px 0 40px;
		}
	}
	.main-page {
		.brand-footer {
			float: left;
		}
		.app-footer-nav__top {
			.app-footer-nav-inner {
				padding-top: 8px;
				padding-bottom: 8px;
			}
			.footer-nav {
				display: block;
				li {
					display: block;
					padding-top: 4px;
					padding-bottom: 4px;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.app-footer {
		.container {
			padding-left: ceil($gutter-width / 2);
			padding-right: floor($gutter-width / 2);
		}
	}
	.btn-group-footer {
		margin-top: 43px;
	}
	.brand-footer {
		margin-top: 30px;
	}
	.app-footer-nav__top {
		height: 120px;
	}
	.app-footer-nav__bottom {
		.footer-nav {
			float: left;
			width: 50%;
			li {
				display: block;
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
	}
	.main-page {
		.app-footer-nav__top {
			height: auto;
			.app-footer-nav-inner {
				padding-top: 8px;
				padding-bottom: 8px;
			}
			.footer-nav {
				float: left;
				width: 25%;
				li {
					display: block;
					padding-top: 4px;
					padding-bottom: 4px;
				}
			}
		}
		.app-footer-nav__bottom .app-footer-nav-inner {
			padding-bottom: 20px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.btn-group-footer {
		margin-top: 43px;
	}
	.brand-footer {
		margin-top: 30px;
	}
	.app-footer-nav__top {
		height: 120px;
	}
	.app-footer-nav__bottom {
		font-size: 0;
		.footer-nav {
			width: 25%;
			display: inline-block;
			vertical-align: top;
		}
	}
	.main-page {
		.app-footer-nav__top {
			height: auto;
			.app-footer-nav-inner {
				text-align: right;
				.footer-nav {
					li {
						display: inline-block;
						vertical-align: top;
					}
					&:first-child {
						li:first-child {
							margin-right: 212px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-min) {
	.main-page {
		.app-footer-nav__bottom .app-footer-nav-inner {
			padding-bottom: 20px;
			padding-right: 30px;
			padding-left: 0px;
			.brand-footer {
				margin-top: -5px;
			}
		}
		.brand-footer {
			position: absolute;
			right: 0;
			left: inherit;
			top: 50%;
			text-align: right;
		}
	}
	.footer-description {
		float: left;
		text-align: left;
	}
}
