

  
.form-vertical{
	& .form__item{
		position: relative;
		text-align: left;
		padding-left: 0;
		& label {
			position: absolute;
			top: 38px;
			left: 15px;
			font-size: 18px;
			color: #666;
			transition: .5s;
			pointer-events: none;
		}
		& input:focus ~ label,
		input:valid ~ label {
			font-size: 14px;
			top: 5px;
		}
	}
	& .form-control{
		margin-top: 30px;
		background: #eee;
		color: #333;
		&::-webkit-input-placeholder { color: #666; }
		&:-ms-input-placeholder { color: #666; }
		&::-ms-input-placeholder { color: #666; }
		&::placeholder { color: #666; } 
	}
	& .selecter-selected{
		color: #666;
		background-color: #eee;
		text-align: left;
		margin-top: 30px;
	}
	& .form-group{
		margin-bottom: 0;
	}
	& .selecter{
		margin-bottom: 20px;
		& .selecter-element{
			top: -30px;
		}
	}
}
.article-content.article-content--contacts{
	background-color: #fff;
}
.contacts-description{
	font-size: 13px;
    margin-top: -10px;
	color: #717073;
	padding-bottom: 20px;
}

.advantages-services{
	margin-bottom: 20px;
	&__item{
		border-right: 1px solid #fff;
		background-color: #b4975a;
		margin: 10px 0;
		color: #fff;
		font-family: $font-interstate-bold;
		font-size: 16px;
		padding-top: 30px;
		padding-bottom: 20px;
		&:last-child{
			border: none;
		}
		&-text{
			min-height: 50px;
			margin-top: 20px;
		}
	}
}