.books-carousel {
  width: 834px;
  margin: 0 auto;
  
  @media #{$phone}{
    width: 100%;
  }
  
  @media #{$tablet}{
    width: 624px;
  }

  &__state {
    margin-top: 40px;
    margin-bottom: 0;
    
    @media #{$phone}{
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
    @media #{$tablet}{
      margin-top: 20px;
    }
    
    .slick-dots {
      li {
        button {
          &:before {
            color: #e8e8e8;
            font-size: 11px;
          }
        }
        &.slick-active {
          button {
            &:before {
              color: #b4975a;
            }
          }
        }
      }
    }
    .slick-arrow {
      $height: nth($sprite-view-prev, 6);
      position: absolute;
      top: 50%;
      margin-top: ceil($height / -2);
      cursor: pointer;
      z-index: 1;
      &:before {
        content: "";
        display: none;
      }
    }
    .slick-next {
      right: -58px;
      @include sprite-2x($sprite-view-next);

      &.disabled {
        @include sprite-2x($sprite-view-next-dis);
      }
      
      @media #{$phone}{
        right: 5px;
      }
    }
    .slick-prev {
      left: -63px;
      @include sprite-2x($sprite-view-prev);
      &.disabled {
        @include sprite-2x($sprite-view-prev-dis);
      }
      @media #{$phone}{
        left: 5px;
      }
    }
  }
  &__item {
    padding: 15px;
    
    @media #{$phone}{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.books-item {
  width: 178px;
  box-shadow: 5px 4px 10px rgba(#39302b, 0.21);
  position: relative;
  
  @media #{$phone}{
    margin-left: auto;
    margin-right: auto;
  }
  
  &:before {
    content: '';
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: percentage(110 / 250);
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(76,76,76, 0.9) 60%, rgba(76,76,76, 1) 80%);
  }
  
  &_no-caption {
    &:before {
      display: none;
    }
  }
  
  &__content {
    color: $white;
    font-size: $font-size-base;
    padding: 12px 8px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  &__img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}
