.card-mode {
}
.card-mode-content {
}
.card-mode-img {
  max-width: 100%;
  height: auto;
}
.card-mode-text {
  color: $color-barleycorn;
  font-size: $font-size-h6;
  line-height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  &__title {
    font-size: 26px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
  }

  &:before {
    content: "";
    border-left: 1px solid $black;
    width: 0;
    opacity: 0.2;
    position: absolute;
    left: -8px;
    top: 5px;
  }
}
.card-mode {
  &.card-mode--sm {
    height: 270px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.card-img-gold,
.card-img-priority {
  position: absolute;
  width: 330px;
  height: 272px;
  left: 15px;
  .card-mode-img {
    position: absolute;
    width: 330px;
    top: 32px;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    .start-animation & {
      animation: img-gold-keyframes-lg 2.018s linear 0s 1 normal forwards;
    }
  }
}
// @media screen and (max-width: $screen-xs-max){
//   .card-mode {
//     transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
//     padding-bottom: 25px;
//   }
//     position: static;
//     margin: 0 auto 15px;
//     font-size: $font-size-h6;
//     line-height: $font-size-tabnav;
//     text-align: center;
//     &:before {
//       display: none;
//     }
//   }
//   .card-img-1,
//   .card-img-2,
//   .card-img-3,
//   .card-img-4 {
//     position: relative;
//     transform-style: preserve-3d;
//     perspective: 320px;
//     margin: 0 auto;
//     padding-top: 300px;
//     .card-mode-img {
//       position: absolute;
//       width: 430px;
//     }
//   }
//   .card-img-gold,
//   .card-img-priority {
//     width: 300px;
//   }
//   .card-img-priority {
//     left: 0;
//   }
//   .card-img-2,
//   .card-img-4 {
//     .card-mode-text {
//       left: 50px;
//       top: 25px;
//       z-index: 1;
//     }
//     .card-mode-img {
//       left: 50%;
//       transform: translate3d(-39%, 5%, 20px) rotateY(35deg) scale3d(1, 0.95, 1);
//     }
//   }
//   .card-img-1,
//   .card-img-3 {
//     .card-mode-text {
//       left: 50px;
//       top: 25px;
//       z-index: 1;
//     }
//     .card-mode-img {
//       right: 50%;
//       transform: translate3d(39%, 5%, 20px) rotateY(-35deg) scale3d(1, 0.95, 1);
//     }
//   }
// }
@media screen and (max-width: $screen-md-max){
  .card-mode {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    padding-top: 16px;
  }
  .card-mode-content {
    text-align: center;
    @include clearfix;
  }
  // .card-img-4 {
  //   text-align: center;
  //   .card-mode-text {
  //     width: 100%;
  //     font-size: $font-size-h4;
  //     line-height: 30px;
  //     margin: 28px auto;
  //     &:before {
  //       display: none;
  //     }
  //   }
  //   .card-mode-img {
  //     max-width: 420px;
  //     margin-bottom: 60px;
  //     margin-top: 120px;
  //   }
  // }
  .card-mode-text {
    font-size: $font-size-lg;
    text-align: left;

    &__title {
      font-size: 18px;
    }

    &:before {
      height: 85px;
    }
  }
  .card-img-1,
  .card-img-2,
  .card-img-3,
  .card-img-4 {
    width: 33%;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 768px;
    display: inline-block;
    vertical-align: top;
    .card-mode-img {
      position: absolute;
      width: 430px;
      top: 68px;
    }
    .card-mode-text {
      top: 25px;
      opacity: 0;
      z-index: 1;

      .start-animation & {
        animation: text-1-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
    .card-mode-text--descr {
      top: 20px;
      padding-right: 10px;

      .article-text {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .card-img-1 {
    .card-mode-text {
      left: 50px;
    }
    .card-mode-img {
      left: 248px;
      transform: translate3d(-6px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
      .start-animation & {
        animation: img-1-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
  }
  .card-img-2 {
    .card-mode-text {
      left: 30px;
    }
    .card-mode-img {
      left: 0;
      transform: translate3d(0px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
      .start-animation & {
        animation: img-2-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
  }
  .card-img-3 {
    .card-mode-text {
      left: 5px;
    }
    .card-mode-img {
      left: 0;
      transform: translate3d(-164px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
      .start-animation & {
        animation: img-3-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
  }
  .card-img-4 {
    .card-mode-text {
      left: 60px;
    }
    .card-mode-img {
      left: 0;
      transform: translate3d(164px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
      .start-animation & {
        animation: img-4-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
  }
  .card-img-gold,
  .card-img-priority {
    left: -150px;
  }
}
@media screen and (max-width: $screen-xs-max){
  .card-img-1,
  .card-img-2,
  .card-img-3,
  .card-img-4 {
    height: 240px;
    width: 200px;
    display: inline-block;
    padding-top: 340px;

    .card-mode-text--descr {
      top: 10px;
      padding-right: 10px;

      .article-text {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
@media screen and (max-width: $screen-xs-min){
  .card-img-1,
  .card-img-2,
  .card-img-3,
  .card-img-4 {
    height: 70vw;
    max-height: 300px;
    max-width: 286px;
    width: 48%;
    display: inline-block;
    padding-top: 275px;

    .card-mode-img {
      width: 30vw;
      top: 54px;
    }

    .card-mode-text--descr {
      top: 0;
    }
  }
  .card-img-3 {
    .card-mode-img {
      .start-animation & {
        animation: img-3-keyframes-xs 2.012s linear 0s 1 normal forwards;
      }
    }
  }
  .card-img-4 {
    .card-mode-img {
      .start-animation & {
        animation: img-4-keyframes-xs 2.012s linear 0s 1 normal forwards;
      }
    }
    .card-mode-text {
      left: 30px;
    }
  }
}
// @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
//   .card-img-1,
//   .card-img-2,
//   .card-img-3,
//   .card-img-4 {
//     height: 320px;
//     width: 330px;
//     .card-mode-img {
//       top: 40px;
//     }
//   }
//   .card-mode-text {
//     margin-top: -15px;
//   }
// }
@keyframes img-1-keyframes {
  0% {
    transform: translate3d(-6px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(-221px, 56px, 190px) rotateY(35deg) scale3d(1, 0.95, 1);
    animation-timing-function: ease-in-out;
  }
}
@keyframes img-2-keyframes {
  0% {
    transform: translate3d(0px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(15px, 56px, 190px) rotateY(35deg) scale3d(1, 0.95, 1);
    animation-timing-function: ease-in-out;
  }
}
@keyframes img-3-keyframes {
  0% {
    transform: translate3d(-164px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(-7px, 56px, 190px) rotateY(35deg) scale3d(1, 0.95, 1);
    animation-timing-function: ease-in-out;
  }
}
@keyframes img-3-keyframes-xs {
  0% {
    transform: translate3d(-80px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(30px, 56px, 160px) rotateY(35deg) scale3d(1, 0.95, 1);
    animation-timing-function: ease-in-out;
  }
}

@keyframes img-4-keyframes {
  0% {
    transform: translate3d(164px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(35px, 56px, 190px) rotateY(35deg) scale3d(1, 0.95, 1);
    animation-timing-function: ease-in-out;
  }
}
@keyframes img-4-keyframes-xs {
  0% {
    transform: translate3d(140px, 56px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(40px, 56px, 160px) rotateY(35deg) scale3d(1, 0.95, 1);
    animation-timing-function: ease-in-out;
  }
}
@media (min-width: $screen-lg-min){
  .card-mode {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    height: 400px;
    position: relative;
    margin-top: 130px;
  }
  .card-img-1,
  .card-img-2,
  .card-img-3,
  .card-img-4 {
    position: absolute;
    .card-mode-img {
      position: absolute;
      width: 430px;
      top: 68px;
    }
  }
  .card-mode-text {
    font-size: $font-size-h6;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  .card-img-1 {
    width: 431px;
    height: 271.98px;
    left: 275px;
    .card-mode-img {
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, -5px) rotateY(0deg) scale3d(1, 1, 1);
      .start-animation & {
        animation: img-1-keyframes-lg 2.018s linear 0s 1 normal forwards;
      }
    }
    .card-mode-text {
      left: -210px;
      top: 10px;
      z-index: 1;
      &:before {
        height: 85px;
      }
      .start-animation & {
        animation: text-1-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
  }
  .card-img-2 {
    width: 431px;
    height: 271.98px;
    left: 275px;
    .card-mode-img {
      transform-style: preserve-3d;
      transform: translate3d(0px, 0px, -5px) rotateY(0deg) scale3d(1, 1, 1);
      .start-animation & {
        animation: img-2-keyframes-lg 2.013s linear 0s 1 normal forwards;
      }
    }
    .card-mode-text {
      left: -30px;
      top: -55px;
      z-index: 1;
      &:before {
        height: 155px;
      }
      .start-animation & {
        animation: text-2-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
  }
  .card-img-3 {
    width: 431px;
    height: 271.98px;
    left: 263px;
    .card-mode-img {
      transform-style: preserve-3d;
      transform: translate3d(-10px, 0px, -5px) rotateY(0deg) scale3d(1, 1, 1);
      .start-animation & {
        animation: img-3-keyframes-lg 2.012s linear 0s 1 normal forwards;
      }
    }
    .card-mode-text {
      width: 100%;
      left: -118px;
      top: -6px;
      z-index: 1;
      &:before {
        height: 85px;
      }
      .start-animation & {
        animation: text-3-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
  }
  .card-img-4 {
    left: 193px;
    width: 566px;
    height: 375px;
    top: 50px;
    z-index: 2;
    .card-mode-img {
      top: -35px;
      width: 595px;
      height: 375px;
      transform-origin: 297.5px 187.249px 0px;
      transform-style: preserve-3d;
      transform: translate3d(-10px, 0px, 0px) rotateY(0deg) scale3d(0.85, 0.85, 1);
      .start-animation & {
        animation: img-4-keyframes-lg 2.006s linear 0s 1 normal forwards;
      }
    }
    .card-mode-text {
      width: 100%;
      left: 320px;
      top: -125px;
      z-index: 1;
      &:before {
        height: 120px;
      }
      .start-animation & {
        animation: text-4-keyframes 2.018s linear 0s 1 normal forwards;
      }
    }
  }
}
@keyframes text-1-keyframes {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-2-keyframes {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-3-keyframes {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text-4-keyframes {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes img-1-keyframes-lg {
  0% {
    transform: translate3d(0px, 0px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(-304px, 0px, 0px) rotateY(55deg) scale3d(1, 0.95, 1);
    animation-timing-function: ease-in-out;
  }
}
@keyframes img-gold-keyframes-lg {
  0% {
    transform: translate3d(0px, 0px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(20px, 0px, 0px) rotateY(30deg) scale3d(1, 1.05, 1);
    animation-timing-function: ease-in-out;
  }
}
@keyframes img-2-keyframes-lg {
  0% {
    transform: translate3d(0px, 0px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(-135px, 0px, 0px) rotateY(52deg) scale3d(1, 0.95, 1);
    animation-timing-function: linear;
  }
}
@keyframes img-3-keyframes-lg {
  0% {
    transform: translate3d(0px, 0px, -5px) rotateY(0deg) scale3d(1, 1, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(-152px, 0px, 0px) rotateY(45deg) scale3d(1, 0.95, 1);
    animation-timing-function: linear;
  }
}
@keyframes img-4-keyframes-lg {
  0% {
    transform: translate3d(-10px, 0px, 0px) rotateY(0deg) scale3d(0.85, 0.85, 1);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate3d(203px, 0px, 0px) rotateY(30deg) scale3d(0.86, 0.85, 1);
    animation-timing-function: linear;
  }
}
