.section-contacts {
  .content-heading {
    padding-top: 60px;
    padding-bottom: 26px;
  }
}
.dl-horizontal {
  dd, dt {
    line-height: 1.4;
  }
  dt {
    width: 100%;
    clear: left;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-left: 0;
    font-weight: bold;
    color: $color-barleycorn;
  }
}
.btn-group-contacts {
  text-align: right;
  .btn {
    width: 320px;
    margin-bottom: 13px;
  }
}
@media screen and (max-width: $screen-xs-max) {
  .section-contacts{
    .content-heading {
      padding-top: 36px;
      padding-bottom: 10px;
    }
    .dl-horizontal {
      margin-top: 6px;
      dt {
        margin-top: 12px;
      }
    }
  }
  .btn-group-contacts {
    text-align: center;
    padding-top: 20px;
    .btn {
      width: 245px;
      font-size: $font-size-h5;
      padding: 9px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .section-contacts {
    .content-heading {
      padding-bottom: 12px;
      padding-top: 24px;
    }
    .dl-horizontal {
      margin-top: -6px;
      dt {
        margin-top: 15px;
      }
      dd {
        margin-top: 3px;
      }
    }
  }
  .btn-group-contacts {
    margin-top: 100px;
  }
}
@media (min-width: $screen-md-min) {
  .btn-group-contacts {
    margin-top: -30px;
  }
  .dl-horizontal {
    dd, dt {
      line-height: 44px;
    }
    dt {
      width: 245px;
      float: left;
    }
    dd {
      margin-left: 180px;
    }
  }
}
