.sections-nav {
  background-color: $white;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transition: transform .3s ease-out;
  .nav {
    padding: 19px 0 7px;
    margin: 0 -5px;
  }
  &__title {
    font-size: $font-size-leftnav;
    line-height: 1.3;
    margin: 0;
    padding: 0;
  }
  &:after {
    background: url("../i/bg-menu-x.png") repeat-x 0 0;
    width: 100%;
    height: 7px;
    content: " ";
    border-top: 1px solid #f7f7f7;
    position: absolute;
    left: 0;
    bottom: -6px;
    right: 0;
    z-index: 1;
  }
  &.fixed-top {
    background-color: #fff;
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 60;
    transform: translate(0, 0);
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 125px;
    margin-left: 14px;
    margin-right: 14px;
    text-align: center;
    *zoom: 1;
    *display: inline;
    a {
      display: block;
      width: 100%;
      height: 73px;
      padding: 0;
      outline: 0;
    }
    .progress {
      display: block;
      width: 100%;
      height: 7px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      margin-bottom: 15px;
      overflow: hidden;
    }
    .progress-bar {
      float: left;
      width: 0;
      height: 100%;
    }
    .progress-bar,
    &.active .progress-bar,
    &.complete.active .progress-bar {
      background-color: #b3965b;
    }
    &.complete .progress-bar {
      background-color: #D9D9D9;
    }
    &.complete .progress {
      border-color: #D9D9D9;
    }
    &:hover .sections-nav-target,
    &.active .sections-nav-target {
      color: #b3965b;
    }
    &:hover .progress,
    &.active .progress {
      border-color: #b3965b;
    }
  }
}
.sections-nav-target {
  color: $gray;
  &:hover {
    text-decoration: none;
  }
}
@media screen and (max-width: $screen-xs-max) {
  .sections-nav {
    display: none;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .sections-nav {
    > .container {
      overflow-y: auto;
      padding-left: 30px;
    }
    &:before {
      background: -webkit-linear-gradient(left,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255,1) 100%);
      background: linear-gradient(to right,  rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      content: "";
      width: 90px;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .nav {
      width: 130%;
      text-align: left;
    }
  }
}
