.download {
  margin-top: 13px;
  margin-bottom: 30px;
}
.download-item {
  min-width: 260px;
  height: 300px;
  position: relative;
  display: block;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:hover {
    .download-item-target__link {
      color: $white;
      text-decoration: none;
      span {
        border-color: transparentize(rgba($color-barleycorn, 0.9), 0.85);
      }
    }
  }
  &__content {
    padding: 40px;
    font-size: $font-size-h6;
    line-height: ($font-size-lg + 9px);
    color: $white;
    position: relative;
    z-index: 3;
    .download-item-target {
      position: absolute;
      bottom: 40px;
      left: 40px;
    }
  }
  &__hover {
    vertical-align: bottom;
    background-color: rgba($color-barleycorn, 0.9);
    padding: 40px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  &__bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &__text {
    p {
      margin-bottom: 0;
      line-height: inherit;
      &+ p {
        margin-top: 24px;
      }
    }
    .link {
      color: #fff;
    }
  }
}
.download-item-target {
  margin-top: -22px;
  position: relative;
  top: 100%;
  &__link {
    width: 100%;
    height: 32px;
    color: #ebdec2;
    font-size: $font-size-base;
    line-height: 32px;
    letter-spacing: 0.5px;
    position: relative;
    span {
      border-bottom: 1px solid #bda77a;
      line-height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
    .icon--download {
      float: right;
    }
  }
}
@media (min-width: $screen-sm-min) {
  .download-item {
    &--md {
      height: 210px;
    }
    &--lg {
      height: 150px;
      .download-item {
        &__content {
          vertical-align: middle;
        }
        &__text {
          max-width: 70%;
        }
      }
      .download-item-target {
        top: 50%;
        margin-top: -16px;
        float: right;
        @include clearfix;
        &__link {
          width: 205px;
        }
      }
    }
    &--text-once {
      .download-item {
        &__text {
          max-width: none;
        }
      }
    }

    &--text-once-icon &__content {
      padding: 10px;
    }

    &--text-once-icon &__text {
      max-width: 610px;
    }

    &--text-once-icon {
      .list-style-icons__caption {
        padding-left: 90px;
      }
    }
  }
}
@media screen and (max-width: $screen-xs-max) {
  .download-item {
    height: 85vw;
    max-height: 300px;
    
    &--text-once,
    &--text-once-icon {
      height: auto;
      max-height: none;
    }

    &--text-once &__content {
      padding: 10px;
      font-size: 14px;
      line-height: 18px;
    }

    &--text-once-icon &__content {
      padding: 10px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .download-item {
    height: 42vw;
    &--md {
      height: 250px;
    }
    &--lg {
      height: 150px;
    }
  }
}
