//
// Dropdown menus
// --------------------------------------------------
// The dropdown wrapper (div)
.dropup,
.dropdown {
    position: relative;
}

// Prevent the focus on the dropdown toggle when closing dropdowns
.dropdown-toggle:focus {
    outline: 0;
}

// The dropdown menu (ul)
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0; // override default ul
    list-style: none;
    font-size: $font-size-base;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: $btn-default-bg;
    border: 1px solid $btn-default-border;
    border-radius: $input-border-radius;
    @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
    background-clip: padding-box;

    &.dropdown-menu--right {
        right: 0;
        left: auto;
    } // Dividers (basically an hr) within the dropdown

    .divider {
        @include nav-divider($btn-default-border);
    } // Links within the dropdown menu

    > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: $line-height-base;
        color: $color-base;
        white-space: nowrap;
    }
}

// Hover/Focus state
.dropdown-menu > li >a {
    &:hover,
    &:focus {
        text-decoration: none;
        color: $gray;
        background-color: $white;
    }
}

// Active state
.dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
        color: $gray;
        text-decoration: none;
        outline: 0;
        background-color: $color-barleycorn-dark;
    }
}

// Open state for the dropdown
.open {
    // Show the menu
    >.dropdown-menu {
        display: block;
    } // Remove the outline when :focus is triggered
    >a {
        outline: 0;
    }
}

// Dropdown section headers
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $gray;
    white-space: nowrap; // as with > li > a
}

// Backdrop to catch body clicks on mobile, etc.
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: ($zindex-dropdown - 10);
}

// Right aligned dropdowns
.pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}
