input[type="radio"],
input[type="checkbox"] {
  margin: 2px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

@mixin form-control-focus($color: $white) {
  $color-rgba: rgba(red($color), green($color), blue($color), 0.6);
  &:focus {
    border-color: $color-rgba;
    outline: 0 none;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color-rgba);
  }
}

.form-control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-input-vertical $padding-input-horizontal;
  font-size: $font-size-h6;
  line-height: $line-height-base;
  color: $gray-dark;
  background-color: $white;
  background-image: none;
  border: 1px solid $gray-lighter;
  border-radius: $input-border-radius;
  // Placeholder
  @include placeholder;

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0 none;
    background-color: transparent;
  }

  &[disabled],
  &[readonly] {
    background-color: $gray-lighter;
    opacity: 1;
  }

  &[disabled] {
    cursor: $cursor-disabled;
  }
  @include form-control-focus($color-barleycorn);
}

textarea.form-control {
  height: auto;
  resize: vertical;
  min-height: 250px;
}

.form-target {
  font-size: $font-size-h5;
  color: $white;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.modal-text {
  line-height: 20px;
  margin: -5px 0 24px;
}

.agreement {
  position: relative;

  label {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  &__scroll {
    height: 90px;
    font-size: $font-size-lg;
    display: inline-block;
    vertical-align: top;
    overflow: visible;
  }

  &:after {
    background: url("../i/agree-mask.png") repeat-x 0 0;
    width: 100%;
    height: 19px;
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  .scrollbar.scroller .scroller-content,
  .scrollbar.scroller-active .scroller-content {
    max-height: 90px;
    padding: 0;
  }
  .scroller-bar {
    background: none;
    border-color: $color-barleycorn;
    width: 18px;
  }
  .scroller-track {
    background-color: $color-barleycorn;
  }
}

input[type="search"] {
  -webkit-appearance: none;
}

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.radio,
.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    min-height: $line-height-computed;
    font-size: $font-size-lg;
    line-height: 100%;
    padding-left: 30px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;

    &:focus {
      outline: 0 none;
    }

    .requere {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-left: 0.8em;
      &:before {
        content: "*";
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  top: 0;
  margin-left: 0;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

.radio-inline,
.checkbox-inline {
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: $cursor-disabled;
    }
  }
}

.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  &:after {
    @include sprite-2x($sprite-check-radio-bg);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.checkbox--dark label {
  &:after {
    @include sprite-2x($sprite-check-dark);
  }
}

.checkbox,
.checkbox-inline {
  input {
    &:checked {
      &+ label {
        &:after {
          @include sprite-2x($sprite-check-checked);
        }
      }
    }
  }
  &.disabled {
    input {
      &:checked {
        &+ label {
          &:after {
            @include sprite-2x($sprite-check-disabled);
          }
        }
      }
    }
  }
}

.checkbox--dark {
  input {
    &:checked {
      &+ label {
        &:after {
          @include sprite-2x($sprite-check-checked-dark);
        }
      }
    }
  }
  &.disabled {
    input {
      &:checked {
        &+ label {
          &:after {
            @include sprite-2x($sprite-check-disabled);
          }
        }
      }
    }
  }
}

.radio,
.radio-inline {
  input {
    &:checked {
      &+ label {
        &:after {
          @include sprite-2x($sprite-radio-checked);
        }
      }
    }
  }
  &.disabled {
    input {
      &:checked {
        &+ label {
          &:after {
            @include sprite-2x($sprite-radio-disabled);
          }
        }
      }
    }
  }
}

.lt-ie9 {
  .radio,
  .radio-inline,
  .checkbox,
  .checkbox-inline {
    label {
      &:after {
        display: none;
      }
    }
  }
}

.form-horizontal {
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    margin-top: 12px;
    margin-bottom: 0;
    color: $white;
  }

  .radio,
  .checkbox {
    min-height: 27px;
  }

  .form-group {
    @include make-row;
  }
}

.has-error {
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: $error-color;
  }
}
.has-error {
  .form-control {
    border-color: $error-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: $error-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($error-color, 10%);
    }
  }
}

.custom-select {
  background-color: $white;
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  min-height: 40px;
  color: $gray-dark;
  cursor: pointer;
  font-size: $font-size-lg;
  text-overflow: clip;
  line-height: $line-height-large;
  padding: 6px 12px;
  position: relative;
  $color-rgba: rgba($color-barleycorn, 0.6);
  &[aria-expanded="true"] {
    border-color: $color-rgba;
    outline: 0 none;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color-rgba);
  }
}

//== scroller
.selecter-options .scroller-handle,
.scroller-handle {
  border-color: $color-ccc;
  background-color: $color-ccc;
}

.scroll-select {
  .caret {
    border-color: $color-barleycorn transparent transparent;
    border-width: $caret-width-large $caret-width-large 0;
    right: 12px;
  }
  .scroller-bar {
    width: 26px;
  }
  .scroller-handle {
    border-color: $color-ccc;
    background-color: $color-ccc;
    width: 6px;
    right: 12px;
  }
}

.selecter {
  .selecter-item.selected {
    color: $color-barleycorn;
  }
  .selecter-item,
  .selecter-item.selected {
    &:hover {
      color: $color-barleycorn;
    }
  }
  &.focus {
    .selecter-selected {
      $color-rgba: rgba(red($color-barleycorn), green($color-barleycorn), blue($color-barleycorn), 0.6);
      border-color: $color-barleycorn;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
    }
  }
}
.selecter.has-error {
  .selecter-selected {
    border-color: $error-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    &:focus {
      border-color: $error-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lighten($error-color, 10%);
    }
  }
}

.form-horizontal--request {
  padding-top: 36px;
  padding-bottom: 36px;
  
  .particle-page & {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .form__title {
    font-family: $font-interstate-light;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 14px;
    color: $white;
    
    @media (max-width: $screen-sm-max){
      padding-bottom: 25px;
    }
  }
  .form-group{
    margin-bottom: 24px;
  }
  .form-control {
    height: 44px;
    background: none;
    color: $white;
    @include placeholder($white);
    
    @media (max-width: $screen-sm-max){
      margin-bottom: 25px;
    }

    &:focus{
      border-color: $white;
    }
  }
  .has-error {
    .form-control:focus {
      border-color: $error-color;
    }
  }
  .selecter {
    &.open .selecter-selected {
      background: none;
    }

    &.focus .selecter-selected{
      border-color: $white;
      background:none;
    }
    .selecter-options {
      border-color: $white;
    }
  }
  .scroll-select .caret{
    border-color: $white transparent transparent;
  }
  .selecter-selected {
    border:1px solid $white;
    height: 44px;
    background:none;
    color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .checkbox {
    margin-top: 6px;
    
    @media (max-width: $screen-sm-max){
      margin-bottom: 25px;
    }

    label {
      padding-left: 40px;
      line-height: 1.2;

      &:after,
      &:after {
        background: $color-barleycorn-dark;
        border-radius: 2px;
        border: 1px solid $white;
        height: 24px;
        width: 24px;
      }
    }
  }
  .checkbox input:checked + label:after,
  .checkbox-inline input:checked + label:after {
    @include sprite-position($sprite-check-checked, 3, 3);
    width: 24px;
    height: 24px;
    background-color: $white;
  }
  .btn {
    font-size: 20px;
    padding: 12px 28px;
    font-family: $font-interstate-bold;
    float: right;

    @media (max-width: $screen-sm-max){
      float: none;
    }
  }
}
.form-emoji {
  &__group-item {
    text-align: center;
    padding-top: 70px;
    
    @media #{$phone}{
      padding-top: 30px;
    }

    @media #{$tablet}{
      padding-top: 50px;
    }
  }
  &__item {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    
    .form-control {
      display: none;
    }
  }

  .thumbnail {
    margin-bottom: 10px;
  }
}

.form-horizontal--overlay {
  text-align: left;

  .form__title {
    font-size: 26px;
    line-height: 28px;
    padding-bottom: 32px;

    @media (max-width: $screen-sm-max) {
      font-size: 22px;
      padding-bottom: 22px;
    }
  }

  .form-control {
    height: 50px;
    background-color: #eeeeee;
    color: $gray-dark;
    
    &:focus{
      border-color: $color-barleycorn;
    }
  }

  .selecter {

    .selecter-selected {
      background-color: #eeeeee;
      border-color: #eeeeee;
      height: 50px;
      font-size: 16px;
      line-height: 1.42857;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &:focus .selecter-selected {
      border-color: $color-barleycorn;
      outline: none;
    }
  }

  .form-relative-label {
    position: relative;
    padding-top: 20px;

    label {
      position: absolute;
      top: 32px;
      left: 12px;
      font-size: 16px;
      color: #666;
      transition: all 0.3s ease 0s;
      pointer-events: none;
    }

    input:focus ~ label,
    input:valid ~ label {
      font-size: 12px;
      top: 0;
    }
  }

  .form-relative-label--nolast {
    margin-bottom: -20px;
  }

  .checkbox {
    color: $gray-dark;
    margin-top: 0;
  }

  #submit {
    margin-top: 0;
  }
}
