.friendly-subscribe {
    &__header {
        display: flex;
        justify-content: center;
    }

    &__header-inner {
        padding: 2px 2px 0 2px;
        position: relative;

        &:before {
            background: linear-gradient(to left, #a5865f, #f2ce88 50%, #a5865f 100%);
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__header-title {
        background: none no-repeat 50% 50% #1b3c71;
        width: 478px;
        height: 56px;
        overflow: hidden;
        text-indent: -1000px;
        position: relative;
        z-index: 1;

        @media #{$phone} {
            background-size: 256px auto;
            width: 276px;
        }
    }

    &__content {
        position: relative;
        background-color: #1b3c71;
        margin-top: -2px;
        padding-top: 40px;
        padding-bottom: 108px;

        @media #{$phone} {
            padding-top: 20px;
            padding-bottom: 66px;
        }

        
        &:before {
            background: linear-gradient(to left, #a5865f, #f2ce88 50%, #a5865f 100%);
            width: 100%;
            height: 2px;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    &__form-wrap {
        padding-top: 32px;
        position: relative;

        &:before, &:after {
            background: linear-gradient(to left, #a5865f, #f2ce88 50%, #a5865f 100%);
            width: 100%;
            height: 2px;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
        }

        &:before {
            top: 0;
        }
        
        &:after {
            bottom: 0;

            @media #{$phone} {
                display: none;
            }
        }
    }

    &__form-title {
        color: $white;
        font-size: $font-size-h3;
        text-align: center;
        margin-bottom: 24px;

        @media #{$phone} {
            font-size: $font-size-h6;
        }
    }

    &__form {
        padding-bottom: 40px;

        @media #{$phone} {
            padding-bottom: 34px;
        }

        .form-fieldset__title {
            font-size: $font-size-lg;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 38px;
        }

        .form-control:focus {
            border-color: #00bdf2;
            outline: 0 none;
            box-shadow: none;
        }

        textarea.form-control {
            min-height: 86px;
        }

        .form-control {
            font-size: $font-size-lg;
        }

        .btn {
            background-color: #333;
            width: 100%;
            border-width: 2px;
            font-size: $font-size-h6;
            font-family: $font-interstate-reg;
            text-transform: uppercase;
            color: #a5865f;
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            position: relative;
            z-index: 2;
        }

        .radio label,
        .checkbox label {
            @media #{$phone} {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    &__form-btn-group {
        background-color: #1b3c71;
        width: 340px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        z-index: 1;

        @media #{$phone} {
            width: 280px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__form-btn {
        position: relative;
        padding: 2px;

        .btn {
            border-radius: 10px;
            border: medium none;
            background: none no-repeat 0 0;
            width: 300px;
            height: 60px;
            font-size: 0;
            position: absolute;
            left: 0;
            top: -30px;
            right: 0;
            bottom: 0;
            transition-duration: 0s;

            @media #{$phone} {
                left: -10px;
                right: -10px;
            }
        }

        .btn-mask {
            border-radius: 10px;
            background: none no-repeat 0 0;
            width: 300px;
            height: 60px;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: -30px;
            right: 0;
            bottom: 0;
            opacity: 0;

            @media #{$phone} {
                left: -10px;
                right: -10px;
            }
        }

        .btn.disabled {
            opacity: 1;
            pointer-events: all;
        }

        .btn:not(.disabled) {
            &:hover {
                opacity: 0;

                &+ .btn-mask {
                    opacity: 1;
                    z-index: 3;
                }
            }
        }

        // .btn-mask {
        //     background-color: #a5865f;
        //     border-radius: 10px;
        //     display: block;
        //     overflow: hidden;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     z-index: 1;

        //     &:before {
        //         position: absolute;
        //         top: 0;
        //         left: -90%;
        //         z-index: 2;
        //         display: block;
        //         content: '';
        //         width: 50%;
        //         height: 100%;
        //         background: linear-gradient(to right, #a5865f, #f2ce88 50%, #a5865f 100%);
        //         transform: skewX(-25deg);
        //     }
        // }

        // .btn:not(.disabled):hover + .btn-mask:before {
        //     animation: shine 1s infinite linear;
        // }
    }
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}