.frame {
    position: relative;
}

.frame-visual {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.frame-content {
    position: relative;
}

.frame-caption {
    background-color: rgba($white, 0.9);
    width: 60%;
    max-width: 840px;
    display: inline-block;
    text-align: center;

    @media #{$tablet} {
        display: block;
        margin: 0 auto;
    }

    &--form {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 62px;
    }

    &--full {
        width: 100%;
    }


    &__inner {
        padding: 40px;
    }

    &__inner_mob-shadow {
        @media (max-width: $screen-sm-max) {
            box-shadow: 0 5px 17px 2px rgba(#231f20, 0.08);
        }
    }

    &__text {
        color: $gray-dark;
        font-size: $font-size-lg;
        padding-bottom: 5px;
    }

    &__title {
        color: $gray-dark;
        font-size: 40px;
        line-height: 42px;

        // @media #{$tablet} {
        //     font-size: 55px;
        //     line-height: 55px;
        // }

        // @media #{$smallDescktop} {
        //     font-size: 68px;
        //     line-height: 76px;
        // }
    }

    &__title + &__leadtext {
        margin-top: 25px;
    }

    &__title + &__subtitle {
        margin-top: 40px;
    }

    &__subtitle {
        font-size: $font-size-h2;
        line-height: ceil($font-size-h2 + 2px);
    }
    &__leadtext {
        font-size: $font-size-h6;
        line-height: $font-size-h4;
    }
    .btn {
        min-width: 160px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .btn-wide {
        width: 207px;
    }
    .btn--wide-md {
        min-width: 238px;
    }
    .read-more {
        font-size: $font-size-lg;
    }
}

.frame--overlay {
    .frame-caption {
        background-color: rgba($white, 0.9);

        &__title,
        &__subtitle,
        &__leadtext {
            color: $gray-dark;
        }

        .btn {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .btn-panel {
            padding-top: 15px;
            padding-bottom: 15px;

            > .btn {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .read-more {
            color: $white;

            span {
                border-color: $gray-lighter;
            }
        }

        &.frame-caption--text-img {
            background: none no-repeat center center transparent;
            height: 200px;

            .frame-caption__inner {
                opacity: 0;
                padding: 0;
            }
        }
    }
}

.frame--overlay-mobile-full {
    .frame-caption {
        background: $color-barleycorn;
    }
    .frame-caption__title,
    .frame-caption__leadtext {
        color: $white;
    }
    @media (max-width: $screen-sm-max) {
        .frame-caption__inner {
            padding: 30px 0px 20px;
            max-width: 660px;
            margin: 0 auto;
        }
        .frame-content {
            position: relative;
            background: $color-barleycorn;
        }
    }
    @media (max-width: $screen-xs-max) {
        .frame-caption .frame-caption__inner {
            padding-left: 10px;
            padding-right: 10px;
        }
        .frame-caption {
            margin-top: 0;
        }
    }
}

.frame--bordered {
    &:before, &:after {
        background: linear-gradient(to left, #a5865f, #f2ce88 50%, #a5865f 100%);
        width: 100%;
        height: 2px;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

@media screen and (max-width: $screen-xs-max) {
    .frame-visual {
        height: 62vw;
        min-height: 198px;
        .frame--md & {
            height: 36vw;
            background-position: right center;
        }
    }
    .frame-caption {
        width: 100%;
        background: none;
        margin-top: -11.4%;
        margin-bottom: 1%;
        padding-left: 20px;
        padding-right: 20px;

        &--form {
            margin-bottom: 50px;
        }

        &__inner {
            background-color: $white;
            padding: 22px 15px 16px;
        }

        &__title {
            font-size: $font-size-h3;
            line-height: ceil($font-size-h3 + 2px);
        }
        
        &__title + &__leadtext {
            margin-top: 12px;
        }

        &__title + &__subtitle {
            margin-top: 12px;
        }

        &__subtitle {
            font-size: $font-size-h6;
            line-height: ceil($font-size-h6 + 2px);
        }

        &__leadtext {
            font-size: $font-size-lg;
            line-height: $font-size-tabnav;
        }
    }
    .frame--overlay {
        .frame-caption {
            background: none;

            .frame-caption__inner {
                padding: 25px 24px 28px;
            }

            .btn {
                margin-top: 20px;
                margin-bottom: 16px;
            }
        }

        &.frame--bordered {
            .frame-content {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .frame-caption.frame-caption--text-img {
                width: 80%;
                height: 25vw;
                background-size: auto 100%;
                padding-left: 0;
                padding-right: 0;
                margin-top: 11.4%;
            }
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .frame--lg {
        height: 706px;
    }
    .frame-visual {
        height: 500px;

        .frame--md & {
            height: 370px;
        }

        .frame--lg & {
            height: 706px;
        }
    }

    .frame-caption {
        width: 80%;
        background: none;
        margin-top: -11.4%;
        margin-bottom: 1%;
        padding-left: 20px;
        padding-right: 20px;

        &__inner {
            background-color: $white;
            padding: 30px 30px 20px;
        }

        &__title + &__leadtext {
            margin-top: 15px;
        }

        &__subtitle {
            font-size: $font-size-h4;
        }
    }

    .frame--overlay {
        .frame-content {
            width: 100%;
            height: 100%;
            padding-left: 30px;
            padding-right: 30px;
            position: absolute;
            left: 0;
            top: 0;
        }

        .frame-caption.frame-caption--text-img {
            background-size: auto 80%;
            margin-top: 0;
        }
    }
}

@media (min-width: $screen-md-min) {
    .frame {
        height: 750px;

        &--md {
            height: 23vw;
            max-height: 426px;
        }

        &--lg {
            height: 800px;
        }

        &.frame--bordered {
            height: 670px;

            .frame-visual {
                height: 670px;
            }
        }
    }
    .frame-visual {
        height: 750px;
        .frame--md & {
            height: 23vw;
            max-height: 426px;
        }

        .frame--lg & {
            height: 800px;
        }
    }
    .frame-content {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .frame-caption--md {
        width: 490px;
    }
    .frame-caption--lg {
        width: 600px;
    }
}
