[class^=icon-]{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before {
    content: " ";
    display: block;
  }
}
[class^=svg-icon-]{
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before {
    content: " ";
    display: block;
    margin-left: -1.2em;
    margin-top: -1.1em;
  }
}
.icon-search-top {
  &:before {
    @include sprite-2x($sprite-ico-search-top);
  }
}

.icon-arrow-white {
  &:before {
    @include sprite-2x($sprite-btn-arrow-white);
  }
}
.icon-arrow-black {
  &:before {
    @include sprite-2x($sprite-btn-arrow-black);
  }
}
.icon-arrow-white-sm {
  &:before {
    @include sprite-2x($sprite-btn-arrow-white-sm);
  }
}
.icon-arrow-gold-sm {
  &:before {
    @include sprite-2x($sprite-btn-arrow-gold-sm);
  }
}
.icon-target {
  &:before {
    @include sprite-2x($sprite-ico-target);
  }
}
.icon-plus-sm {
  &:before {
    @include sprite-2x($sprite-plus-sm);
  }
}
.icon-minus-sm {
  &:before {
    @include sprite-2x($sprite-minus);
  }
}
.icon-read-more {
  &:before {
    @include sprite-2x($sprite-read-more);
  }
}

.icon--download {
  &:before {
    content: " ";
    display: block;
    @include sprite-2x($sprite-icon-download);
  }
}

.svg-icon-card {
  &:before {
    @include sprite-svg(ico-card);
  }
}

.svg-icon-time-circle {
  &:before {
    @include sprite-svg(ico-time-circle);
  }
}

.svg-icon-magnifier {
  &:before {
    @include sprite-svg(ico-magnifier);
  }
}

.svg-icon-tablet {
  &:before {
    @include sprite-svg(ico-tablet);
  }
}

.svg-icon-tablet-stroke {
  &:before {
    @include sprite-svg(ico-tablet-stroke);
  }
}

.svg-icon-wifi {
  &:before {
    @include sprite-svg(ico-wifi);
  }
}

.svg-icon-emoji-bad {
  &:before {
    @include sprite-svg(ico-emoji-bad);
  }
}
.svg-icon-emoji-good {
  &:before {
    @include sprite-svg(ico-emoji-good);
  }
}

.svg-icon-coins {
  margin-left: 0.2em;
  &:before {
    @include sprite-svg(ico-coins);
  }
}

.svg-icon-safe {
  &:before {
    @include sprite-svg(ico-safe);
  }
}
.svg-icon-earth {
  &:before {
    @include sprite-svg(ico-earth);
  }
}
.svg-icon-eye {
  margin-left: 0.6em;
  &:before {
    @include sprite-svg(ico-eye);
  }
}
.svg-icon-plane {
  &:before {
    @include sprite-svg(ico-plane);
  }
}
.svg-icon-dialog {
  &:before {
    @include sprite-svg(ico-dialog);
  }
}
.svg-icon-300 {
  &:before {
    @include sprite-svg(ico-300);
  }
}
.svg-icon-search {
  &:before {
    @include sprite-svg(ico-search);
  }
}
.svg-icon-bag {
  &:before {
    @include sprite-svg(ico-bag);
  }
}
.svg-icon-tickets {
  &:before {
    @include sprite-svg(ico-tickets);
  }
}
.svg-icon-dialog-people {
  &:before {
    @include sprite-svg(ico-dialog-people);
  }
}
.svg-icon-dialog-people-md {
  &:before {
    @include sprite-svg(ico-dialog-people-md);
  }
}
.svg-icon-umbrella {
  &:before {
    @include sprite-svg(ico-umbrella);
  }
}
.svg-icon-hand {
  &:before {
    @include sprite-svg(ico-hand);
  }
}
.svg-icon-plane-tickets {
  &:before {
    @include sprite-svg(ico-plane-tickets);
  }
}
.svg-icon-taxi {
  &:before {
    @include sprite-svg(ico-taxi);
  }
}
.svg-icon-call {
  &:before {
    @include sprite-svg(ico-call);
  }
}
.svg-icon-money {
  &:before {
    @include sprite-svg(ico-money);
  }
}
.svg-icon-costume {
  &:before {
    @include sprite-svg(ico-costume);
  }
}
.svg-icon-theater-tickets {
  &:before {
    @include sprite-svg(ico-theater-tickets);
  }
}
.svg-icon-building {
  &:before {
    @include sprite-svg(ico-building);
  }
}
.svg-icon-gift {
  &:before {
    @include sprite-svg(ico-gift);
  }
}
.svg-icon-coins-white {
  &:before {
    @include sprite-svg(ico-coins-white);
  }
}
.svg-icon-tickets-white {
  &:before {
    @include sprite-svg(ico-phone);
  }
}
.svg-icon-dialog-peoplee-white {
  &:before {
    @include sprite-svg(ico-grafick);
  }
}
.svg-icon-null {
  &:before {
    @include sprite-svg(ico-null);
  }
}
.svg-icon-phone {
  &:before {
    @include sprite-svg(ico-phone);
  }
}
.svg-icon-concierge {
  &:before {
    @include sprite-svg(ico-concierge);
  }
}
.svg-icon-plane-tickets-white {
  &:before {
    @include sprite-svg(ico-plane-tickets-white);
  }
}
.svg-icon-dialog-people-white {
  &:before {
    @include sprite-svg(ico-dialog-people-white);
  }
}
.svg-icon-70-white {
  &:before {
    @include sprite-svg(icon-70-white);
  }
}

.svg-icon-search-big {
  &:before {
    @include sprite-svg(ico-search-big);
  }
}

.svg-icon-qr-code {
  &:before {
    @include sprite-svg(ico-qr-code);
  }
}

.svg-icon-mobile-qr {
  &:before {
    @include sprite-svg(ico-mobile-qr);
  }
}

.svg-icon-pay-card {
  &:before {
    @include sprite-svg(ico-pay-card);
  }
}

.svg-icon-user {
  &:before {
    @include sprite-svg(ico-user);
  }
}

.svg-icon-chair {
  &:before {
    @include sprite-svg(ico-chair);
  }
}

.svg-icon-sky {
  &:before {
    @include sprite-svg(ico-sky);
  }
}

.svg-icon-car {
  &:before {
    @include sprite-svg(ico-car);
  }
}

.svg-icon-bag-stroke {
  &:before {
    @include sprite-svg(ico-bag-stroke);
  }
}

.svg-icon-airplane {
  &:before {
    @include sprite-svg(ico-airplane);
  }
}

.svg-icon-more {
  &:before {
    @include sprite-svg(ico-more);
  }
}

.svg-icon-list-doc {
  &:before {
    @include sprite-svg(ico-list-doc);
  }
}

.svg-icon-pay-card-1 {
  &:before {
    @include sprite-svg(ico-pay-card-1);
  }
}

.svg-icon-headset {
  &:before {
    @include sprite-svg(ico-headset);
  }
}

.svg-icon-bell {
  &:before {
    @include sprite-svg(ico-bell);
  }
}

.svg-icon-man {
  &:before {
    @include sprite-svg(ico-man);
  }
}
.svg-icon-app-download {
  &:before {
    @include sprite-svg(ico-app-download);
  }
}
.svg-icon-claster {
  &:before {
    @include sprite-svg(ico-claster);
  }
}
.svg-icon-app-wifi {
  &:before {
    @include sprite-svg(ico-app-wifi);
  }
}

.svg-icon-app {
  &:before {
    @include sprite-svg(ico-app);
  }
}

.svg-icon-app-auto {
  &:before {
    @include sprite-svg(ico-app-auto);
  }
}

.svg-icon-app-wifi {
  &:before {
    @include sprite-svg(ico-app-wifi);
  }
}

.svg-icon-card-add {
  &:before {
    @include sprite-svg(ico-card-add);
  }
}

