.jumbotron {
    position: relative;
    padding-bottom: 12px;
}

.main-carousel {
    width: 100%;
    min-height: 540px;
    position: relative;
    margin: 0;
}

.main-carousel-state {
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s ease-in-out;

    &.slick-slider {
        margin-bottom: 0;
    }

    &.slick-initialized {
        opacity: 1;
    }

    &__item {
        height: 540px;
        background-size: cover;
        background-position: center top;
        position: relative;
        &:focus {
            outline: 0 none;
        }
    }
}

.main-carousel-state-arrows {
    display: none;
}

.main-carousel-state-prev,
.main-carousel-state-next {
    $width: nth($sprite-state-slider-left, 5);
    $height: nth($sprite-state-slider-left, 6);
    width: $width;
    height: $height;
    margin-top: ceil($height / -2);
    z-index: 1;
    position: absolute;
    top: 50%;
    cursor: pointer;
    &:before {
        opacity: 1;
    }
    &.slick-disabled {
        &:before {
            opacity: 0.5;
        }
    }
}

.main-carousel-state-prev {
    left: 1px;
    &:before {
        content: "";
        display: block;
        @include sprite-2x($sprite-state-slider-left);
    }
}

.main-carousel-state-next {
    right: 1px;
    &:before {
        content: "";
        display: block;
        @include sprite-2x($sprite-state-slider-right);
    }
}

.main-carousel-state-caption {
    max-width: 400px;
    margin-left: 302px;
    padding-top: 55px;

    &__content {
        background-color: rgba($white, 0.8);
        padding: 1px 20px 16px 25px;
    }

    &__title {
        color: $gray-dark;
        font-family: $font-interstate-reg;
        line-height: 34px;
    }
    &__text {
        color: $color-barleycorn;
        font-family: $font-interstate-reg;
        font-size: $font-size-lg;
        text-transform: uppercase;
    }

    .btn {
        margin-top: 15px;
        text-transform: uppercase;
    }

    &--text-img {
        background: none no-repeat center center transparent;
        width: 494px;
        height: 122px;
        max-width: none;
        padding: 0;
        margin-left: 100%;
        margin-top: 200px;
        display: block;
        transform: translateX(-130%);
    }

    &--text-img &__content {
        padding: 0;
        opacity: 0;
    }
}

.main-carousel-nav-container {
    width: 100%;
    position: absolute;
    bottom: 57px;
    right: 0;
    left: 0;
    padding: 0 35px;
}

.main-carousel-nav {
    &__title {
        font-size: $font-size-xs;
        line-height: $font-size-leftnav;
        font-family: $font-interstate-reg;
        margin: 0;
        text-transform: uppercase;
    }
    p {
        font-size: $font-size-sm;
        line-height: $font-size-base;
        margin: 5px 0;
    }
}

.main-carousel-nav-item {
    &:focus {
        outline: 0 none;
    }
    &__inner {
        background-color: rgba($color-barleycorn, 0.7);
        color: $white;
        height: 78px;
        outline: 0 none;
        padding: 8px 10px;
        cursor: pointer;
        margin-left: 1px;
    }
    &:hover,
    &.slick-current {
        .main-carousel-nav-item__inner {
            background-color: rgba($color-barleycorn, 0.9);
        }
    }
}

.target-link {
    color: $bgcolor-btn-barleycorn;
    text-transform: uppercase;
    font-size: $font-size-sm;
    >span {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding-right: 20px;
    }
    .icon-target {
        margin-left: -18px;
        margin-top: 1px;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        color: $bgcolor-btn-barleycorn;
    }
}

.sticky {
    width: 100%;
    .btn.btn--olive-light {
        font-weight: bold;
    }
    .btn.btn--shadow {
        padding-top: 9px;
        padding-bottom: 11px;
        margin-top: 19px;
        position: relative;
        span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
        .icon-arrow-gold-sm {
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -5px;
        }
        &:hover {
            .icon-arrow-gold-sm {
                &:before {
                    @include sprite-2x($sprite-btn-arrow-white-sm);
                }
            }
        }
    }
    .hr {
        border-top: 1px solid $border-color-hr;
        height: 0;
        width: 100%;
        margin-top: 31px;
        margin-bottom: 13px;
    }
    dl {
        margin-bottom: 0;
        margin-top: 9px;
    }
    dt {
        color: $color-dl-title;
        font-size: $font-size-sm;
    }
    dd {
        color: $gray;
        font-size: $font-size-base;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: 8px;
        margin-left: 0;
    }
}

.sticky-header {
    width: 100%;
    background-color: rgba($black-light, 0.8);
    border-radius: 8px 8px 0 0;
    padding: 28px 20px 17px;
    .btn--olive-light {
        padding: 4px;
    }
}

.sticky-body {
    width: 100%;
    background-color: $white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 18px 20px 13px;
    p {
        font-size: $font-size-leftnav;
        line-height: $font-size-md;
        margin-bottom: 9px;
    }
}

@media (max-width: $screen-xs-max) {
    .jumbotron {
        background-color: $gray-light;
    }
    .main-carousel {
        min-height: inherit;
        height: 420px;
    }
    .main-carousel-state {
        &__item {
            background-position: right top;
            height: 420px;
        }
    }
    .main-carousel-state-caption {
        width: 100%;
        max-width: 330px;
        background-color: rgba($white, 0.8);
        padding: 0 22px 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;

        &__content {
            background: none;
            padding: 0;
        }

        .btn.btn--olive {
            @include button-variant($bgcolor-btn-barleycorn, $white, $white);
        }
        &__title {
            font-size: $font-size-h4;
        }
        &__text {
            font-size: $font-size-lg;
        }

        &--text-img {
            background-color: transparent;
            width: 90%;
            max-width: none;
            height: 22vw;
            max-height: 120px;
            padding: 0;
            background-size: auto 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .main-carousel-state-arrows {
        display: block;
        width: 77px;
        height: 52px;
        position: absolute;
        left: 230px;
        bottom: 14px;

        &:before {
            background-color: rgba($black, 0.2);
            width: 1px;
            height: 52px;
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -1px;
        }
    }
    .main-carousel-nav-container {
        display: none;
    }
    .sticky {
        padding: 22px;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .jumbotron {
        background-color: $gray-light;
        padding-bottom: 24px;
    }
    .main-carousel-state-caption {
        margin-left: 35px;

        &--text-img {
            margin-left: 100%;
            transform: translateX(-112%);
            background-size: auto 90%;
        }
    }
    .sticky {
        display: table;
        margin-top: 40px;
        padding-left: 40px;
        padding-right: 38px;
        dl {
            margin-top: 15px;
        }
        .hr {
            margin-top: 26px;
            margin-bottom: 17px;
        }
    }
    .sticky-header {
        width: 40.5%;
        padding: 22px 30px 28px;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        display: table-cell;
        vertical-align: top;
        .btn--olive-light {
            padding-top: 8px;
            padding-bottom: 9px;
        }
    }
    .sticky-body {
        width: 59.5%;
        padding: 33px 27px 0;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
        display: table-cell;
        vertical-align: top;
    }
}

@media (min-width: $screen-md-min) {
    .sticky {
        left: 23px;
        position: absolute;
        top: 55px;
        width: 230px;
    }
    .main-carousel-nav-container {
        width: 782px;
        padding: 0 36px;
        left: inherit;
    }
}
