.list-inline-bg--full {
    .list-inline-bg-item {
        overflow: hidden;
    }
    .list-inline-bg-item__img {
        height: 290px;
    }
    .list-inline-bg-item--left> {
        .list-inline-bg-item__inner .b-table__cell-middle,
        .list-inline-bg-item__hover .b-table__cell-middle {
            padding-left: 30px;
        }
    }
    .list-inline-bg-item--left .btn {
        left: 30px;
    }
    .slick-dots li {
        button:before {
            font-size: 11px;
            color: $color-slick-dots;
        }
        &.slick-active {
            button:before {
                color: $color-barleycorn;
            }
        }
    }
}

.list-inline-bg-list {
    &.slick-slider {
        margin-bottom: 67px;
    }
}

.list-inline-bg-item {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    color: $white;
    &__inner,
    &__hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.5s ease-in 0s;
    }
    &__hover {
        .content-title-3 {
            display: none;
        }
    }
}

a.list-inline-bg-item:hover {
    color: $color-barleycorn;
    text-decoration: none;
    &:before {
        content: "";
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        transition: all 0.5s ease-in 0s;
    }
}

.list-inline-bg-item--left>.list-inline-bg-item__hover,
.list-inline-bg-item--right>.list-inline-bg-item__inner,
.list-inline-bg-item--right>.list-inline-bg-item__hover {
    float: none;
}

.list-inline-bg-item {
    .list-inline-bg-item__img {
        position: relative;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    &.hover .list-inline-bg-item__img:before {
        background-color: rgba(255, 255, 255, 0.85);
        width: 100%;
        height: 292px;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 1;
        transition: opacity 1s;
    }
    &.hover:hover {
        .list-inline-bg-item__img:before {
            opacity: 1;
        }
        .list-inline-bg-item__inner {
            opacity: 0;
        }
        .list-inline-bg-item__hover {
            opacity: 1;
            bottom: 0;
            z-index: 2;
        }
    }
}

.list-inline-bg {
    .b-table__cell-middle {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .btn {
        width: 207px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: none !important;
    }
}

.list-inline-bg-item--left>.list-inline-bg-item__inner .b-table__cell-middle,
.list-inline-bg-item--left>.list-inline-bg-item__hover .b-table__cell-middle {
    padding-left: 60px;
}

.list-inline-bg-item__inner.bordered {
    padding: 22px;
    .b-table {
        border: 1px solid #c6bfb3;
        width: 100%;
    }
    .b-table__cell-middle {
        padding: 22px !important;
        color: rgba($white, 0.75) !important;
    }
    .list-inline-bg-item--left & {
        padding-right: 0;
    }
    .list-inline-bg-item--right & {
        padding-left: 0;
    }
}

/* ######## */

.list-inline-block-item {
    margin: 0;
    position: relative;
    background-color: $white;
}

.list-inline-block {
    margin-top: 65px;
    padding-bottom: 15px;
    &__img {
        background: none no-repeat 50% 50% transparent;
        background-size: cover;
        height: 54vw;
        max-height: 250px;
        padding: 0;
        .list-inline-block-item--right & {
            float: right;
        }
    }
    &__content {
        min-height: 250px;
        padding: 0;
    }

    &--decimal {
        counter-reset: item;
        .list-inline-block__content {
            counter-increment: item;
            position: relative;
            .list-inline-block-inner {
                position: relative;
                z-index: 1;
            }
            &:before {
                width: 100%;
                height: 100%;
                text-align: center;
                content: counters(item, "decimal");
                font-size: 250px;
                line-height: 100%;
                font-family: $font-interstate-bold;
                color: $color-increment-inlineblock;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    &--overlay {
        .list-inline-block-inner {
            padding-top: 20px;
            padding-bottom: 20px;

            @media #{$phone} {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        .list-inline-block__content {
            background-color: #eee;
            color: #333;
            height: 290px;
        }
        .list-inline-block__img {
            height: 290px;
            max-height: 290px;
        }
        .list-style-check {
            font-size: $font-size-lg;
        }
    }
    &--overlay-md {
        .list-inline-block-inner {
            padding: 20px 0 20px 40px;

            @media (max-width: $screen-sm-max) {
                padding-left: 0;
                padding-right: 20px;
            }

            @media (max-width: $screen-xs-max) {
                padding: 0 0 15px;
            }
        }
        .list-inline-block-item--right .list-inline-block-inner {
            padding-left: 0;
            padding-right: 40px;

            @media (max-width: $screen-sm-max) {
                padding-right: 20px;
            }
        }
        .list-inline-block__content {
            height: 380px;

            @media (max-width: $screen-sm-max) {
                height: auto;
                min-height: auto;
            }
        }
        .list-inline-block__img {
            height: 380px;
            max-height: 380px;

            @media (max-width: $screen-xs-max) {
                max-height: 290px;
            }
        }
        .list-style-check {
            font-size: $font-size-lg;
        }
    }
    .btn {
        width: 207px;
        margin-top: 40px;
    }
}

.list-inline-block-inner {
    padding-left: 40px;
    padding-right: 40px;

    &__title {
        font-size: $font-size-h6;
        line-height: $font-size-h4;
        font-family: $font-interstate-reg;
        &+.list-style-check {
            margin-top: 20px;
        }
    }

    &__text {
        font-size: $font-size-lg;
        line-height: $font-size-h4;
        margin-bottom: 0;
    }
}

/* ######## */

.table-collapse {
    padding-left: 30px;
    padding-right: 30px;

    &__title {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }

    &__target {
        color: $color-barleycorn;
        font-size: $font-size-h6;
        line-height: 100%;
        margin: 0 0 0 30px;
        position: relative;
        &:before {
            border-color: transparent transparent transparent $color-barleycorn;
            border-style: solid;
            border-width: 4px 0 4px 8px;
            width: 0;
            height: 0;
            content: "";
            left: -29px;
            position: absolute;
            top: 50%;
            margin-top: -2px;
            a.table-collapse-handler[aria-expanded="true"] & {
                border-color: $color-barleycorn transparent transparent;
                border-width: 7px 4.5px 0;
                left: -30px;
            }
        }
        span {
            text-decoration: underline;
        }
    }
    &__text {
        p {
            margin-bottom: 0;
        }
    }
}

.table-collapse-header {
    font-size: $font-size-lg;
    text-transform: uppercase;
    padding-left: 22px;
    padding-right: 22px;
    &__item {
        height: 44px;
    }
    .table-collapse-wrap {
        padding-top: 10px;
    }
}

.table-collapse-wrap {
    padding: 20px 0 24px;
    &__body {
        font-size: $font-size-lg;
        padding: 18px 22px;
    }
}

.table-collapse-handler {
    display: block;
    position: relative;
    color: inherit;
    border-top: 1px solid $bordercolor-table-collapse;
    padding-left: 22px;
    padding-right: 22px;
    &[aria-expanded="true"] {
        background-color: $bgcolor-table-collapse;
    }
}

.table-collapse-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* ######## */

.table-bg {
    background-color: $color-barleycorn;
}

.table-bg-wrap {
    padding: 38px 52px 20px;
    margin-top: 40px;
    margin-bottom: 36px;
    &__row {
        &+.table-bg-wrap__row {
            border-top: 1px solid $color-barleycorn-light;
        }
    }
    &__item {
        min-height: 90px;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        &+.table-bg-wrap__item {
            border-left: 1px solid $color-barleycorn-light;
        }
        &.table-bg__title {
            text-align: left;
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: $font-size-lg;
        line-height: 100%;
        color: $white;
    }
    &__text {
        font-size: $font-size-base;
        color: $white;
        margin-top: 4px;
    }
}

/* ######## */

.table-address {
    margin-top: 20px;
    margin-bottom: 10px;
    &__title {
        font-size: $font-size-h4;
        line-height: $font-size-h2;
    }
    &__subtitle {
        font-size: $font-size-h6;
        line-height: $font-size-tabnav;
        margin-top: 7px;
        &+.table-address__text {
            margin-top: 10px;
        }
    }
    &__text {
        font-size: $font-size-base;
        line-height: $font-size-tabnav;
        p {
            margin-bottom: 0;
            &+p {
                margin-top: 20px;
            }
        }
    }
    &.bordered {
        border-bottom: 1px solid $bordercolor-table-collapse;
    }
}

.table-address-heading {
    padding-top: 30px;
    padding-bottom: 44px;
}

.table-address-wrap {
    &__row {
        padding-top: 24px;
        padding-bottom: 36px;
        &+.table-address-wrap__row {
            border-top: 1px solid $bordercolor-table-collapse;
        }
    }
    &__item {}
}

/* ######## */

@media screen and (max-width: $screen-xs-max) {
    .list-inline-bg--full {
        .list-inline-bg-item {
            &.hover {
                .list-inline-bg-item__inner,
                .list-inline-bg-item__hover {
                    padding-left: ceil($gutter-width / 2);
                    padding-right: floor($gutter-width / 2);
                }
            }
            &__inner {
                height: 190px;
                .content-title-2 {
                    font-size: $font-size-h6;
                    line-height: 1.4;
                    margin: 0;
                }
            }
            &__img {
                height: 190px;
            }
            .content-text {
                margin-top: -5px;
            }
        }
        .btn {
            width: 208px;
            font-size: $font-size-base;
            padding: 8px 17px;
        }
        .list-inline-bg-item__inner.bordered {
            .b-table__cell-middle {
                padding: 19px !important;
            }
        }
        .list-inline-bg-item--left {
            .list-inline-bg-item__inner.bordered {
                height: auto;
                padding: 19px;
                &+.list-inline-bg-item__img {
                    height: auto;
                }
            }
        }
        .list-inline-bg-item--left>.list-inline-bg-item__inner .b-table__cell-middle,
        .list-inline-bg-item--left>.list-inline-bg-item__hover .b-table__cell-middle {
            padding: 19px;
        }
    }
    .list-inline-block {
        &__content {
            height: 250px;
            .list-inline-block--overlay & {
                height: 250px;
                padding-top: 16px;
                padding-bottom: 7px;
            }
        }
        .btn {
            margin-top: 25px;
        }
        &--decimal {
            .list-inline-block__content {
                height: 240px;
            }
        }
    }
    .list-inline-block-inner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .table-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    .table-collapse-header,
    .table-collapse-handler {
        padding-left: 15px;
        padding-right: 15px;
    }
    .table-collapse-header {
        font-size: $font-size-base;
        .b-table__cell-middle {
            vertical-align: bottom;
        }
        .table-collapse-wrap {
            padding-top: 5px;
            padding-bottom: 10px;
        }
    }
    .table-collapse-wrap__body {
        padding: 10px 15px;
    }
    .table-bg {
        padding-left: 15px;
        padding-right: 15px;
    }
    .table-bg-wrap {
        padding: 0 15px 15px;
        margin-top: 20px;
        margin-bottom: 28px;
        &__row {
            &+.table-bg-wrap__row {
                border-top: none;
            }
        }
        &__item {
            height: 90px;
            padding-top: 16px;
            padding-bottom: 16px;
            border-top: 1px solid $color-barleycorn-light;
            &.table-bg__title {
                border-top: none;
                &+.table-bg-wrap__item {
                    border-left: none;
                }
            }
            &:nth-of-type(2n-1) {
                border-left: none;
            }
            &.table-bg__title {
                text-align: center;
            }
        }
    }
    .table-address-heading {
        padding-top: 10px;
        padding-bottom: 12px;
    }
    .table-address__title {
        margin-bottom: 10px;
    }
    .table-address__text {
        p+p {
            margin-top: 5px;
        }
    }
}

@media (max-width: $screen-sm-max) {
    .list-inline-bg-item__inner,
    .list-inline-bg-item__hover {
        position: relative;
    }
    .list-inline-bg-item__hover {
        opacity: 1;
    }
    .list-inline-bg--full {
        .list-inline-bg-item {
            overflow: auto;
            &.hover {
                .list-inline-bg-item__img:before {
                    display: none;
                }
                &:hover {
                    background-color: transparent;
                    .list-inline-bg-item__inner,
                    .list-inline-bg-item__hover {
                        opacity: 1;
                    }
                }
            }
            &__inner {
                .b-table__cell-middle {
                    vertical-align: bottom;
                }
                &.bordered {
                    .b-table__cell-middle {
                        vertical-align: middle;
                    }
                }
            }
            &__img {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
            }
            &__hover {
                opacity: 1;
            }
            .content-title-1 {
                display: none;
            }
        }
        .btn {
            position: static;
            margin-top: 15px;
        }
        .list-inline-bg-item--left {
            .list-inline-bg-item__hover .b-table__cell-middle {
                padding-left: 0;
            }
            &.hover {
                .b-table__cell-middle {
                    padding-left: 0;
                }
            }
        }
    }
    .table-address-wrap {
        &__row {
            padding-top: 14px;
            padding-bottom: 18px;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .list-inline-bg--full {
        .list-inline-bg-item {
            &.hover {
                .list-inline-bg-item__inner {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
            &__inner {
                height: 290px;
                .content-title-2 {
                    font-size: 24px;
                    line-height: 1.6;
                    margin: 10px 0;
                }
            }
            &__img {
                height: 290px;
            }
            .content-text {
                margin-top: 17px;
            }
        }
        .btn {
            width: 226px;
            position: static;
            font-size: 16px;
            padding: 7px 17px 12px;
        }
        .list-inline-bg-item--left {
            .list-inline-bg-item__inner.bordered {
                padding: 22px;
            }
        }
        .slick-dots {
            text-align: right;
        }
    }
    .list-inline-block {
        &--overlay {
            .list-inline-block__content {
                height: auto;
                padding-top: 20px;
                padding-bottom: 15px;
            }
        }
    }
    .table-bg-wrap {
        padding-left: 40px;
        padding-right: 40px;
    }
    .table-collapse {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: $screen-md-min) {
    .list-inline-bg-item__hover {
        opacity: 0;
        top: auto;
        bottom: -100%;
        .content-title-3 {
            display: block;
        }
    }
    .list-inline-bg-item__inner,
    .list-inline-bg-item__hover {
        width: 490px;
    }
    .list-inline-bg--full .b-table {
        width: 410px;
    }
    .list-inline-bg-item--left .list-inline-bg-item__inner,
    .list-inline-bg-item--left .list-inline-bg-item__hover {
        float: left;
        left: 0;
        right: inherit;
    }
    .list-inline-bg-item--right .list-inline-bg-item__inner,
    .list-inline-bg-item--right .list-inline-bg-item__hover {
        float: right;
        right: 0;
        left: inherit;
    }
    .list-inline-bg .btn {
        bottom: 30px;
    }
    .list-inline-bg-item--left {
        .btn {
            left: 60px;
        }
        .list-inline-bg-item__inner .b-table__cell-middle,
        .list-inline-bg-item__hover .b-table__cell-middle {
            padding-left: 30px;
        }
    }
    .table-address {
        &__product {
            text-align: center;
        }
    }
    .table-address-wrap {
        &__rowspan {
            position: relative;
            &:before {
                content: "";
                width: 25%;
                height: 1px;
                background-color: $white;
                position: absolute;
                left: 0;
                top: -1px;
            }
        }
    }
}

.center-table {
    display: table;

    @media #{$phone} {
        display: block;
    }

    &__col {
        display: table-cell;
        vertical-align: middle;
        float: none;

        @media #{$phone} {
            display: inline-block;
        }
    }
}

.media-inline {

    &__img-left,
    &__img-right {
        line-height: 0;
    }

    &__text-left {
        padding-right: 80px;

        @media #{$tablet} {
            padding-right: 20px;
        }

        @media #{$phone} {
            margin-top: 31px;
            margin-bottom: 42px;
            padding-right: 10px;
        }
    }

    &__text-right {
        padding-left: 80px;

        @media #{$tablet} {
            padding-left: 20px;
        }

        @media #{$phone} {
            margin-top: 31px;
            margin-bottom: 42px;
            padding-left: 10px;
        }
    }

    &__wrap-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        max-width: 100%;
        line-height: 0;
    }

    .content-title-3 {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .btn {
        margin-top: 20px;
    }

    &+ .media-inline {
        margin-top: 80px;

        @media #{$phone} {
            margin-top: 0;
        }
    }
}