.app-header-nav {
    background-color: $color-barleycorn-dark;
    width: 100%;
    height: 100%;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    &.in {
        overflow-y: auto;
    }
    .navbar-toggle {
        background-color: transparent;
        @include sprite-2x($sprite-nav-close);
        margin-top: 25px;
        margin-right: 25px;
        float: right;
        border: 0 none;
        padding: 0;
    }
}

.quick-search-mobile {
    border-radius: 3px;
    border: 1px solid $gray-dark;
    min-width: 245px;
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 45px;
    margin-bottom: 40px;
    &__ico {
        $height: nth($sprite-ico-search-top-md, 6);
        @include sprite-2x($sprite-ico-search-top-md);
        position: absolute;
        left: 5px;
        top: 50%;
        margin-top: ceil($height / -2);
    }
    &__btn {
        height: 16px;
        border: 0 none;
        border-left: 1px solid #bfbfbf;
        background: none;
        font-size: $font-size-base;
        line-height: 100%;
        color: $gray-dark;
        float: right;
        margin: 10px 0;
        padding: 0 12px;
        touch-action: manipulation;
        cursor: pointer;
        user-select: none;
        &:focus {
            outline: 0 none;
        }
    }
    &__input {
        background-color: transparent;
        border: 0 none;
        width: 100%;
        max-width: 230px;
        height: 100%;
        padding-left: 12px;
        margin-left: 35px;
        color: #333;
        font-size: 16px;
        float: left;
        &:focus {
            outline: 0 none;
        }
    }
}

.app-header-nav-heading {
    padding: 32px 34px 36px;
    background-color: $white;
    a {
        color: $gray-dark;
        font-size: $font-size-h6;
        line-height: 1.2;
        &:hover,
        &:focus {
            text-decoration: none;
            outline: 0 none;
        }
    }
    .list-inline {
        margin: 0 -15px 36px;
        li {
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 0;
            &+li {
                border-left: 1px solid #cacaca;
            }
        }
    }
    li {
        &+li {
            margin-top: 36px;
        }
    }
}

.carousel-phone-mob {
    padding-left: 36px;
    padding-right: 36px;
    &__heading {
        font-size: $font-size-sm;
        color: $white;
        text-transform: uppercase;
        text-align: center;
    }
    &__wrap {
        color: $white;
    }
}

.carousel-phone-mob-list {
    padding-left: 20px;
    padding-right: 20px;
    &__item {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    &.slick-slider {
        margin-bottom: 11px;
    }
    .slick-prev,
    .slick-next {
        $width: nth($sprite-slick-arrow-left-sm, 5);
        $height: nth($sprite-slick-arrow-left-sm, 6);
        width: $width;
        height: $height;
        margin-top: -3px;
        z-index: 1;
        &:before {
            opacity: 1;
        }
        &.slick-disabled {
            &:before {
                opacity: 0.5;
            }
        }
    }
    .slick-prev {
        left: 0;
        &:before {
            content: "";
            display: block;
            @include sprite-2x($sprite-slick-arrow-left-sm);
        }
    }
    .slick-next {
        right: 0;
        &:before {
            content: "";
            display: block;
            @include sprite-2x($sprite-slick-arrow-right-sm);
        }
    }
}

.main-navbar-container {
    margin: 0 auto;
    max-width: 1000px;
}

.main-navbar {
    font-size: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: ceil($gutter-width / -2);
    margin-right: floor($gutter-width / -2);
    padding: 0;
    >li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        >a,
        >span {
            color: $white;
            display: block;
            font-size: 13px;
            margin: 0 8px;
            padding: 10px 0;
        }
        >a {
            &:hover {
                color: $color-barleycorn-light;
            }
        }
    }
}

.main-menu-inner {
    overflow: hidden;
    @include clearfix;
}

/*@media (min-width: $screen-sm-min){
  .main-navbar {
    > li {
      float: left;
    }
  }
}*/

@media screen and (max-width: $screen-xs-max) {
    .app-header-nav {
        width: 280px;
        .navbar-toggle {
            margin-top: 15px;
            margin-right: 15px;
        }
    }
    .app-header-nav-heading {
        padding: 24px 24px 26px;
        a {
            font-size: $font-size-base;
            line-height: $font-size-lg;
        }
        .list-inline {
            margin-bottom: 30px;
        }
        li {
            &+li {
                margin-top: 30px;
            }
        }
    }
    .main-navbar {
        .navbar-target {
            margin: 0;
            padding: 13px 23px;
            font-size: $font-size-base;
            line-height: $font-size-lg;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .quick-search-mobile {
        margin-top: 35px;
        margin-bottom: 25px;
        &__btn {
            padding: 0 13px;
        }
        &__input {
            margin-left: 30px;
            padding-left: 8px;
            max-width: 140px;
        }
    }
    .carousel-phone-mob {
        padding-left: 23px;
        padding-right: 23px;
        &__heading {
            font-size: 10px;
        }
        .btn {
            margin-bottom: 26px;
        }
    }
}

@media screen and (max-width: $screen-sm-max) {
    .app-header-nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: $zindex-touch-menu;
        transition: transform 0.15s ease-out;
        transform: translate(100%, 0);
        &.in {
            transform: translate(0, 0); //background: url(../images/bg-brown.png);
        }
        >.container {
            padding: 0;
        }
    }
    .main-navbar-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-navbar {
        margin: 0;
        >li {
            display: block;
            width: 100%;
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .app-header-nav {
        width: 414px;
    }
    .main-navbar {
        .navbar-target {
            margin: 0;
            padding: 19px 36px;
            font-size: $font-size-h6;
            line-height: 1.2;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .carousel-phone-mob {
        .btn {
            margin-bottom: 26px;
            font-size: $font-size-lg;
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    .carousel-phone-mob-list__item {
        font-size: $font-size-h6;
    }
}

@media (min-width: $screen-md-min) {
    .main-navbar {
        >li {
            &.active {
                >a,
                >span {
                    font-weight: bold;
                }
            }
            &:hover,
            &.active {
                >a {
                    text-decoration: none;
                }
            }
        }
    }
}
