.modal-open {
  overflow: hidden;
  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &.fade {
    .modal-dialog {
      transition: transform 0.3s ease-out;
      transform: translate(0, -25%);
    }
  }
  &.in {
    .modal-dialog {
      transform: translate(0, 10%);
    }
  }
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  padding: 20px;
  &--sm {
    @media #{$phone} {
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
    }
    @media #{$tablet} {
      width: 628px;
      margin: 0 auto;
    }
  }
  &--md, &--lg {
    @media #{$phone} {
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
    }
    @media #{$tablet} {
      width: 700px;
      margin: 0 auto;
    }
  }
  &--sm {
    @media #{$smallDescktop} {
      width: 628px;
      margin: 0 auto;
    }
  }
  &--md {
    @media #{$smallDescktop} {
      width: 968px;
      margin: 0 auto;
    }
  }
  &--lg {
    @media #{$smallDescktop} {
      width: 1020px;
      margin: 0 auto;
    }
  }
}
.modal-content {
  position: relative;
  background-color: $color-barleycorn;
  background-clip: padding-box;
  color: $white;
  &__title {
    color: $white;
    font-family: $font-interstate-light;
    font-size: $font-size-h1;
    line-height: ceil($font-size-h1 + 2px);
    margin-top: 16px;
    margin-bottom: 28px;
  }
  &__subtitle {
    color: $white;
    font-size: $font-size-h6;
    line-height: $line-height-content;
  }
  &--hidden {
    display: none;
  }
  &__links {
    @include clearfix;
    margin-left: -10px;
    margin-right: -10px;
    > .btn {
      float: left;
      margin: 10px;
    }
  }
}
.modal-content-header {
  position: relative;
  &__inner {
    background-color: $white;
    background-size: cover;
    /*min-height: 134px;*/
    position: relative;

    &:before {
      background-color: rgba($color-barleycorn, 0.85);
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .close {
    display: block;
    width: $sprite-popup-close-width;
    height: $sprite-popup-close-height;
    @include sprite-2x($sprite-popup-close);
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    cursor: pointer;
  }
}
.modal-content-body {
  position: relative;
  padding: 15px 50px 40px;
  &__content {
    border-top: 1px solid rgba($white, 0.05);
    padding-top: 22px;
    padding-bottom: 15px;
    margin-top: 28px;
    font-size: $font-size-base;
    line-height: $font-size-h3;
  }
  &__footer {
    border-top: 1px solid rgba($white, 0.05);
    padding-top: 15px;
  }
}
.modal-links-item {
  padding-top: 22px;
  &__title {
    font-size: $font-size-lg;
    line-height: $font-size-h6;
    font-family: $font-interstate-bold;
  }
  &__text {
    list-style: none;
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
    li {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    a {
      font-size: $font-size-sm;
      text-decoration: none;
    }
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black;
  z-index: $zindex-backdrop;
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: 0.75;
  }
}
#popup-success {
  &.in {
    .modal-dialog {
      transform: translate(0, 50%);
    }
  }
}
.viewer-dialog {
  .modal-content {
    background-color: $white;
  }
  .modal-body {
    padding: 0;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  &.in {
    .modal-dialog {
      transform: translate(0, 0);
    }
  }
}
.viewer-close {
  background-color: $color-barleycorn;
  width: 73px;
  height: 73px;
  margin-left: 530px;
  position: fixed;
  left: 50%;
  top: 53px;
  text-indent: -9999px;
  padding: 20px;
  border: 0 none;
  cursor: pointer;
  z-index: 1;
  span {
    display: block;
    width: $sprite-popup-close-width;
    height: $sprite-popup-close-height;
    @include sprite-2x($sprite-popup-close);
    position: absolute;
    right: 20px;
    top: 20px;
  }
  &:focus {
    outline: 0 none;
  }
}
.viewer-controls {
  background-color: $white;
  border-top: 1px solid $color-ccc;
  border-bottom: 1px solid $color-ccc;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  &__inner {
    display: inline-block;
    position: relative;
    .thumbnail {
      img {
        border: 1px solid $color-ccc;
        width: 65px;
        height: 90px;
      }
      &.active img {
        border: 2px solid $color-barleycorn;
      }
    }
  }
}
.btn-view {
  $height: nth($sprite-view-prev, 6);
  position: absolute;
  top: 50%;
  margin-top: ceil($height / -2);
  cursor: pointer;
  &--prev, &--next {
    &:before {
      content: "";
      display: block;
    }
  }
  &.disabled {
    cursor: default;
  }
  &--prev {
    left: -63px;
    &:before {
      @include sprite-2x($sprite-view-prev);
    }
    &.disabled {
      &:before {
        @include sprite-2x($sprite-view-prev-dis);
      }
    }
  }
  &--next {
    right: -58px;
    &:before {
      @include sprite-2x($sprite-view-next);
    }
    &.disabled {
      &:before {
        @include sprite-2x($sprite-view-next-dis);
      }
    }
  }
}

.viewer-pager {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  > li {
    display: inline-block;
    margin: 0 9px;
    &:hover {
      cursor: pointer;
    }
    &.active:hover {
      cursor: default;
    }
  }
}
.viewer-request-container {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 100%);
  text-align: center;
  padding-top: 55px;
  padding-bottom: 132px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 40px;
  z-index: 1;
  &.collapsing {
    overflow: auto;
    height: auto;
    transition-duration: 1s;
  }
}
.viewer-request {
  border: 1px solid $border-btnshadow;
  background-color: $white;
  max-width: 480px;
  display: inline-block;
  vertical-align: middle;
  color: $color-base;
  padding: 20px 18px 26px;
}
.loading {
  background-color: rgba($white, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1021;
  display: none;
  > .loading-icon {
    background: url("../i/loader.gif") no-repeat center center;
    width: 66px;
    height: 66px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: -33px;
  }
}
@media (min-width: $screen-sm-min){
  .modal-links-item {
    min-height: 220px;
  }
}
@media #{$phone} {
  .viewer-close {
    left: 100%;
    top: auto;
    margin-left: -73px;
  }
  .modal.in .modal-dialog {
    transform: translate(0, 0);
  }
  .modal-content-header {
    &__inner {
      min-height: 100px;
    }
  }
  .modal-content-body {
    padding: 15px;
  }
  .modal-content__title {
    font-size: $font-size-h3;
    line-height: $line-height-content;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .modal-content__subtitle {
    font-size: $font-size-base;
    line-height: $font-size-lg;
  }
  .modal-content-body__content {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .modal-content-body__footer {
    padding-top: 10px;
  }
  .modal-links-item {
    padding-top: 10px;
  }
  .modal-links-item__text {
    margin-top: 5px;
  }
  .viewer-request-container {
    padding-bottom: 60px;
  }
  .modal-content__links {
    .btn--lg {
      font-size: $font-size-h6;
    }
  }
}
@media #{$tablet} {
  .viewer-close {
    top: auto;
    bottom: 90px;
    margin-left: 290px;
  }
}
