.wrapper-middle {
	display: block;
	font-size: 0;
	max-width: 1400px;
	margin: 0 auto;
	
	&__box {
		height: 398px;
		position: relative;
		padding-bottom: 76px;
		overflow: hidden;
		width: 33.33%;
		display: inline-block;
		border: 1px solid #e6e6e6;
		border-top: none;
		border-left: none;
		padding-top: 72px;
		
		@media (max-width: $screen-sm-max){
			width: 50%;

			&:nth-child(3n){
				border-right: 1px solid #e6e6e6;
			}
			&:nth-child(2n){
				border-right: none;
			}
		}
		
		@media (max-width: $screen-xs-max){
			width: 100%;
		}

		&:nth-child(3n){
			border-right: none;
		}
	}
	
	&__box-circle {
		position:relative;
		height: 120px;
		width: 120px;
		background: $color-barleycorn;
		border-radius: 50%;
		margin: 0 auto;
		
		span {
			font-size: 14px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -34px;
			margin-top: -34px;
		}
	}
	
	&__box-content {
		width: 320px;
		margin: 0 auto;
		font-size: 18px;
		text-align: center;
		color: #000;
		line-height: 1.2;
		font-family: $font-interstate-light;
		padding-top: 20px;
		
		@media (max-width: $screen-xs-max){
			padding-left: 20px;
			padding-right: 20px;
		}

		sup {
			font-size: 12px;
			white-space: nowrap;
		}
	}
	
	&__box-title {
		font-family: $font-interstate-reg;
	}
	
	&__box-text {
		margin-bottom: 0;
	}
	
	&__box-bottom {
		position: absolute;
		bottom: 0;
		padding: 10px;
		width: 100%;
		box-sizing: border-box;
		background: #a58748;
	}
	
	&__box-bottom-left {
		position: relative;
		width: 112px;
		text-align: center;
		box-sizing: border-box;
		padding:0 15px;
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		border-right: 1px solid #fff;
		
		img {
			position:relative;
		}
	}
	
	&__box-bottom-right{
		font-size: 14px;
		line-height: 1.2;
		display: inline-block;
		box-sizing: border-box;
		width: 100%;
		padding-left: 128px;
		margin-left: -112px;
		vertical-align: middle;
		color: #fff;
	}
	
	&--bg-white {
		background: $white;
	}
}
.product-referral {
	background: $white;
	box-shadow: inset 0 5px 20px 0 rgba(0, 0, 0, .1);

	&__title{
		font-family: $font-interstate-light;
		font-size: 30px;
		margin-top: 118px;
		line-height: 1.2;
		
		@media (max-width: $screen-sm-max){
			margin-top: 50px;
		}
	}
	&__text{
		font-family: $font-interstate-light;
		margin-top: 28px;
		font-size: 18px;
		line-height: 1.2;
		color: #000;
		margin-bottom: 66px;
		
		@media (max-width: $screen-sm-max){
			margin-top: 14px;
			margin-bottom: 50px;
		}
	}
	&__img-wrap {
		position: relative;
		padding-top: 58px;
		
		@media (max-width: $screen-xs-max){
			padding-top: 0;
			text-align: center;
		}
	}
	&__img {
		position: absolute;
		z-index: 1;
		
		@media (max-width: $screen-md){
			width: 100%;
		}

		@media (max-width: $screen-sm-max){
			margin-top: -16px;
		}
		
		@media (max-width: $screen-xs-max){
			position: relative;
			width: auto;
			max-width: 100%;
		}
	}
}
