.panel-container {
    &_bg {
        background-color: #f6f6f6;

        @media (max-width: $screen-sm-max) {
            margin-top: 10px;
        }
    }
}

.panel-shadow {
    box-shadow: 0 5px 17px 2px rgba(#231f20, 0.08);
    background-color: #fff;
    position: relative;
    margin-top: 28px;
    margin-bottom: 40px;

    &_offset-top {
        @media #{$smallDescktop} {
            top: -48px;
            margin-top: 0;
            margin-bottom: -48px;
        }

        @media (max-width: $screen-sm-max) {
            box-shadow: 0 5px 17px -5px rgba(#231f20, 0.08);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__inner {
        padding: 24px 60px 36px;

        @media (max-width: $screen-sm-max) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__inner_top {
        padding-top: 51px;
        padding-bottom: 11px;

        @media (max-width: $screen-sm-max) {
            padding-top: 30px;
        }
    }

    &__inner_bottom {
        padding-bottom: 46px;
        padding-top: 23px;

        @media (max-width: $screen-sm-max) {
            padding-bottom: 36px;
        }
    }

    &__hr {
        border-top: 1px solid rgba($color-barleycorn, 0.23);
        position: relative;
        margin-top: 24px;
        margin-bottom: 23px;

        &:before {
            content: "";
            border: 36px solid transparent;
            border-top-width: 13px;
            border-top-color: rgba($color-barleycorn, 0.23);
            border-bottom-width: 0;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }

        &:after {
            content: "";
            border: 36px solid transparent;
            border-top-width: 13px;
            border-top-color: #fff;
            border-bottom-width: 0;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -1px;
        }
    }
}

.panel-thumbnail {
    padding-top: 19px;
    padding-left: 40px;

    @media (max-width: $screen-sm-max) {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}