.panel-price {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;

    &__content {
        max-width: 570px;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
    }

    &__title {
        color: $color-barleycorn;
        font-size: 68px;
        font-family: $font-interstate-reg;
        line-height: 1.2;

        @media #{$phone}{
            font-size: 48px;
            margin-top: 18px;
            margin-bottom: 6px;
        }

        > span {
            @media #{$phone}{
                font-size: 26px;
            }
        }
    }

    &__leadtext {
        color: $color-barleycorn;
        font-size: 16px;
        line-height: 20px;
        margin-top: 1px;
        margin-bottom: 5px;
    }
}