/* print */
@media print {
  *,
  *:before,
  *:after {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
  select {
    background: $white !important;
  }
  section {
    page-break-after: always;
  }
  .content-heading {
    padding-top: 10px;
  }
  .header-top,
  .navbar-top-contacts,
  .navbar-top-toggle,
  .article-tab__header,
  .app-footer,
  .no-print {
    display: none;
  }
  .nav-top {
    display: none;
  }
}
@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
/* end print */
