.card-list {
  padding-top: 34px;

  &--divide {
    background-color: #f7f7f7;
    padding: 55px 60px 25px;
    margin-bottom: 30px;

    @media (max-width: $screen-sm-max) {
      padding: 40px 45px 18px;
    }

    @media (max-width: $screen-xs-max) {
      padding: 20px 30px;
    }

    .card-list-body--right {
      position: relative;
      padding-top: 30px;

      &:before {
        content: "";
        background-color: #dcdcdc;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0;

        @media (max-width: $screen-xs-max) {
          top: 15px;
        }
      }
    }
  }

  &__title {
    margin-bottom: 14px;
  }

  &__title--bordered {
    font-size: 21px;
    padding-bottom: 14px;
    margin-bottom: 22px;
    position: relative;

    &:after {
      content: "";
      background-color: #b4975a;
      width: 150px;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &__media {
    margin-bottom: 32px;
    margin-top: 8px;
  }
  &__media--img-center {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;

    img {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);

      @media (max-width: $screen-xs-max) {
        position: relative;
        max-width: 100%;
      }
    }
  }
  &--inline {
    .card-list__media {
      margin-top: 0;
    }
  }
  &--inline-bg {
    background-color: #fafafa;
    padding-top: 0;

    .card-list-body {
      padding-left: 65px;
      padding-right: 40px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $screen-sm-max) {
        padding-left: 40px;
        padding-right: 30px;
      }

      @media (max-width: $screen-xs-max) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  &--inline-bg-sm {
    .card-list-body {
      min-height: 365px;

      @media (max-width: $screen-xs-max) {
        min-height: auto;
      }
    }
  }
  &--inline-bg-md {
    .card-list-body {
      min-height: 510px;

      @media (max-width: $screen-sm-max) {
        min-height: 450px;
      }

      @media (max-width: $screen-xs-max) {
        min-height: auto;
      }
    }
  }
}
.section-bggray {
  .card-list--inline {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.card-list-heading {
  padding-bottom: 24px;
}
.card-list-body {
  &__heading {
    margin-bottom: 12px;
  }
  &__content {

  }
  &__footer {
    margin-top: 38px;

    .btn-panel {
      padding: 20px 0;
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}
.conclusion {
  position: relative;
  .article-title {
    &+ .article-subtitle {
      margin-top: 40px;
    }
  }
}
.conclusion-item {
  position: relative;
  &+ .conclusion-item {
    margin-top: 18px;
  }
  .conclusion-media {
    > img {
      height: 100%;
    }
  }
}

.conclusion-media {
  &.conclusion-media_img-center {
    background: none no-repeat center top;
    background-size: auto 100%;
    width: 50%;

    @media #{$phone} {
      position: relative;
      width: auto;
    }

    > img {
      opacity: 0;
      display: none;

      @media #{$phone} {
        display: inline;
      }
    }
  }

  &.conclusion-media_logo-boingo {
    &:before {
      background: url('../../content/travel/boingo-logo.png') no-repeat 0 0;
      background-size: contain;
      content: "";
      display: block;
      width: 185px;
      height: 90px;
      position: absolute;
      right: 50px;
      top: 50px;
      pointer-events: none;

      @media #{$phone} {
        width: 120px;
        height: 60px;
        right: 5%;
        top: 5%;
      }
    }
  }

  &.conclusion-media_logo-lounge {
    &:before {
      background: url('../../content/travel/lounge-logo.png') no-repeat 0 0;
      background-size: contain;
      content: "";
      display: block;
      width: 253px;
      height: 72px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      pointer-events: none;

      @media #{$phone} {
        width: 120px;
        height: 34px;
        right: 5%;
        bottom: 5%;
      }
    }
  }
}
.conclusion-text {
  padding-right: 50px;
  &__heading {
    padding-top: 74px;
    padding-bottom: 46px;
  }
}
@media #{$phone} {
  .conclusion {
    .article-title {
      &+ .article-subtitle {
        margin-top: 8px;
      }
    }
  }
  .conclusion-text {
    &__heading {
      padding-top: 16px;
      padding-bottom: 12px;
    }
  }
  .conclusion-media {
    min-height: 198px;
    max-height: 72vw;
    text-align: center;
    overflow: hidden;

    .conclusion-text {
      height: auto;
    }

    > img {
      max-width: 100%;
    }
  }
  .conclusion-item {
    .conclusion-media {
      > img {
        height: auto;
      }
    }

    &--right-full.b-transfer__how-get {
      .conclusion-media.conclusion-media_img-center {
        right: auto;
      }
    }
  }
}
@media #{$tablet} {
  .conclusion {
    overflow: hidden;
    padding-bottom: 16px;
    .article-title + .article-subtitle {
      margin-top: 22px;
    }
  }
  .conclusion-media {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 155px;
    overflow: hidden;
    img {
      margin-left: -430px;
    }
  }
  .conclusion-item {
    .conclusion-media {
      top: 0;
      bottom: inherit;
      margin-left: 0;
      img {
        margin-left: -25%;
      }
    }
    .conclusion-media,
    .conclusion-text {
      height: 66vw;
    }
    &--right {
      .conclusion-media {
        left: inherit;
        right: 55%;
        img {
          margin-left: 25%;
          //margin-right: 28%;
        }
      }
      .conclusion-text {
        padding-left: 24px;
        padding-right: 0;
      }
    }
    &--right-full {
      .conclusion-media {
        left: inherit;
        right: 48%;
        img {
          margin-left: 15%;
        }
      }
      .conclusion-text {
        padding-left: 24px;
        padding-right: 0;
      }
    }
    &--left-full {
      .conclusion-media {
        left: 55%;
        right: inherit;
        img {
          margin-left: -40%;
        }
      }
      .conclusion-text {
        padding-left: 0;
        padding-right: 24px;
      }
    }
    &--left {
      .conclusion-media {
        left: 55%;
        img {
          margin-left: -28%;
        }
      }
      .conclusion-text {
        padding-left: 0;
        padding-right: 24px;
      }
    }
  }
  .conclusion-text {
    padding-right: 0;
    &__heading {
      padding-top: 22px;
      padding-bottom: 16px;
    }
  }
}
@media #{$smallDescktop} {
  .conclusion {
    overflow: hidden;
    padding-bottom: 45px;
  }

  .conclusion-media {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 155px;
    overflow: hidden;
    img {
      margin-left: -400px;
    }
  }
  .conclusion-item {
    .conclusion-media {
      top: 0;
      bottom: inherit;
      margin-left: 0;
      // overflow: inherit;
      img {
        margin-left: -15%;
      }
    }
    .conclusion-media,
    .conclusion-text {
      height: 510px;
    }
    &--right {
      .conclusion-media {
        left: inherit;
        right: 50%;
      }
      .conclusion-text {
        padding-left: 24px;
        padding-right: 0;
      }
      &.conclusion-item {
        .conclusion-media {
          img {
            margin-left: auto;
            //margin-right: 28%;
          }
        }
      }
    }
    &--right-full {
      .conclusion-media {
        left: inherit;
        right: 55%;
      }
      .conclusion-text {
        padding-left: 24px;
        padding-right: 0;
      }
      &.conclusion-item {
        .conclusion-media {
          img {
            margin-left: 15%;
          }
        }
      }
    }
    &--left-full {
      .conclusion-media {
        left: 65%;
        right: inherit;
      }
      .conclusion-text {
        padding-left: 0;
        padding-right: 24px;
      }
      &.conclusion-item {
        .conclusion-media {
          img {
            margin-left: -40%;
          }
        }
      }
    }
    &--left {
      .conclusion-text {
        padding-left: 0;
        padding-right: 24px;
      }
      &.conclusion-item {
        .conclusion-media {
          img {
            margin-left: auto;
          }
        }
      }
    }
  }
  .card-list--inline {
    .card-list-heading,
    .card-list-body {
      padding-right: 50px;
    }
  }
  .b-table__cell-middle {
    .conclusion-text__heading {
      padding-top: 0;
      padding-bottom: 0;
      &+ .conclusion-text__body {
        padding-top: 46px;
      }
    }
  }
}
@media #{$descktop} {
  .conclusion-item {
    .conclusion-media {
      img {
        margin-left: 0;
      }
    }
    &.conclusion-item--right-full {
      .conclusion-media {
        img {
          margin-left: -5%;
        }
      }
    }
    &.conclusion-item--left-full {
      .conclusion-media {
        img {
          margin-left: 0;
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  .conclusion-item {
    .conclusion-media {
      img {
        margin-left: 18%;
      }
    }
  }
}
@media (min-width: 1600px) {
  .conclusion-item {
    .conclusion-media {
      img {
        margin-left: 28%;
      }
    }
    // &.conclusion-item--right-full {
    //   .conclusion-media {
    //     img {
    //       margin-left: -25%;
    //     }
    //   }
    // }
    &.conclusion-item--left-full {
      .conclusion-media {
        img {
          margin-left: 0;
        }
      }
    }
  }
}
