.price-special {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px 20px;

    @media (max-width: $screen-xs-max) {
        padding-left: 8px;
        padding-right: 8px;
    }

    > .container {
        margin-left: 0;
        margin-right: 0;
    }

    .article-title {
        text-align: center;

        @media (max-width: $screen-xs-max) {
            text-align: left;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-top: 66px;
        margin-bottom: 20px;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            padding-left: 10px;
            margin-top: 38px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;

            @media (min-width: $screen-sm-min) {
                border-top: 2px dotted $color-barleycorn;
                width: 100%;
                height: 0;
                top: 50%;
            }

            @media (max-width: $screen-xs-max) {
                border-left: 2px dotted $color-barleycorn;
                width: 0;
                height: 100%;
                top: 0;
            }
        }
    }

    &__list-item {
        position: relative;
        background-color: #f6f6f6;
        padding: 23px 8px;
        z-index: 1;

        @media (max-width: $screen-xs-max) {
            flex-basis: 100%;
            display: flex;
            align-items: flex-end;
            padding: 40px 0 0 0;
        }

        &:first-child {
            @media (max-width: $screen-xs-max) {
                padding-top: 0;
            }
        }
    }

    &__list-count {
        font-size: 48px;
        line-height: 30px;
        color: $color-barleycorn;
        font-family: $font-interstate-bold;

        @media (max-width: $screen-xs-max) {
            font-size: 36px;
            line-height: 20px;
        }

        span {
            font-size: 30px;
            font-family: $font-interstate-reg;
            padding-left: 4px;
            padding-right: 4px;

            @media (max-width: $screen-xs-max) {
                font-size: 23px;
            }
        }
    }

    &__list-text {
        font-size: 21px;
        color: $gray-dark;
        display: inline-block;
        white-space: nowrap;

        @media (min-width: $screen-sm-min) {
            position: absolute;
            left: 50%;
            bottom: -6px;
            transform: translateX(-50%);
        }

        @media (max-width: $screen-xs-max) {
            padding-left: 3px;
            font-size: 16px;
        }
    }
}