//== range styles
.irs-line {
    border-color: #ccc;
    background: none #ccc;
    height: 3px;
}

.irs-slider {
    border: 3px solid $white;
    background: none $color-barleycorn;
    width: 16px;
    height: 16px;
    top: 26px;
    box-shadow: 0 0 0 1px $color-barleycorn;
    transition: all 0.3s ease 0s;

    &.state_hover,
    &:hover {
        box-shadow: 0 0 0 2px $color-barleycorn;
        background-color: $color-barleycorn;
    }
}

.irs-bar {
    border: medium none;
    background: linear-gradient(to left, #a5865f, #f2ce88 50%, #a5865f 100%);
    height: 3px;
    transition: all 0.3s ease 0s;
}

.irs-bar-edge {
    border: 3px solid $color-barleycorn;
    background: none $color-barleycorn;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 28px;
}

.irs-single {
    background: none;
    font-size: $font-size-lg;
    color: $gray-dark;
    padding: 0;
    top: -12px;
}

.irs-grid-text {
    color: $color-dl-title;
    font-size: 10px;

    .remuneration & {
        display: none;
    }
}

.mark-grid {
    width: 100%;
    height: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mark-grid-text {
    color: $gray-dark;
    font-size: 16px;
    position: absolute;
    bottom: -4px;
    left: 0;
    white-space: nowrap;
    padding-left: 5px;

    @media #{$phone} {
        font-size: 10px;
        bottom: 4px;
    }

    .remuneration & {
        font-size: 12px;
    }

    &:nth-child(2n) {
        .remuneration & {
            @media #{$phone} {
                display: none;
            }
        }
    }

    &:first-child {
        transform: translateX(-10px);
    }

    &:last-child {
        transform: translateX(10px);
    }
}

@media screen and (max-width: $screen-xs){
    .js-grid-text-1,
    .js-grid-text-3 {
        bottom: -10px;
        visibility: visible !important;
    }
}

@media screen and (max-width: $screen-xs-max){
    .irs-single {
        font-size: $font-size-h6;
        top: 0;
    }
    .irs-grid-text {
        font-size: 8px;
    }
}
