.rules {
  background-color: $white;
  padding: 20px;
  .article-header {
    padding-bottom: 48px;
  }
  &__container {
    background-color: $gray-lighter;
    padding: 40px 13px 55px;
  }
  &__scroll {
    height: 520px;
  }
  .scroller-content {
    padding: 0 20px 0 0;
  }
  .scroller-bar {
    background: none;
    border-color: $gray-lighter;
    width: 18px;
  }
  .scroller-track {
    background-color: $gray-lighter;
  }
  .scroller-handle {
    background-color: $color-ccc;
    border-color: $color-ccc;
  }
  .list-increment {
    &__item {
      position: relative;
      padding-left: 30px;
      &:before {
        color: $color-barleycorn;
        position: absolute;
        top: 0.1em;
        left: 0.3em;
      }
    }
    ul {
      margin-bottom: 10px;
    }
  }
}
.disclamer {
  padding-top: 22px;
  padding-bottom: 22px;
  &.disclamer--md {
    padding-top: 31px;
    padding-bottom: 33px;
  }
  p {
    font-size: $font-size-base;
    line-height: $font-size-tabnav;
    margin-bottom: 0;
  }
  .list-increment {
    &__item {
      position: relative;
      padding-left: 14px;
      &:before {
        color: $color-barleycorn;
        position: absolute;
        top: 0;
        left: 0;
        font-size: $font-size-sm;
      }
    }
  }
}
@media screen and (max-width: $screen-xs-max) {
  .rules {
    padding: 10px;
    &__container {
      padding: 28px 4px;
    }
    .article-header {
      padding-bottom: 18px;
    }
    .article-title {
      font-size: $font-size-h4;
      letter-spacing: 0;
    }
    &__scroll {
      height: 200px;
    }
    .list-increment__item {
      font-size: $font-size-sm;
      line-height: 1.1;
      padding-left: 19px;
    }
    .scroller-handle {
      width: 6px;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .rules {
    &__container {
      padding-left: 25px;
      padding-right: 25px;
    }
    &__scroll {
      height: 370px;
    }
  }
}
