.offers {
  position: relative;
  border-bottom: 1px solid #e0e1df;
  overflow: hidden;
  margin-bottom: 20px;
}
.offers-item {
  position: relative;
}
.offers-media {
  > img {
    height: 100%;
  }
}
.offers-title {
  font-family: $font-interstate-reg;
  margin-bottom: 16px;
}
.offers-text {
  padding-right: 50px;
}
.offers-text__container {
  position: relative;
}
.offers-text__heading {
  padding-bottom: 32px;
  position: relative;
  &+ .offers-text__content {
    padding-right: 0;
  }
}
.offers-text__content {
  padding-right: 120px;
}
.offers-text__icon {
  position: absolute;
  top: 10px;
  right: 0;
}
.offers-text__footer {
  padding-top: 32px;
}
.offers-text__logo {
  width: 195px;
  > img {
    max-width: 100%;
    height: auto;
  }
}
.block_sel {
  display: none;
}
.button-selection-block {
  margin-top: 2vw;
}
.circle {
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    text-align: center;
    max-width: 120px;
    margin: 0 auto;

    &:after {
        content: "";
        display: block;
        height: 0;
        padding-bottom: 100%;
        width: 100%;
    }

    &__inner {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__title {
        font-size: 48px;
        color: $color-barleycorn;
        font-family: $font-interstate-reg;
    }

    &--border {
        border: 10px solid #f6f6f6;
    }

    &--bg {
        background-color: $color-barleycorn;
        max-width: 50px;

        &:after {
            background-color: $color-barleycorn;
        }
    }

    &--bg-round {
      &:after {
        border-radius: 50%;
      }
    }

    &--bg &__title {
        color: $white;
        font-size: 26px;
    }

}
.steps {
    padding-top: 28px;
    @include clearfix;

    &__item {
        width: percentage(1 / 3);
        margin-bottom: 30px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
        position: relative;

        &:first-child:after {
            display: none;
        }

        &:after {
            border-right: 3px solid #e0e1df;
            border-top: 3px solid #e0e1df;
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            left: -4px;
            position: absolute;
            top: 50px;
            transform: rotate(45deg);
        }
    }
 
    &__content {
        padding-top: 30px;
    }
 
    &__title {
        font-size: 16px;
        font-family: $font-interstate-reg;
        margin-bottom: 2px;
    }
 
    &__text {
        font-size: 14px;
    }

    &--no-markers {
        padding-top: 42px;
    }

    &--no-markers &__content {
        padding-top: 15px
    }

    &--no-markers &__item {
        &:after {
            display: none;
        }
    }

    &--no-markers &__title {
        line-height: 24px;
    }

    &--no-markers &__text {
        font-size: 16px;
        line-height: 24px;
    }
}
.remuneration {
    margin-top: 68px;
    margin-bottom: 72px;

    .content-heading-middle & {
        margin-top: 38px;
        margin-bottom: 6px;
    }

    &__nav {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media #{$smallDescktop} {
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
        }

        &:before {
            background-color: #ccc;
            width: 1px;
            height: 94px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);

            @media #{$smallDescktop} {
                content: "";
            }
        }
    }

    &__nav-item {
        flex-basis: 100%;
        box-sizing: border-box;

        @media #{$descktop} {
            flex-basis: 50%;
            max-width: 50%;
        }

        &:first-child {
            @media #{$smallDescktop} {
                padding-right: 30px;
            }

            @media #{$descktop} {
                padding-right: 8%;
            }
        }

        &:last-child {
            @media #{$smallDescktop} {
                padding-left: 30px;
            }

            @media #{$descktop} {
                padding-left: 8%;
            }

            @media #{$tablet} {
                margin-top: 60px;
            }

            @media #{$phone} {
                margin-top: 34px;
            }
        }
    }

    &__grouptext {
        color: $color-barleycorn;
        text-align: center;

        @media #{$smallDescktop} {
            text-align: left;
        }
    }

    &__grouptext-title {
        font-size: 68px;
        font-family: $font-interstate-reg;
        line-height: 1;

        @media #{$tablet} {
            font-size: 48px;
        }

        @media #{$phone} {
            font-size: 48px;
        }

        span {
            @media #{$phone} {
                font-size: 26px;
            }
        }
    }

    &__grouptext-text {
        font-size: 16px;
        margin-top: 6px;
    }
}
.remuneration-slider {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-top: 50px;

  &__item {
    width: 1%;
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;

    .btn-panel {
      margin-top: 10px;
    }

    .btn--app {
      background-size: cover;
      width: 106px;
      height: 31px;
      margin: 4px auto;
    }
  }

  &__icon-wrap {
    font-size: 12px;
    > span {
      width: 60px;
      height: 60px;
    }
  }

  &--md {
    margin-top: 0;
  }

  &--md &__icon-wrap {
    font-size: 17px;

    > span {
      width: 80px;
      height: 80px;
    }
  }

  &__title {
    font-size: 16px;
    text-align: center;
    margin-top: 13px;
  }

  &_steps {
    display: flex;
  }

  &_steps &__item {
    position: relative;
    display: inline-block;

    &:first-child:before {
      display: none;
    }

    &:before {
      border-right: 1px solid #b4975a;
      border-top: 1px solid #b4975a;
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      left: -4px;
      position: absolute;
      top: 50px;
      transform: rotate(45deg);

      @media #{$phone}{
        top: -35px;
        left: 50%;
        margin-left: -5px;
        transform: rotate(135deg);
      }
    }

    &:nth-of-type(2n) {
      @media #{$tablet} {
        &:after {
          border-right: 1px solid #b4975a;
          border-top: 1px solid #b4975a;
          content: "";
          display: block;
          width: 15px;
          height: 15px;
          right: -4px;
          position: absolute;
          top: 50px;
          transform: rotate(45deg);
        }
      }
    }
  }

  &_steps-col-5,
  &_steps-col-4,
  &_steps-col-3 {
    @media #{$tablet} {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media #{$phone} {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &_steps-col-3 &__item {
    max-width: percentage(1 / 3);
    flex-basis: percentage(1 / 3);

    @media #{$phone} {
      width: 100%;
      max-width: none;
      flex-basis: auto;
      margin-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media #{$tablet} {
      max-width: 300px;
      flex-basis: 300px;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &_steps-col-4 &__item {
    max-width: percentage(1 / 4);
    flex-basis: percentage(1 / 4);

    @media #{$phone} {
      width: 100%;
      max-width: none;
      flex-basis: auto;
      margin-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media #{$tablet} {
      max-width: 300px;
      flex-basis: 300px;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &_steps-col-5 &__item {
    max-width: percentage(1 / 5);
    flex-basis: percentage(1 / 5);

    @media #{$phone} {
      width: 100%;
      max-width: none;
      flex-basis: auto;
      margin-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media #{$tablet} {
      max-width: 300px;
      flex-basis: 300px;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
@media screen and (max-width: $screen-xs-max) {
  .offers-text {
    padding: 30px 15px;
    &__icon {
      top: 0;
    }
    &__logo {
      width: 145px;
    }
    &__heading {
      padding-bottom: 22px;
    }
    &__footer {
      padding-top: 14px;
    }
  }
  .offers-media {
    min-height: 198px;
    height: 50vw;
    text-align: center;
    overflow: hidden;
    > img {
      width: 100%;
      height: auto;
      margin-top: -10vw;
    }
  }
  .steps__item {
    width: 100%;
    max-width: 320px;
    margin: 0 auto 20px;
    float: none;

    &:after {
        left: 50%;
        margin-left: -5px;
        top: -35px;
        transform: rotate(135deg);
    }
  }
  .remuneration {
    margin-top: 20px;
    margin-bottom: 32px;
  }
  .remuneration-slider {
    text-align: center;
    margin-top: 30px;
    &__item {
      width: 100%;
      max-width: 280px;
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 20px;
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .offers-media {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    overflow: hidden;
    img {
      margin-left: 0;
    }
  }
  .offers-text__icon {
    top: 0;
  }
  .offers-text__logo {
    width: 145px;
  }
  .offers-text__heading {
    padding-bottom: 22px;
  }
  .offers-text__footer {
    padding-top: 14px;
  }
  .offers-item {
    .offers-media,
    .offers-text {
      height: 40vw;
    }
    &--right {
      .offers-media {
        left: inherit;
        right: 55%;
        img {
          margin-left: 25%;
        }
      }
      .offers-text {
        padding-left: 24px;
        padding-right: 0;
      }
    }
    &--left {
      .offers-media {
        left: 55%;
        img {
          margin-left: -28%;
        }
      }
      .offers-text {
        padding-left: 0;
        padding-right: 24px;
      }
    }
    &--inline-sm {
      .offers-media {
        position: static;

        img {
          width: 100%;
          height: auto;
          margin-left: 0;
          margin-right: 0;
          margin-top: -15vw;
        }
      }
      .offers-media,
      .offers-text {
        height: 40vw;
      }
    }
  }
  .offers-text {
    padding-right: 0;
  }
  .remuneration {
    margin-top: 40px;
    margin-bottom: 52px;
  }
  .remuneration-slider__item {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: $screen-md-min) {
  .offers-media {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 0;
    overflow: hidden;
    img {
      margin-left: 0;
    }
  }
  .offers-item {
    .offers-media,
    .offers-text {
      height: 510px;
    }
    &--right {
      .offers-media {
        left: inherit;
        right: 50%;
      }
      .offers-text {
        padding-left: 64px;
        padding-right: 0;
      }
      &.offers-item {
        .offers-media {
          img {
            margin-left: auto;
          }
        }
      }
    }
    &--left {
      .offers-text {
        padding-left: 0;
        padding-right: 38px;
      }
      &.offers-item {
        .offers-media {
          img {
            margin-left: auto;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  .offers-item {
    .offers-media {
      img {
        margin-left: 0;
      }
    }
  }
}
@media (min-width: 1400px) {
  .offers-item {
    .offers-media {
      img {
        margin-left: 18%;
      }
    }
  }
}
@media (min-width: 1600px) {
  .offers-item {
    .offers-media {
      img {
        margin-left: 28%;
      }
    }
  }
}
