.color-0 {
    color: $white;
}

.color-1 {
    color: $color-base;
}

.color-2 {
    color: $color-barleycorn;
}

.hr {
    border-top: 1px solid $particle-color;
    width: 100%;
    height: 0;
}

.article-page {}

.article-heading {
    padding-top: 45px;
    .tab>& {
        padding-top: 48px;
        @media #{$tablet} {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.article-tab {
    &__header {
        padding-top: 26px;
        padding-bottom: 12px;
        .btn {
            margin-top: 25px;
            margin-bottom: 15px;
        }
    } // &__content {}
}

.content-heading + .article-with-img {
    margin-top: -15px;
}

.article-with-img {
    &__media {
        position: relative;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__media--logo-lounge {
        &:before {
            background: url('../../content/travel/lounge-logo.png') no-repeat 0 0;
            background-size: contain;
            content: "";
            display: block;
            width: 253px;
            height: 72px;
            position: absolute;
            right: 30px;
            bottom: 30px;
            pointer-events: none;
      
            @media #{$phone} {
              width: 120px;
              height: 34px;
              right: 5%;
              bottom: 5%;
            }
        }
    }

    &__content {
        padding-top: 30px;
        padding-bottom: 22px;
    }

    &__footer {
        border-top: 1px solid #dadada;
    }
}

.section-transparent {
    background-color: $white;
}

.section-bggray {
    background-color: $gray-light;
}

.section-bggray-light {
    background-color: $bgcolor-table-collapse;
}

.section-barleycorn {
    background-color: $color-barleycorn-dark;
}

.section-overlay {
    background: none no-repeat 50% 50%;
    background-size: 120% auto;
    background-color: $gray-lighter;
    padding-top: 76px;
    padding-bottom: 80px;
    .content {
        background-color: $white;
        &+.content {
            margin-top: 80px;
        }
    }
    &--dark {
        background-position: 0 50%;
        background-size: auto 100%;

        .content {
            background-color: transparent;
        }
    }
    .content-heading {
        padding: 40px 50px 16px;
    }
    .content-body {
        padding-top: 10px;
        padding-bottom: 10px;
        &__heading {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .content-footer {
        padding: 60px 50px 50px;
        background-color: $color-barleycorn;
        color: $white;
        font-size: $font-size-h6;
    }
}

.content {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.content-heading {
    padding-top: 45px;
    padding-bottom: 65px;
    .list-inline-block {
        margin-top: 36px;
    }
}

.content-heading-middle {
    padding-top: 45px;
    padding-bottom: 55px;

    .hr {
        margin-top: 42px;
        margin-bottom: 52px;
    }
}

.content-heading-md {
    padding-top: 48px;
    padding-bottom: 30px;
}

.content-body {
    &__heading {
        .content-title-1 {
            margin-bottom: 20px;
        }
    }
}

.particle-page {
    padding-top: 30px;
    padding-bottom: 30px;
}

.particle-page-title {
    padding-bottom: 36px;
    text-align: center;
    position: relative;
    margin-top: -16px;
    &:after {
        content: "";
        background-color: $particle-color;
        height: 1px;
        $width: 196px;
        width: $width;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: ceil($width / -2);
    }
}

.particle-page-heading {
    padding-top: 42px;
    padding-bottom: 42px;
    position: relative;
    &__title {
        margin-bottom: 26px;
    }
    &__subtitle {}
    &:before {
        content: "";
        background: url("../i/quotes.png") no-repeat 0 0;
        width: 484px;
        height: 438px;
        position: absolute;
        left: -160px;
        top: 0;
    }
}

.particle-page-body {
    padding-top: 12px;
}

.particle-page-item {
    &__media {
        margin: 0;
    }
    &__content {}
    &__title {
        margin-bottom: 20px;
        >span {
            color: $color-barleycorn;
        }
    }
    &__subtitle {
        font-size: $font-size-lg;
        line-height: $font-size-tabnav;
        &+.particle-page-item__text {
            margin-top: 20px;
        }
    }
    &__text {
        font-size: $font-size-base;
        line-height: $font-size-tabnav;
        p {
            margin-bottom: 0;
            &+p {
                margin-top: 20px;
            }
        }
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            &+li {
                margin-top: 16px;
            }
        }
    }
}

.page-investment {
    .article-heading {
        padding-bottom: 48px;
    }
}

.section-investment,
.page-investment {
    .article-heading {
        padding-bottom: 48px;
    }
    .list-inline-bg-item {
        overflow: hidden;
        .content-title-1 {
            margin-top: 0;
            margin-bottom: 20px;
        }
        .content-text {
            color: $color-base;
            line-height: 1.2;
            &+.content-text {
                margin-top: 20px;
            }
        }
        .list-inline-bg-item__inner.bordered {
            .content-text {
                color: $white;
            }
        }
    }
}

.section-banners {
    .list-inline-bg-item {
        height: 230px;
        .content-title-1 {
            display: block;
        }
        &__inner,
        &__img {
            height: 230px;
        }
    }
    .list-inline-bg-item__inner {
        .b-table__cell-middle {
            vertical-align: middle;
        }
    }
}

.panel-note {
    background-color: $color-barleycorn;
    padding: 38px 46px 44px;
    color: $white;
    @media #{$phone} {
        padding: 22px 30px 26px;
    }
    @media #{$tablet} {
        padding: 30px 40px 36px;
    }
    &__text {
        p {
            margin-bottom: 0;
            &+p {
                margin-top: 10px;
            }
        }
    }
}

.panel-benefits {
    margin-top: 22px;

    &__heading {
        padding-bottom: 14px;

        @media (max-width: $screen-xs-max) {
            padding-bottom: 0;
        }
    }

    &__title {
        font-size: 32px;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            font-size: 26px;
            line-height: 28px;
            text-align: left;
        }

        > span {
            width: 100%;
            font-size: 56px;
            color: $color-barleycorn;
            margin-bottom: -4px;
            display: inline-block;
            vertical-align: top;

            @media (max-width: $screen-xs-max) {
                width: auto;
                display: inline;
                font-size: inherit;
            }
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        max-width: 1080px;
        margin: 20px auto;

        @media (max-width: $screen-xs-max) {
            display: block;
        }
    }

    &__item {
        flex-basis: percentage(1 / 5);
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            display: flex;
            align-items: center;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &__media {
        @media (max-width: $screen-xs-max) {
            min-width: 70px;
        }

        > span {
            width: 64px;

            @media (max-width: $screen-xs-max) {
                font-size: 10px;
                width: 50px;
                height: 50px;
            }
        }
    }

    &__leadtext {
        margin-top: 6px;
        font-size: 14px;
        line-height: 16px;

        @media (max-width: $screen-xs-max) {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 6px;
        }
    }
}

.benefits-sentence{
    background-color: #b4975a;
    color: #fff;
    position: relative;
    margin-top: -80px;
    padding: 15px 45px;

    @media (max-width: $screen-sm-max) {
        margin-top: -16px;
    }

    @media (max-width: $screen-xs-max) {
        padding: 20px 38px;
    }

    &__row {
        display: flex;
        align-items: center;

        @media (max-width: $screen-xs-max) {
            flex-wrap: wrap;
        }
    }

    &__col-media {
        flex-basis: percentage(256 / 980);
        padding-right: 24px;

        @media (max-width: $screen-xs-max) {
            flex-basis: 100%;
            padding-bottom: 16px;
        }

        img {
            max-width: 100%;
        }
    }

    &__col-text {
        flex-basis: percentage((980 - 256) / 980);
        font-family: $font-interstate-light;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 48px;

        @media (max-width: $screen-xs-max) {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: medium none;
            flex-basis: 100%;
            padding-left: 0;
            padding-top: 14px;
        }
    }

    &__media--lg {
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

    &__media--xs {
        display: none;

        @media (max-width: $screen-xs-max) {
            display: block;
        }
    }

    &__leadtext {
        font-size: 21px;
        line-height: 1.5;

        @media (max-width: $screen-xs-max) {
            font-size: 18px;
            font-family: $font-interstate-bold;
            line-height: 24px;
        }
    }
    &__list {
        padding-left: 15px;
        line-height: 1.2;
        font-size: 14px;
        margin-bottom: 7px;
        margin-left: 4px;
    }

    &__list-item {
        margin-top: 13px;
    }
}

.panel-with-icons {
    background-color: $color-barleycorn;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 4px;

    @media (max-width: $screen-xs-max) {
        padding: 0 20px;
    }

    &__row {
        display: flex;
        justify-content: center;

        @media (max-width: $screen-xs-max) {
            flex-wrap: wrap;
        }
    }

    &__col {
        flex-basis: percentage(1 / 3);
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;

        @media (max-width: $screen-xs-max) {
            flex-basis: 100%;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__col + &__col {
        border-left: 1px solid #dadada;

        @media (max-width: $screen-xs-max) {
            border-left: medium none;
            border-top: 1px solid #dadada;
        }
    }

    &__item {
        @media (max-width: $screen-xs-max) {
            flex-basis: 100%;
            display: flex;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &__media {
        font-size: 15px;
        padding-top: 16px;

        > span {
            @media (max-width: $screen-xs-max) {
                width: 50px;
                height: 50px;
            }
        }

        @media (max-width: $screen-xs-max) {
            padding-top: 0;
            font-size: 9px;
        }
    }

    &__leadtext {
        font-size: 16px;
        line-height: 18px;
        font-family: $font-interstate-bold;
        padding-top: 30px;
        padding-bottom: 20px;

        @media (max-width: $screen-sm-max) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (max-width: $screen-xs-max) {
            padding: 0 20px;
        }
    }
}

.panel-form {
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    padding: 24px 20px 20px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;

    @media (max-width: $screen-xs-max) {
        margin-top: 20px;
    }

    .form__title {
        max-width: 560px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: $screen-xs-max) {
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.awards {
    &__title {
        max-width: 360px;
        font-size: 27px;
        line-height: 29px;
        padding-bottom: 20px;

        @media (max-width: $screen-xs-max) {
            max-width: none;
            font-size: 21px;
            line-height: 23px;
            padding-bottom: 10px;
        }

        > span {
            font-family: $font-interstate-bold;
            display: block;

            @media (max-width: $screen-xs-max) {
                display: inline;
            }
        }
    }

    &__list-item {
        margin-top: 46px;

        @media (max-width: $screen-xs-max) {
            margin-top: 35px;
        }
    }

    &__list-media {
        margin-bottom: 14px;

        img {
            max-width: 100%;
        }
    }

    &__list-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;

        @media (max-width: $screen-xs-max) {
            font-size: 16px;
            line-height: 18px;
        }
    }

    &__list-leadtext {
        font-size: 14px;
        line-height: 16px;
    }
}

.content-spoiler {
    &__content {
        padding: 5px 15px 0;

        .download {
            margin-top: 30px;
            margin-left: -15px;
            margin-right: -15px;

            @media (max-width: $screen-xs-max){
                margin: 15px 0;
            }
        }

        .card-list {
            margin-top: 34px;
            margin-left: -15px;
            margin-right: -15px;

            @media (max-width: $screen-xs-max){
                margin-left: 0;
                margin-right: 0;
            }

            &.card-list--divide {
                margin-top: 0;
            }
        }

        .article-tab {
            margin-left: -15px;
            margin-right: -15px;

            @media (max-width: $screen-xs-max){
                margin-left: 0;
                margin-right: 0;
            }
        }

        .particle-page-item {
            margin-top: 30px;
            margin-bottom: 24px;
        }
    }

    &__footer {
        border-top: 1px solid #dadada;
        padding-top: 35px;
        padding-bottom: 5px;
    }
}

.content-spoiler-handler {
    padding: 20px 0 24px;
    display: inline-block;
    vertical-align: top;

    &[aria-expanded="true"] &__target:before {
        transform: rotate(-180deg);
    }

    &__target {
        color: $color-base;
        font-size: 26px;
        line-height: 100%;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-right: 60px;

        @media (max-width: $screen-xs-max) {
            font-size: 18px;
        }

        &:before {
            content: "";
            display: block;
            @include sprite-2x($sprite-dropdown-arrow);
            right: 0;
            position: absolute;
            top: 50%;
            margin-top: -1 * (nth($sprite-dropdown-arrow, 6) / 2);
            transition: transform 0.35s ease;
        }
    }
}

@media #{$phone} {
    .section-overlay {
        background-color: $gray-light;
        padding-top: 17px;
        padding-bottom: 0;
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        .content {
            background-color: $gray-light;
            &+.content {
                margin-top: 0;
            }
        }
        .content-heading {
            padding: 10px 15px;
        }
        .content-body__heading {
            padding-left: 15px;
            padding-right: 15px;
        }
        .content-footer {
            padding: 34px 15px 26px;
            font-size: $font-size-lg
        }
        &--dark {
            .content {
                background-color: transparent;
            }
        }
    }
    .article-heading {
        padding-top: 36px;
        .tab>& {
            padding-top: 36px;
        }
    }
    .content-heading {
        padding-top: 36px;
        padding-bottom: 10px;
    }
    .content-heading-middle {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .article-title+.article-text {
        margin-top: 8px;
    }
    .page-investment,
    .section-investment {
        padding-left: 0;
        padding-right: 0;
        .article-heading {
            padding-bottom: 32px;
        }
    }
    .page-analitics {
        .article-heading {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .particle-page-heading {
        $width: 484px;
        padding-top: 24px;
        padding-bottom: 20px;
        &:before {
            background-size: ceil($width / 4);
            width: ceil($width / 4);
            height: ceil(438px / 4);
            left: 0;
        }
    }
    .particle-page-item {
        margin-top: 20px;
        &__title {
            margin-bottom: 10px;
        }
        &__content {
            padding-top: 10px;
        }
        &__list {
            li+li {
                margin-top: 10px;
            }
        }
        &.particle-page-item--overflow {
            .particle-page-item__media {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media #{$tablet} {
    .article-tab {
        &__header {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .content-md {
        padding-left: 30px;
        padding-right: 30px;
    }
    .page-investment,
    .section-investment {
        padding-left: 30px;
        padding-right: 30px;
        .article-header {
            padding-bottom: 32px;
        }
    }
    .page-analitics {
        .article-heading {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .content-heading {
        padding-top: 24px;
        padding-bottom: 12px;
    }
    .content-heading-middle {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-overlay {
        padding: 30px;
        .content {
            &+.content {
                margin-top: 30px;
            }
        }
        .content-heading {
            padding-left: 40px;
            padding-right: 40px;
        }
        .content-body {
            &__heading {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
    .particle-page-item {
        margin-top: 20px;
        &__title {
            margin-bottom: 10px;
        }
        &.particle-page-item--overflow {
            .particle-page-item__media {
                overflow: hidden;
                img {
                    margin-left: -200px;
                }
            }
        }
    }
}

@media #{$smallDescktop} {
    .particle-page {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .particle-page-item__content {
        padding-left: 10px;
        .particle-page-item--right & {
            padding-left: 0;
        }
    }
    .particle-page-item {
        &+.particle-page-item {
            margin-top: 60px;
        }
        &.particle-page-item--overflow {
            .particle-page-item__media {
                overflow: hidden;
                img {
                    margin-left: -200px;
                }
            }
        }
    }
    .section-banners {
        .list-inline-bg-item {
            height: 324px;
            &__inner,
            &__img {
                height: 324px;
            }
        }
    }
}
