.tab {
  > .article-heading {
    background-color: $gray-light;
    position: relative;

    .tab-cover {
      position: relative;
      z-index: 1;
    }
    
    .article-title {
      padding-bottom: 20px;
    }

    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: rgba($black, 0.1);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  > .article-heading_no-bg {
    background-color: transparent;
  }
}
.tab-cover {
  .dropdown-toggle,
  .dropdown-menu {
    width: 100%;
  }
}
.filter-option {
  &+ .caret {
    margin-left: 10px;
  }
}
.tab-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    border-bottom: 5px solid transparent;
    height: 78px;
    display: table;
    table-layout: fixed;
    text-align: center;
    color: $color-tabsnav;
    .tab-nav-handler {
      display: table-cell;
      vertical-align: middle;
      font-size: $font-size-tabnav;
      line-height: $font-size-h6;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    &.active,
    &:hover {
      color: $color-barleycorn;
      border-color: $color-barleycorn;
    }
  }
  &--justified {
    width: 100%;
    display: table;
    table-layout: fixed;
    align-items: center;
    .tab-nav__item {
      display: table-cell;
      width: 1%;
      height: auto;
      border: 0 none;
      text-align: center;
      .tab-nav-handler {
        border-radius: $input-border-radius;
        width: 100%;
        height: 40px;
        font-size: $font-size-lg;
        line-height: 34px;
        text-transform: uppercase;
        border: 1px solid transparent;
        display: inline-block;
        @include button-variant($gray-light, $white, $gray-light);
      }
      &.active {
        .tab-nav-handler {
          @include button-variant($white, $color-barleycorn, $color-barleycorn);
        }
      }
      &+ .tab-nav__item {
        .tab-nav-handler {
          border-left: 0 none;
        }
      }
      &:not(:first-child):not(:last-child) {
        .tab-nav-handler {
          border-radius: 0;
        }
      }
      &:first-child:not(:last-child) {
        .tab-nav-handler {
          @include border-right-radius(0);
        }
      }
      &:last-child:not(:first-child) {
        .tab-nav-handler {
          @include border-left-radius(0);
        }
      }
    }
  }
}
.tab-content {
  > .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}
@media screen and (max-width: $screen-xs-max) {
  .tab {
    .article-heading {
      .tab-cover {
        padding: 12px 0;
        .dropdown-menu {
          margin-top: -12px;
        }
      }
    }
  }
  .tab-cover {
    position: relative;
    .tab-nav__item {
      height: auto;
      border: 0 none;
      display: block;
      text-align: left;
      .tab-nav-handler {
        width: 100%;
        font-size: $font-size-lg;
        display: inline-block;
      }
    }
    &.open {
      .dropdown-menu {
        display: block;
        margin-top: 0;
        a {
          background: none;
          text-transform: none;
          color: inherit;
          padding: 0;
        }
        .tab-nav-handler {
          border: 0 none;
          line-height: $line-height-large;
          padding: 6px 12px;
        }
        .tab-nav__item {
          &.active,
          &:hover {
            a {
              color: $color-barleycorn;
            }
          }
        }
      }
    }
  }
  .tab-nav--justified {
    .tab-nav__item {
      width: 100%;
      display: block;
      .tab-nav-handler {
        display: block;
        border-radius: 0;
      }
      &.active,
      &:hover {
        .tab-nav-handler {
          background: none;
        }
      }
      &.active {
        .tab-nav-handler:hover {
          background: none;
        }
      }
    }
  }
}
@media (min-width: $screen-sm) {
  .tab-cover {
    .dropdown-toggle {
      display: none;
    }
    .dropdown-menu {
      display: block;
      position: static;
      background: none;
      border: 0 none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      a {
        background: none;
        text-transform: none;
        color: inherit;
        padding: 0;
      }
    }
  }
}
