.thumbnail {
  display: block;
  line-height: $line-height-base;
  transition: border .2s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
  > img,
  a > img {
    @include img-responsive(inline-block);
  }
  .thumbnail-img-boxshadow {
    box-shadow: 4px 2px 14px rgba(0, 0, 0, 0.33);
    border-radius: 12px;
  }
  &__media {
    font-size: $font-size-base;
    > img {
      @include img-responsive(inline-block);
    }
  }
  &__info {
    padding-top: 12px;
  }
  &-title {
    color: $color-tabsnav;
    font-size: $font-size-h6;
    line-height: $font-size-tabnav;
  }
  &-title + &-text {
    margin-top: 10px;
  }
  &-text {
    color: $color-tabsnav;
    font-size: $font-size-lg;
    line-height: $font-size-h6;
  }
  &-description {
    font-size: $font-size-leftnav;
    color: $color-tabsnav;
    margin-top: 10px;
  }
  &-inline {
    @include clearfix;
    .thumbnail__media {
      float: left;
    }
    .thumbnail__info {
      padding-top: 0;
      padding-left: 100px;
    }
  }
}
@media screen and (max-width: $screen-xs-max) {
  .thumbnail-inline {
    .thumbnail__media {
      float: none;
    }
    .thumbnail__info {
      padding-left: 0;
    }
  }
}
