.b-transfer-main {
    &.content {
        height: 600px;
        position: relative;
    }

    &__wrapper {
        background-color: #fff;
        border: 8px solid #b4975a;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__inner {
        padding: 40px;

        @media #{$phone} {
            padding: 30px;
        }
    }
}

.b-transfer {
    &__nums {
        counter-reset: count;
    }

    &__nums li {
        list-style: none;
        position: relative;
        display: inline-block;

        &:before {
            counter-increment: count;
            content:counter(count);
            font-size: 60px;
            color: #ebe3d6;
            position: absolute; 
            display: inline-block;
            text-align: center;
        }
    }

    &__num {
        font-size: 60px;
        font-weight: bold;
        color: #ebe3d6;
        display: inline-block;
        width: 40px;

        @media #{$phone} {
            font-size: 60px;
        }
    }

    &__num-item {
        margin-bottom: 40px;
    }

    &__num-text {
        display: inline-block;
        font-size: 24px;
        line-height: 29px;
        vertical-align: super;
        width: calc(100% - 40px);

        @media #{$phone} {
            font-size: 20px;
            line-height: 22px;
        }
    }

    &__num-item:nth-child(2) &__num {
        vertical-align: top;
    }

    &__num-item:nth-child(3) &__num {
        vertical-align: top;
    }

    &__num-item:nth-child(1) &__num-text {
        margin-left: -32px;
    }

    &__num-item:nth-child(2) &__num-text {
        margin-left: -30px;
        vertical-align: middle;
        margin-top: 20px;
    }

    &__num-item:nth-child(3) &__num-text {
        margin-left: -30px;
        margin-top: 20px;
    }

    &__add-pos .conclusion-text {
        padding-left: 0;
    }
    &__main .conclusion-text {
        height: auto;
    }
    
    &__available-classes {
        .conclusion-media {
            height: 300px;
        }
    
        .list-inline-block__img {
            max-height: 300px;
        }
        
        .list-inline-block {
            margin-top: 36px;
        }

        .list-inline-block__content {
            height: 300px;
            color: #000;
            background-color: #fff;
        }
    }
}

.conclusion-item--right-full {
    // @media #{$phone} {
    //     .b-transfer.conclusion-media img {
    //         margin-left: -15%;
    //     }
    // }
    
    &.b-transfer__how-get .conclusion-media {
        right: 50%;
    }
}

.conclusion-item--left-full.b-transfer__av-class .conclusion-media {
    left: 50%;
    
}
.conclusion-item + .conclusion-item.b-transfer__av-class {
    margin-top: 0;
}

.b-transfer__av-class .article-title {
    margin-bottom: 30px;
}
.conclusion-item + .conclusion-item.b-transfer__how-get {
    margin-top: 0;
}

@media (min-width: 768px) {
    .b-transfer.conclusion-media {
        height: 600px;
    }
    .conclusion-item--left-full.b-transfer__av-class .conclusion-media {
        
        height: 490px;
    }
    .b-transfer__av-class .conclusion-text {
        height: 490px;
    }
    .b-transfer__how-get .conclusion-text {
       height: 600px;

    }
    .conclusion-item--right-full .b-transfer.conclusion-media img {
        margin-left: 0;
    }
}