extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Программа Mastercard Airport Experiences от LoungeKey предоставляет доступ в бизнес залы аэропортов (Шереметьево, Домодедово, Пулково и др.), а также эксклюзивные предложения от ресторанов, магазинов, спа-центров и Duty Free.')
block title
	title Доступ в бизнес залы аэропортов: Шереметьево, Домодедово, Пулково и др. по программе  Mastercard Airport Experiences от LoungeKey
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		.article-content.no-print Страница в разработке