extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Программа Mastercard Airport Experiences от LoungeKey предоставляет доступ в бизнес залы аэропортов (Шереметьево, Домодедово, Пулково и др.), а также эксклюзивные предложения от ресторанов, магазинов, спа-центров и Duty Free.')
block title
	title Доступ в бизнес залы аэропортов: Шереметьево, Домодедово, Пулково и др. по программе  Mastercard Airport Experiences от LoungeKey
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		
		.article-content.no-print
			
			#transfer.conclusion.b-transfer
				
				#section-privileges-boingo.conclusion-item.conclusion-item--right-full.section-bggray-light.b-transfer__how-get
					.container
						.row
							.conclusion-media.conclusion-media_img-center.conclusion-media_logo-boingo.b-transfer(style="background-image: url('../../content/travel/img-boingo.jpg'")
								img(src="../../content/travel/img-boingo.jpg")
							.col-xs-12.col-sm-6.col-md-6.col-sm-offset-6.col-md-offset-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Boingo Wi-Fi&nbsp;&mdash; безлимитный интернет по&nbsp;всему миру*
													.article-text
														p Компания Boingo предоставляет доступ<sup>*</sup> более чем к&nbsp;миллиону точек Wi-Fi по&nbsp;всему миру&nbsp;&mdash; в&nbsp;отелях, ресторанах, торговых центрах и&nbsp;даже в&nbsp;самолетах.
														p Вы&nbsp;можете подключить до&nbsp;четырех устройств одновременно. Для клиентов Citigold это абсолютно бесплатно (только для держателей дебетовых карт Citigold World Elite Mastercard<sup class="reg">&reg;</sup>).
														p
															a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Оформить карту
				
				.conclusion-item
					.container
						.content.content-md
							#table-collapse-1.table-collapse__body
								.table-collapse-wrap__header
									a.table-collapse-handler.no-border(data-toggle="collapse", data-parent="#table-collapse-1", href="#table-collapse-item_2")
										.table-collapse-wrap
											.b-table
												.b-table__cell-middle
													.table-collapse__target
														span Как воспользоваться услугой
								#table-collapse-item_2.collapse
									.table-collapse-wrap__body
										.article-subtitle
										.article-text
											.list-increment.list-increment--flex
												.list-increment__item
													p.article-text Создайте учетную запись на&nbsp;сайте <span class="link js-link-target" data-target="http://mastercard.boingo.com">http://mastercard.boingo.com</span> и&nbsp;зарегистрируйте в&nbsp;ней Вашу дебетовую карту Citigold Mastercard.
												.list-increment__item
													p.article-text Для выхода в&nbsp;интернет со&nbsp;смартфона или планшета&nbsp;&mdash; скачайте мобильное приложение Boingo Wi-Finder.
													.btn-panel.btn-panel_no-padding
														a.btn.btn--app(href="https://itunes.apple.com/app/apple-store/id297596317?mt=8", target="_blank", style="background-image: url('../../content/special/icon-ios.png')")
														a.btn.btn--app(href="https://market.android.com/details?id=com.boingo.boingowifi", target="_blank",  style="background-image: url('../../content/special/icon-gplay.png')")
												.list-increment__item
													p.article-text Авторизуйтесь в&nbsp;приложении, используя логин и&nbsp;пароль, которые&nbsp;Вы создали при регистрации на&nbsp;сайте.
												.list-increment__item
													p.article-text Найдите с&nbsp;помощью приложения ближайшую к&nbsp;Вам сеть и&nbsp;подключитесь к&nbsp;ней.
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		p Для выхода в&nbsp;интернет с&nbsp;ноутбука авторизуйтесь на&nbsp;сайте <span class="link js-link-target" data-target="http://mastercard.boingo.com/">mastercard.boingo.com</span>, и&nbsp;сайт покажет список доступных сетей Wi-Fi.
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg(style="background-image: url('../../content/downloads-media/img-1-lg.jpg');")
							.disclamer
								p
									sup *
									| Программа Boingo Wi-Fi предоставляется Boingo Wireless, Inc.


		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Юридическая информация
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								
								li
									p * Услуги предоставляются поставщиками услуг по&nbsp;их&nbsp;усмотрению и&nbsp;в&nbsp;предусмотренном ими порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
