extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Программа Mastercard Airport Experiences от LoungeKey предоставляет доступ в бизнес залы аэропортов (Шереметьево, Домодедово, Пулково и др.), а также эксклюзивные предложения от ресторанов, магазинов, спа-центров и Duty Free.')
block title
	title Доступ в бизнес залы аэропортов: Шереметьево, Домодедово, Пулково и др. по программе  Mastercard Airport Experiences от LoungeKey
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		.article-content.no-print
			#transfer.conclusion.b-transfer
				
				#section-privileges-concierge.conclusion-item.conclusion-item--right-full
					.container
						.row
							.conclusion-media
								img(src="../../content/travel/conclusion-3.jpg")
							.col-xs-12.col-sm-7.col-md-8.col-sm-offset-5.col-md-offset-4
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Услуга &laquo;Консьерж&raquo;
													.article-subtitle Услуга доступна круглосуточно, 7&nbsp;дней в&nbsp;неделю<small><sup>*</sup></small>.
													.article-text
														p По&nbsp;Вашему запросу служба Консьерж поможет с&nbsp;бронированием гостиниц и&nbsp;поиском авиабилетов по&nbsp;всему миру, забронирует столик в&nbsp;ресторане, поможет с&nbsp;выбором подарка, найдет билеты самые интересные и&nbsp;значимые мероприятия, предоставит информацию о&nbsp;магазинах и&nbsp;объектах инфраструктуры и&nbsp;многое другое.
												.conclusion-text__body
													p.content-text-6 Чтобы связаться со&nbsp;специалистами &laquo;Консьерж&raquo; позвоните в&nbsp;службу Citigold CitiPhone.


		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Юридическая информация
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li
									p * Привилегия &laquo;Консьерж&raquo; предоставляется поставщиком услуг по&nbsp;его усмотрению и&nbsp;в&nbsp;предусмотренном им&nbsp;порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этой компании, в&nbsp;частности касающимся предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
								