extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Членство Priority Pass предоставляет доступ в бизнес залы аэропортов Шереметьево, Домодедово, Пулково и другие.')
block title
	title Доступ в бизнес залы аэропортов: Шереметьево, Домодедово, Пулково и др. по программе  Mastercard Airport Experiences от LoungeKey
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		#business-lounges.section-cards
			.article-content
				.container
					.content.content-md
						.content-heading.content-heading-middle
							.h2.article-title.text-uppercase Бизнес-залы крупнейших международных аэропортов<small><sup>*</sup></small>
			.conclusion.no-padding
				.conclusion-item.conclusion-item--right-full.section-bggray-light.b-transfer__how-get
					.container
						.row
							.conclusion-media.conclusion-media_img-center.conclusion-media_logo-lounge.b-transfer(style="background-image: url('../../content/travel/img-loungekey.jpg'); background-position: 80% 0;")
								img(src="../../content/travel/img-loungekey.jpg")
							.col-xs-12.col-sm-6.col-md-6.col-sm-offset-6.col-md-offset-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Международная программа доступа в&nbsp;бизнес-залы аэропортов Mastercard Airport Experiences от&nbsp;LoungeKey<small><sup>*</sup></small>
													.article-text
														p Программа предоставляет доступ в&nbsp;бизнес-залы аэропортов более чем в&nbsp;500 городах мира (<span class="link js-link-target" data-target="https://airport.mastercard.com">полный список</span>), а&nbsp;также эксклюзивные предложения от&nbsp;ресторанов, магазинов, спа-центров и&nbsp;Duty Free.
														p
															a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Оформить карту
				.conclusion-item
					.container
						.content.content-md
							#table-collapse.table-collapse__body
								.table-collapse-wrap__header
									a.table-collapse-handler.no-border(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_1")
										.table-collapse-wrap
											.b-table
												.b-table__cell-middle
													.table-collapse__target
														span Как воспользоваться
								#table-collapse-item_1.collapse
									.table-collapse-wrap__body
										.article-text
											p Для посещения бизнес-зала достаточно предъявить действующую дебетовую карту Citigold World Elite Mastercard<sup class="reg">&reg;</sup> и&nbsp;сообщить сотруднику бизнес-зала об&nbsp;участии в&nbsp;программе LoungeKey.
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		p При посещении бизнес-зала для проверки карты временно блокируется сумма, эквивалентная 1&nbsp;USD. После завершения проверки данная сумма будет разблокирована (как правило, в&nbsp;течение 10 рабочих дней).
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg
										
										.article-text
											p Вы&nbsp;можете пригласить с&nbsp;собой неограниченное количество гостей при каждом посещении бизнес-зала. Вы&nbsp;и&nbsp;два Ваших гостя сможете пройти в&nbsp;зал бесплатно (при условии поддержания минимального баланса, предусмотренного тарифами на&nbsp;обслуживание АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;), за&nbsp;проход третьего и&nbsp;последующих гостей с&nbsp;одного из&nbsp;Ваших счетов будет списана сумма, эквивалентная 30&nbsp;USD за&nbsp;каждого гостя.
											p Если среднемесячный баланс за&nbsp;месяц, предшествующий месяцу использования привилегии, ниже минимального порога, установленного тарифами, с&nbsp;Вашего счета будет списана плата за&nbsp;проход в&nbsp;бизнес-зал в&nbsp;размере суммы, эквивалентной 30&nbsp;USD за&nbsp;каждый проход.
				.conclusion-item.conclusion-item--left-full.section-bggray-light
					.container
						.row
							.conclusion-media
								img(src="../../content/travel/img-mastercardairport.jpg")
							.col-xs-12.col-sm-7.col-md-8
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.content-title-1.color-2 Мобильное приложение
													.article-text
														p Чтобы в&nbsp;полном объеме оценить преимущества программы и&nbsp;воспользоваться специальными предложениями и&nbsp;скидками от&nbsp;ресторанов, магазинов, салонов красоты и&nbsp;магазинов Duty Free, рекомендуем Вам скачать мобильное приложение Mastercard Airport Experiences.
												.conclusion-text__body
													.content-text-5.text-uppercase Скачать приложение Mastercard Airport Experiences
													.btn-panel
														a.btn.btn--app(href="https://itunes.apple.com/app/mastercard-airport-experiences/id1218321651", target="_blank", style="background-image: url('../../content/special/icon-ios.png')")
														a.btn.btn--app(href="https://play.google.com/store/apps/details?id=com.loungekey.mastercard.android", target="_blank",  style="background-image: url('../../content/special/icon-gplay.png')")
			.article-tab.tab
				.article-heading.article-heading_no-bg.padding-top-0
					.container
						.tab-cover.dropdown
							.custom-select.dropdown-toggle(data-toggle="dropdown")
								span.filter-option Доступ в залы
								span.caret
							.dropdown-menu
								ul.tab-nav.row.no-margin
									li.tab-nav__item.col-xs-12.col-sm-6.col-md-6.no-padding
										a.tab-nav-handler(href="#tab-1", data-text="Доступ в залы") Доступ в&nbsp;залы
									li.tab-nav__item.col-xs-12.col-sm-6.col-md-6.no-padding
										a.tab-nav-handler(href="#tab-2", data-text="Скидки и предложения") Скидки и&nbsp;предложения
				.article-content.section-bggray
					.tab-content
						.tab-content__item.tab-pane.fade#tab-1
							.container
								.content.content-md
									.content-heading
										.remuneration__list
											.remuneration__item
												.remuneration-slider.remuneration-slider_steps.remuneration-slider_steps-col-4
													-var remunerationItems = [{"title": "Зарегистрируйтесь в&nbsp;приложении с&nbsp;использованием Вашей карты Citigold Mastercard.", "icons": "user"}, {"title": "Найдите удобный зал в&nbsp;аэропорту.", "icons": "search-big"}, {"title": "На&nbsp;входе в&nbsp;зал покажите QR-код для подтверждения участия в&nbsp;программе.", "icons": "mobile-qr"}, {"title": "Приятного Вам отдыха!", "icons": "chair"}]
													each value, key in remunerationItems
														.remuneration-slider__item
															.circle
																.circle__inner
																	.b-table
																		.b-table__cell-middle
																			.remuneration-slider__icon-wrap
																				span(class="svg-icon-#{value.icons}")
															.remuneration-slider__title!= value.title
						.tab-content__item.tab-pane.fade#tab-2
							.container
								.content.content-md
									.content-heading
										.remuneration__list
											.remuneration__item
												.remuneration-slider.remuneration-slider_steps.remuneration-slider_steps-col-5
													-var remunerationItems = [{"title": "Зарегистрируйтесь в&nbsp;приложении с&nbsp;использованием Вашей карты Citigold Mastercard.", "icons": "user"}, {"title": "Найдите перечень скидок и&nbsp;предложений, доступных в&nbsp;конкретном аэропорту.", "icons": "search-big"}, {"title": "Выберите предложение, приложение сгенерирует ваучер c&nbsp;QR-кодом.", "icons": "qr-code"}, {"title": "Предъявите QR-код в&nbsp;торговой точке для получения скидки или предложения.", "icons": "mobile-qr"}, {"title": "Оплатите услуги зарегистрированной в&nbsp;приложении картой.", "icons": "pay-card"}]
													each value, key in remunerationItems
														.remuneration-slider__item
															.circle
																.circle__inner
																	.b-table
																		.b-table__cell-middle
																			.remuneration-slider__icon-wrap
																				span(class="svg-icon-#{value.icons}")
															.remuneration-slider__title!= value.title
			//- .article-content.no-print
			//- 	.container
			//- 		.content.content-md
			//- 			.content-body
			//- 				.disclamer.disclamer--md
			//- 					p <b>При отсутствии</b> Карты привилегированного клиента Citigold, Вы&nbsp;можете создать заявку на&nbsp;посещение бизнес-зала (из&nbsp;числа доступных по&nbsp;такой карте), позвонив в&nbsp;службу Citigold CitiPhone не&nbsp;менее чем за&nbsp;сутки до&nbsp;планируемого полета. В&nbsp;этом случае при посещении бизнес-зала Вам будет необходимо предъявить дебетовую карту Citigold.

		
			

		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Юридическая информация
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li
									p * Десять проходов в бизнес-залы аэропортов для Клиентов Citigold и неограниченное количество проходов для Клиентов Citigold Private Client в течение календарного месяца. Полный список городов, адреса и месторасположение бизнес-залов смотрите на сайте airport.mastercard.com или в мобильном приложении Mastercard Airport Experiences.
									p Клиент заранее дает Ситибанку акцепт на списание с любого из его счетов в Ситибанке суммы в рублях, эквивалентной 30 долларам США, в адрес получателя средств: Mastercard Europe SA (198A, Chaussee de Tervuren, 1410 Waterloo, Belgium), в случае, если Клиент воспользовался привилегией «Бесплатный проход в бизнес-залы аэропортов », но при этом не поддерживал Среднемесячный баланс на необходимом уровне в календарном месяце, предшествующем месяцу использования привилегии.