extends ./includes/head.jade
block description
	meta(name='description', content='Участвуйте в программе "Пригласите Ваших друзей" и получите денежное вознаграждение на текущий рублевый счет в Citibank.')
block title
	title Банковская партнерская программа Citigold | Специальные акции
block analitics
	-var connonical_page = 'specials'

extends ./includes/layout-content.jade
block link
	-var page="special";
	-var activePage="special";
	-var activePageChild="special";
block scripts
	script(type="text/javascript" src="../../f/js/remuneration.js")
	script.
		var getParams = location.search.substr(1).split('&'),
				id = null,
				elib_vote = null;

		for (var i = 0; i < getParams.length; i++) {
			if (getParams[i].indexOf('id') !== -1) { id = getParams[i].substr(3); }
				if (getParams[i].indexOf('elib_vote') !== -1) { elib_vote = getParams[i].substr(10); }
		}

		if (elib_vote && id) {
			if (Tools.getCookie('elibform') === 'passed') {
				Popup.shownModalFixed('#popup-elib');
				} else {
				$('#customer_id').val(id);
				$('#elib-vote-1').val(elib_vote);

				var data = {elib: $('#elib-vote-1').val(), sourcecode: $('#sourcecode_elib').val(), customer_id: $('#customer_id').val()};

				$.post($('#elib').attr('action'), data, function(json){}, "json");

				Tools.setCookie('elibform', 'passed');
				Popup.shownModalFixed('#popup-elib');
				}
		}


block content
	mixin thumbsVertical(data)
		each value in data
			.b-table
				.b-table__cell-top
					.thumbnail.box
						.thumbnail__media.box-img
							span(class="svg-icon-" + value.icon)
						.thumbnail__info.box-content
							if(value.title)
								.thumbnail-title!= value.title
							if(value.text)
								.thumbnail-text!= value.text
							if(value.description)
								.thumbnail-description!= value.description
	.article-page
		.article-content
			.container
				.content-heading-middle
					h1.h2.article-title.text-uppercase.text-center.color-2 Специальные предложения
		.article-content
			mixin download_item_sm(_url, _src, _title, _text, _size, _class)
				a.download-item(href=_url, target="_blank", class=_class)
					.b-table
						.b-table__row
							.b-table__cell.download-item__content
								.download-item__text
									p !{_title}
									if(_text != "")
										p !{_text}
							.b-table__cell.download-item__hover
								.download-item-target
									.download-item-target__link
										span Скачать PDF (#{_size} Мб)
										i.icon--download
							.b-table__cell.download-item__bg(style="background-image: url('" + _src + "');")
			-var frame_tab = 'tab_1';
			include ./includes/frame-content
			.content.content-md
				.article-content
					.content-heading-middle
						.container-lg.text-center
							p.article-text У&nbsp;каждого&nbsp;&mdash; свой круг доверия. Круг тех, в&nbsp;чьих советах мы&nbsp;не&nbsp;сомневаемся, тех, к&nbsp;кому прислушиваемся. Ситибанк доверяет Вам и&nbsp;Вашему выбору. Пригласите друзей стать клиентами Citigold&nbsp;&mdash; мы&nbsp;отблагодарим Вас щедрым вознаграждением.
							.hr
							.h2.article-title.color-1 Вознаграждение для&nbsp;Вас
							p.article-text Мы&nbsp;не&nbsp;устанавливаем ограничений. Вы&nbsp;можете получить и&nbsp;пять, и&nbsp;десять вознаграждений&nbsp;&mdash; зависит от&nbsp;количества друзей, которые воспользуются Вашей рекомендацией.
						.container-lg
							.remuneration
								.remuneration__nav
									.remuneration__nav-item
										input#remuneration_control.ranger(type="text" value="0")
									.remuneration__nav-item
										.remuneration__list
											.remuneration__grouptext
												.remuneration__grouptext-title 20&nbsp;000&nbsp;<span>руб.<small><sup>*</sup></small></span>
												.remuneration__grouptext-text *Мы&nbsp;начислим Вам за&nbsp;первого друга.
											.remuneration__grouptext
												.remuneration__grouptext-title 50&nbsp;000&nbsp;<span>руб.<small><sup>*</sup></small></span>
												.remuneration__grouptext-text *Мы&nbsp;начислим Вам за&nbsp;второго друга.
											.remuneration__grouptext
												.remuneration__grouptext-title 75&nbsp;000&nbsp;<span>руб.<small><sup>*</sup></small></span>
												.remuneration__grouptext-text *Мы&nbsp;начислим Вам за&nbsp;третьего друга.
											.remuneration__grouptext
												.remuneration__grouptext-title <span>по&nbsp;</span>30&nbsp;000&nbsp;<span>руб.<small><sup>*</sup></small></span>
												.remuneration__grouptext-text *Мы&nbsp;начислим Вам за&nbsp;каждого последующего друга.

			.content
				.panel-price
					.panel-price__content.text-center
						.panel-price__text.text-uppercase Дополнительное вознаграждение
						.panel-price__title 200 000 <span>руб.<small><sup>*</sup></small></span>
						.panel-price__leadtext *Мы&nbsp;начислим за&nbsp;седьмого друга, который станет клиентом Citigold по&nbsp;Вашей рекомендации.
			.content.content-md
				//- .offers-item.offers-item--left
				//- 	.container
				//- 		.row
				//- 			.offers-media
				//- 				img(src="../../content/special/img-md-1.jpg")
				//- 			.col-xs-12.col-sm-7.col-md-6
				//- 				.content.content-md
				//- 					.offers-text
				//- 						.b-table
				//- 							.b-table__cell-middle
				//- 								.offers-text__container
				//- 									.offers-text__icon
				//- 										span.svg-icon-building
				//- 									.offers-text__heading
				//- 										.offers-text__logo
				//- 											img(src="../../content/special/logo-ritz.jpg")
				//- 									.offers-text__content
				//- 										.offers-title.content-title-3 Выходные, SPA-процедура или чайная церемония в&nbsp;отеле &laquo;Ритц-Карлтон&raquo;
				//- 										.article-text
				//- 											p Уникальная возможность скрыться от&nbsp;суеты в&nbsp;самом сердце Москвы.
				//- 									.offers-text__footer
				//- 										span.link.js-link-target(data-target="http://www.ritzcarlton.com/Moscow") www.ritzcarlton.com/Moscow
				//- .offers-item.offers-item--right
				//- 	.container
				//- 		.row
				//- 			.offers-media
				//- 				img(src="../../content/special/img-md-2.jpg")
				//- 			.col-xs-12.col-sm-7.col-md-6.col-sm-offset-5.col-md-offset-6
				//- 				.content.content-md
				//- 					.offers-text
				//- 						.b-table
				//- 							.b-table__cell-middle
				//- 								.offers-text__container
				//- 									.offers-text__icon
				//- 										span.svg-icon-costume
				//- 									.offers-text__heading
				//- 										.offers-text__logo
				//- 											img(src="../../content/special/logo-icon.jpg")
				//- 									.offers-text__content
				//- 										.offers-title.content-title-3 Индивидуальный пошив сорочки или костюма в&nbsp;ателье Icon Suit
				//- 										.article-text
				//- 											p Вручную. По&nbsp;меркам. Из&nbsp;элитных тканей.
				//- 									.offers-text__footer
				//- 										span.link.js-link-target(data-target="http://www.iconsuit.com") www.iconsuit.com
				//- .offers-item.offers-item--left
				//- 	.container
				//- 		.row
				//- 			.offers-media
				//- 				img(src="../../content/special/img-md-3.jpg")
				//- 			.col-xs-12.col-sm-7.col-md-6
				//- 				.content.content-md
				//- 					.offers-text
				//- 						.b-table
				//- 							.b-table__cell-middle
				//- 								.offers-text__container
				//- 									.offers-text__icon
				//- 										span.svg-icon-theater-tickets
				//- 									.offers-text__heading
				//- 										.offers-text__logo
				//- 											img(src="../../content/special/logo-aspire.jpg")
				//- 									.offers-text__content
				//- 										.offers-title.content-title-3 Билеты в&nbsp;театр, на&nbsp;концерт или спортивное мероприятие
				//- 										.article-text
				//- 											p Мы&nbsp;подберем для Вас лучшие места и&nbsp;поможем выбрать событие, которое будет интересно и&nbsp;идеально впишется в&nbsp;Ваш плотный график.
				//- 									.offers-text__footer
				//- 										span.link.js-link-target(data-target="http://www.aspirelifestyles.com") www.aspirelifestyles.com
				//- .offers-item.offers-item--right
				//- 	.container
				//- 		.row
				//- 			.offers-media
				//- 				img(src="../../content/special/img-md-4.jpg")
				//- 			.col-xs-12.col-sm-7.col-md-6.col-sm-offset-5.col-md-offset-6
				//- 				.content.content-md
				//- 					.offers-text
				//- 						.b-table
				//- 							.b-table__cell-middle
				//- 								.offers-text__container
				//- 									.offers-text__icon
				//- 										span.svg-icon-money
				//- 									.offers-text__content
				//- 										.offers-title.content-title-3 Вы&nbsp;также можете выбрать денежное вознаграждение,
				//- 										.article-text
				//- 											p Оно будет перечислено на&nbsp;Ваш счет.

				.content.content-md
					.content-heading
						.container-lg
							.h2.article-title.text-center.color-1 Как это работает
							-var steps = [{"title": "Вы&nbsp;рекомендуете друзьям пакет банковского обслуживания Citigold.", "info": "Для этого достаточно заполнить форму на&nbsp;сайте."}, {"title": "Ваш друг открывает счет в&nbsp;Ситибанке", "info": "и&nbsp;поддерживает среднемесячный остаток** от&nbsp;6&nbsp;млн рублей (или эквивалент в&nbsp;валюте)."}, {"title": "Мы&nbsp;перечисляем денежное вознаграждение на&nbsp;Ваш счет."}]
							.steps.steps--no-markers
								each value, key in steps
									.steps__item
										.steps__heading
											.circle.circle--bg
												.circle__inner
													.b-table
														.b-table__cell-middle
															.circle__title
																span #{key + 1}
										.steps__content
											.steps__title!= value.title
											.steps__text!= value.info
				
				.container
					.content.content-md
						.disclamer
							p * суммы до налогооблажения
							p ** Учитывается среднемесячный баланс на&nbsp;второй месяц после того, как друг стал клиентом Ситибанка
							ul.list-unstyled
								li
									p Организатор акции&nbsp;&mdash; АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
									p Акция проводится с&nbsp;1&nbsp;июня 2018 года по&nbsp;26&nbsp;августа 2019 года (с&nbsp;учетом срока выдачи призов). Стать участником Акции можно в&nbsp;период с&nbsp;1&nbsp;июня 2018 года по&nbsp;31&nbsp;мая 2019&nbsp;года. Информация об&nbsp;организаторе и&nbsp;условиях Акции, количестве призов, сроках и&nbsp;порядке их&nbsp;получения размещена на&nbsp;сайте <a class="link" href="https://www.citigold.ru">www.citigold.ru</a>. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;
							//- p Рассмотрение заявления на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold производится в&nbsp;предусмотренном Ситибанком порядке. Ознакомьтесь с&nbsp;условиями <a class="link" href="https://www.citibank.ru/russia/citigold/pdf/privacy-gold_current.pdf" target="_blank">Договора</a> и&nbsp;<a class="link" href="https://www.citibank.ru/russia/citigold/pdf/cg_tariffs_current.pdf" target="_blank">Тарифами</a>.
