extends ./includes/head.jade
block description
	meta(name='description', content='Участвуйте в программе "Пригласите Ваших друзей" и получите денежное вознаграждение на текущий рублевый счет в Citibank.')
block title
	title Банковская партнерская программа Citigold | Специальные акции
block analitics
	-var connonical_page = 'specials'

extends ./includes/layout-content.jade
block link
	-var page="special";
	-var activePage="special";
	-var activePageChild="special";
block scripts
	script(type="text/javascript" src="../../f/js/remuneration.js")
	script.
		var getParams = location.search.substr(1).split('&'),
				id = null,
				elib_vote = null;

		for (var i = 0; i < getParams.length; i++) {
			if (getParams[i].indexOf('id') !== -1) { id = getParams[i].substr(3); }
				if (getParams[i].indexOf('elib_vote') !== -1) { elib_vote = getParams[i].substr(10); }
		}

		if (elib_vote && id) {
			if (Tools.getCookie('elibform') === 'passed') {
				Popup.shownModalFixed('#popup-elib');
				} else {
				$('#customer_id').val(id);
				$('#elib-vote-1').val(elib_vote);

				var data = {elib: $('#elib-vote-1').val(), sourcecode: $('#sourcecode_elib').val(), customer_id: $('#customer_id').val()};

				$.post($('#elib').attr('action'), data, function(json){}, "json");

				Tools.setCookie('elibform', 'passed');
				Popup.shownModalFixed('#popup-elib');
				}
		}


block content

	.article-page

		.article-content
			
			.content.content-md
				
				.friendly-subscribe
					.friendly-subscribe__header
						.friendly-subscribe__header-inner
							.friendly-subscribe__header-title(style="background-image: url('../../content/special/form-title.png") Итак, Кого выбираете&nbsp;Вы?
					.friendly-subscribe__content
						.content.content-md
							.container-lg
								.friendly-subscribe__form-wrap
									.friendly-subscribe__form-title Если Вас заинтересовало данное предложение, оставьте Вашу рекомендацию.
									.row
										.col-xs-12.col-sm-12.col-md-10.col-lg-8.col-md-offset-1.col-lg-offset-2
											.friendly-subscribe__form
												form#cgmgm.form-horizontal(enctype='multipart/form-data', name='cgmgm', autocomplete='off', action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_mgm/russian_new/")
													.row.form-fieldset
														.col-xs-12.col-sm-12.col-md-12
															.form-fieldset__title Ваша контактная информация
														.col-xs-12.col-sm-6.col-md-6
															.form-group
																.col-xs-12.col-sm-12.col-md-12
																	input#fam.form-control.js-requere(type='text', value='', tabindex='1', maxlength='150', name='name', placeholder='Фамилия, имя, отчество*')

														.col-xs-12.col-sm-6.col-md-6
															.form-group
																.col-xs-12.col-sm-12.col-md-12
																	input#phonenum.form-control.js-requere(type='text', value='', tabindex='2', maxlength='20', name='phonenum10', placeholder='Контактный телефон*')
																	//- input#card_number.form-control.js-requere(type='text', value='', tabindex='2', maxlength='20', name='card_number', placeholder='Номер банковской карты*')
													.row.form-fieldset
														.col-xs-12.col-sm-12.col-md-12
															.form-fieldset__title Контактная информация моего друга
														.col-xs-12.col-sm-6.col-md-6
															.form-group
																.col-xs-12.col-sm-12.col-md-12
																	input#fam_rec.form-control.js-requere(type='text', value='', tabindex='3', maxlength='150', name='nameRec', placeholder='Фамилия, имя, отчество*')

														.col-xs-12.col-sm-6.col-md-6
															.form-group
																.col-xs-12.col-sm-12.col-md-12
																	input#phonenum_rec.form-control.js-requere(type='text', value='', tabindex='4', maxlength='20', name='phonenum11', placeholder='Контактный телефон*')
													.row
														.col-xs-12.col-sm-12.col-md-12
															.form-group
																.col-xs-12.col-sm-12.col-md-12
																	.checkbox
																		input.js-requere#agree_rec_1(type="checkbox", name="agree_1", value="0")
																		label(for="agree_rec_1", tabindex="7") 
																			span.requere Я&nbsp;ознакомился с&nbsp;условиями <a href="https://www.citibank.ru/russia/citigold/content/pdf/pravila-provedeniya-akcii-priglasite-vashih-druzey.pdf" target="_blank" class="link color-0">акции</a>.

																.col-xs-12.col-sm-12.col-md-12
																	.checkbox
																		input#agree_rec_2.js-requere(type="checkbox", name="agree_2", value="0")
																		label(for="agree_rec_2", tabindex="8")
																			span.requere Я&nbsp;подтверждаю, что рекомендуемое мной лицо предоставило разрешение на&nbsp;передачу своих персональных данных АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.

													.friendly-subscribe__form-btn-group
														.friendly-subscribe__form-btn
															input#IEWAcategory(name="IEWAcategory", type="hidden", value="Citigold Application Form")
															input#sourcecode_rec(type="hidden", name="sourcecode", value="EMPTY***")
															//- input#PageName.success(type="hidden", value="citi_gold")
															#submit-rec.btn.btn--lg.disabled(style="background-image: url('../../content/special/btn-anim-1.png')" tabindex="9") Рекомендовать друга
															.btn-mask(style="background-image: url('../../content/special/btn-anim-2.gif')")
