extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Программа Mastercard Airport Experiences от LoungeKey предоставляет доступ в бизнес залы аэропортов (Шереметьево, Домодедово, Пулково и др.), а также эксклюзивные предложения от ресторанов, магазинов, спа-центров и Duty Free.')
block title
	title Доступ в бизнес залы аэропортов: Шереметьево, Домодедово, Пулково и др. по программе  Mastercard Airport Experiences от LoungeKey
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		.article-content.no-print
			#transfer.conclusion.b-transfer
				.conclusion-item.conclusion-item--left-full.section-bggray-light
					.container
						.row
							.col-xs-12.col-sm-12.col-md-12
								.content.content-md.b-transfer__main
									.conclusion-text
										.conclusion-text__heading
											.h2.article-title ПРЕМИАЛЬНЫЙ ТРАНСФЕР В&nbsp;АЭРОПОРТ
											.article-text
												p Клиентам Citigold Ситибанк бесплатно предоставляет 2 трансфера, а для клиентов Citigold Private Client – 4 трансфера, в (из) аэропорт(а) в течение календарного года<small><sup>*</sup></small>.
												p Ваши комфорт и безопасность мы доверили сервису личных водителей <b>Wheely</b>. К Вашим услугам новые автомобили представительского и бизнес-класса без опознавательных знаков  такси, а также профессиональные водители в деловых костюмах.
												p Вы можете вызвать автомобиль в Москве, Санкт-Петербурге, Екатеринбурге, Краснодаре, Перми, Казани, Сочи и Лондоне.
				.conclusion-item.conclusion-item--right-full.b-transfer__how-get
					.container
						.row
							.b-transfer.conclusion-media
								img(src="../../content/travel/img-taxi-1.jpg")
							.col-xs-12.col-sm-6.col-md-6.col-sm-offset-6.col-md-offset-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Как воспользоваться
													.content-text-5.b-transfer__nums
														.b-transfer__num-item
															span.b-transfer__num 1
															.b-transfer__num-text Установите <span data-target="https://wheely.com" class="link js-link-target">приложение Wheely</span>.
														.b-transfer__num-item
															span.b-transfer__num 2
															.b-transfer__num-text Добавьте дебетовую карту Citigold или CPC как основной способ оплаты, и 2 бесплатных трансфера для клиентов Citigold или 4 бесплатных трансфера для клиентов CPC начисляются автоматически.
														.b-transfer__num-item
															span.b-transfer__num 3
															.b-transfer__num-text Вызовите автомобиль в&nbsp;приложении Wheely.
				
				.conclusion-item.conclusion-item--left-full.section-bggray-light.b-transfer__av-class
					.container
						.row
							.b-transfer.conclusion-media
								img(src="../../content/travel/img-taxi-3.jpg")
							.col-xs-12.col-sm-6.col-md-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Доступные классы обслуживания
													p.h5 Для клиентов Citigold
													p.content-text-5 Бизнес, Детский, Плюс
													p.h5 Для клиентов Citigold Private Client
													p.content-text-5 Бизнес, Детский, Плюс, Luxe,<br />VIP (за исключением Лондона).
				
				.conclusion-item.conclusion-item--right-full.b-transfer__add-pos
					.container
						.row
							.col-xs-12.col-sm-12.col-md-12
								.content.content-md
									.conclusion-text
										.conclusion-text__heading
											.h2.article-title Возможные дополнительные расходы
											.article-text
												p Услуга доступна клиентам Citigold и держателям дополнительных карт к их счетам. Услуга предоставляется бесплатно при условии поддержания минимального среднемесячного баланса<small><sup>**</sup></small>. Если среднемесячный баланс за месяц, предшествующий месяцу использования привилегии, ниже минимального порога, установленного Тарифами, с Вашего счета будет списана плата за поездку в размере тарифа Wheely.
												p Дополнительная плата также может быть списана с Вашей карты, добавленной в приложении Wheely, согласно тарифам Wheely вне зависимости от поддержания баланса в Ситибанке в следующих случаях:
												ul.list-style-dot
													li превышение времени бесплатного ожидания (30 минут);
													li встреча с табличкой в аэропорту (для этого укажите в комментарии к заказу номер рейса);
													li поездка за пределы черты города (условные границы города обозначены на <span data-target="https://wheely.com" class="link js-link-target">сайте Wheely</span>);
													li проезд по платным дорогам.


		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Юридическая информация
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li
									p * Под трансфером понимается поездка в (из) аэропорт из (в) города без заезда по третьим адресам. Услуга предоставляется клиентам Citigold и держателям дополнительных карт к их счетам. Клиент заранее дает Ситибанку акцепт на списание с любого из его счетов в Ситибанке суммы в размере не более стоимости поездки, установленной в официально опубликованных тарифах Wheely, в случае, если клиент воспользовался привилегией «Трансфер из/в аэропорт», но при этом не поддерживал Среднемесячный баланс на необходимом уровне в календарном месяце, предшествующем месяцу использования привилегии. Услуга доступна в Москве, Санкт-Петербурге, Екатеринбурге, Перми, Казани и Сочи, а также в Лондоне (Великобритания).
								li
									p ** Все привилегии Citigold, за исключением привилегии «Электронная библиотека», «Boingo Wi-Fi» и «Юридическая консультация», доступны только при условии поддержания Среднемесячного баланса от 4 000 000 рублей РФ или эквивалентной суммы в других валютах (для Клиентов, принятых на банковское обслуживание в рамках пакета банковских услуг Citigold до 1 января 2018 года) или от 6 000 000 рублей РФ или эквивалентной суммы в других валютах (для Клиентов, принятых на банковское обслуживание в рамках пакета банковских услуг Citigold.