extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Программа Mastercard Airport Experiences от LoungeKey предоставляет доступ в бизнес залы аэропортов (Шереметьево, Домодедово, Пулково и др.), а также эксклюзивные предложения от ресторанов, магазинов, спа-центров и Duty Free.')
block title
	title Доступ в бизнес залы аэропортов: Шереметьево, Домодедово, Пулково и др. по программе  Mastercard Airport Experiences от LoungeKey
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		.article-content.no-print
			#polis.article-content
				.container
					.content.content-md
						.content-heading.content-heading-middle
							.h2.article-title.text-uppercase Страхование на&nbsp;время путешествий
							p.article-text Годовой сертификат на&nbsp;время путешествий для Вас, Ваших детей и&nbsp;держателей дополнительных дебетовых карт Citigold и&nbsp;Citigold Private Client.<small><sup>*,&nbsp;**</sup></small>
			.section-bggray.section-cards
				.container
					.content.content-md
						.card-list.card-list--divide
							.row
								.col-xs-12.col-sm-12.col-md-6
									.card-list-body.card-list-body--left
										.row
											.col-xs-12.col-sm-6.col-sm-push-6.col-md-12.col-md-push-0
												.thumbnail.card-list__media
													img.thumbnail-img-boxshadow(src="../../content/privilege/card-21.png", alt="")
											.col-xs-12.col-sm-6.col-sm-pull-6.col-md-12.col-md-pull-0
												.card-list__title.card-list__title--bordered Для клиентов Citigold:
												.article-text
													p Общий лимит страховой суммы&nbsp;&mdash; 500&nbsp;000&nbsp;USD для Вас и&nbsp;50&nbsp;000&nbsp;USD для Ваших детей в&nbsp;возрасте до&nbsp;18&nbsp;лет или 23&nbsp;лет в&nbsp;период обучения в&nbsp;вузе на&nbsp;дневной форме.
								.col-xs-12.col-sm-12.col-md-6
									.card-list-body.card-list-body--right
										.row
											.col-xs-12.col-sm-6.col-sm-push-6.col-md-12.col-md-push-0
												.thumbnail.card-list__media
													img.thumbnail-img-boxshadow(src="../../content/privilege/card-22.png", alt="")
											.col-xs-12.col-sm-6.col-sm-pull-6.col-md-12.col-md-pull-0
												.card-list__title.card-list__title--bordered Для клиентов Citigold Private Client:
												.article-text
													p Общий лимит страховой суммы&nbsp;&mdash; 1&nbsp;000&nbsp;000&nbsp;USD для Вас, 100&nbsp;000&nbsp;USD для законного(ой) супруга(и) и&nbsp;100&nbsp;000&nbsp;USD для Ваших детей в&nbsp;возрасте до&nbsp;18&nbsp;лет или 23&nbsp;лет в&nbsp;период обучения в&nbsp;вузе на&nbsp;дневной форме.
			.content.content-md
				.container
					.content-heading.content-heading-md
						.article-text
							ul.list-style-dot
								li Срок действия страхового покрытия&nbsp;&mdash; первые 60&nbsp;дней каждой поездки, количество поездок в&nbsp;год не&nbsp;ограничено.
								li Территория страхования: все страны мира, включая Россию (100 километров от&nbsp;места постоянного проживания&nbsp;/ регистрации).
								li Возраст застрахованного&nbsp;&mdash; до&nbsp;84&nbsp;лет включительно.
								li Отсутствие франшизы&nbsp;&mdash; все расходы берет на&nbsp;себя страховая компания.
						br
						.h3.color-2 Получить сертификат можно одним из&nbsp;способов:
						br
						.article-text
							ul.list-style-dot
								li в&nbsp;любом <a href="https://www.citibank.ru/russia/branches/rus/branches.htm" class="link" target="_blank">отделении Ситибанка</a>,
								li в&nbsp;сервисной службе Allianz Global Assistance: +7 (495) 783-30-56, +7 (495) 783-30-57.
				//- mixin list-inline-block-item(_src, _title, _class)
				//- 	.row.list-inline-block-item(class=_class)
				//- 		.col-xs-12.col-sm-12.col-md-6.list-inline-block__img(style="background-image: url('"+ _src +"')")
				//- 		.col-xs-12.col-sm-12.col-md-6.list-inline-block__content
				//- 			.b-table
				//- 				.b-table__cell-middle
				//- 					.list-inline-block-inner
				//- 						p.list-inline-block-inner__title !{_title}

				//- .container
				//- 	.content-heading
				//- 		.h2.article-title.text-uppercase Страховой полис
				//- 		p.article-subtitle На&nbsp;время зарубежных поездок для Вас, Ваших детей и&nbsp;держателей дополнительных карт<small><sup class="color-2">3</sup></small>
				//- 		p.article-text Ситибанк предоставит Вам годовой полис на&nbsp;время зарубежных поездок с&nbsp;общим лимитом страховой суммы 500&nbsp;000&nbsp;USD, полис предоставляет защиту в&nbsp;течение первых 60&nbsp;дней в&nbsp;каждой поездке, количество поездок в&nbsp;году не&nbsp;ограничено.
				//- 		.list-inline-block.list-inline-block--overlay
				//- 			+list-inline-block-item("../../content/travel/img-1.jpg", "В&nbsp;страховое покрытие включены активные виды отдыха, такие как горные лыжи, сноуборд, яхтинг, конные прогулки и&nbsp;многое другое.", "")
				//- 			+list-inline-block-item("../../content/travel/img-2.jpg", "Привилегия доступна клиентам в&nbsp;возрасте до&nbsp;84&nbsp;лет включительно.", "list-inline-block-item--right")
				//- 		.disclamer
				//- 			.article-text Для получения страхового полиса, пожалуйста, обратитесь в&nbsp;любое <a class="link" href="https://www.citibank.ru/russia/branches/rus/branches.htm">отделение Ситибанка</a>.
			.section-overlay.section-overlay--dark(style="background-image: url('../../content/privilege/overlay-bg-2.jpg');")
				.container
					.content
						.content-body
							.content-body__heading
								.h3.article-title.text-center В&nbsp;страховое покрытие включены:
								.list-style-icons.list-style-icons--phone-middle.padding-bottom-0
									.row
										.col-xs-12.col-sm-12.col-md-12
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-sky
															| медицинские и&nbsp;медико-транспортные расходы, в&nbsp;том числе во&nbsp;время активного отдыха, включая горные и&nbsp;водные лыжи, сноубординг, яхтинг, кайтинг, конные походы и&nbsp;т.&nbsp;п.;
										.col-xs-12.col-sm-12.col-md-12
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-car
															| отмена поездки, досрочное возвращение, задержка рейса, пропущенный рейс (включая стыковочный);
										.col-xs-12.col-sm-12.col-md-12
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-bag-stroke
															| утрата багажа, задержка багажа, административная помощь при поиске утерянного или задержанного багажа;
										.col-xs-12.col-sm-12.col-md-12
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-airplane
															| защита франшизы при аренде автомобиля и&nbsp;покрытие незастрахованных частей автомобиля;
										.col-xs-12.col-sm-12.col-md-4.col-md-offset-4
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-more
															| и&nbsp;многое другое.
								.download.no-margin
									.row
										.col-xs-12.col-sm-12.col-md-12.col-lg-12
											.download-item.download-item--text-once-icon
												.b-table
													.b-table__row
														.b-table__cell.download-item__content
															.download-item__text
																.list-style-icons.list-style-icons--phone-middle.no-padding
																	.list-style-icons__item.no-margin
																		.list-style-icons__caption
																			.b-table
																				.b-table__cell-middle
																					span.svg-icon-list-doc
																					| Памятки страхования на&nbsp;время путешествий держателей дебетовых карт <a href="../../content/pdf/gold-ultima-broshure-allianz-2018-new-programm-rus.docx" class="link" download="gold-ultima-broshure-allianz-2018-new-programm-rus.docx">Citigold</a> и&nbsp;<a href="../../content/pdf/private-broshure-allianz-2018-new-programm-rus.docx" class="link" download="private-broshure-allianz-2018-new-programm-rus.docx">Citigold Private Client</a>.
														.b-table__cell.download-item__hover(style="background-color: rgba(180, 151, 90, .64);")
															.download-item-target
																.download-item-target__link
														.b-table__cell.download-item__bg


		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Юридическая информация
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								
								li
									p * Программа страхования является предложением АО&nbsp;СК&nbsp;&laquo;Альянс&raquo; (лицензия Банка России: СЛ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г.&nbsp;и&nbsp;СИ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г). Застрахованными лицами являются Клиенты до&nbsp;84&nbsp;лет, дети Клиента до&nbsp;достижения 18-ти летнего возраста или до&nbsp;достижения 23-х летнего возраста в&nbsp;период обучения в&nbsp;вузе на&nbsp;дневной форме, а&nbsp;также законный(ая) супруг(а) Клиента Citigold Private Client. Полный список страховых случаев и&nbsp;покрытий, а&nbsp;также список исключений и&nbsp;условия использования программы указаны в&nbsp;Памятках страхования на&nbsp;время путешествий держателей дебетовых карт Citigold и&nbsp;Citigold Private Client, расположенных на&nbsp;сайте <a href="https://www.citigold.ru" class="link">www.citigold.ru</a>.
								li
									p ** Услуги предоставляются поставщиками услуг по&nbsp;их&nbsp;усмотрению и&nbsp;в&nbsp;предусмотренном ими порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
