// Buttons
// --------------------------------------------------
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: $btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent; // white-space: nowrap;
    transition: all 0.3s ease 0s;
    @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base);
    @include user-select(none);
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: 0 none;
        }
    }
    &:hover,
    &:focus,
    &.focus {
        color: $color-base;
        text-decoration: none;
    }
    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }
    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.65;
    }
}

.btn--transparent {
    @include button-variant($color-barleycorn-lighter, $color-barleycorn, $color-barleycorn-light);
}

.btn--inverse {
    @include button-variant($color-barleycorn, $white, $color-barleycorn);
    &:hover {
        background-color: $color-barleycorn;
        color: $white;
    }
    &.disabled {
        opacity: 0.65;
        @include button-variant($gray-dark, $white, $color-barleycorn-light);
    }
}

.btn--olive {
    @include button-variant($white, $bgcolor-btn-barleycorn, $bgcolor-btn-barleycorn);
}

.btn--olive-light {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    @include button-variant($white, $bgcolor-btn-barleycorn, $bgcolor-btn-barleycorn);
}

.btn--white {
    @include button-variant($btn-white-color, $white, $white);
}

.btn--black {
    @include button-variant($white, $black, $black);
    &:hover {
        background-color: $bgcolor-btn-barleycorn;
        border-color: $bgcolor-btn-barleycorn;
    }
}

.btn--shadow {
    @include button-variant($white, transparent, $border-btnshadow);
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2) inset, 2px 2px 0 0 rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: $border-btnshadow;
        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
    }
}

.btn--gray {
    color: $gray-dark;
    border: 0 none;
    background: -webkit-linear-gradient(top, $white 0%, #d9d9d9 100%);
    background: linear-gradient(to bottom, $white 0%, #d9d9d9 100%);
    &:hover,
    &:focus,
    &.focus {
        color: $gray-dark;
        background: -webkit-linear-gradient(top, darken($white, 10%) 0%, darken(#d9d9d9, 10%) 100%);
        background: linear-gradient(to bottom, darken($white, 10%) 0%, darken(#d9d9d9, 10%) 100%);
    }
}

.btn--xlg {
    @include button-size($padding-xlarge-vertical, $padding-large-horizontal, $btn-size-contacts, $line-height-large);
}

.btn--lg {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-h5, $line-height-large);
}

.btn--md {
    @include button-size($padding-md-vertical, $padding-md-horizontal, $font-size-h6, $line-height-md);
}

.btn--sm {
    @include button-size($padding-sm-vertical, $padding-sm-horizontal, $font-size-base, $line-height-sm);
}

/*
.btn--xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-xs, $line-height-small);
}*/

.btn--wide {
    width: 180px;
}

.btn--wide-sm {
    min-width: 138px;
}

.btn--wide-md {
    min-width: 238px;
}

.btn--wide-lg {
    min-width: 246px;
}

.btn--rounded {
    border-radius: $border-radius-base;
    a {
        color: #eee1c6;
    }
}

.btn--icon {
    text-align: left;
    span {
        float: left;
    }
    .icon-arrow-white-sm,
    .icon-arrow-gold-sm {
        margin-top: 6px;
        float: right;
    }
    .icon-arrow-white,
    .icon-arrow-black {
        margin-top: 5px;
        float: right;
    }
}

.btn--app {
    background-repeat: no-repeat;
    width: 150px;
    height: 44px;
    border: medium none;
}

.full-width {
    width: 100%;
}

// Button groups
// --------------------------------------------------
.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    >.btn {
        position: relative;
        float: left;
        &:hover,
        &:focus,
        &:active,
        &.active {
            z-index: 2;
        }
    }
}

.btn-group {
    .btn+.btn,
    .btn+.btn-group,
    .btn-group+.btn,
    .btn-group+.btn-group {
        margin-left: -1px;
    }
    .btn+.link-target {
        padding: 3px 0 7px;
        float: left;
        margin-left: 30px;
    }
}

.btn-group>.btn:first-child {
    margin-left: 0;
}

.btn-group>.btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.btn-group>.btn--rounded:first-child {
    margin-left: 0;
    &:not(:last-child) {
        @include border-right-radius(0);
    }
}

.btn-group>.btn:last-child:not(:first-child) {
    @include border-left-radius(0);
}

.btn-group>.btn-group {
    float: left;
}

// Sizing
//.btn-group-xs > .btn { @extend .btn--xs; }
//.btn-group-sm > .btn { @extend .btn--sm; }
.btn-group-lg>.btn {
    @extend .btn--lg;
}

.btn-panel {
    padding: 28px 30px;
    .conclusion-text & {
        padding: 14px 0;
        margin-left: -10px;
    }
    &_no-padding {
        padding: 14px 0;
        margin-left: -10px;

        > .btn {
            margin: 10px;
        }
    }
    >.btn {
        margin: 10px;
    }
}

// Split button dropdowns
// ----------------------
.btn .caret {
    margin-left: 0;
}

// Carets in other button sizes
.btn--lg .caret {
    border-width: $caret-width-large $caret-width-large 0;
    border-bottom-width: 0;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    >.btn,
    >.btn-group {
        float: none;
        display: table-cell;
        width: 1%;
    }
    >.btn-group .btn {
        width: 100%;
    }
}

@media screen and (max-width: $screen-xs-max) {
    .btn-group-justified {
        display: block;
        >.btn,
        >.btn-group {
            display: inline-block;
            width: 100%;
        }
        >.btn-group+.btn-group {
            margin-top: 10px;
        }
    }
    .btn--lg {
        font-size: $font-size-h5;
    }
    .btn-panel {
        padding: 20px 15px;
    }
}
