// Grid
// --------------------------------------------------
.container {
    @include container-fixed;
    width: 100%;
    max-width: 1004px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.container-lg {
    @include container-fixed;
    width: 100%;

    @media #{$descktop} {
      max-width: 1440px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding-left: 0;
        padding-right: 0;
    }
}

.row {
  @include make-row;
}

@include make-grid-columns;

// Extra small grid
@include make-grid(xs);
// Small grid
@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}

// Medium grid
@media (min-width: $screen-md-min) {
  @include make-grid(md);
}
// Large grid
@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}
