* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  width: 100%;
  height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 100%;
}

body {
  width: 100%;
  font-family: $font-interstate-light;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
  @include clearfix;
  // > img, > iframe {
  //   display: none;
  // }
}
// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
// Links
a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

/*p {
  font-size: inherit;
  line-height: ceil($gutter-width / 2);
}*/

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

.clearfix {
  @include clearfix;
}
.rubl {
  &:after {
    margin-left: 2px;
    font-family: $font-ptrouble;
    font-size: 110%;
    content: "5";
    display: inline-block;
  }
}
.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba($black, 0.1);
}
.border-top {
  border-top: 1px solid rgba($black, 0.1);
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: $caret-width-base dashed;
  border-top: $caret-width-base solid \9; // IE8
  border-right: $caret-width-base solid transparent;
  border-left: $caret-width-base solid transparent;
}
// Lists
// -------------------------
ul, ol {
  margin-top: 0;
  margin-bottom: ($line-height-computed / 2);
  ul, ol {
    margin-bottom: 0;
  }
}

.list-default {
  list-style: none;
  padding-left: 20px;
  > li {
    margin-bottom: ($line-height-computed / 2);
  }
}
.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  margin-left: -5px;
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.list-style-arrow {
  list-style-type: none;
  padding-left: 0;
  margin-left: ceil($gutter-width / -2);
  margin-right: floor($gutter-width / -2);
  padding-top: 20px;
  > li {
    padding-left: ceil($gutter-width / 2);
    padding-right: floor($gutter-width / 2);
  }
  &__inner {
    position: relative;
    padding-left: 28px;
    font-size: $font-size-h6;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent #b4975a;
      position: absolute;
      left: 0;
      top: 8px;
    }
  }
  &--col-2 {
    @include clearfix;
    > li {
      width: 50%;
      float: left;
    }
  }
}
.list-increment {
  counter-reset: item;
  list-style: none;
  padding: 0;

  &__item {
    counter-increment: item;

    &:before {
      content: counters(item, "decimal") ".";
    }
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
  }

  &--flex &__item {
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
    padding-left: 58px;
    padding-right: 30px;
    margin-bottom: 14px;
    box-sizing: border-box;

    @media #{$phone} {
      max-width: none;
      flex-basis: auto;
      padding-right: 0;
      padding-left: 36px;
    }

    &:before {
      color: $color-barleycorn;
      font-size: 35px;
      position: absolute;
      top: 0.1em;
      left: 0.6em;

      @media #{$phone} {
        font-size: 24px;
        left: 0.3em;
      }
    }
  }
}

.list-style-check {
  list-style-type: none;
  padding-left: 0;
  margin-left: ceil($gutter-width / -2);
  margin-right: floor($gutter-width / -2);

  > li {
    padding-left: ceil($gutter-width / 2);
    padding-right: floor($gutter-width / 2);
  }

  &__inner {
    position: relative;
    padding-left: 30px;
    margin-top: 13px;
    margin-bottom: 13px;
    &:before {
      content: "";
      display: block;
      @include sprite-2x($sprite-plus-gr-sm);
      position: absolute;
      left: 0;
      top: 8px;
    }
  }

  &--color &__inner:before {
    @include sprite-2x($sprite-plus-sm);
  }
}
.list-style-dot {
  list-style-type: none;
  margin-left: 1.8em;
  padding-left: 0;
  li {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    &:before {
      content: "";
      display: block;
      @include sprite-2x($sprite-dot);
      position: absolute;
      left: -1.8em;
      top: 8px;
    }
  }
}
.list-style-icons {
  list-style-type: none;
  padding-left: 0;
  padding-top: 35px;
  padding-bottom: 50px;
  &__item {
    margin: 17px 0;
  }
  [class^=svg-icon-]{
    font-size: $font-size-base;
    position: absolute;
    left: 0;
    top: 50%;
    $height: mq-px2em(map-get(icon-attr(ico-dialog), height) + 1);
    margin-top: ceil($height / -2);
    &:before {
      margin-left: -0.7em;
      margin-top: -0.7em;
    }
  }
  &__caption {
    position: relative;
    min-height: 72px;
    height: 1px;
    padding-right: 20px;
    padding-left: 100px;
  }
  &__caption--no-icon {
    min-height: auto;
    height: 100%;
  }
  &__link {
    color: #b4975a;
    text-decoration-line: underline;
    &:hover,
    &:focus {
      text-decoration-line: none;
      color: #856e3c;
    }
  }
  &--md {
    .list-style-icons__item {
      margin-top: 0;
      margin-bottom: 0;
    }
    .list-style-icons__caption {
      padding-left: 70px;
    }
    [class^=svg-icon-]{
      &:before {
        margin-left: -1.7em;
      }
    }
  }
}

.read-more {
  span {
    border-bottom: 1px solid transparent;
    display: inline-block;
    line-height: 100%;
  }
  .icon-read-more {
    padding-left: 4px;
  }
  &:hover {
    span {
      border: 0 none;
    }
  }
}
// Content text
.text-xs {
  font-size: $font-size-xs;
  line-height: $font-size-base;
}
.text-sm {
  font-size: $font-size-sm;
  line-height: $line-height-computed;
}
.text-md {
  font-size: $font-size-md;
  line-height: $line-height-content;
}
.text-lg {
  font-size: $font-size-lg;
  line-height: $line-height-content;
}

//
// Component animations
// --------------------------------------------------

.fade {
  opacity: 0;
  transition: opacity .15s linear;

  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;
  visibility: hidden;
  &.in {
    display: block;
    visibility: visible;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media screen and (max-width: $screen-xs-max) {
  .read-more {
    span {
      border: 0 none;
      display: inline;
      text-decoration: underline;
    }
    &:hover {
      text-decoration: none;
      span {
        text-decoration: none;
      }
    }
  }
  .list-style-icons {
    padding-top: 15px;
    padding-bottom: 15px;
    [class^=svg-icon-]{
      font-size: $font-size-sm;
      top: 0;
      margin-top: 0;
    }

    &__caption {
      padding-left: 80px;
      height: auto;
      min-height: 74px;
    }

    &__caption--no-icon {
      min-height: auto;
    }

    &--md {
      .list-style-icons__item {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .list-style-icons__caption {
        height: auto;
        min-height: 70px;
        padding-left: 70px;
      }
    }
    &--phone-middle {

      .list-style-icons__caption {
        height: auto;
        min-height: 70px;
        display: flex;
        align-items: center;
      }

      [class^=svg-icon-] {
        top: 50%;
        margin-top: -3em;
      }
    }
  }
}
@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
  .read-more {
    span {
      border: 0 none;
      display: inline;
      text-decoration: underline;
    }
    &:hover {
      text-decoration: none;
      span {
        text-decoration: none;
      }
    }
  }
}
