/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-btn-arrow-black-name: 'sprite-btn-arrow-black';
$sprite-btn-arrow-black-x: 321px;
$sprite-btn-arrow-black-y: 98px;
$sprite-btn-arrow-black-offset-x: -321px;
$sprite-btn-arrow-black-offset-y: -98px;
$sprite-btn-arrow-black-width: 8px;
$sprite-btn-arrow-black-height: 12px;
$sprite-btn-arrow-black-total-width: 335px;
$sprite-btn-arrow-black-total-height: 324px;
$sprite-btn-arrow-black-image: '../i/sprites.png';
$sprite-btn-arrow-black: (321px, 98px, -321px, -98px, 8px, 12px, 335px, 324px, '../i/sprites.png', 'sprite-btn-arrow-black', );
$sprite-btn-arrow-gold-sm-name: 'sprite-btn-arrow-gold-sm';
$sprite-btn-arrow-gold-sm-x: 321px;
$sprite-btn-arrow-gold-sm-y: 120px;
$sprite-btn-arrow-gold-sm-offset-x: -321px;
$sprite-btn-arrow-gold-sm-offset-y: -120px;
$sprite-btn-arrow-gold-sm-width: 8px;
$sprite-btn-arrow-gold-sm-height: 10px;
$sprite-btn-arrow-gold-sm-total-width: 335px;
$sprite-btn-arrow-gold-sm-total-height: 324px;
$sprite-btn-arrow-gold-sm-image: '../i/sprites.png';
$sprite-btn-arrow-gold-sm: (321px, 120px, -321px, -120px, 8px, 10px, 335px, 324px, '../i/sprites.png', 'sprite-btn-arrow-gold-sm', );
$sprite-btn-arrow-white-sm-name: 'sprite-btn-arrow-white-sm';
$sprite-btn-arrow-white-sm-x: 321px;
$sprite-btn-arrow-white-sm-y: 140px;
$sprite-btn-arrow-white-sm-offset-x: -321px;
$sprite-btn-arrow-white-sm-offset-y: -140px;
$sprite-btn-arrow-white-sm-width: 8px;
$sprite-btn-arrow-white-sm-height: 10px;
$sprite-btn-arrow-white-sm-total-width: 335px;
$sprite-btn-arrow-white-sm-total-height: 324px;
$sprite-btn-arrow-white-sm-image: '../i/sprites.png';
$sprite-btn-arrow-white-sm: (321px, 140px, -321px, -140px, 8px, 10px, 335px, 324px, '../i/sprites.png', 'sprite-btn-arrow-white-sm', );
$sprite-btn-arrow-white-name: 'sprite-btn-arrow-white';
$sprite-btn-arrow-white-x: 321px;
$sprite-btn-arrow-white-y: 76px;
$sprite-btn-arrow-white-offset-x: -321px;
$sprite-btn-arrow-white-offset-y: -76px;
$sprite-btn-arrow-white-width: 8px;
$sprite-btn-arrow-white-height: 12px;
$sprite-btn-arrow-white-total-width: 335px;
$sprite-btn-arrow-white-total-height: 324px;
$sprite-btn-arrow-white-image: '../i/sprites.png';
$sprite-btn-arrow-white: (321px, 76px, -321px, -76px, 8px, 12px, 335px, 324px, '../i/sprites.png', 'sprite-btn-arrow-white', );
$sprite-check-checked-dark-name: 'sprite-check-checked-dark';
$sprite-check-checked-dark-x: 81px;
$sprite-check-checked-dark-y: 307px;
$sprite-check-checked-dark-offset-x: -81px;
$sprite-check-checked-dark-offset-y: -307px;
$sprite-check-checked-dark-width: 17px;
$sprite-check-checked-dark-height: 17px;
$sprite-check-checked-dark-total-width: 335px;
$sprite-check-checked-dark-total-height: 324px;
$sprite-check-checked-dark-image: '../i/sprites.png';
$sprite-check-checked-dark: (81px, 307px, -81px, -307px, 17px, 17px, 335px, 324px, '../i/sprites.png', 'sprite-check-checked-dark', );
$sprite-check-checked-name: 'sprite-check-checked';
$sprite-check-checked-x: 54px;
$sprite-check-checked-y: 307px;
$sprite-check-checked-offset-x: -54px;
$sprite-check-checked-offset-y: -307px;
$sprite-check-checked-width: 17px;
$sprite-check-checked-height: 17px;
$sprite-check-checked-total-width: 335px;
$sprite-check-checked-total-height: 324px;
$sprite-check-checked-image: '../i/sprites.png';
$sprite-check-checked: (54px, 307px, -54px, -307px, 17px, 17px, 335px, 324px, '../i/sprites.png', 'sprite-check-checked', );
$sprite-check-dark-name: 'sprite-check-dark';
$sprite-check-dark-x: 162px;
$sprite-check-dark-y: 307px;
$sprite-check-dark-offset-x: -162px;
$sprite-check-dark-offset-y: -307px;
$sprite-check-dark-width: 17px;
$sprite-check-dark-height: 17px;
$sprite-check-dark-total-width: 335px;
$sprite-check-dark-total-height: 324px;
$sprite-check-dark-image: '../i/sprites.png';
$sprite-check-dark: (162px, 307px, -162px, -307px, 17px, 17px, 335px, 324px, '../i/sprites.png', 'sprite-check-dark', );
$sprite-check-disabled-name: 'sprite-check-disabled';
$sprite-check-disabled-x: 0px;
$sprite-check-disabled-y: 307px;
$sprite-check-disabled-offset-x: 0px;
$sprite-check-disabled-offset-y: -307px;
$sprite-check-disabled-width: 17px;
$sprite-check-disabled-height: 17px;
$sprite-check-disabled-total-width: 335px;
$sprite-check-disabled-total-height: 324px;
$sprite-check-disabled-image: '../i/sprites.png';
$sprite-check-disabled: (0px, 307px, 0px, -307px, 17px, 17px, 335px, 324px, '../i/sprites.png', 'sprite-check-disabled', );
$sprite-check-radio-bg-name: 'sprite-check-radio-bg';
$sprite-check-radio-bg-x: 27px;
$sprite-check-radio-bg-y: 307px;
$sprite-check-radio-bg-offset-x: -27px;
$sprite-check-radio-bg-offset-y: -307px;
$sprite-check-radio-bg-width: 17px;
$sprite-check-radio-bg-height: 17px;
$sprite-check-radio-bg-total-width: 335px;
$sprite-check-radio-bg-total-height: 324px;
$sprite-check-radio-bg-image: '../i/sprites.png';
$sprite-check-radio-bg: (27px, 307px, -27px, -307px, 17px, 17px, 335px, 324px, '../i/sprites.png', 'sprite-check-radio-bg', );
$sprite-dot-name: 'sprite-dot';
$sprite-dot-x: 321px;
$sprite-dot-y: 204px;
$sprite-dot-offset-x: -321px;
$sprite-dot-offset-y: -204px;
$sprite-dot-width: 6px;
$sprite-dot-height: 6px;
$sprite-dot-total-width: 335px;
$sprite-dot-total-height: 324px;
$sprite-dot-image: '../i/sprites.png';
$sprite-dot: (321px, 204px, -321px, -204px, 6px, 6px, 335px, 324px, '../i/sprites.png', 'sprite-dot', );
$sprite-dropdown-arrow-name: 'sprite-dropdown-arrow';
$sprite-dropdown-arrow-x: 80px;
$sprite-dropdown-arrow-y: 263px;
$sprite-dropdown-arrow-offset-x: -80px;
$sprite-dropdown-arrow-offset-y: -263px;
$sprite-dropdown-arrow-width: 24px;
$sprite-dropdown-arrow-height: 14px;
$sprite-dropdown-arrow-total-width: 335px;
$sprite-dropdown-arrow-total-height: 324px;
$sprite-dropdown-arrow-image: '../i/sprites.png';
$sprite-dropdown-arrow: (80px, 263px, -80px, -263px, 24px, 14px, 335px, 324px, '../i/sprites.png', 'sprite-dropdown-arrow', );
$sprite-fancy-close-xs-name: 'sprite-fancy-close-xs';
$sprite-fancy-close-xs-x: 227px;
$sprite-fancy-close-xs-y: 209px;
$sprite-fancy-close-xs-offset-x: -227px;
$sprite-fancy-close-xs-offset-y: -209px;
$sprite-fancy-close-xs-width: 24px;
$sprite-fancy-close-xs-height: 24px;
$sprite-fancy-close-xs-total-width: 335px;
$sprite-fancy-close-xs-total-height: 324px;
$sprite-fancy-close-xs-image: '../i/sprites.png';
$sprite-fancy-close-xs: (227px, 209px, -227px, -209px, 24px, 24px, 335px, 324px, '../i/sprites.png', 'sprite-fancy-close-xs', );
$sprite-fancy-close-name: 'sprite-fancy-close';
$sprite-fancy-close-x: 272px;
$sprite-fancy-close-y: 162px;
$sprite-fancy-close-offset-x: -272px;
$sprite-fancy-close-offset-y: -162px;
$sprite-fancy-close-width: 36px;
$sprite-fancy-close-height: 36px;
$sprite-fancy-close-total-width: 335px;
$sprite-fancy-close-total-height: 324px;
$sprite-fancy-close-image: '../i/sprites.png';
$sprite-fancy-close: (272px, 162px, -272px, -162px, 36px, 36px, 335px, 324px, '../i/sprites.png', 'sprite-fancy-close', );
$sprite-fancy-next-name: 'sprite-fancy-next';
$sprite-fancy-next-x: 272px;
$sprite-fancy-next-y: 81px;
$sprite-fancy-next-offset-x: -272px;
$sprite-fancy-next-offset-y: -81px;
$sprite-fancy-next-width: 39px;
$sprite-fancy-next-height: 71px;
$sprite-fancy-next-total-width: 335px;
$sprite-fancy-next-total-height: 324px;
$sprite-fancy-next-image: '../i/sprites.png';
$sprite-fancy-next: (272px, 81px, -272px, -81px, 39px, 71px, 335px, 324px, '../i/sprites.png', 'sprite-fancy-next', );
$sprite-fancy-prev-name: 'sprite-fancy-prev';
$sprite-fancy-prev-x: 272px;
$sprite-fancy-prev-y: 0px;
$sprite-fancy-prev-offset-x: -272px;
$sprite-fancy-prev-offset-y: 0px;
$sprite-fancy-prev-width: 39px;
$sprite-fancy-prev-height: 71px;
$sprite-fancy-prev-total-width: 335px;
$sprite-fancy-prev-total-height: 324px;
$sprite-fancy-prev-image: '../i/sprites.png';
$sprite-fancy-prev: (272px, 0px, -272px, 0px, 39px, 71px, 335px, 324px, '../i/sprites.png', 'sprite-fancy-prev', );
$sprite-full-carousel-left-name: 'sprite-full-carousel-left';
$sprite-full-carousel-left-x: 0px;
$sprite-full-carousel-left-y: 263px;
$sprite-full-carousel-left-offset-x: 0px;
$sprite-full-carousel-left-offset-y: -263px;
$sprite-full-carousel-left-width: 18px;
$sprite-full-carousel-left-height: 34px;
$sprite-full-carousel-left-total-width: 335px;
$sprite-full-carousel-left-total-height: 324px;
$sprite-full-carousel-left-image: '../i/sprites.png';
$sprite-full-carousel-left: (0px, 263px, 0px, -263px, 18px, 34px, 335px, 324px, '../i/sprites.png', 'sprite-full-carousel-left', );
$sprite-full-carousel-right-name: 'sprite-full-carousel-right';
$sprite-full-carousel-right-x: 28px;
$sprite-full-carousel-right-y: 263px;
$sprite-full-carousel-right-offset-x: -28px;
$sprite-full-carousel-right-offset-y: -263px;
$sprite-full-carousel-right-width: 18px;
$sprite-full-carousel-right-height: 34px;
$sprite-full-carousel-right-total-width: 335px;
$sprite-full-carousel-right-total-height: 324px;
$sprite-full-carousel-right-image: '../i/sprites.png';
$sprite-full-carousel-right: (28px, 263px, -28px, -263px, 18px, 34px, 335px, 324px, '../i/sprites.png', 'sprite-full-carousel-right', );
$sprite-ico-search-top-md-name: 'sprite-ico-search-top-md';
$sprite-ico-search-top-md-x: 261px;
$sprite-ico-search-top-md-y: 209px;
$sprite-ico-search-top-md-offset-x: -261px;
$sprite-ico-search-top-md-offset-y: -209px;
$sprite-ico-search-top-md-width: 20px;
$sprite-ico-search-top-md-height: 20px;
$sprite-ico-search-top-md-total-width: 335px;
$sprite-ico-search-top-md-total-height: 324px;
$sprite-ico-search-top-md-image: '../i/sprites.png';
$sprite-ico-search-top-md: (261px, 209px, -261px, -209px, 20px, 20px, 335px, 324px, '../i/sprites.png', 'sprite-ico-search-top-md', );
$sprite-ico-search-top-name: 'sprite-ico-search-top';
$sprite-ico-search-top-x: 321px;
$sprite-ico-search-top-y: 34px;
$sprite-ico-search-top-offset-x: -321px;
$sprite-ico-search-top-offset-y: -34px;
$sprite-ico-search-top-width: 12px;
$sprite-ico-search-top-height: 12px;
$sprite-ico-search-top-total-width: 335px;
$sprite-ico-search-top-total-height: 324px;
$sprite-ico-search-top-image: '../i/sprites.png';
$sprite-ico-search-top: (321px, 34px, -321px, -34px, 12px, 12px, 335px, 324px, '../i/sprites.png', 'sprite-ico-search-top', );
$sprite-ico-target-name: 'sprite-ico-target';
$sprite-ico-target-x: 291px;
$sprite-ico-target-y: 209px;
$sprite-ico-target-offset-x: -291px;
$sprite-ico-target-offset-y: -209px;
$sprite-ico-target-width: 18px;
$sprite-ico-target-height: 18px;
$sprite-ico-target-total-width: 335px;
$sprite-ico-target-total-height: 324px;
$sprite-ico-target-image: '../i/sprites.png';
$sprite-ico-target: (291px, 209px, -291px, -209px, 18px, 18px, 335px, 324px, '../i/sprites.png', 'sprite-ico-target', );
$sprite-icon-download-name: 'sprite-icon-download';
$sprite-icon-download-x: 150px;
$sprite-icon-download-y: 209px;
$sprite-icon-download-offset-x: -150px;
$sprite-icon-download-offset-y: -209px;
$sprite-icon-download-width: 31px;
$sprite-icon-download-height: 32px;
$sprite-icon-download-total-width: 335px;
$sprite-icon-download-total-height: 324px;
$sprite-icon-download-image: '../i/sprites.png';
$sprite-icon-download: (150px, 209px, -150px, -209px, 31px, 32px, 335px, 324px, '../i/sprites.png', 'sprite-icon-download', );
$sprite-minus-name: 'sprite-minus';
$sprite-minus-x: 217px;
$sprite-minus-y: 307px;
$sprite-minus-offset-x: -217px;
$sprite-minus-offset-y: -307px;
$sprite-minus-width: 18px;
$sprite-minus-height: 16px;
$sprite-minus-total-width: 335px;
$sprite-minus-total-height: 324px;
$sprite-minus-image: '../i/sprites.png';
$sprite-minus: (217px, 307px, -217px, -307px, 18px, 16px, 335px, 324px, '../i/sprites.png', 'sprite-minus', );
$sprite-nav-close-name: 'sprite-nav-close';
$sprite-nav-close-x: 191px;
$sprite-nav-close-y: 209px;
$sprite-nav-close-offset-x: -191px;
$sprite-nav-close-offset-y: -209px;
$sprite-nav-close-width: 26px;
$sprite-nav-close-height: 26px;
$sprite-nav-close-total-width: 335px;
$sprite-nav-close-total-height: 324px;
$sprite-nav-close-image: '../i/sprites.png';
$sprite-nav-close: (191px, 209px, -191px, -209px, 26px, 26px, 335px, 324px, '../i/sprites.png', 'sprite-nav-close', );
$sprite-plus-gr-sm-name: 'sprite-plus-gr-sm';
$sprite-plus-gr-sm-x: 245px;
$sprite-plus-gr-sm-y: 307px;
$sprite-plus-gr-sm-offset-x: -245px;
$sprite-plus-gr-sm-offset-y: -307px;
$sprite-plus-gr-sm-width: 18px;
$sprite-plus-gr-sm-height: 16px;
$sprite-plus-gr-sm-total-width: 335px;
$sprite-plus-gr-sm-total-height: 324px;
$sprite-plus-gr-sm-image: '../i/sprites.png';
$sprite-plus-gr-sm: (245px, 307px, -245px, -307px, 18px, 16px, 335px, 324px, '../i/sprites.png', 'sprite-plus-gr-sm', );
$sprite-plus-sm-name: 'sprite-plus-sm';
$sprite-plus-sm-x: 273px;
$sprite-plus-sm-y: 307px;
$sprite-plus-sm-offset-x: -273px;
$sprite-plus-sm-offset-y: -307px;
$sprite-plus-sm-width: 18px;
$sprite-plus-sm-height: 16px;
$sprite-plus-sm-total-width: 335px;
$sprite-plus-sm-total-height: 324px;
$sprite-plus-sm-image: '../i/sprites.png';
$sprite-plus-sm: (273px, 307px, -273px, -307px, 18px, 16px, 335px, 324px, '../i/sprites.png', 'sprite-plus-sm', );
$sprite-plus-wt-sm-name: 'sprite-plus-wt-sm';
$sprite-plus-wt-sm-x: 189px;
$sprite-plus-wt-sm-y: 307px;
$sprite-plus-wt-sm-offset-x: -189px;
$sprite-plus-wt-sm-offset-y: -307px;
$sprite-plus-wt-sm-width: 18px;
$sprite-plus-wt-sm-height: 16px;
$sprite-plus-wt-sm-total-width: 335px;
$sprite-plus-wt-sm-total-height: 324px;
$sprite-plus-wt-sm-image: '../i/sprites.png';
$sprite-plus-wt-sm: (189px, 307px, -189px, -307px, 18px, 16px, 335px, 324px, '../i/sprites.png', 'sprite-plus-wt-sm', );
$sprite-popup-close-name: 'sprite-popup-close';
$sprite-popup-close-x: 108px;
$sprite-popup-close-y: 209px;
$sprite-popup-close-offset-x: -108px;
$sprite-popup-close-offset-y: -209px;
$sprite-popup-close-width: 32px;
$sprite-popup-close-height: 32px;
$sprite-popup-close-total-width: 335px;
$sprite-popup-close-total-height: 324px;
$sprite-popup-close-image: '../i/sprites.png';
$sprite-popup-close: (108px, 209px, -108px, -209px, 32px, 32px, 335px, 324px, '../i/sprites.png', 'sprite-popup-close', );
$sprite-prev-link-sm-name: 'sprite-prev-link-sm';
$sprite-prev-link-sm-x: 0px;
$sprite-prev-link-sm-y: 136px;
$sprite-prev-link-sm-offset-x: 0px;
$sprite-prev-link-sm-offset-y: -136px;
$sprite-prev-link-sm-width: 63px;
$sprite-prev-link-sm-height: 63px;
$sprite-prev-link-sm-total-width: 335px;
$sprite-prev-link-sm-total-height: 324px;
$sprite-prev-link-sm-image: '../i/sprites.png';
$sprite-prev-link-sm: (0px, 136px, 0px, -136px, 63px, 63px, 335px, 324px, '../i/sprites.png', 'sprite-prev-link-sm', );
$sprite-prev-link-name: 'sprite-prev-link';
$sprite-prev-link-x: 0px;
$sprite-prev-link-y: 0px;
$sprite-prev-link-offset-x: 0px;
$sprite-prev-link-offset-y: 0px;
$sprite-prev-link-width: 126px;
$sprite-prev-link-height: 126px;
$sprite-prev-link-total-width: 335px;
$sprite-prev-link-total-height: 324px;
$sprite-prev-link-image: '../i/sprites.png';
$sprite-prev-link: (0px, 0px, 0px, 0px, 126px, 126px, 335px, 324px, '../i/sprites.png', 'sprite-prev-link', );
$sprite-radio-checked-name: 'sprite-radio-checked';
$sprite-radio-checked-x: 108px;
$sprite-radio-checked-y: 307px;
$sprite-radio-checked-offset-x: -108px;
$sprite-radio-checked-offset-y: -307px;
$sprite-radio-checked-width: 17px;
$sprite-radio-checked-height: 17px;
$sprite-radio-checked-total-width: 335px;
$sprite-radio-checked-total-height: 324px;
$sprite-radio-checked-image: '../i/sprites.png';
$sprite-radio-checked: (108px, 307px, -108px, -307px, 17px, 17px, 335px, 324px, '../i/sprites.png', 'sprite-radio-checked', );
$sprite-radio-disabled-name: 'sprite-radio-disabled';
$sprite-radio-disabled-x: 135px;
$sprite-radio-disabled-y: 307px;
$sprite-radio-disabled-offset-x: -135px;
$sprite-radio-disabled-offset-y: -307px;
$sprite-radio-disabled-width: 17px;
$sprite-radio-disabled-height: 17px;
$sprite-radio-disabled-total-width: 335px;
$sprite-radio-disabled-total-height: 324px;
$sprite-radio-disabled-image: '../i/sprites.png';
$sprite-radio-disabled: (135px, 307px, -135px, -307px, 17px, 17px, 335px, 324px, '../i/sprites.png', 'sprite-radio-disabled', );
$sprite-read-more-name: 'sprite-read-more';
$sprite-read-more-x: 321px;
$sprite-read-more-y: 56px;
$sprite-read-more-offset-x: -321px;
$sprite-read-more-offset-y: -56px;
$sprite-read-more-width: 10px;
$sprite-read-more-height: 10px;
$sprite-read-more-total-width: 335px;
$sprite-read-more-total-height: 324px;
$sprite-read-more-image: '../i/sprites.png';
$sprite-read-more: (321px, 56px, -321px, -56px, 10px, 10px, 335px, 324px, '../i/sprites.png', 'sprite-read-more', );
$sprite-slick-arrow-left-sm-name: 'sprite-slick-arrow-left-sm';
$sprite-slick-arrow-left-sm-x: 321px;
$sprite-slick-arrow-left-sm-y: 182px;
$sprite-slick-arrow-left-sm-offset-x: -321px;
$sprite-slick-arrow-left-sm-offset-y: -182px;
$sprite-slick-arrow-left-sm-width: 6px;
$sprite-slick-arrow-left-sm-height: 12px;
$sprite-slick-arrow-left-sm-total-width: 335px;
$sprite-slick-arrow-left-sm-total-height: 324px;
$sprite-slick-arrow-left-sm-image: '../i/sprites.png';
$sprite-slick-arrow-left-sm: (321px, 182px, -321px, -182px, 6px, 12px, 335px, 324px, '../i/sprites.png', 'sprite-slick-arrow-left-sm', );
$sprite-slick-arrow-right-sm-name: 'sprite-slick-arrow-right-sm';
$sprite-slick-arrow-right-sm-x: 321px;
$sprite-slick-arrow-right-sm-y: 160px;
$sprite-slick-arrow-right-sm-offset-x: -321px;
$sprite-slick-arrow-right-sm-offset-y: -160px;
$sprite-slick-arrow-right-sm-width: 6px;
$sprite-slick-arrow-right-sm-height: 12px;
$sprite-slick-arrow-right-sm-total-width: 335px;
$sprite-slick-arrow-right-sm-total-height: 324px;
$sprite-slick-arrow-right-sm-image: '../i/sprites.png';
$sprite-slick-arrow-right-sm: (321px, 160px, -321px, -160px, 6px, 12px, 335px, 324px, '../i/sprites.png', 'sprite-slick-arrow-right-sm', );
$sprite-state-slider-left-name: 'sprite-state-slider-left';
$sprite-state-slider-left-x: 321px;
$sprite-state-slider-left-y: 0px;
$sprite-state-slider-left-offset-x: -321px;
$sprite-state-slider-left-offset-y: 0px;
$sprite-state-slider-left-width: 14px;
$sprite-state-slider-left-height: 24px;
$sprite-state-slider-left-total-width: 335px;
$sprite-state-slider-left-total-height: 324px;
$sprite-state-slider-left-image: '../i/sprites.png';
$sprite-state-slider-left: (321px, 0px, -321px, 0px, 14px, 24px, 335px, 324px, '../i/sprites.png', 'sprite-state-slider-left', );
$sprite-state-slider-right-name: 'sprite-state-slider-right';
$sprite-state-slider-right-x: 56px;
$sprite-state-slider-right-y: 263px;
$sprite-state-slider-right-offset-x: -56px;
$sprite-state-slider-right-offset-y: -263px;
$sprite-state-slider-right-width: 14px;
$sprite-state-slider-right-height: 24px;
$sprite-state-slider-right-total-width: 335px;
$sprite-state-slider-right-total-height: 324px;
$sprite-state-slider-right-image: '../i/sprites.png';
$sprite-state-slider-right: (56px, 263px, -56px, -263px, 14px, 24px, 335px, 324px, '../i/sprites.png', 'sprite-state-slider-right', );
$sprite-video-link-sm-name: 'sprite-video-link-sm';
$sprite-video-link-sm-x: 73px;
$sprite-video-link-sm-y: 136px;
$sprite-video-link-sm-offset-x: -73px;
$sprite-video-link-sm-offset-y: -136px;
$sprite-video-link-sm-width: 63px;
$sprite-video-link-sm-height: 63px;
$sprite-video-link-sm-total-width: 335px;
$sprite-video-link-sm-total-height: 324px;
$sprite-video-link-sm-image: '../i/sprites.png';
$sprite-video-link-sm: (73px, 136px, -73px, -136px, 63px, 63px, 335px, 324px, '../i/sprites.png', 'sprite-video-link-sm', );
$sprite-video-link-name: 'sprite-video-link';
$sprite-video-link-x: 136px;
$sprite-video-link-y: 0px;
$sprite-video-link-offset-x: -136px;
$sprite-video-link-offset-y: 0px;
$sprite-video-link-width: 126px;
$sprite-video-link-height: 126px;
$sprite-video-link-total-width: 335px;
$sprite-video-link-total-height: 324px;
$sprite-video-link-image: '../i/sprites.png';
$sprite-video-link: (136px, 0px, -136px, 0px, 126px, 126px, 335px, 324px, '../i/sprites.png', 'sprite-video-link', );
$sprite-view-next-dis-name: 'sprite-view-next-dis';
$sprite-view-next-dis-x: 146px;
$sprite-view-next-dis-y: 136px;
$sprite-view-next-dis-offset-x: -146px;
$sprite-view-next-dis-offset-y: -136px;
$sprite-view-next-dis-width: 44px;
$sprite-view-next-dis-height: 44px;
$sprite-view-next-dis-total-width: 335px;
$sprite-view-next-dis-total-height: 324px;
$sprite-view-next-dis-image: '../i/sprites.png';
$sprite-view-next-dis: (146px, 136px, -146px, -136px, 44px, 44px, 335px, 324px, '../i/sprites.png', 'sprite-view-next-dis', );
$sprite-view-next-name: 'sprite-view-next';
$sprite-view-next-x: 200px;
$sprite-view-next-y: 136px;
$sprite-view-next-offset-x: -200px;
$sprite-view-next-offset-y: -136px;
$sprite-view-next-width: 44px;
$sprite-view-next-height: 44px;
$sprite-view-next-total-width: 335px;
$sprite-view-next-total-height: 324px;
$sprite-view-next-image: '../i/sprites.png';
$sprite-view-next: (200px, 136px, -200px, -136px, 44px, 44px, 335px, 324px, '../i/sprites.png', 'sprite-view-next', );
$sprite-view-prev-dis-name: 'sprite-view-prev-dis';
$sprite-view-prev-dis-x: 54px;
$sprite-view-prev-dis-y: 209px;
$sprite-view-prev-dis-offset-x: -54px;
$sprite-view-prev-dis-offset-y: -209px;
$sprite-view-prev-dis-width: 44px;
$sprite-view-prev-dis-height: 44px;
$sprite-view-prev-dis-total-width: 335px;
$sprite-view-prev-dis-total-height: 324px;
$sprite-view-prev-dis-image: '../i/sprites.png';
$sprite-view-prev-dis: (54px, 209px, -54px, -209px, 44px, 44px, 335px, 324px, '../i/sprites.png', 'sprite-view-prev-dis', );
$sprite-view-prev-name: 'sprite-view-prev';
$sprite-view-prev-x: 0px;
$sprite-view-prev-y: 209px;
$sprite-view-prev-offset-x: 0px;
$sprite-view-prev-offset-y: -209px;
$sprite-view-prev-width: 44px;
$sprite-view-prev-height: 44px;
$sprite-view-prev-total-width: 335px;
$sprite-view-prev-total-height: 324px;
$sprite-view-prev-image: '../i/sprites.png';
$sprite-view-prev: (0px, 209px, 0px, -209px, 44px, 44px, 335px, 324px, '../i/sprites.png', 'sprite-view-prev', );
$sprites-width: 335px;
$sprites-height: 324px;
$sprites-image: '../i/sprites.png';
$sprites-sprites: ($sprite-btn-arrow-black, $sprite-btn-arrow-gold-sm, $sprite-btn-arrow-white-sm, $sprite-btn-arrow-white, $sprite-check-checked-dark, $sprite-check-checked, $sprite-check-dark, $sprite-check-disabled, $sprite-check-radio-bg, $sprite-dot, $sprite-dropdown-arrow, $sprite-fancy-close-xs, $sprite-fancy-close, $sprite-fancy-next, $sprite-fancy-prev, $sprite-full-carousel-left, $sprite-full-carousel-right, $sprite-ico-search-top-md, $sprite-ico-search-top, $sprite-ico-target, $sprite-icon-download, $sprite-minus, $sprite-nav-close, $sprite-plus-gr-sm, $sprite-plus-sm, $sprite-plus-wt-sm, $sprite-popup-close, $sprite-prev-link-sm, $sprite-prev-link, $sprite-radio-checked, $sprite-radio-disabled, $sprite-read-more, $sprite-slick-arrow-left-sm, $sprite-slick-arrow-right-sm, $sprite-state-slider-left, $sprite-state-slider-right, $sprite-video-link-sm, $sprite-video-link, $sprite-view-next-dis, $sprite-view-next, $sprite-view-prev-dis, $sprite-view-prev, );
$sprites: (335px, 324px, '../i/sprites.png', $sprites-sprites, );


