/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-btn-arrow-black-2x-name: 'sprite-btn-arrow-black_2x';
$sprite-btn-arrow-black-2x-x: 642px;
$sprite-btn-arrow-black-2x-y: 196px;
$sprite-btn-arrow-black-2x-offset-x: -642px;
$sprite-btn-arrow-black-2x-offset-y: -196px;
$sprite-btn-arrow-black-2x-width: 16px;
$sprite-btn-arrow-black-2x-height: 24px;
$sprite-btn-arrow-black-2x-total-width: 670px;
$sprite-btn-arrow-black-2x-total-height: 648px;
$sprite-btn-arrow-black-2x-image: '../i/sprites_2x.png';
$sprite-btn-arrow-black-2x: (642px, 196px, -642px, -196px, 16px, 24px, 670px, 648px, '../i/sprites_2x.png', 'sprite-btn-arrow-black_2x', );
$sprite-btn-arrow-gold-sm-2x-name: 'sprite-btn-arrow-gold-sm_2x';
$sprite-btn-arrow-gold-sm-2x-x: 642px;
$sprite-btn-arrow-gold-sm-2x-y: 240px;
$sprite-btn-arrow-gold-sm-2x-offset-x: -642px;
$sprite-btn-arrow-gold-sm-2x-offset-y: -240px;
$sprite-btn-arrow-gold-sm-2x-width: 16px;
$sprite-btn-arrow-gold-sm-2x-height: 20px;
$sprite-btn-arrow-gold-sm-2x-total-width: 670px;
$sprite-btn-arrow-gold-sm-2x-total-height: 648px;
$sprite-btn-arrow-gold-sm-2x-image: '../i/sprites_2x.png';
$sprite-btn-arrow-gold-sm-2x: (642px, 240px, -642px, -240px, 16px, 20px, 670px, 648px, '../i/sprites_2x.png', 'sprite-btn-arrow-gold-sm_2x', );
$sprite-btn-arrow-white-sm-2x-name: 'sprite-btn-arrow-white-sm_2x';
$sprite-btn-arrow-white-sm-2x-x: 642px;
$sprite-btn-arrow-white-sm-2x-y: 280px;
$sprite-btn-arrow-white-sm-2x-offset-x: -642px;
$sprite-btn-arrow-white-sm-2x-offset-y: -280px;
$sprite-btn-arrow-white-sm-2x-width: 16px;
$sprite-btn-arrow-white-sm-2x-height: 20px;
$sprite-btn-arrow-white-sm-2x-total-width: 670px;
$sprite-btn-arrow-white-sm-2x-total-height: 648px;
$sprite-btn-arrow-white-sm-2x-image: '../i/sprites_2x.png';
$sprite-btn-arrow-white-sm-2x: (642px, 280px, -642px, -280px, 16px, 20px, 670px, 648px, '../i/sprites_2x.png', 'sprite-btn-arrow-white-sm_2x', );
$sprite-btn-arrow-white-2x-name: 'sprite-btn-arrow-white_2x';
$sprite-btn-arrow-white-2x-x: 642px;
$sprite-btn-arrow-white-2x-y: 152px;
$sprite-btn-arrow-white-2x-offset-x: -642px;
$sprite-btn-arrow-white-2x-offset-y: -152px;
$sprite-btn-arrow-white-2x-width: 16px;
$sprite-btn-arrow-white-2x-height: 24px;
$sprite-btn-arrow-white-2x-total-width: 670px;
$sprite-btn-arrow-white-2x-total-height: 648px;
$sprite-btn-arrow-white-2x-image: '../i/sprites_2x.png';
$sprite-btn-arrow-white-2x: (642px, 152px, -642px, -152px, 16px, 24px, 670px, 648px, '../i/sprites_2x.png', 'sprite-btn-arrow-white_2x', );
$sprite-check-checked-dark-2x-name: 'sprite-check-checked-dark_2x';
$sprite-check-checked-dark-2x-x: 162px;
$sprite-check-checked-dark-2x-y: 614px;
$sprite-check-checked-dark-2x-offset-x: -162px;
$sprite-check-checked-dark-2x-offset-y: -614px;
$sprite-check-checked-dark-2x-width: 34px;
$sprite-check-checked-dark-2x-height: 34px;
$sprite-check-checked-dark-2x-total-width: 670px;
$sprite-check-checked-dark-2x-total-height: 648px;
$sprite-check-checked-dark-2x-image: '../i/sprites_2x.png';
$sprite-check-checked-dark-2x: (162px, 614px, -162px, -614px, 34px, 34px, 670px, 648px, '../i/sprites_2x.png', 'sprite-check-checked-dark_2x', );
$sprite-check-checked-2x-name: 'sprite-check-checked_2x';
$sprite-check-checked-2x-x: 108px;
$sprite-check-checked-2x-y: 614px;
$sprite-check-checked-2x-offset-x: -108px;
$sprite-check-checked-2x-offset-y: -614px;
$sprite-check-checked-2x-width: 34px;
$sprite-check-checked-2x-height: 34px;
$sprite-check-checked-2x-total-width: 670px;
$sprite-check-checked-2x-total-height: 648px;
$sprite-check-checked-2x-image: '../i/sprites_2x.png';
$sprite-check-checked-2x: (108px, 614px, -108px, -614px, 34px, 34px, 670px, 648px, '../i/sprites_2x.png', 'sprite-check-checked_2x', );
$sprite-check-dark-2x-name: 'sprite-check-dark_2x';
$sprite-check-dark-2x-x: 324px;
$sprite-check-dark-2x-y: 614px;
$sprite-check-dark-2x-offset-x: -324px;
$sprite-check-dark-2x-offset-y: -614px;
$sprite-check-dark-2x-width: 34px;
$sprite-check-dark-2x-height: 34px;
$sprite-check-dark-2x-total-width: 670px;
$sprite-check-dark-2x-total-height: 648px;
$sprite-check-dark-2x-image: '../i/sprites_2x.png';
$sprite-check-dark-2x: (324px, 614px, -324px, -614px, 34px, 34px, 670px, 648px, '../i/sprites_2x.png', 'sprite-check-dark_2x', );
$sprite-check-disabled-2x-name: 'sprite-check-disabled_2x';
$sprite-check-disabled-2x-x: 0px;
$sprite-check-disabled-2x-y: 614px;
$sprite-check-disabled-2x-offset-x: 0px;
$sprite-check-disabled-2x-offset-y: -614px;
$sprite-check-disabled-2x-width: 34px;
$sprite-check-disabled-2x-height: 34px;
$sprite-check-disabled-2x-total-width: 670px;
$sprite-check-disabled-2x-total-height: 648px;
$sprite-check-disabled-2x-image: '../i/sprites_2x.png';
$sprite-check-disabled-2x: (0px, 614px, 0px, -614px, 34px, 34px, 670px, 648px, '../i/sprites_2x.png', 'sprite-check-disabled_2x', );
$sprite-check-radio-bg-2x-name: 'sprite-check-radio-bg_2x';
$sprite-check-radio-bg-2x-x: 54px;
$sprite-check-radio-bg-2x-y: 614px;
$sprite-check-radio-bg-2x-offset-x: -54px;
$sprite-check-radio-bg-2x-offset-y: -614px;
$sprite-check-radio-bg-2x-width: 34px;
$sprite-check-radio-bg-2x-height: 34px;
$sprite-check-radio-bg-2x-total-width: 670px;
$sprite-check-radio-bg-2x-total-height: 648px;
$sprite-check-radio-bg-2x-image: '../i/sprites_2x.png';
$sprite-check-radio-bg-2x: (54px, 614px, -54px, -614px, 34px, 34px, 670px, 648px, '../i/sprites_2x.png', 'sprite-check-radio-bg_2x', );
$sprite-dot-2x-name: 'sprite-dot_2x';
$sprite-dot-2x-x: 642px;
$sprite-dot-2x-y: 408px;
$sprite-dot-2x-offset-x: -642px;
$sprite-dot-2x-offset-y: -408px;
$sprite-dot-2x-width: 12px;
$sprite-dot-2x-height: 12px;
$sprite-dot-2x-total-width: 670px;
$sprite-dot-2x-total-height: 648px;
$sprite-dot-2x-image: '../i/sprites_2x.png';
$sprite-dot-2x: (642px, 408px, -642px, -408px, 12px, 12px, 670px, 648px, '../i/sprites_2x.png', 'sprite-dot_2x', );
$sprite-dropdown-arrow-2x-name: 'sprite-dropdown-arrow_2x';
$sprite-dropdown-arrow-2x-x: 160px;
$sprite-dropdown-arrow-2x-y: 526px;
$sprite-dropdown-arrow-2x-offset-x: -160px;
$sprite-dropdown-arrow-2x-offset-y: -526px;
$sprite-dropdown-arrow-2x-width: 48px;
$sprite-dropdown-arrow-2x-height: 28px;
$sprite-dropdown-arrow-2x-total-width: 670px;
$sprite-dropdown-arrow-2x-total-height: 648px;
$sprite-dropdown-arrow-2x-image: '../i/sprites_2x.png';
$sprite-dropdown-arrow-2x: (160px, 526px, -160px, -526px, 48px, 28px, 670px, 648px, '../i/sprites_2x.png', 'sprite-dropdown-arrow_2x', );
$sprite-fancy-close-xs-2x-name: 'sprite-fancy-close-xs_2x';
$sprite-fancy-close-xs-2x-x: 454px;
$sprite-fancy-close-xs-2x-y: 418px;
$sprite-fancy-close-xs-2x-offset-x: -454px;
$sprite-fancy-close-xs-2x-offset-y: -418px;
$sprite-fancy-close-xs-2x-width: 48px;
$sprite-fancy-close-xs-2x-height: 48px;
$sprite-fancy-close-xs-2x-total-width: 670px;
$sprite-fancy-close-xs-2x-total-height: 648px;
$sprite-fancy-close-xs-2x-image: '../i/sprites_2x.png';
$sprite-fancy-close-xs-2x: (454px, 418px, -454px, -418px, 48px, 48px, 670px, 648px, '../i/sprites_2x.png', 'sprite-fancy-close-xs_2x', );
$sprite-fancy-close-2x-name: 'sprite-fancy-close_2x';
$sprite-fancy-close-2x-x: 544px;
$sprite-fancy-close-2x-y: 324px;
$sprite-fancy-close-2x-offset-x: -544px;
$sprite-fancy-close-2x-offset-y: -324px;
$sprite-fancy-close-2x-width: 72px;
$sprite-fancy-close-2x-height: 72px;
$sprite-fancy-close-2x-total-width: 670px;
$sprite-fancy-close-2x-total-height: 648px;
$sprite-fancy-close-2x-image: '../i/sprites_2x.png';
$sprite-fancy-close-2x: (544px, 324px, -544px, -324px, 72px, 72px, 670px, 648px, '../i/sprites_2x.png', 'sprite-fancy-close_2x', );
$sprite-fancy-next-2x-name: 'sprite-fancy-next_2x';
$sprite-fancy-next-2x-x: 544px;
$sprite-fancy-next-2x-y: 162px;
$sprite-fancy-next-2x-offset-x: -544px;
$sprite-fancy-next-2x-offset-y: -162px;
$sprite-fancy-next-2x-width: 78px;
$sprite-fancy-next-2x-height: 142px;
$sprite-fancy-next-2x-total-width: 670px;
$sprite-fancy-next-2x-total-height: 648px;
$sprite-fancy-next-2x-image: '../i/sprites_2x.png';
$sprite-fancy-next-2x: (544px, 162px, -544px, -162px, 78px, 142px, 670px, 648px, '../i/sprites_2x.png', 'sprite-fancy-next_2x', );
$sprite-fancy-prev-2x-name: 'sprite-fancy-prev_2x';
$sprite-fancy-prev-2x-x: 544px;
$sprite-fancy-prev-2x-y: 0px;
$sprite-fancy-prev-2x-offset-x: -544px;
$sprite-fancy-prev-2x-offset-y: 0px;
$sprite-fancy-prev-2x-width: 78px;
$sprite-fancy-prev-2x-height: 142px;
$sprite-fancy-prev-2x-total-width: 670px;
$sprite-fancy-prev-2x-total-height: 648px;
$sprite-fancy-prev-2x-image: '../i/sprites_2x.png';
$sprite-fancy-prev-2x: (544px, 0px, -544px, 0px, 78px, 142px, 670px, 648px, '../i/sprites_2x.png', 'sprite-fancy-prev_2x', );
$sprite-full-carousel-left-2x-name: 'sprite-full-carousel-left_2x';
$sprite-full-carousel-left-2x-x: 0px;
$sprite-full-carousel-left-2x-y: 526px;
$sprite-full-carousel-left-2x-offset-x: 0px;
$sprite-full-carousel-left-2x-offset-y: -526px;
$sprite-full-carousel-left-2x-width: 36px;
$sprite-full-carousel-left-2x-height: 68px;
$sprite-full-carousel-left-2x-total-width: 670px;
$sprite-full-carousel-left-2x-total-height: 648px;
$sprite-full-carousel-left-2x-image: '../i/sprites_2x.png';
$sprite-full-carousel-left-2x: (0px, 526px, 0px, -526px, 36px, 68px, 670px, 648px, '../i/sprites_2x.png', 'sprite-full-carousel-left_2x', );
$sprite-full-carousel-right-2x-name: 'sprite-full-carousel-right_2x';
$sprite-full-carousel-right-2x-x: 56px;
$sprite-full-carousel-right-2x-y: 526px;
$sprite-full-carousel-right-2x-offset-x: -56px;
$sprite-full-carousel-right-2x-offset-y: -526px;
$sprite-full-carousel-right-2x-width: 36px;
$sprite-full-carousel-right-2x-height: 68px;
$sprite-full-carousel-right-2x-total-width: 670px;
$sprite-full-carousel-right-2x-total-height: 648px;
$sprite-full-carousel-right-2x-image: '../i/sprites_2x.png';
$sprite-full-carousel-right-2x: (56px, 526px, -56px, -526px, 36px, 68px, 670px, 648px, '../i/sprites_2x.png', 'sprite-full-carousel-right_2x', );
$sprite-ico-search-top-md-2x-name: 'sprite-ico-search-top-md_2x';
$sprite-ico-search-top-md-2x-x: 522px;
$sprite-ico-search-top-md-2x-y: 418px;
$sprite-ico-search-top-md-2x-offset-x: -522px;
$sprite-ico-search-top-md-2x-offset-y: -418px;
$sprite-ico-search-top-md-2x-width: 40px;
$sprite-ico-search-top-md-2x-height: 40px;
$sprite-ico-search-top-md-2x-total-width: 670px;
$sprite-ico-search-top-md-2x-total-height: 648px;
$sprite-ico-search-top-md-2x-image: '../i/sprites_2x.png';
$sprite-ico-search-top-md-2x: (522px, 418px, -522px, -418px, 40px, 40px, 670px, 648px, '../i/sprites_2x.png', 'sprite-ico-search-top-md_2x', );
$sprite-ico-search-top-2x-name: 'sprite-ico-search-top_2x';
$sprite-ico-search-top-2x-x: 642px;
$sprite-ico-search-top-2x-y: 68px;
$sprite-ico-search-top-2x-offset-x: -642px;
$sprite-ico-search-top-2x-offset-y: -68px;
$sprite-ico-search-top-2x-width: 24px;
$sprite-ico-search-top-2x-height: 24px;
$sprite-ico-search-top-2x-total-width: 670px;
$sprite-ico-search-top-2x-total-height: 648px;
$sprite-ico-search-top-2x-image: '../i/sprites_2x.png';
$sprite-ico-search-top-2x: (642px, 68px, -642px, -68px, 24px, 24px, 670px, 648px, '../i/sprites_2x.png', 'sprite-ico-search-top_2x', );
$sprite-ico-target-2x-name: 'sprite-ico-target_2x';
$sprite-ico-target-2x-x: 582px;
$sprite-ico-target-2x-y: 418px;
$sprite-ico-target-2x-offset-x: -582px;
$sprite-ico-target-2x-offset-y: -418px;
$sprite-ico-target-2x-width: 36px;
$sprite-ico-target-2x-height: 36px;
$sprite-ico-target-2x-total-width: 670px;
$sprite-ico-target-2x-total-height: 648px;
$sprite-ico-target-2x-image: '../i/sprites_2x.png';
$sprite-ico-target-2x: (582px, 418px, -582px, -418px, 36px, 36px, 670px, 648px, '../i/sprites_2x.png', 'sprite-ico-target_2x', );
$sprite-icon-download-2x-name: 'sprite-icon-download_2x';
$sprite-icon-download-2x-x: 300px;
$sprite-icon-download-2x-y: 418px;
$sprite-icon-download-2x-offset-x: -300px;
$sprite-icon-download-2x-offset-y: -418px;
$sprite-icon-download-2x-width: 62px;
$sprite-icon-download-2x-height: 64px;
$sprite-icon-download-2x-total-width: 670px;
$sprite-icon-download-2x-total-height: 648px;
$sprite-icon-download-2x-image: '../i/sprites_2x.png';
$sprite-icon-download-2x: (300px, 418px, -300px, -418px, 62px, 64px, 670px, 648px, '../i/sprites_2x.png', 'sprite-icon-download_2x', );
$sprite-minus-2x-name: 'sprite-minus_2x';
$sprite-minus-2x-x: 434px;
$sprite-minus-2x-y: 614px;
$sprite-minus-2x-offset-x: -434px;
$sprite-minus-2x-offset-y: -614px;
$sprite-minus-2x-width: 36px;
$sprite-minus-2x-height: 32px;
$sprite-minus-2x-total-width: 670px;
$sprite-minus-2x-total-height: 648px;
$sprite-minus-2x-image: '../i/sprites_2x.png';
$sprite-minus-2x: (434px, 614px, -434px, -614px, 36px, 32px, 670px, 648px, '../i/sprites_2x.png', 'sprite-minus_2x', );
$sprite-nav-close-2x-name: 'sprite-nav-close_2x';
$sprite-nav-close-2x-x: 382px;
$sprite-nav-close-2x-y: 418px;
$sprite-nav-close-2x-offset-x: -382px;
$sprite-nav-close-2x-offset-y: -418px;
$sprite-nav-close-2x-width: 52px;
$sprite-nav-close-2x-height: 52px;
$sprite-nav-close-2x-total-width: 670px;
$sprite-nav-close-2x-total-height: 648px;
$sprite-nav-close-2x-image: '../i/sprites_2x.png';
$sprite-nav-close-2x: (382px, 418px, -382px, -418px, 52px, 52px, 670px, 648px, '../i/sprites_2x.png', 'sprite-nav-close_2x', );
$sprite-plus-gr-sm-2x-name: 'sprite-plus-gr-sm_2x';
$sprite-plus-gr-sm-2x-x: 490px;
$sprite-plus-gr-sm-2x-y: 614px;
$sprite-plus-gr-sm-2x-offset-x: -490px;
$sprite-plus-gr-sm-2x-offset-y: -614px;
$sprite-plus-gr-sm-2x-width: 36px;
$sprite-plus-gr-sm-2x-height: 32px;
$sprite-plus-gr-sm-2x-total-width: 670px;
$sprite-plus-gr-sm-2x-total-height: 648px;
$sprite-plus-gr-sm-2x-image: '../i/sprites_2x.png';
$sprite-plus-gr-sm-2x: (490px, 614px, -490px, -614px, 36px, 32px, 670px, 648px, '../i/sprites_2x.png', 'sprite-plus-gr-sm_2x', );
$sprite-plus-sm-2x-name: 'sprite-plus-sm_2x';
$sprite-plus-sm-2x-x: 546px;
$sprite-plus-sm-2x-y: 614px;
$sprite-plus-sm-2x-offset-x: -546px;
$sprite-plus-sm-2x-offset-y: -614px;
$sprite-plus-sm-2x-width: 36px;
$sprite-plus-sm-2x-height: 32px;
$sprite-plus-sm-2x-total-width: 670px;
$sprite-plus-sm-2x-total-height: 648px;
$sprite-plus-sm-2x-image: '../i/sprites_2x.png';
$sprite-plus-sm-2x: (546px, 614px, -546px, -614px, 36px, 32px, 670px, 648px, '../i/sprites_2x.png', 'sprite-plus-sm_2x', );
$sprite-plus-wt-sm-2x-name: 'sprite-plus-wt-sm_2x';
$sprite-plus-wt-sm-2x-x: 378px;
$sprite-plus-wt-sm-2x-y: 614px;
$sprite-plus-wt-sm-2x-offset-x: -378px;
$sprite-plus-wt-sm-2x-offset-y: -614px;
$sprite-plus-wt-sm-2x-width: 36px;
$sprite-plus-wt-sm-2x-height: 32px;
$sprite-plus-wt-sm-2x-total-width: 670px;
$sprite-plus-wt-sm-2x-total-height: 648px;
$sprite-plus-wt-sm-2x-image: '../i/sprites_2x.png';
$sprite-plus-wt-sm-2x: (378px, 614px, -378px, -614px, 36px, 32px, 670px, 648px, '../i/sprites_2x.png', 'sprite-plus-wt-sm_2x', );
$sprite-popup-close-2x-name: 'sprite-popup-close_2x';
$sprite-popup-close-2x-x: 216px;
$sprite-popup-close-2x-y: 418px;
$sprite-popup-close-2x-offset-x: -216px;
$sprite-popup-close-2x-offset-y: -418px;
$sprite-popup-close-2x-width: 64px;
$sprite-popup-close-2x-height: 64px;
$sprite-popup-close-2x-total-width: 670px;
$sprite-popup-close-2x-total-height: 648px;
$sprite-popup-close-2x-image: '../i/sprites_2x.png';
$sprite-popup-close-2x: (216px, 418px, -216px, -418px, 64px, 64px, 670px, 648px, '../i/sprites_2x.png', 'sprite-popup-close_2x', );
$sprite-prev-link-sm-2x-name: 'sprite-prev-link-sm_2x';
$sprite-prev-link-sm-2x-x: 0px;
$sprite-prev-link-sm-2x-y: 272px;
$sprite-prev-link-sm-2x-offset-x: 0px;
$sprite-prev-link-sm-2x-offset-y: -272px;
$sprite-prev-link-sm-2x-width: 126px;
$sprite-prev-link-sm-2x-height: 126px;
$sprite-prev-link-sm-2x-total-width: 670px;
$sprite-prev-link-sm-2x-total-height: 648px;
$sprite-prev-link-sm-2x-image: '../i/sprites_2x.png';
$sprite-prev-link-sm-2x: (0px, 272px, 0px, -272px, 126px, 126px, 670px, 648px, '../i/sprites_2x.png', 'sprite-prev-link-sm_2x', );
$sprite-prev-link-2x-name: 'sprite-prev-link_2x';
$sprite-prev-link-2x-x: 0px;
$sprite-prev-link-2x-y: 0px;
$sprite-prev-link-2x-offset-x: 0px;
$sprite-prev-link-2x-offset-y: 0px;
$sprite-prev-link-2x-width: 252px;
$sprite-prev-link-2x-height: 252px;
$sprite-prev-link-2x-total-width: 670px;
$sprite-prev-link-2x-total-height: 648px;
$sprite-prev-link-2x-image: '../i/sprites_2x.png';
$sprite-prev-link-2x: (0px, 0px, 0px, 0px, 252px, 252px, 670px, 648px, '../i/sprites_2x.png', 'sprite-prev-link_2x', );
$sprite-radio-checked-2x-name: 'sprite-radio-checked_2x';
$sprite-radio-checked-2x-x: 216px;
$sprite-radio-checked-2x-y: 614px;
$sprite-radio-checked-2x-offset-x: -216px;
$sprite-radio-checked-2x-offset-y: -614px;
$sprite-radio-checked-2x-width: 34px;
$sprite-radio-checked-2x-height: 34px;
$sprite-radio-checked-2x-total-width: 670px;
$sprite-radio-checked-2x-total-height: 648px;
$sprite-radio-checked-2x-image: '../i/sprites_2x.png';
$sprite-radio-checked-2x: (216px, 614px, -216px, -614px, 34px, 34px, 670px, 648px, '../i/sprites_2x.png', 'sprite-radio-checked_2x', );
$sprite-radio-disabled-2x-name: 'sprite-radio-disabled_2x';
$sprite-radio-disabled-2x-x: 270px;
$sprite-radio-disabled-2x-y: 614px;
$sprite-radio-disabled-2x-offset-x: -270px;
$sprite-radio-disabled-2x-offset-y: -614px;
$sprite-radio-disabled-2x-width: 34px;
$sprite-radio-disabled-2x-height: 34px;
$sprite-radio-disabled-2x-total-width: 670px;
$sprite-radio-disabled-2x-total-height: 648px;
$sprite-radio-disabled-2x-image: '../i/sprites_2x.png';
$sprite-radio-disabled-2x: (270px, 614px, -270px, -614px, 34px, 34px, 670px, 648px, '../i/sprites_2x.png', 'sprite-radio-disabled_2x', );
$sprite-read-more-2x-name: 'sprite-read-more_2x';
$sprite-read-more-2x-x: 642px;
$sprite-read-more-2x-y: 112px;
$sprite-read-more-2x-offset-x: -642px;
$sprite-read-more-2x-offset-y: -112px;
$sprite-read-more-2x-width: 20px;
$sprite-read-more-2x-height: 20px;
$sprite-read-more-2x-total-width: 670px;
$sprite-read-more-2x-total-height: 648px;
$sprite-read-more-2x-image: '../i/sprites_2x.png';
$sprite-read-more-2x: (642px, 112px, -642px, -112px, 20px, 20px, 670px, 648px, '../i/sprites_2x.png', 'sprite-read-more_2x', );
$sprite-slick-arrow-left-sm-2x-name: 'sprite-slick-arrow-left-sm_2x';
$sprite-slick-arrow-left-sm-2x-x: 642px;
$sprite-slick-arrow-left-sm-2x-y: 364px;
$sprite-slick-arrow-left-sm-2x-offset-x: -642px;
$sprite-slick-arrow-left-sm-2x-offset-y: -364px;
$sprite-slick-arrow-left-sm-2x-width: 12px;
$sprite-slick-arrow-left-sm-2x-height: 24px;
$sprite-slick-arrow-left-sm-2x-total-width: 670px;
$sprite-slick-arrow-left-sm-2x-total-height: 648px;
$sprite-slick-arrow-left-sm-2x-image: '../i/sprites_2x.png';
$sprite-slick-arrow-left-sm-2x: (642px, 364px, -642px, -364px, 12px, 24px, 670px, 648px, '../i/sprites_2x.png', 'sprite-slick-arrow-left-sm_2x', );
$sprite-slick-arrow-right-sm-2x-name: 'sprite-slick-arrow-right-sm_2x';
$sprite-slick-arrow-right-sm-2x-x: 642px;
$sprite-slick-arrow-right-sm-2x-y: 320px;
$sprite-slick-arrow-right-sm-2x-offset-x: -642px;
$sprite-slick-arrow-right-sm-2x-offset-y: -320px;
$sprite-slick-arrow-right-sm-2x-width: 12px;
$sprite-slick-arrow-right-sm-2x-height: 24px;
$sprite-slick-arrow-right-sm-2x-total-width: 670px;
$sprite-slick-arrow-right-sm-2x-total-height: 648px;
$sprite-slick-arrow-right-sm-2x-image: '../i/sprites_2x.png';
$sprite-slick-arrow-right-sm-2x: (642px, 320px, -642px, -320px, 12px, 24px, 670px, 648px, '../i/sprites_2x.png', 'sprite-slick-arrow-right-sm_2x', );
$sprite-state-slider-left-2x-name: 'sprite-state-slider-left_2x';
$sprite-state-slider-left-2x-x: 642px;
$sprite-state-slider-left-2x-y: 0px;
$sprite-state-slider-left-2x-offset-x: -642px;
$sprite-state-slider-left-2x-offset-y: 0px;
$sprite-state-slider-left-2x-width: 28px;
$sprite-state-slider-left-2x-height: 48px;
$sprite-state-slider-left-2x-total-width: 670px;
$sprite-state-slider-left-2x-total-height: 648px;
$sprite-state-slider-left-2x-image: '../i/sprites_2x.png';
$sprite-state-slider-left-2x: (642px, 0px, -642px, 0px, 28px, 48px, 670px, 648px, '../i/sprites_2x.png', 'sprite-state-slider-left_2x', );
$sprite-state-slider-right-2x-name: 'sprite-state-slider-right_2x';
$sprite-state-slider-right-2x-x: 112px;
$sprite-state-slider-right-2x-y: 526px;
$sprite-state-slider-right-2x-offset-x: -112px;
$sprite-state-slider-right-2x-offset-y: -526px;
$sprite-state-slider-right-2x-width: 28px;
$sprite-state-slider-right-2x-height: 48px;
$sprite-state-slider-right-2x-total-width: 670px;
$sprite-state-slider-right-2x-total-height: 648px;
$sprite-state-slider-right-2x-image: '../i/sprites_2x.png';
$sprite-state-slider-right-2x: (112px, 526px, -112px, -526px, 28px, 48px, 670px, 648px, '../i/sprites_2x.png', 'sprite-state-slider-right_2x', );
$sprite-video-link-sm-2x-name: 'sprite-video-link-sm_2x';
$sprite-video-link-sm-2x-x: 146px;
$sprite-video-link-sm-2x-y: 272px;
$sprite-video-link-sm-2x-offset-x: -146px;
$sprite-video-link-sm-2x-offset-y: -272px;
$sprite-video-link-sm-2x-width: 126px;
$sprite-video-link-sm-2x-height: 126px;
$sprite-video-link-sm-2x-total-width: 670px;
$sprite-video-link-sm-2x-total-height: 648px;
$sprite-video-link-sm-2x-image: '../i/sprites_2x.png';
$sprite-video-link-sm-2x: (146px, 272px, -146px, -272px, 126px, 126px, 670px, 648px, '../i/sprites_2x.png', 'sprite-video-link-sm_2x', );
$sprite-video-link-2x-name: 'sprite-video-link_2x';
$sprite-video-link-2x-x: 272px;
$sprite-video-link-2x-y: 0px;
$sprite-video-link-2x-offset-x: -272px;
$sprite-video-link-2x-offset-y: 0px;
$sprite-video-link-2x-width: 252px;
$sprite-video-link-2x-height: 252px;
$sprite-video-link-2x-total-width: 670px;
$sprite-video-link-2x-total-height: 648px;
$sprite-video-link-2x-image: '../i/sprites_2x.png';
$sprite-video-link-2x: (272px, 0px, -272px, 0px, 252px, 252px, 670px, 648px, '../i/sprites_2x.png', 'sprite-video-link_2x', );
$sprite-view-next-dis-2x-name: 'sprite-view-next-dis_2x';
$sprite-view-next-dis-2x-x: 292px;
$sprite-view-next-dis-2x-y: 272px;
$sprite-view-next-dis-2x-offset-x: -292px;
$sprite-view-next-dis-2x-offset-y: -272px;
$sprite-view-next-dis-2x-width: 88px;
$sprite-view-next-dis-2x-height: 88px;
$sprite-view-next-dis-2x-total-width: 670px;
$sprite-view-next-dis-2x-total-height: 648px;
$sprite-view-next-dis-2x-image: '../i/sprites_2x.png';
$sprite-view-next-dis-2x: (292px, 272px, -292px, -272px, 88px, 88px, 670px, 648px, '../i/sprites_2x.png', 'sprite-view-next-dis_2x', );
$sprite-view-next-2x-name: 'sprite-view-next_2x';
$sprite-view-next-2x-x: 400px;
$sprite-view-next-2x-y: 272px;
$sprite-view-next-2x-offset-x: -400px;
$sprite-view-next-2x-offset-y: -272px;
$sprite-view-next-2x-width: 88px;
$sprite-view-next-2x-height: 88px;
$sprite-view-next-2x-total-width: 670px;
$sprite-view-next-2x-total-height: 648px;
$sprite-view-next-2x-image: '../i/sprites_2x.png';
$sprite-view-next-2x: (400px, 272px, -400px, -272px, 88px, 88px, 670px, 648px, '../i/sprites_2x.png', 'sprite-view-next_2x', );
$sprite-view-prev-dis-2x-name: 'sprite-view-prev-dis_2x';
$sprite-view-prev-dis-2x-x: 108px;
$sprite-view-prev-dis-2x-y: 418px;
$sprite-view-prev-dis-2x-offset-x: -108px;
$sprite-view-prev-dis-2x-offset-y: -418px;
$sprite-view-prev-dis-2x-width: 88px;
$sprite-view-prev-dis-2x-height: 88px;
$sprite-view-prev-dis-2x-total-width: 670px;
$sprite-view-prev-dis-2x-total-height: 648px;
$sprite-view-prev-dis-2x-image: '../i/sprites_2x.png';
$sprite-view-prev-dis-2x: (108px, 418px, -108px, -418px, 88px, 88px, 670px, 648px, '../i/sprites_2x.png', 'sprite-view-prev-dis_2x', );
$sprite-view-prev-2x-name: 'sprite-view-prev_2x';
$sprite-view-prev-2x-x: 0px;
$sprite-view-prev-2x-y: 418px;
$sprite-view-prev-2x-offset-x: 0px;
$sprite-view-prev-2x-offset-y: -418px;
$sprite-view-prev-2x-width: 88px;
$sprite-view-prev-2x-height: 88px;
$sprite-view-prev-2x-total-width: 670px;
$sprite-view-prev-2x-total-height: 648px;
$sprite-view-prev-2x-image: '../i/sprites_2x.png';
$sprite-view-prev-2x: (0px, 418px, 0px, -418px, 88px, 88px, 670px, 648px, '../i/sprites_2x.png', 'sprite-view-prev_2x', );
$sprites-2x-width: 670px;
$sprites-2x-height: 648px;
$sprites-2x-image: '../i/sprites_2x.png';
$sprites-2x-sprites: ($sprite-btn-arrow-black-2x, $sprite-btn-arrow-gold-sm-2x, $sprite-btn-arrow-white-sm-2x, $sprite-btn-arrow-white-2x, $sprite-check-checked-dark-2x, $sprite-check-checked-2x, $sprite-check-dark-2x, $sprite-check-disabled-2x, $sprite-check-radio-bg-2x, $sprite-dot-2x, $sprite-dropdown-arrow-2x, $sprite-fancy-close-xs-2x, $sprite-fancy-close-2x, $sprite-fancy-next-2x, $sprite-fancy-prev-2x, $sprite-full-carousel-left-2x, $sprite-full-carousel-right-2x, $sprite-ico-search-top-md-2x, $sprite-ico-search-top-2x, $sprite-ico-target-2x, $sprite-icon-download-2x, $sprite-minus-2x, $sprite-nav-close-2x, $sprite-plus-gr-sm-2x, $sprite-plus-sm-2x, $sprite-plus-wt-sm-2x, $sprite-popup-close-2x, $sprite-prev-link-sm-2x, $sprite-prev-link-2x, $sprite-radio-checked-2x, $sprite-radio-disabled-2x, $sprite-read-more-2x, $sprite-slick-arrow-left-sm-2x, $sprite-slick-arrow-right-sm-2x, $sprite-state-slider-left-2x, $sprite-state-slider-right-2x, $sprite-video-link-sm-2x, $sprite-video-link-2x, $sprite-view-next-dis-2x, $sprite-view-next-2x, $sprite-view-prev-dis-2x, $sprite-view-prev-2x, );
$sprites-2x: (670px, 648px, '../i/sprites_2x.png', $sprites-2x-sprites, );


