$icons: (
      sprite: (width: 7007px, height: 6985px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    ico-300: (width: 100px, height: 100px, backgroundX: 0px, backgroundY: 0px),
    ico-airplane: (width: 100px, height: 100px, backgroundX: -110px, backgroundY: -110px),
    ico-app: (width: 100px, height: 100px, backgroundX: -220px, backgroundY: -220px),
    ico-app-auto: (width: 100px, height: 100px, backgroundX: -330px, backgroundY: -330px),
    ico-app-download: (width: 100px, height: 100px, backgroundX: -440px, backgroundY: -440px),
    ico-app-icon: (width: 98px, height: 144px, backgroundX: -550px, backgroundY: -550px),
    ico-app-wifi: (width: 100px, height: 100px, backgroundX: -658px, backgroundY: -704px),
    ico-bag: (width: 100px, height: 100px, backgroundX: -768px, backgroundY: -814px),
    ico-bag-stroke: (width: 100px, height: 100px, backgroundX: -878px, backgroundY: -924px),
    ico-bell: (width: 100px, height: 100px, backgroundX: -988px, backgroundY: -1034px),
    ico-building: (width: 100px, height: 100px, backgroundX: -1098px, backgroundY: -1144px),
    ico-call: (width: 100px, height: 100px, backgroundX: -1208px, backgroundY: -1254px),
    ico-car: (width: 100px, height: 100px, backgroundX: -1318px, backgroundY: -1364px),
    ico-car-icon: (width: 83px, height: 72px, backgroundX: -1428px, backgroundY: -1474px),
    ico-card: (width: 100px, height: 100px, backgroundX: -1521px, backgroundY: -1556px),
    ico-card-add: (width: 100px, height: 100px, backgroundX: -1631px, backgroundY: -1666px),
    ico-card-icon: (width: 109px, height: 66px, backgroundX: -1741px, backgroundY: -1776px),
    ico-chair: (width: 100px, height: 100px, backgroundX: -1860px, backgroundY: -1852px),
    ico-claster: (width: 100px, height: 100px, backgroundX: -1970px, backgroundY: -1962px),
    ico-coins: (width: 100px, height: 100px, backgroundX: -2080px, backgroundY: -2072px),
    ico-coins-white: (width: 100px, height: 100px, backgroundX: -2190px, backgroundY: -2182px),
    ico-concierge: (width: 100px, height: 100px, backgroundX: -2300px, backgroundY: -2292px),
    ico-costume: (width: 100px, height: 100px, backgroundX: -2410px, backgroundY: -2402px),
    ico-dialog: (width: 100px, height: 100px, backgroundX: -2520px, backgroundY: -2512px),
    ico-dialog-people: (width: 100px, height: 100px, backgroundX: -2630px, backgroundY: -2622px),
    ico-dialog-people-md: (width: 100px, height: 100px, backgroundX: -2740px, backgroundY: -2732px),
    ico-dialog-people-white: (width: 100px, height: 100px, backgroundX: -2850px, backgroundY: -2842px),
    ico-earth: (width: 100px, height: 100px, backgroundX: -2960px, backgroundY: -2952px),
    ico-emoji-bad: (width: 100px, height: 100px, backgroundX: -3070px, backgroundY: -3062px),
    ico-emoji-good: (width: 100px, height: 100px, backgroundX: -3180px, backgroundY: -3172px),
    ico-eye: (width: 100px, height: 100px, backgroundX: -3290px, backgroundY: -3282px),
    ico-gift: (width: 100px, height: 100px, backgroundX: -3400px, backgroundY: -3392px),
    ico-grafick: (width: 100px, height: 100px, backgroundX: -3510px, backgroundY: -3502px),
    ico-hand: (width: 100px, height: 100px, backgroundX: -3620px, backgroundY: -3612px),
    ico-headset: (width: 100px, height: 100px, backgroundX: -3730px, backgroundY: -3722px),
    ico-list-doc: (width: 100px, height: 100px, backgroundX: -3840px, backgroundY: -3832px),
    ico-magnifier: (width: 100px, height: 100px, backgroundX: -3950px, backgroundY: -3942px),
    ico-man: (width: 100px, height: 100px, backgroundX: -4060px, backgroundY: -4052px),
    ico-mobile-qr: (width: 100px, height: 100px, backgroundX: -4170px, backgroundY: -4162px),
    ico-money: (width: 100px, height: 100px, backgroundX: -4280px, backgroundY: -4272px),
    ico-more: (width: 100px, height: 100px, backgroundX: -4390px, backgroundY: -4382px),
    ico-null: (width: 100px, height: 100px, backgroundX: -4500px, backgroundY: -4492px),
    ico-pay-card: (width: 100px, height: 100px, backgroundX: -4610px, backgroundY: -4602px),
    ico-pay-card-1: (width: 100px, height: 100px, backgroundX: -4720px, backgroundY: -4712px),
    ico-phone: (width: 100px, height: 100px, backgroundX: -4830px, backgroundY: -4822px),
    ico-plane: (width: 100px, height: 100px, backgroundX: -4940px, backgroundY: -4932px),
    ico-plane-tickets: (width: 100px, height: 100px, backgroundX: -5050px, backgroundY: -5042px),
    ico-plane-tickets-white: (width: 100px, height: 100px, backgroundX: -5160px, backgroundY: -5152px),
    ico-qr-code: (width: 100px, height: 100px, backgroundX: -5270px, backgroundY: -5262px),
    ico-safe: (width: 100px, height: 100px, backgroundX: -5380px, backgroundY: -5372px),
    ico-search: (width: 100px, height: 100px, backgroundX: -5490px, backgroundY: -5482px),
    ico-search-big: (width: 100px, height: 100px, backgroundX: -5600px, backgroundY: -5592px),
    ico-sky: (width: 100px, height: 100px, backgroundX: -5710px, backgroundY: -5702px),
    ico-tablet: (width: 100px, height: 100px, backgroundX: -5820px, backgroundY: -5812px),
    ico-tablet-stroke: (width: 100px, height: 100px, backgroundX: -5930px, backgroundY: -5922px),
    ico-taxi: (width: 100px, height: 100px, backgroundX: -6040px, backgroundY: -6032px),
    ico-theater-tickets: (width: 100px, height: 100px, backgroundX: -6150px, backgroundY: -6142px),
    ico-tickets: (width: 100px, height: 100px, backgroundX: -6260px, backgroundY: -6252px),
    ico-time-circle: (width: 100px, height: 100px, backgroundX: -6370px, backgroundY: -6362px),
    ico-umbrella: (width: 100px, height: 100px, backgroundX: -6480px, backgroundY: -6472px),
    ico-user: (width: 100px, height: 100px, backgroundX: -6590px, backgroundY: -6582px),
    ico-wi-fi-2: (width: 77px, height: 63px, backgroundX: -6700px, backgroundY: -6692px),
    ico-wifi: (width: 100px, height: 100px, backgroundX: -6787px, backgroundY: -6765px),
    icon-70-white: (width: 100px, height: 100px, backgroundX: -6897px, backgroundY: -6875px),
);
