// Headings
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: $line-height-computed;
    margin-bottom: ($line-height-computed / 2);
    .small,
    small {
        font-size: 65%;
    }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);
}

h1,
.h1 {
    font-size: $font-size-h1;
    margin-top: 0;
    margin-bottom: 10px;
}

h2,
.h2 {
    font-size: $font-size-h2;
}

h3,
.h3 {
    font-size: $font-size-h3;
}

h4,
.h4 {
    font-size: $font-size-h4;
}

h5,
.h5 {
    font-size: $font-size-h5;
}

h6,
.h6 {
    font-size: $font-size-h6;
}

p {
    margin: 0 0 ($line-height-computed / 2);
}

b,
strong {
    font-weight: normal;
    font-family: $font-interstate-bold;
}

a:focus {
    outline: 0 none;
}

.font-reg {
    font-family: $font-interstate-reg;
}

.font-light {
    font-family: $font-interstate-light;
}

.font-bold {
    font-family: $font-interstate-bold;
}

// Alignment
.phone-text-center {
    @media #{$phone} {
        text-align: center;
    }
}

.content-title-1 {
    font-size: $font-size-h2; //30
    line-height: 1.2;
}

.content-title-2 {
    font-size: $font-size-h3; //26
    line-height: 1.2;
}

.content-title-3 {
    font-size: $font-size-h4; //24
    line-height: 1.2;
}

.content-title-4 {
    font-size: $font-size-h5; //22
    line-height: 1.2;
}

.content-title-6 {
    font-size: $font-size-lg; //16
    line-height: 1.1;
}

.content-text-5 {
    font-size: $font-size-h6; //18
    line-height: 1.3;
}

.content-text-6 {
    font-size: $font-size-lg; //16
    line-height: 1.5;
}

.article-title {
    font-size: $font-size-h1;
    line-height: 1.1;
    letter-spacing: 1.8px;
    color: $color-barleycorn;
    margin-bottom: 0;
    margin-top: 0;

    &.content-title-2 {
        font-size: $font-size-h3;
        line-height: 1.2;
        letter-spacing: normal;
    }

    &+.article-subtitle {
        margin-top: 36px;
    }

    &+.article-text {
        margin-top: 18px;
    }

    sup {
        top: -1em;
    }
}

.article-subtitle {
    font-size: $font-size-h5;
    line-height: $font-size-h4;
    margin-bottom: 0;
    &+.article-text {
        margin-top: 18px;
    }
    p {
        margin-bottom: 0;
        &+p {
            margin-top: 20px;
        }
    }
}

.article-text {
    font-size: $font-size-h6;
    line-height: $font-size-h4;
    margin-bottom: 0;
    p {
        margin-bottom: 0;
        &+p {
            margin-top: 20px;
        }
    }
    @media screen and (max-width: $screen-sm-max) {
        font-size: $font-size-lg;
        line-height: $font-size-tabnav;
    }
    @media #{$phone} {
        font-size: $font-size-base;
    }
}

.link {
    color: $color-barleycorn;
    text-decoration: underline;
    cursor: pointer;

    &:focus,
    &:hover {
        color: darken($color-barleycorn, 15%);
        text-decoration: none;
    }
}
.link-title {
    color: $color-barleycorn;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
        color: darken($color-barleycorn, 15%);
        text-decoration: none;

        u {
            border-bottom: medium none;
        }
    }

    u {
        text-decoration: none;
        border-bottom: 1px solid $color-barleycorn;
    }
}

@media screen and (max-width: $screen-xs-max) {
    .article-subtitle,
    .article-text {
        p {
            &+p {
                margin-top: 6px;
            }
        }
    }
    .content-text {
        font-size: $font-size-base;
        line-height: 1.2;
    }
    .article-title {
        font-size: $font-size-h4;
        letter-spacing: 1px;
        line-height: 1.16;
    }
    .content-title-1 {
        font-size: $font-size-h4; //24
    }
    .content-title-3 {
        font-size: $font-size-h6; //18
        line-height: 1.4;
    }
    .content-title-1 {
        font-size: $font-size-tabnav;
    }
    .content-title-4 {
        font-size: $font-size-h6;
    }
    .content-text-5 {
        font-size: $font-size-base;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .content-title-1 {
        font-size: $font-size-h3;
    }
    .content-title-3 {
        font-size: $font-size-tabnav;
    }
    .content-text-5 {
        font-size: $font-size-lg;
    }
    .article-subtitle,
    .article-text {
        p {
            &+p {
                margin-top: 14px;
            }
        }
    }
}
