.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-uppercase {
    text-transform: uppercase;

    sup {
        top: -1em;
        font-size: 65%;
    }
}

.pull-left {
    float: left !important
}

.pull-right {
    float: right !important
}

.no-float {
    float: none !important;
}

.no-padding {
    padding: 0 !important;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.inline {
    display: inline;
}

.no-radius {
    border-radius: 0 !important;
}

.no-border {
    border: none !important;
}

.radius-rtop-30 {
    border-top-right-radius: 30px;
}

.radius-rbottom-30 {
    border-bottom-right-radius: 30px;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.vertical-align-top {
    vertical-align: top !important;
}

.b-table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
}

.b-table__row {
    display: table-row;
    width: 100%;
    height: 100%;
}

.b-table__cell {
    display: table-cell;
    width: 100%;
    height: 100%;
}

.b-table__cell-middle {
    display: table-cell;
    vertical-align: middle;
}

.b-table__cell-top {
    display: table-cell;
    vertical-align: top;
}

.b-table__cell-bottom {
    display: table-cell;
    vertical-align: bottom;
}

// Visibility utilities
// Note: Deprecated .visible-xs, .visible-sm, .visible-md, and .visible-lg as of v3.2.0

@include responsive-invisibility('.visible-xs');
@include responsive-invisibility('.visible-sm');
@include responsive-invisibility('.visible-md');
@include responsive-invisibility('.visible-lg');

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-xs-block-table,
.visible-xs-block-table-cell,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-sm-block-table,
.visible-sm-block-table-cell,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-md-block-table,
.visible-md-block-table-cell,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-lg-block-table,
.visible-lg-block-table-cell {
    display: none !important;
}

@media (max-width: $screen-xs-max) {
    @include responsive-visibility('.visible-xs');
}

.visible-xs-block {
    @media (max-width: $screen-xs-max) {
        display: block !important;
    }
}

.visible-xs-inline {
    @media (max-width: $screen-xs-max) {
        display: inline !important;
    }
}

.visible-xs-inline-block {
    @media (max-width: $screen-xs-max) {
        display: inline-block !important;
    }
}

.visible-xs-block-table {
    @media (max-width: $screen-xs-max) {
        display: table !important;
    }
}

.visible-xs-block-table-cell {
    @media (max-width: $screen-xs-max) {
        display: table-cell !important;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include responsive-visibility('.visible-sm');
}
.visible-sm-block {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        display: block !important;
    }
}

.visible-sm-inline {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        display: inline !important;
    }
}

.visible-sm-inline-block {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        display: inline-block !important;
    }
}

.visible-sm-block-table {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        display: table !important;
    }
}

.visible-sm-block-table-cell {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        display: table-cell !important;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include responsive-visibility('.visible-md');
}

.visible-md-block {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: block !important;
    }
}

.visible-md-inline {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: inline !important;
    }
}

.visible-md-inline-block {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: inline-block !important;
    }
}

.visible-md-block-table {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: table !important;
    }
}

.visible-md-block-table-cell {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: table-cell !important;
    }
}

@media (min-width: $screen-lg-min) {
    @include responsive-visibility('.visible-lg');
}

.visible-lg-block {
    @media (min-width: $screen-lg-min) {
        display: block !important;
    }
}

.visible-lg-inline {
    @media (min-width: $screen-lg-min) {
        display: inline !important;
    }
}

.visible-lg-inline-block {
    @media (min-width: $screen-lg-min) {
        display: inline-block !important;
    }
}

.visible-lg-block-table {
    @media (min-width: $screen-lg-min) {
        display: table !important;
    }
}

.visible-lg-block-table-cell {
    @media (min-width: $screen-lg-min) {
        display: table-cell !important;
    }
}
