// Small screen / tablet
$screen-xs: 480px !default;
//** `$screen-xs-min`
$screen-xs-min: $screen-xs !default;
//** `$screen-sm`
$screen-sm: 768px !default;
$screen-sm-min:  $screen-sm !default;
//** `$screen-tablet`
$screen-tablet: $screen-sm-min !default;
// Medium screen / desktop
//** `$screen-md`
$screen-md:  1020px !default;
$screen-md-min: $screen-md !default;
//** `$screen-desktop`
$screen-desktop: $screen-md-min !default;
// Large screen / wide desktop
//** `$screen-lg`
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$phone: 'screen and (max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 1019px)';
$smallDescktop: '(min-width: 1019px)';
$descktop: '(min-width: 1199px)';

//grid
$gutter-width: 24px !default;
$grid-columns: 12 !default;

//== Typography
$font-icon-version: 1.0 !default;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;
$font-path: "../fonts/" !default;
$font-interstate-bold: "Interstate_bold" !default;
$font-interstate-reg: "Interstate_reg" !default;
$font-interstate-light: "Interstate_light" !default;
$font-ptrouble: "PTRoubleSans" !default;
$font-size-xs: 11px !default;
$font-size-sm: 12px !default;
$font-size-base: 14px !default;
$font-size-md: 15px !default;
$font-size-lg: 16px !default;
$font-size-leftnav: 13px !default;
$font-size-tabnav: 20px !default;
$btn-size-contacts: 28px !default;

$font-size-h1: 36px !default;
$font-size-h2: 30px !default;
$font-size-h3: 26px !default;
$font-size-h4: 24px !default;
$font-size-h5: 22px !default;
$font-size-h6: 18px !default;
$line-height-base: 1.428571429 !default;
$line-height-computed: floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-content: 25px !default;
$line-height-content-lg: 30px !default;
$headings-font-family: inherit !default;
$headings-font-weight: normal !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

//Colors
$white: #ffffff !default;
$black: #000000 !default;
$black-light: #1a1a1a !default;
$color-base: #4c4c4c !default;
$gray: #666666 !default;
$gray-dark: #333333 !default;
$gray-lighter: #f2f2f2 !default;
$gray-light: #f7f7f7 !default;
$color-ccc: #cccccc !default;
$color-barleycorn: #b4975a !default;
$color-barleycorn-dark: #a58748 !default;
$color-barleycorn-light: #c7b286 !default;
$color-barleycorn-lighter: #eee1c6 !default;
$bgcolor-btn-barleycorn: #b5995c !default;
$border-btnshadow: #b0985c !default;
$border-color-hr: #585758 !default;
$color-dl-title: #808080 !default;
$color-slick-dots: #e8e8e8 !default;
$color-tabsnav: #717073 !default;
$color-increment-inlineblock: #f6f6f6 !default;
$bgcolor-table-collapse: #fafafa !default;
$bordercolor-table-collapse: #ebebeb !default;
$particle-color: #e5e5e5 !default;

$error-color: #ff0000 !default;
$link-color: #00569f !default;
$link-hover-color: $link-color !default;
$link-hover-decoration: underline !default;
$link-active-color: $link-color !default;
$link-visited-color: #014f91 !default;

$thumbnail-caption-padding: 9px !default;

//== Input
$input-height-base: 40px;
$padding-input-vertical: 6px !default;
$padding-input-horizontal: 12px !default;

$cursor-disabled: not-allowed !default;
$caret-width-base: 4px !default;
$caret-width-large: 5px !default;

//== Buttons
$padding-base-vertical: 4px !default;
$padding-base-horizontal: 25px !default;

$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;

$padding-md-vertical: 8px !default;
$padding-md-horizontal: 15px !default;
$line-height-md: 1.428571429 !default;

$padding-sm-vertical: 6px !default;
$padding-sm-horizontal: 17px !default;
$line-height-sm: 1.4 !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 28px !default;
$line-height-large: 1.3333333 !default;

$padding-xlarge-vertical: 13px !default;
$padding-xlarge-horizontal: 52px !default;

$border-radius-base: 6px !default;
$input-border-radius: 3px !default;
$btn-font-weight: normal !default;
$btn-default-bg: #f7f7f7 !default;
$btn-default-border: #e6e6e6 !default;
$btn-success-color: $white !default;
$btn-white-color: #4a4a4a !default;

//== Z-index
$zindex-dropdown: 1000 !default;
$zindex-backdrop: 1010 !default;
$zindex-touch-menu: 1020 !default;
$zindex-modal: 1050 !default;
$form-group-margin-bottom: 30px !default;

//== Sprites svg
$mq-base-font-size: 14px !default;
