@import "_svg_sprite";
@import "_variables";
@import "_mixin";

@media (min-width: $screen-md-min) {
  .main-page {
    .app-footer-nav__top {
      .app-footer-nav-inner {
        .footer-nav {
          &:first-child {
            li:first-child {
              margin-right: 434px;
            }
          }
        }
      }
    }
  }
}
