extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Членство Priority Pass предоставляет доступ в бизнес залы аэропортов Шереметьево, Домодедово, Пулково и другие.')
block title
	title Business lounges at major international airports
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		.article-content.no-print
			#transfer.conclusion.b-transfer
				#section-privileges-boingo.conclusion-item.conclusion-item--right-full.section-bggray-light.b-transfer__how-get
					.container
						.row
							.conclusion-media.conclusion-media_img-center.conclusion-media_logo-boingo.b-transfer(style="background-image: url('../../content/travel/img-boingo.jpg'")
								img(src="../../content/travel/img-boingo.jpg")
							.col-xs-12.col-sm-6.col-md-6.col-sm-offset-6.col-md-offset-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Boingo Wi-Fi&nbsp;&mdash; Unlimited Internet Access Across the World*
													.article-text
														p Boingo offers Citigold World Elite Mastercard<sup class="reg">&reg;</sup> cardholders access<sup>*</sup> to&nbsp;over a&nbsp;million Wi-Fi hotspots throughout the world on&nbsp;up&nbsp;to&nbsp;four devices at&nbsp;absolutely no&nbsp;charge.
														p The service is&nbsp;available in&nbsp;hotels, restaurants, shopping malls, and even in&nbsp;flights. For Mastercard holders only.
														p
															a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Apply now
				
				.conclusion-item
					.container
						.content.content-md
							#table-collapse-1.table-collapse__body
								.table-collapse-wrap__header
									a.table-collapse-handler.no-border(data-toggle="collapse", data-parent="#table-collapse-1", href="#table-collapse-item_2")
										.table-collapse-wrap
											.b-table
												.b-table__cell-middle
													.table-collapse__target
														span How to&nbsp;use the service
								#table-collapse-item_2.collapse
									.table-collapse-wrap__body
										.article-subtitle
										.article-text
											.list-increment.list-increment--flex
												.list-increment__item
													p.article-text Create your account and register your Citigold Mastercard debit card at&nbsp;<span class="link js-link-target" data-target="http://mastercard.boingo.com/">mastercard.boingo.com</span>.
												.list-increment__item
													p.article-text In&nbsp;order to&nbsp;access the internet on&nbsp;your smartphone or&nbsp;tablet, download the Boingo Wi-Finder mobile app.
													.btn-panel.btn-panel_no-padding
														a.btn.btn--app(href="https://itunes.apple.com/app/apple-store/id297596317?mt=8", target="_blank", style="background-image: url('../../content/special/icon-ios-eng.png')")
														a.btn.btn--app(href="https://market.android.com/details?id=com.boingo.boingowifi", target="_blank",  style="background-image: url('../../content/special/icon-gplay-eng.png')")
												.list-increment__item
													p.article-text Log in&nbsp;to&nbsp;the app with the user&nbsp;ID and password you set up&nbsp;at&nbsp;registration.
												.list-increment__item
													p.article-text Locate and connect to&nbsp;the available Wi-Fi network nearby.
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		p In&nbsp;order to&nbsp;access the internet on&nbsp;your laptop, log in <span class="link js-link-target" data-target="http://mastercard.boingo.com/">mastercard.boingo.com</span>&nbsp;to&nbsp;see a&nbsp;list of&nbsp;available Wi-Fi networks.
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg(style="background-image: url('../../content/downloads-media/img-1-lg.jpg');")
							.disclamer
								p
									sup *
									| Boingo Wi-Fi is&nbsp;offered by&nbsp;Boingo Wireless, Inc.
				

		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Disclaimers
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li
									p * The services are made available at&nbsp;the discretion&nbsp;of, and subject to&nbsp;the procedure set&nbsp;by, the service provider companies. AO&nbsp;Citibank, Citigroup Inc. and their affiliates accept no&nbsp;liability whatsoever for the offers of&nbsp;such companies, including in&nbsp;connection with the availability of&nbsp;any service. Service details are provided based on&nbsp;information received from the companies.
