extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Членство Priority Pass предоставляет доступ в бизнес залы аэропортов Шереметьево, Домодедово, Пулково и другие.')
block title
	title Business lounges at major international airports
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../f/js/promo-animate.js")

block content
	.article-page
		.article-content.no-print
			#transfer.conclusion.b-transfer
				#section-privileges-concierge.conclusion-item.conclusion-item--right-full
					.container
						.row
							.conclusion-media
								img(src="../../content/travel/conclusion-3.jpg")
							.col-xs-12.col-sm-7.col-md-8.col-sm-offset-5.col-md-offset-4
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Concierge
													.article-subtitle Concierge is&nbsp;available 24/7<small><sup>*</sup></small>.
													.article-text
														p Concierge will help you with hotel and flight reservations around the world, restaurant bookings, gifts, tickets to&nbsp;the most interesting events, information about shops, services, etc.
												.conclusion-text__body
													p.content-text-6 To&nbsp;get in&nbsp;touch with Concierge, please call Citigold CitiPhone.
		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Disclaimers
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li
									p * The Citigold Concierge service is&nbsp;made available at&nbsp;the discretion&nbsp;of, and subject to&nbsp;the procedure set&nbsp;by, the service provider company. AO&nbsp;Citibank, Citigroup Inc. and their affiliates accept no&nbsp;liability whatsoever for the offers of&nbsp;such company, including in&nbsp;connection with the availability of&nbsp;any service. Service details are provided based on&nbsp;information received from the company.
