extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Членство Priority Pass предоставляет доступ в бизнес залы аэропортов Шереметьево, Домодедово, Пулково и другие.')
block title
	title Business lounges at major international airports
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		#business-lounges.section-cards
			.article-content
				.container
					.content.content-md
						.content-heading.content-heading-middle
							.h2.article-title.text-uppercase Business lounges at&nbsp;major international airports<small><sup>*</sup></small>
			.conclusion.no-padding
				.conclusion-item.conclusion-item--right-full.section-bggray-light.b-transfer__how-get
					.container
						.row
							.conclusion-media.conclusion-media_img-center.conclusion-media_logo-lounge.b-transfer(style="background-image: url('../../content/travel/img-loungekey.jpg'); background-position: 80% 0;")
								img(src="../../content/travel/img-loungekey.jpg")
							.col-xs-12.col-sm-6.col-md-6.col-sm-offset-6.col-md-offset-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Mastercard Airport Experiences provided by&nbsp;LoungeKey<small><sup>*</sup></small>
													.article-text
														p Access to&nbsp;airport lounges in&nbsp;over 500 cities across the world (<span class="link js-link-target" data-target="https://airport.mastercard.com">a&nbsp;full list</span>) and to&nbsp;exclusive dining, spa, retail and duty-free shopping offers.
														p
															a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Apply now
				.conclusion-item
					.container
						.content.content-md
							#table-collapse.table-collapse__body
								.table-collapse-wrap__header
									a.table-collapse-handler.no-border(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_1")
										.table-collapse-wrap
											.b-table
												.b-table__cell-middle
													.table-collapse__target
														span How to&nbsp;use&nbsp;it
								#table-collapse-item_1.collapse
									.table-collapse-wrap__body
										.article-text
											p On&nbsp;arrival at&nbsp;the lounge, quote &lsquo;LoungeKey&rsquo; to&nbsp;the reception staff and present your Citigold World Elite Mastercard<sup class="reg">&reg;</sup> debit card.
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		p Please note that an&nbsp;authorization hold of&nbsp;US$ 1&nbsp;is required for card validation. After validation is&nbsp;completed, the hold falls off usually within ten business days.
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg

										.article-text
											p You can bring any number of&nbsp;guests with you every time you visit an&nbsp;airport lounge. Lounge access is&nbsp;free for you and two of&nbsp;your guests (subject to&nbsp;meeting the minimum balance requirements set out in&nbsp;the Tariffs), but for your third and subsequent guests, one of&nbsp;your accounts will be&nbsp;charged the equivalent of&nbsp;US$ 30&nbsp;per guest.
											p If&nbsp;your Average Monthly Relationship Balance in&nbsp;the month preceding the month in&nbsp;which the privilege is&nbsp;used was lower than that required by&nbsp;the Tariffs, your account will be&nbsp;charged the equivalent of&nbsp;US$ 30&nbsp;per person per visit.
				.conclusion-item.conclusion-item--left-full.section-bggray-light
					.container
						.row
							.conclusion-media
								img(src="../../content/travel/img-mastercardairport.jpg")
							.col-xs-12.col-sm-7.col-md-8
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.content-title-1.color-2 Mobile app
													.article-text
														p Download the Mastercard Airport Experiences mobile app to&nbsp;appreciate the benefits of&nbsp;the program and to&nbsp;take advantage of&nbsp;the exclusive dining, spa, retail and duty-free shopping offers.
												.conclusion-text__body
													.btn-panel
														a.btn.btn--app(href="https://itunes.apple.com/app/mastercard-airport-experiences/id1218321651", target="_blank", style="background-image: url('../../content/special/icon-ios-eng.png')")
														a.btn.btn--app(href="https://play.google.com/store/apps/details?id=com.loungekey.mastercard.android", target="_blank",  style="background-image: url('../../content/special/icon-gplay-eng.png')")
			.article-tab.tab
				.article-heading.article-heading_no-bg.padding-top-0
					.container
						.tab-cover.dropdown
							.custom-select.dropdown-toggle(data-toggle="dropdown")
								span.filter-option Lounge Access
								span.caret
							.dropdown-menu
								ul.tab-nav.row.no-margin
									li.tab-nav__item.col-xs-12.col-sm-6.col-md-6.no-padding
										a.tab-nav-handler(href="#tab-1", data-text="Lounge Access") Lounge Access
									li.tab-nav__item.col-xs-12.col-sm-6.col-md-6.no-padding
										a.tab-nav-handler(href="#tab-2", data-text="Offers and Discounts") Offers and Discounts
				.article-content.section-bggray
					.tab-content
						.tab-content__item.tab-pane.fade#tab-1
							.container
								.content.content-md
									.content-heading
										.remuneration__list
											.remuneration__item
												.remuneration-slider.remuneration-slider_steps.remuneration-slider_steps-col-4
													-var remunerationItems = [{"title": "Register on&nbsp;the app using your Citigold Mastercard.", "icons": "user"}, {"title": "Locate an&nbsp;airport lounge.", "icons": "search-big"}, {"title": "Show your&nbsp;QR code at&nbsp;the reception.", "icons": "mobile-qr"}, {"title": "Relax and enjoy yourself!", "icons": "chair"}]
													each value, key in remunerationItems
														.remuneration-slider__item
															.circle
																.circle__inner
																	.b-table
																		.b-table__cell-middle
																			.remuneration-slider__icon-wrap
																				span(class="svg-icon-#{value.icons}")
															.remuneration-slider__title!= value.title
						.tab-content__item.tab-pane.fade#tab-2
							.container
								.content.content-md
									.content-heading
										.remuneration__list
											.remuneration__item
												.remuneration-slider.remuneration-slider_steps.remuneration-slider_steps-col-5
													-var remunerationItems = [{"title": "Register on&nbsp;the app using your Citigold Mastercard.", "icons": "user"}, {"title": "Find discounts and offers available at&nbsp;this particular airport.", "icons": "search-big"}, {"title": "Select an&nbsp;offer; the app will generate a&nbsp;voucher with your&nbsp;QR code.", "icons": "qr-code"}, {"title": "Show your&nbsp;QR code to&nbsp;get a&nbsp;discount or&nbsp;special offer.", "icons": "mobile-qr"}, {"title": "Pay with the card registered on&nbsp;the app.", "icons": "pay-card"}]
													each value, key in remunerationItems
														.remuneration-slider__item
															.circle
																.circle__inner
																	.b-table
																		.b-table__cell-middle
																			.remuneration-slider__icon-wrap
																				span(class="svg-icon-#{value.icons}")
															.remuneration-slider__title!= value.title
			

		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Disclaimers
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li
									p * Ten lounge visits for Citigold customers and an unlimited number of lounge visits for Citigold Private Client customers in a calendar month. For a full list of cities, lounges and their locations, go to airport.mastercard.com, use the Mastercard Airport Experiences mobile app, contact your Relationship Manager or call +7 (495) 775-77-77 in Moscow, +7 (812) 336-38-38 in St. Petersburg or 8 (800) 700-91-91 elsewhere in Russia.
									p The Customer authorizes Citibank to debit any of his/her Citibank accounts for a ruble amount equivalent to US$ 30.00 in favor of Mastercard Europe SA (198A, Chaussée de Tervuren, 1410 Waterloo, Belgium) if the Customer used the privilege «Free Access to Airport Lounges» but had failed to maintain the required Average Monthly Relationship Balance in the calendar month preceding that in which the privilege was used.
								