extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Членство Priority Pass предоставляет доступ в бизнес залы аэропортов Шереметьево, Домодедово, Пулково и другие.')
block title
	title Business lounges at major international airports
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		.article-content.no-print
			#transfer.conclusion.b-transfer
				.conclusion-item.conclusion-item--left-full.section-bggray-light
					.container
						.row
							.col-xs-12.col-sm-12.col-md-12
								.content.content-md.b-transfer__main
									.conclusion-text
										.conclusion-text__heading
											.h2.article-title CHAUFFEUR-DRIVEN AIRPORT TRANSFER SERVICE
											.article-text
												p Citigold customers are entitled to two free transfers and four transfers for Citigold Private Client to or from an airport in a calendar year<small><sup>*</sup></small>.
												p Your comfort and safety will be entrusted to <b>Wheely</b>, a personal chauffeur service with a fleet of new luxury and executive cars without any taxi signage driven by smartly dressed chauffeurs.
												p Wheely is available in Moscow, St. Petersburg, Yekaterinburg, Krasnodar, Perm, Kazan, Sochi, and London.
				.conclusion-item.conclusion-item--right-full.b-transfer__how-get
					.container
						.row
							.b-transfer.conclusion-media
								img(src="../../content/travel/img-taxi-1.jpg")
							.col-xs-12.col-sm-6.col-md-6.col-sm-offset-6.col-md-offset-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title How to book a ride
													.content-text-5.b-transfer__nums
														.b-transfer__num-item
															span.b-transfer__num 1
															.b-transfer__num-text Download and install the <span data-target="https://wheely.com" class="link js-link-target">Wheely</span> app.
														.b-transfer__num-item
															span.b-transfer__num 2
															.b-transfer__num-text Add your Citigold debit card or CPC debit card as the preferred payment method and automatically get two free transfers for Citigold clients or four free transfers for Citigold Private Clients.
														.b-transfer__num-item
															span.b-transfer__num 3
															.b-transfer__num-text Request a driver using your Wheely app.
				.conclusion-item.conclusion-item--left-full.section-bggray-light.b-transfer__av-class
					.container
						.row
							.b-transfer.conclusion-media
								img(src="../../content/travel/img-taxi-3.jpg")
							.col-xs-12.col-sm-6.col-md-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Available service classes
													p.h5 For Citigold customers:
													p.content-text-5 Business, Kids, Plus
													p.h5 For Citigold Private Client customers:
													p.content-text-5 Business, Kids, Plus, Luxe,<br>VIP (except in London)
				.conclusion-item.conclusion-item--right-full.b-transfer__add-pos
					.container
						.row
							.col-xs-12.col-sm-12.col-md-12
								.content.content-md
									.conclusion-text
										.conclusion-text__heading
											.h2.article-title Possible additional costs
											.article-text
												p The service is available to Citigold customers and their supplementary cardholders and provided free of charge subject to maintaining the required Average Monthly Relationship Balance<small><sup>**</sup></small>. If the Average Monthly Relationship Balance in the month preceding that in which the privilege is used was lower than the minimum required by the Tariffs, a standard Wheely fare will apply.
												p Regardless of your Average Monthly Relationship Balance, standard Wheely charges will apply and be debited to the card you added in the Wheely app in the following events:
												ul.list-style-dot
													li Exceeding the free of charge waiting time (30 minutes);
													li Waiting at an airport with a name board (for this service, please enter your flight number in the comments box);
													li Going beyond the official city boundaries (please refer to the <span data-target="https://wheely.com" class="link js-link-target">Wheely</span> website for the official city boundaries);
													li Using toll roads.
		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Disclaimers
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li
									p * A transfer means a ride from/to the airport to/from the city that does not include stops at any other destinations en route. The service is available to Citigold customers and their supplementary cardholders. The Customer authorizes Citibank to debit any of his/her Citibank accounts for an amount no greater than the fare set out in the officially published Wheely fare schedule if the Customer used the privilege “Transfer from/to airport” but had failed to maintain the required Average Monthly Relationship Balance in the calendar month preceding that in which the privilege was used. Service is available in Moscow, St. Petersburg, Yekaterinburg, Perm, Kazan and Sochi, and also London (UK).
								li
									p ** All Citigold privileges, other than E-Library, Boingo Wi-Fi and the Legal Advice service, are only available subject to the condition that the Average Monthly Relationship Balance in the calendar month preceding the month in which the privileges are used was equal to or greater than RUB 4,000,000 or equivalent for those who became Citigold customers before January 1, 2018, or RUB 6,000,000 or equivalent for those who became Citigold customers on or after January 1, 2018. For the purpose of Citigold privileges, the Average Monthly Relationship Balance may include balances in the Customer’s accounts with AO Citibank and balances in the Customer’s accounts with AO Citibank’s affiliates as referred to in the Consumer Banking Terms and Conditions.
