extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Членство Priority Pass предоставляет доступ в бизнес залы аэропортов Шереметьево, Домодедово, Пулково и другие.')
block title
	title Business lounges at major international airports
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../../f/js/promo-animate.js")

block content
	.article-page
		.article-content.no-print
			#polis.article-content
				.container
					.content.content-md
						.content-heading.content-heading-middle
							.h2.article-title.text-uppercase Travel Insurance
							p.article-text An&nbsp;annual certificate of&nbsp;insurance for you, your children and Citigold/Citigold Private Client supplementary cardholders.<small><sup>*,&nbsp;**</sup></small>
			.section-bggray.section-cards
				.container
					.content.content-md
						.card-list.card-list--divide
							.row
								.col-xs-12.col-sm-12.col-md-6
									.card-list-body.card-list-body--left
										.row
											.col-xs-12.col-sm-6.col-sm-push-6.col-md-12.col-md-push-0
												.thumbnail.card-list__media
													img.thumbnail-img-boxshadow(src="../../content/privilege/card-21.png", alt="")
											.col-xs-12.col-sm-6.col-sm-pull-6.col-md-12.col-md-pull-0
												.card-list__title.card-list__title--bordered For Citigold:
												.article-text
													p Total cover limit: US$ 500,000 for you and US$ 50,000 for your children aged up&nbsp;to&nbsp;18&nbsp;years or&nbsp;up&nbsp;to&nbsp;23&nbsp;years if&nbsp;full-time higher education students.
								.col-xs-12.col-sm-12.col-md-6
									.card-list-body.card-list-body--right
										.row
											.col-xs-12.col-sm-6.col-sm-push-6.col-md-12.col-md-push-0
												.thumbnail.card-list__media
													img.thumbnail-img-boxshadow(src="../../content/privilege/card-22.png", alt="")
											.col-xs-12.col-sm-6.col-sm-pull-6.col-md-12.col-md-pull-0
												.card-list__title.card-list__title--bordered For Citigold Private Client:
												.article-text
													p Total cover limit: US$ 1,000,000 for you, US$ 100,000 for your lawful spouse, and US$ 100,000 for your children aged up&nbsp;to&nbsp;18&nbsp;years or&nbsp;up&nbsp;to&nbsp;23&nbsp;years if&nbsp;full-time higher education students.
			.content.content-md
				.container
					.content-heading.content-heading-md
						.article-text
							ul.list-style-dot
								li Covers the first 60&nbsp;days of&nbsp;each trip; unlimited trips per year.
								li Coverage territory: worldwide, including Russia (within 100&nbsp;km of&nbsp;residential/registered address).
								li Maximum eligibility age: 84&nbsp;years.
								li No&nbsp;deductible&nbsp;&mdash; all costs will be&nbsp;covered by&nbsp;the insurer.
						br
						.h3.color-2 You can get your certificate of&nbsp;insurance in&nbsp;any of&nbsp;the following ways:
						br
						.article-text
							ul.list-style-dot
								li at&nbsp;any <a href="https://www.citibank.ru/russia/branches/rus/branches.htm" class="link" target="_blank">Citibank branch</a>,
								li by&nbsp;calling Allianz Global Assistance on&nbsp;+7(495)783-30-56, +7(495)783-30-57.
			.section-overlay.section-overlay--dark(style="background-image: url('../../content/privilege/overlay-bg-2.jpg');")
				.container
					.content
						.content-body
							.content-body__heading
								.h3.article-title.text-center What&rsquo;s covered:
								.list-style-icons.list-style-icons--phone-middle.padding-bottom-0
									.row
										.col-xs-12.col-sm-12.col-md-12
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-sky
															| medical and medical transportation expenses, including injuries incurred during mountain skiing, snowboarding, water skiing, yachting, kiting, horse riding, etc.;
										.col-xs-12.col-sm-12.col-md-12
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-car
															| cancellation, curtailment, delayed departure, missed departure, missed connection;
										.col-xs-12.col-sm-12.col-md-12
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-bag-stroke
															| lost baggage, delayed baggage, lost or&nbsp;delayed baggage assistance;
										.col-xs-12.col-sm-12.col-md-12
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-airplane
															| car hire excess insurance;
										.col-xs-12.col-sm-12.col-md-4.col-md-offset-4
											.list-style-icons__item
												.list-style-icons__caption.content-text-5.color-0
													.b-table
														.b-table__cell-middle
															span.svg-icon-more
															| and other risks.
								.download.no-margin
									.row
										.col-xs-12.col-sm-12.col-md-12.col-lg-12
											.download-item.download-item--text-once-icon
												.b-table
													.b-table__row
														.b-table__cell.download-item__content
															.download-item__text
																.list-style-icons.list-style-icons--phone-middle.no-padding
																	.list-style-icons__item.no-margin
																		.list-style-icons__caption
																			.b-table
																				.b-table__cell-middle
																					span.svg-icon-list-doc
																					| <a href="../../content/pdf/gold-ultima-broshure-allianz-2018-new-program-eng.docx" class="link" download="gold-ultima-broshure-allianz-2018-new-program-eng.docx">Citigold</a> and <a href="../../content/pdf/private-broshure-allianz-2018-new-program-eng.docx" class="link" download="private-broshure-allianz-2018-new-program-eng.docx">Citigold Private Client</a> Travel Insurance Guide.
														.b-table__cell.download-item__hover(style="background-color: rgba(180, 151, 90, .64);")
															.download-item-target
																.download-item-target__link
														.b-table__cell.download-item__bg
			
		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Disclaimers
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								
								li
									p * The insurance is&nbsp;an&nbsp;offer of&nbsp;JSC IC&nbsp;Allianz (CBR licenses СИ&nbsp;No.&nbsp;0290 and СЛ&nbsp;No.&nbsp;0290 both dated November&nbsp;10, 2014). Insured persons include Customers aged up&nbsp;to&nbsp;84&nbsp;years, Customers&rsquo; children aged up&nbsp;to&nbsp;18&nbsp;years or&nbsp;up&nbsp;to&nbsp;23&nbsp;years if&nbsp;full-time higher education students, and Citigold Private Client Customers&rsquo; lawful spouses. For a&nbsp;full list of&nbsp;insured events, covers, exclusions, and the terms of&nbsp;use, please see our Citigold and Citigold Private Client Travel Insurance Guide published on&nbsp;our website at&nbsp;<a href="https://www.citigold.ru" class="link">www.citigold.ru</a>.
								
								li
									p ** The services are made available at&nbsp;the discretion&nbsp;of, and subject to&nbsp;the procedure set&nbsp;by, the service provider companies. AO&nbsp;Citibank, Citigroup Inc. and their affiliates accept no&nbsp;liability whatsoever for the offers of&nbsp;such companies, including in&nbsp;connection with the availability of&nbsp;any service. Service details are provided based on&nbsp;information received from the companies.
