footer.app-footer
	.app-footer-wrap
	.app-footer-nav
		.app-footer-nav__top
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12
						.app-footer-nav-inner
							ul.footer-nav
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/main/eng/home.htm") citibank.ru
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/eng/contacts_form.htm") Write to&nbsp;us
							ul.footer-nav
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/main/eng/privacy.htm") Privacy
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/eng/security.htm") Your security
							ul.footer-nav
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/citigroup/eng/vacancies.htm") Vacancies
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/citigroup/eng/about.htm") About&nbsp;us
							ul.footer-nav
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/eng/contacts.htm") Contact&nbsp;us
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/eng/sitemap.htm") Site map
		.app-footer-nav__bottom
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12
						.app-footer-nav-inner
							.brand-footer
								img(alt="citi", src="../f/i/brand-small.png")
							.footer-description
								-var list_links_eng = [{"url": "https://www.citibank.ru/russia/main/eng/promise.htm", "text": "Privacy Notice"}, {"url":  "https://www.citibank.ru/russia/main/eng/disclamer.htm", "text": "Privacy Notice, Terms, Conditions, caveats and small print"}]
								ul.footer-description-list
									li
										each value, index in list_links_eng
											a.footer-description-list__target(href=value.url)!= value.text
											if(index < list_links_eng.length - 1)
												| ,
									li
										span Copyright &copy;&nbsp;2002&ndash;2016 Citigroup Inc.
						.app-footer-disclamer
							p AO&nbsp;Citibank. License from Central Bank of&nbsp;Russia &#8470;&nbsp;2557 dated July, 28, 2015. Address: 8-10 Gasheka&nbsp;st., bldg.&nbsp;1, Moscow, 125047.
							p Phone: +7 (495) 775-75-75 in&nbsp;Moscow, +7 (812) 336-75-75 in&nbsp;St.Petersburg, 8 (800) 700-38-38 from other cities in&nbsp;Russia. E-mail: <a href="mailto:citibank.customer@citi.com">citibank.customer@citi.com</a>
