footer.app-footer
	.app-footer-wrap
	.app-footer-nav
		.app-footer-nav__top
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12
						.app-footer-nav-inner
							.brand-footer
								img(alt="citi", src="../f/i/brand-big.svg")
							.btn-group-footer
								a.btn.btn--md.btn--olive.btn--rounded.full-width(href="https://www.citibank.ru/russia/citigold/eng/citigold_client.htm") Request a&nbsp;callback
		.app-footer-nav__bottom
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12
						.app-footer-nav-inner
							ul.footer-nav
								li.footer-nav__item
									a(href="about.htm") About Citigold
								li.footer-nav__item
									a(href="advantage.htm") Banking Services
							ul.footer-nav
								li.footer-nav__item
									a(href="invest.htm") Investment and&nbsp;Insurance
								li.footer-nav__item
									a(href="analitics.htm") Market Analytics
							ul.footer-nav
								li.footer-nav__item
									a(href="privileges.htm") Travel Privileges
								li.footer-nav__item
									a(href="specials.htm") Special Offers
							ul.footer-nav
								li.footer-nav__item
									a(href="kontakty.htm") Contacts
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/eng/contacts_form.htm") Write to&nbsp;us
						.app-footer-disclamer
							p AO&nbsp;Citibank. License from Central Bank of&nbsp;Russia &#8470;&nbsp;2557 dated July, 28, 2015. Address: 8-10 Gasheka&nbsp;st., bldg.&nbsp;1, Moscow, 125047.
							p Phone: +7 (495) 775-75-75 in&nbsp;Moscow, +7 (812) 336-75-75 in&nbsp;St.Petersburg, 8 (800) 700-38-38 from other cities in&nbsp;Russia. E-mail: <a href="mailto:citibank.customer@citi.com">citibank.customer@citi.com</a>
