.app-header-wrap
	.container
		.app-header-wrap__inner
			.row.no-margin
				button.navbar-top-toggle.collapsed(type="button")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.col-xs-12.col-sm-6.col-md-6.no-padding.visible-md-block.visible-lg-block.pull-right
					.navbar-top-contacts
						.carousel-phone
							.carousel-phone__heading 24hrs Citigold Citiphone service:
							.carousel-phone__wrap
								.carousel-phone-list
									.carousel-phone-list__item Moscow +7 (495) 775-77-77
									.carousel-phone-list__item Saint-Petersburg +7 (812) 336-38-38
									.carousel-phone-list__item elsewhere in&nbsp;Russia 8 (800) 700-91-91
								a.btn.btn--md.btn--olive.btn--rounded(href="https://www.citibank.ru/russia/citigold/eng/citigold_client.htm") Request a&nbsp;callback
				.col-xs-10.col-sm-10.col-md-6.no-padding
					a.navbar-brand(href="https://www.citibank.ru/russia/citigold/eng/citigold_ru.htm")
						img(src="../f/i/brand.png")
.app-header-nav#navbar
	//.collapse
	.container
		.visible-xs-block.visible-sm-block
			button.navbar-toggle.collapsed(type="button")
			.app-header-nav-heading
				ul.list-inline
					li
						a(href="https://www.citibank.ru/russia/main/rus/home.htm") Citibank.ru
					//
						li
							a(href="#") English
				ul.list-unstyled
					li
						a(href="https://www.citibank.ru/russia/citigold/eng/kontakty.htm") Branches and&nbsp;ATMs
					li
						form.quick-search-mobile.clearfix.bing-search-form(autocomplete="off")
							input#quick-search-mobile.quick-search-mobile__input.searchBox(type="text", name="query")
							input.quick-search-mobile__btn(type="button" value="Искать" title="Искать")
							label.quick-search-mobile__ico(for="quick-search-mobile")
					li
						a(href="https://www.citibank.ru/russia/info/rus/security.htm") Your security
		nav.main-navbar-container
			ul.main-navbar
				-var list_menu = [{"url": "citigold.htm", "key": "citigold", "title": "About Citigold"}, {"url": "advantage.htm", "key": "advantage", "title": "Banking Services"}, {"url": "invest.htm", "key": "invest", "title": "Investment and&nbsp;Insurance"}, {"url": "#", "key": "analitics", "title": "Market Analytics", "list": [{"url": "analitics.htm", "key": "analitics", "title": "Market Analytics"}, {"url": "invest_video.htm", "key": "invest_video", "title": "Video Outlooks"}]}, {"url": "privileges.htm", "key": "privileges", "title": "Travel Privileges"}, {"url": "#", "key": "special", "title": "Special Offers", "list": [{"url": "Citigold_vklad.htm", "key": "Citigold_vklad", "title": "Exceeding Your Expectations"}/*, {"url": "#", "key": "", "title": "Additional Citigold Privileges"}*/]}, {"url": "kontakty.htm", "key": "kontakty", "title": "Contacts"}];
				each val in list_menu
					if (activePage == val.key)
						li.active
							if (val.list)
								a.navbar-target(href="#" data-toggle="dropdown")!= val.title
								.dropdown-menu.dropdown-menu_navbar
									each item in val.list
										if (activePageChild == item.key)
											span.dropdown-menu__item.active!= item.title
										else
											a.dropdown-menu__item(href=item.url)!= item.title
							else
								span.navbar-target !{val.title}
					else
						li
							if (val.list)
								a.navbar-target(href=val.url data-toggle="dropdown")!= val.title
								.dropdown-menu.dropdown-menu_navbar
									each item in val.list
										a.dropdown-menu__item(href=item.url)!= item.title
							else
								a.navbar-target(href=val.url) !{val.title}

		.visible-xs-block.visible-sm-block
			.carousel-phone-mob
				a.btn.btn--transparent.btn--rounded.full-width(href="https://www.citibank.ru/russia/citigold/eng/citigold_client.htm") Request a&nbsp;callback
				.carousel-phone-mob__heading 24hrs Citigold Citiphone service:
				.carousel-phone-mob__wrap
					.carousel-phone-mob-list
						.carousel-phone-mob-list__item Moscow<br />+7 (495) 775-77-77
						.carousel-phone-mob-list__item Saint-Petersburg<br />+7 (812) 336-38-38
						.carousel-phone-mob-list__item elsewhere in&nbsp;Russia<br /> 8 (800) 700-91-91
