.row.form-fieldset
	.col-xs-12.col-sm-12.col-md-12
		.form-fieldset__title Your details
	.col-xs-12.col-sm-8.col-md-6
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#fam.form-control.js-requere(type='text', value='', tabindex='1', maxlength='150', name='name', placeholder='Full name*')

	.col-xs-12.col-sm-8.col-md-6
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#card_number.form-control.js-requere(type='text', value='', tabindex='2', maxlength='20', name='card_number', placeholder='Bank card number*')
.row.form-fieldset
	.col-xs-12.col-sm-12.col-md-12
		.form-fieldset__title Your referee&rsquo;s contact details
	.col-xs-12.col-sm-8.col-md-6
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#fam_rec.form-control.js-requere(type='text', value='', tabindex='3', maxlength='150', name='nameRec', placeholder='Full name*')

	.col-xs-12.col-sm-8.col-md-6
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#phonenum_rec.form-control.js-requere(type='text', value='', tabindex='4', maxlength='20', name='phonenum11', placeholder='Contact phone number*')

.row
	.col-xs-12.col-sm-12.col-md-12
		.form-group
			.col-xs-12.col-sm-12.col-md-12
				input#email.form-control.field-email.js-requere(type='text', value='', tabindex='5', maxlength='40', name='email', placeholder='Email')

		.form-group
			.col-xs-12.col-sm-12.col-md-12
				textarea#comment_rec.form-control.field-text.js-requere(value="", tabindex="6", rows="2", cols="15", name="comment", placeholder="Comments")

		.form-group
			.col-xs-12.col-sm-12.col-md-12
				.checkbox
					input.js-requere#agree_rec_1(type="checkbox", name="agree_1", value="0")
					label(for="agree_rec_1", tabindex="7") 
						span.requere I&nbsp;have read the terms and conditions of&nbsp;the promotion.

			.col-xs-12.col-sm-12.col-md-12
				.checkbox
					input#agree_rec_2.js-requere(type="checkbox", name="agree_2", value="0")
					label(for="agree_rec_2", tabindex="8")
						span.requere I&nbsp;confirm that the referee has consented to&nbsp;the transfer of&nbsp;his/her personal information to&nbsp;AO&nbsp;Citibank.
