.header-top
	.header-top__inner
		ul.header-top__nav.header-top__nav--lang
			li
				a(href="https://www.citibank.ru/russia/citigold/eng/citigold_ru.htm", title="CITIBANK.RU") Citibank.ru
			if (page == "index")
				li
					a#lang-switcher(href="https://www.citibank.ru/russia/citigold/rus/citigold_ru.htm", title="Русский") Русский
			else
				li
					a#lang-switcher(href="https://www.citibank.ru/russia/citigold/rus/"+page+".htm", title="Русский") Русский
		ul.header-top__nav.header-top__nav--links
			li.dropdown
				a.dropdown-toggle(href="#", data-toggle="dropdown")
					span FOREIGN EXCHANGE RATES
				.dropdown-menu
					.bg-rus
						a.visible-xs-block.visible-sm-block(href="#") FOREIGN EXCHANGE RATES
						a(href="https://www.citibank.ru/RUGCB/COA/frx/prefxratinq/flow.action?locale=ru_RU")
							h5 FOREIGN EXCHANGE RATES
							p View currency exchange rates
						a(href="https://www.citibank.ru/RUGCB/COA/dep/previeratetd/flow.action?locale=ru_RU")
							h5 TIME DEPOSIT RATES
							p View Time Deposit interest rates
						a(href="https://www.citibank.ru/RUGCB/jia/eta/pd/prepdviewratesofAction.do?locale=ru_RU")
							h5 DUAL CURRENCY DEPOSIT RATES
							p View Dual Currency Deposit indicative interest rates
						a.visible-xs-block.visible-sm-block(href="https://www.citibank.ru/russia/citigroup/eng/about.htm") About&nbsp;us
						a.visible-xs-block.visible-sm-block(href="https://www.citibank.ru/russia/info/eng/contacts.htm") Contact&nbsp;us
						a.visible-xs-block.visible-sm-block(href="https://www.citibank.ru/russia/info/eng/security.htm") Your security
						a.visible-xs-block.visible-sm-block(href="https://www.citibank.ru/RUGCB/COA/cam/caract/flow.action?TTC=200&amp;locale=ru_RU") Activate card now
						a.visible-xs-block.visible-sm-block(href="#") Citi mobile
			li
				a(href="https://www.citibank.ru/russia/citigold/eng/kontakty.htm") Branches and&nbsp;ATMs
			li
				a(href="https://www.citibank.ru/russia/info/eng/contacts.htm") Contact us
			li
				.quick-search.clearfix
					form#bingSearchForm.bing-search-form(autocomplete="off" name="searchForm")
						span.icon-search-top
						.quick-search__input
							input#searchBox.searchBox(type="text" name="q")
						input#searchBtn.quick-search__btn(type="button" value="Искать" title="Искать")
				script.
					function SearchBox(form) {
						var _this       = form,
							url         = location.href,
							locale      = (url.indexOf('/rus/') != -1) ? 'rus' : 'eng',
							searchBtn   = _this.querySelector('input[type="button"]') || null,
							searchInput = _this.querySelector('input[type="text"]') || null;

						this.init = function() {
							if(searchBtn) searchBtn.addEventListener('click', clickHandler);
							if(searchInput) searchInput.addEventListener('keypress', pressBtnHandler);
						}

						function clickHandler() {
							sendRequest(searchInput);
						}

						function pressBtnHandler(e) {
							var code = e.keyCode;

							if(code === 13) {
								e.preventDefault();
								sendRequest(this);
							}
						}

						function sendRequest(input) {
							var value = input.value;
							console.log('value= ', value);
							if(value && value != null) window.location.href="/russia/main/" + locale + "/search.htm?q=" + value;
						}
					}

					document.addEventListener('DOMContentLoaded', function () {
						var searchForm  = document.querySelectorAll('.bing-search-form'),
							i = 0;

						for(i; i < searchForm.length;i++ ) {
							var search = new SearchBox(searchForm[i]);
							search.init();
						}
					});
		ul.header-top__nav.header-top__nav--last
			li
				a.padding-right-0(href="https://www.citibank.ru/russia/info/eng/security.htm") Your security
