#PortalGSearch .gsc-search-button {
  display: none;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
  width: 100%;
  padding-right: 0;
}
#gsc-iw-id1 {
  width: 100%;
  height: 15px;
}
#gsc-i-id1 {
  background: none;
}
#gssSearchBox, .gsc-control-searchbox-only {
  height: 15px
}
.gcsc-branding, .gsc-clear-button, .gsib_b {
  display: none!important
}
.gsc-control-cse {
  font-family: Arial, sans-serif!important;
  vertical-align: bottom!important
}
.gsc-control-cse .gsc-table-result {
  font-family: Arial, sans-serif!important
}
table.gsc-search-box {
  height: 12px;
  margin: 0!important;
}
form.gsc-search-box, input.gsc-input, .gsc-completion-container {
  font-size: 10px!important;
  margin: 0!important;
  width: 100%!important
}
td.gsib_a, td.gsc-input {
  padding: 0!important;
  width: 100%!important
}
td.gsc-search-buttons {
  display: none
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
  background-image: none!important;
  border: none!important;
  height: 15px!important;
  margin: 0!important
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  background-image: none!important;
  display: none!important;
  border: none!important
}
.Search1 {
  background: none repeat scroll 0 0 #fff;
  float: left;
  max-height: 15px;
  height: 15px
}
.S1 {
  background: url(/COA/portal/themes/images/avatar1.4/search_bg.jpg) no-repeat 0 0;
  float: left;
  height: 15px;
  width: 20px;
  max-height: 15px;
  max-width: 20px
}
.S2 {
  float: left;
  height: 15px
}
.S2 input {
  border: medium none;
  height: 15px;
  max-height: 15px;
  padding: 0;
  max-width: 190px;
  float: left;
  font-size: 10px
}
.S3 {
  float: left;
  max-height: 15px;
  height: 15px
}
.S3 input {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  font-size: 10px;
  height: 15px;
  padding: 0 5px 0 0;
  float: left
}
.gsc-search-button.gsc-search-button-v2 {
  display: none
}
.gsib_a {
  padding: 0!important
}
#gssSearchBox {
  height: 15px;
  max-height: 15px;
  max-width: 186px;
  width: 100%;
  font-size: 10px
}
.gsc-input-box {
  background: 0;
  border: 0 !important;
  height: 15px !important;
  max-height: 15px !important;
}
.gscb_a {
  display: none
}
.gsib_b {
  display: none
}
.gsc-input {
  font-size: 10px!important
}
.gsc-input-box:hover {
  background: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important
}
.gsc-input-box:active {
  background: none!important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important
}
.gsc-input-box:focus {
  background: none!important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important
}
#gsc-i-id1 {
  background: none repeat scroll 0 0 transparent!important
}
.gsc-search-box .gsc-input>input:focus, .gsc-input-box-focus {
  box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important
}
