extends ./includes/head.jade
block title
	title Your personalized Citigold privileges extend beyond home.
block analitics
	-var connonical_page = 'advantage';

extends ./includes/layout-content.jade
block link
	-var page="advantage";
	-var activePage="advantage";
block scripts
	script(type="text/javascript" src="../f/js/promo-animate.js")

block content
	.article-page
		.article-header
			include ./includes/frame-content
		.article-content
			.section-overlay(style="background-image: url('../content/privilege/overlay-bg-1.jpg');")
				.container
					.content
						.content-heading
							.h2.article-title.text-uppercase Current accounts
							p.article-text Current accounts are designed for your day-to-day transactions.
						.content-body
							.content-body__heading
								.thumbnail.thumbnail-inline
									.thumbnail__media
										span.svg-icon-card
									.thumbnail__info
										.thumbnail-text Current accounts pay no&nbsp;interest.<br />For your convenience, you can either get a&nbsp;single Citigold debit card and have it&nbsp;promptly linked to&nbsp;any one of&nbsp;your current accounts whenever you need, or&nbsp;get several Citigold debit cards, one card linked to&nbsp;one account.
							.table-bg
								mixin table_bg_row(list)
									each val in list
										.table-bg-wrap__row
											.row
												if(val.text_1 != "")
													.col-xs-6.col-sm-3.col-md-3.table-bg-wrap__item
														.b-table
															.b-table__cell-middle
																.table-bg-wrap__title !{val.title_1}
																.table-bg-wrap__text !{val.text_1}
												else
													.col-xs-12.col-sm-6.col-md-6.table-bg-wrap__item.table-bg__title
														.b-table
															.b-table__cell-middle
																.table-bg-wrap__title !{val.title_1}
												.col-xs-6.col-sm-3.col-md-3.table-bg-wrap__item
													.b-table
														.b-table__cell-middle
															.table-bg-wrap__title !{val.title_2}
															.table-bg-wrap__text !{val.text_2}
												.col-xs-6.col-sm-3.col-md-3.table-bg-wrap__item
													.b-table
														.b-table__cell-middle
															.table-bg-wrap__title !{val.title_3}
															.table-bg-wrap__text !{val.text_3}
												if(val.text_4)
													.col-xs-6.col-sm-3.col-md-3.table-bg-wrap__item
														.b-table
															.b-table__cell-middle
																.table-bg-wrap__title !{val.title_4}
																.table-bg-wrap__text !{val.text_4}

								.table-bg-wrap
									-var list = [{"title_1": "Current accounts are available in&nbsp;the following currencies:", "text_1" : "", "title_2" : "AUD", "text_2": "Australian Dollar", "title_3": "EUR", "text_3": "Euro"}, {"title_1": "RUB", "text_1" : "Russian Ruble", "title_2" : "USD", "text_2": "US Dollar", "title_3": "GBP", "text_3": "British Pound", "title_4": "SGD", "text_4": "Singapore Dollar"}, {"title_1": "CHF", "text_1" : "Swiss Franc", "title_2" : "NZD", "text_2": "New Zealand Dollar", "title_3": "JPY", "text_3": "Japanese Yen", "title_4": "ZAR", "text_4": "South African Rand"}]
									+table_bg_row(list)
							
							.btn-panel.text-center
								a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Open an&nbsp;account
							.content-body__heading
								.content-title-1.color-2 Managing your accounts
							.table-collapse
								.table-collapse-header
									.row.table-collapse-wrap
										.col-xs-12.col-sm-6.col-md-6.visible-sm-block.visible-md-block.visible-lg-block
											.table-collapse-header__item
												.b-table
													.b-table__cell-middle
														.table-collapse__title Transaction/service
										.col-xs-12.col-sm-6.col-md-6
											.row
												.col-xs-4.col-sm-4.col-md-4
													.table-collapse-header__item
														.b-table
															.b-table__cell-middle.text-center
																.table-collapse__title Citibank<br /> Online
												.col-xs-4.col-sm-4.col-md-4
													.table-collapse-header__item
														.b-table
															.b-table__cell-middle.text-center
																.table-collapse__title Citi<br /> Mobile
												.col-xs-4.col-sm-4.col-md-4
													.table-collapse-header__item
														.b-table
															.b-table__cell-middle.text-center
																.table-collapse__title CitiPhone

								mixin row_item(_title, _class_1, _class_2, _class_3)
									.row.table-collapse-item
										.col-xs-12.col-sm-6.col-md-6
											.table-collapse__text
												p !{_title}
										.col-xs-12.col-sm-6.col-md-6
											.row
												.col-xs-4.col-sm-4.col-md-4.text-center
													i(class=_class_1)
												.col-xs-4.col-sm-4.col-md-4.text-center
													i(class=_class_2)
												.col-xs-4.col-sm-4.col-md-4.text-center
													i(class=_class_3)
								.table-collapse__body#table-collapse
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_1")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Account information

										.collapse#table-collapse-item_1
											.table-collapse-wrap__body
												+row_item("View your account balances and transaction history", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Print e-statement", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Get a&nbsp;mini-statement of&nbsp;your account balances", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Get your investment account information", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Get your time deposit information", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Check your outstanding loan balance and the date and amount of&nbsp;the next instalment", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Check current exchange rates and time deposit rates", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("View your accounts held in&nbsp;other countries", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_2")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Payments and&nbsp;transfers
										.collapse#table-collapse-item_2
											.table-collapse-wrap__body
												+row_item("Instant transfer between own accounts, including currency conversion", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Transfer to&nbsp;other Citibank accounts", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Free RUB transfer to&nbsp;third party accounts with other Russian banks", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("FCY transfer to&nbsp;accounts outside Russia", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Transfer from current account to&nbsp;credit card account", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Transfer from credit card account", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Quick fee-free bill payment", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Payment to&nbsp;budget organizations, tax paymentQuick fee-free bill payment", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Standing instructions", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_3")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Savings
										.collapse#table-collapse-item_3
											.table-collapse-wrap__body
												+row_item("Time deposit placement", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Time deposit withdrawal", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_4")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Additional services
										.collapse#table-collapse-item_4
											.table-collapse-wrap__body
												+row_item("Change contact details", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Change debit card linkage", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Get copy of&nbsp;payment order", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Subscribe to&nbsp;Citibank Alerting Service", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Check your rewards balance and redeem Select Points for partner points", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_5")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Security
										.collapse#table-collapse-item_5
											.table-collapse-wrap__body
												+row_item("Activate card and set up&nbsp;PIN", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Change PIN", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Set up&nbsp;and change TPIN", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Block and reissue card", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Unblock card", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
		.article-content
			.container
				.content
					.content-heading
						.h2.article-title.text-uppercase Savings accounts
						p.article-text Savings accounts are designed to&nbsp;keep your money safe and help it&nbsp;grow.
						.row.js-fixed-height
							.col-xs-12.col-sm-12.col-md-4.col-lg-4
								.b-table
									.b-table__cell-top
										.thumbnail.box
											.thumbnail__media.box-img
												span.svg-icon-card
											.thumbnail__info.box-content
												.thumbnail-text Interest on&nbsp;savings accounts accrues daily and is&nbsp;credited monthly.
							.col-xs-12.col-sm-6.col-md-4.col-lg-4
								.b-table
									.b-table__cell-top
										.thumbnail.box
											.thumbnail__media.box-img
												span.svg-icon-coins
											.thumbnail__info.box-content
												.thumbnail-text Savings accounts are available in&nbsp;rubles, US&nbsp;dollars and euros.

							.col-xs-12.col-sm-6.col-md-4.col-lg-4
								.b-table
									.b-table__cell-top
										.thumbnail.box
											.thumbnail__media.box-img
												span.svg-icon-safe
											.thumbnail__info.box-content
												.thumbnail-text For your protection, the debit card cannot be&nbsp;linked to&nbsp;your savings accounts.
						.row
							.col-xs-12.col-sm-12.col-md-8.col-md-offset-2
								p.text-center If&nbsp;your card is&nbsp;lost or&nbsp;stolen, a&nbsp;third party will not be&nbsp;able to&nbsp;use the money held in&nbsp;your savings accounts at&nbsp;any points of&nbsp;sale or&nbsp;non-Citibank ATMs.
								.btn-panel.text-center.no-padding
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Open an&nbsp;account

			mixin list-inline-block-item(_src, _title, _list, _class)
				.row.list-inline-block-item(class=_class)
					.col-xs-12.col-sm-12.col-md-6.list-inline-block__img(style="background-image: url('../"+ _src +"')")
					.col-xs-12.col-sm-12.col-md-6.list-inline-block__content
						.b-table
							.b-table__cell-middle
								.list-inline-block-inner
									p.list-inline-block-inner__title !{_title}
									if(_list)
										ul.list-style-check
											each val in _list
												li
													.list-style-check__inner !{val.text}

			.frame.frame--overlay
				.frame-visual(style="background-image: url('../content/frame-bg/frame-privilege-2.jpg');")
				.frame-content
					.b-table
						.b-table__cell-middle
							.container
								.row.no-margin
									.col-xs-12.col-sm-6.col-md-6.no-padding
										.frame-caption.frame-caption--md.radius-rbottom-30
											.frame-caption__inner
												.frame-caption__title Time deposits<small><sup>1</sup></small>
												p.frame-caption__leadtext Better deposit terms for Citigold customers.
												a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/promo/rus/promo_deposit_dlya_klientov.htm?icid=lopvsbn") Details
												//- ul.list-unstyled
													li
														a.read-more(href="https://www.citibank.ru/russia/promo/rus/promo_deposit_cpc.htm")
															span Get better terms on&nbsp;time deposits
															i.icon-read-more

			.content.content-md
				.container
					.content-heading
						.h2.article-title.text-uppercase Tiered savings accounts<small><sup>2</sup></small>
						p.article-text A&nbsp;tiered savings account (TSA) is&nbsp;in&nbsp;fact a&nbsp;demand deposit and therefore combines a&nbsp;good investment opportunity with the convenience of&nbsp;easy access to&nbsp;your money.
						.list-inline-block.list-inline-block--overlay
							-var _list = [{"text": "TSA interest accrues based on&nbsp;your daily account balance."}, {"text": "The higher the account balance, the higher the interest rate! Your TSA will earn you between&nbsp;3% and&nbsp;7% per annum in&nbsp;rubles."}]
							+list-inline-block-item("content/privilege/img-1.jpg", "", _list, "")
							-var _list = [{"text": "Unlike in&nbsp;the case of&nbsp;a&nbsp;time deposit, you can add to&nbsp;or&nbsp;withdraw from your TSA whenever you need without losing accrued interest."}, {"text": "You have unlimited access to&nbsp;your money via our 24/7 channels Citibank<sup>&reg;</sup> Online and Citi Mobile<sup>&reg;</sup>."}]
							+list-inline-block-item("content/privilege/img-2.jpg", "", _list,  "list-inline-block-item--right")
							.text-center
								a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Open an&nbsp;account

			.section-bggray.section-cards#citigold_card
				.container
					.content.content-md
						.content-heading
							.h2.article-title.text-uppercase Cards
							.row
								.col-xs-12.col-sm-12.col-md-6
									.card-list
										.card-list-heading
											h4.card-list__title.content-title-1
												a.link-title(href="https://www.citibank.ru/russia/citigold/rus/citigold.htm")
													u Citigold
											.article-text You can use your Citigold debit card to&nbsp;pay for purchases.
										.card-list-body
											.row
												.col-xs-12.col-sm-6.col-sm-push-6.col-md-12.col-md-push-0.card-mode.card-mode--sm
													.card-mode-content
														.card-img-gold
															img.card-mode-img(src="../content/card/card_citi.png")
													//- .thumbnail.card-list__media
													//- 	img(src="content/privilege/card-1.png", alt="")
												.col-xs-12.col-sm-6.col-sm-pull-6.col-md-12.col-md-pull-0
													ul.list-style-dot
														li Preferential exchange rates.
														li Free ATM withdrawals across Russia and worldwide<sup>3</sup>.
														li Free RUB transfers via CitiPhone and Citibank Online, or&nbsp;at&nbsp;branch counters<sup>4</sup>.
														li Access to&nbsp;Citigold Centers and priority service.
														li 24-hour Citigold CitiPhone.
								.col-xs-12.col-sm-12.col-md-6
									.card-list
										.card-list-heading
											h4.card-list__title.content-title-1
												a.link-title(href="https://www.citibank.ru/russia/cards/rus/ultima_main.htm")
													u Citi Ultima
											.article-text Only Citigold customers can have the benefit of&nbsp;our Citi Ultima elite credit card offer<sup>5</sup>.
										.card-list-body
											.row
												.col-xs-12.col-sm-6.col-sm-push-6.col-md-12.col-md-push-0.card-mode.card-mode--sm
													.card-mode-content
														.card-img-priority
															img.card-mode-img(src="../content/card/card_citi_ultima.png")
													//- .thumbnail.card-list__media
													//- 	img(src="content/privilege/card-2.png", alt="")
												.col-xs-12.col-sm-6.col-sm-pull-6.col-md-12.col-md-pull-0
													ul.list-style-dot
														li Foreign travel insurance, including extreme sports cover, up&nbsp;to&nbsp;US$ 500,000<sup>6</sup>.
														li Children&rsquo;s insurance up&nbsp;to&nbsp;US$ 50,000<sup>6</sup>.
														li Discounts at&nbsp;Citibank partner merchants.
														li Credit limit up&nbsp;to&nbsp;RUB 1,500,000.
														li Supplementary cards offering the same privileges as&nbsp;the primary card (except the insurance), and an&nbsp;option to&nbsp;set a&nbsp;credit limit for each card.

			#section-global.section-global
				.conclusion
					.container
						.row
							.conclusion-media
								img(src="../content/privilege/conclusion.jpg")
							.col-xs-12.col-sm-8.col-md-8
								.content.content-md
									.conclusion-text
										.conclusion-text__heading
											.h2.article-title.text-uppercase Global banking privileges
											.article-text
												p At&nbsp;Citigold, your personalized privileges extend beyond home.
												p Our extensive network of&nbsp;branches and ATMs, and Citibank Online, will enable you to&nbsp;make the most of&nbsp;your Citigold status, wherever you are.
										.conclusion-text__body
											.row
												.col-xs-12.col-sm-6.col-md-6
													.b-table
														.b-table__cell-top
															.thumbnail
																.thumbnail__media
																	span.svg-icon-earth
																.thumbnail__info
																	.thumbnail-text Global Status Recognition.

												.col-xs-12.col-sm-6.col-md-6
													.b-table
														.b-table__cell-top
															.thumbnail
																.thumbnail__media
																	span.svg-icon-eye
																.thumbnail__info
																	.thumbnail-text Global View of Accounts.

												.col-xs-12.col-sm-12.col-md-12
													.b-table
														.b-table__cell-top
															.thumbnail
																.thumbnail__media
																	span.svg-icon-plane
																.thumbnail__info
																	.thumbnail-text Global Traveler:
																	.thumbnail-description
																		p free ATM withdrawals worldwide<sup>3</sup>;
																		p emergency cash (if&nbsp;you lose your Citigold card while abroad, visit any Citibank branch with your&nbsp;ID).
											a.btn.btn--black.btn--md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Open an&nbsp;account
			.content.content-md
				.container
					.disclamer
						p Citigold applications are processed in&nbsp;accordance with Citibank&rsquo;s standard practice. Please refer to&nbsp;the <a class="link" href="../content/pdf/privacy-gold_current.pdf" target="_blank">terms and conditions of&nbsp;the agreement</a> and the <a class="link" href="../content/pdf/cg_tariffs_current.pdf" target="_blank">tariffs</a>.
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Disclaimers
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p All deposit agreement terms and conditions form part of&nbsp;the Consumer Banking Terms and Conditions available at&nbsp;<a class="link" href="http://www.citibank.ru">citibank.ru</a>. All details are also available from AO&nbsp;Citibank branches or&nbsp;CitiPhone. On&nbsp;the deposit maturity date, you will get your money and accrued interest back to&nbsp;the current or&nbsp;savings account with AO&nbsp;Citibank from which the deposit was made. The time deposit may not be&nbsp;terminated in&nbsp;part. If&nbsp;you elect to&nbsp;prematurely terminate the time deposit, you will be&nbsp;refunded the deposit amount in&nbsp;full. However, if&nbsp;the time deposit is&nbsp;prematurely terminated, interest will accrue at&nbsp;0.1% p.a. AO&nbsp;Citibank reserves the right to&nbsp;change the terms of&nbsp;these offers at&nbsp;any time without prior notice.
							li.list-increment__item
								p This offer is&nbsp;valid for the holders of&nbsp;AO&nbsp;Citibank bank service packages.
							li.list-increment__item
								p Free cash withdrawals with your debit card at&nbsp;non-Citibank ATMs are only available subject to&nbsp;the condition that the Average Monthly Relationship Balance in&nbsp;the calendar month preceding the month in&nbsp;which the privileges are used was equal to&nbsp;or&nbsp;greater RUB 4,000,000&nbsp;or equivalent for those who became Citigold customers before January&nbsp;1, 2018, or&nbsp;RUB 6,000,000&nbsp;or equivalent for those who became Citigold customers on&nbsp;or&nbsp;after January&nbsp;1, 2018. Other banks may charge a&nbsp;fee for using their ATMs.
							li.list-increment__item
								p The service is&nbsp;only available subject to&nbsp;the condition that the Average Monthly Relationship Balance in&nbsp;the calendar month preceding the month in&nbsp;which the privileges are used was equal to&nbsp;or&nbsp;greater RUB 4,000,000&nbsp;or equivalent for those who became Citigold customers before January&nbsp;1, 2018, or&nbsp;RUB 6,000,000&nbsp;or equivalent for those who became Citigold customers on&nbsp;or&nbsp;after January&nbsp;1, 2018.
							li.list-increment__item
								p The Citi Ultima credit card is&nbsp;made available at&nbsp;Citibank&rsquo;s discretion. All Terms and Conditions of&nbsp;the relevant agreement are available at&nbsp;<a class="link" href="http://www.citibank.ru">www.citibank.ru</a>.
							li.list-increment__item
								p The insurance program is&nbsp;an&nbsp;offer of&nbsp;OJSC IC&nbsp;Allianz (FFMS license CL # 0290 dated November, 10, 2014 and CI #0290 dated November, 10, 2014). AO&nbsp;Citibank, Citigroup Inc., their affiliates, government agencies and the Russian Federation are in&nbsp;no&nbsp;way liable for the insurer&rsquo;s performance under the insurance contract. The insurance program is&nbsp;only available to&nbsp;Ultima primary card holders. The privilege is&nbsp;available to&nbsp;customers up&nbsp;to&nbsp;and including the age of&nbsp;84&nbsp;years.
