extends ./includes/head.jade
block description
	meta(name='description', content='Интересное специальное предложение от Citigold -  приведи друга и получи банковское вознаграждение.')
block title
	title Citigold. Special offers
block analitics
	-var connonical_page = 'specials'

extends ./includes/layout-content.jade
block link
	-var page="Citigold_vklad";
	-var activePage="special";
	-var activePageChild="Citigold_vklad";
block scripts
	script(type="text/javascript" src="../f/js/remuneration_eng.js")
block content
	.article-page
		.container
			.content-heading-middle
				h1.h2.article-title.text-uppercase.text-center.color-2 Special Offers
		.article-content
			-var frame_tab = 'tab_2';
			include ./includes/frame-content
			.content-body
				.content.content-md
					.container
						.disclamer
							ul.list-increment
								li.list-increment__item
									p All deposit agreement terms and conditions form part of&nbsp;the Consumer Banking Terms and Conditions available at&nbsp;<a class="link" href="https://www.citibank.ru/">www.citibank.ru</a>. All details are also available from AO&nbsp;Citibank branches or&nbsp;CitiPhone. On&nbsp;the deposit maturity date, you will get your money and accrued interest back to&nbsp;the current or&nbsp;savings account with AO&nbsp;Citibank from which the deposit was made. The time deposit may not be&nbsp;terminated in&nbsp;part.
									p If&nbsp;you elect to&nbsp;prematurely terminate the time deposit, you will be&nbsp;refunded the deposit amount in&nbsp;full. However, if&nbsp;the time deposit is&nbsp;prematurely terminated, interest will accrue at&nbsp;0.01% p.a. AO&nbsp;Citibank reserves the right to&nbsp;change the terms of&nbsp;these offers at&nbsp;any time without prior notice.
