extends ./includes/layout-content.jade
block link
	-var page="citigold_client_thankyou";
	-var activePage="citigold_client_thankyou";

block analitics
	-var connonical_page = 'citigold_client_thankyou';

block content
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Thank you for completing the online form.
					p.modal-content__subtitle Our representative will contact you shortly to&nbsp;schedule a&nbsp;meeting at&nbsp;your convenience.
			.modal-footer
