extends ./includes/layout-content.jade
block description
	meta(name='description', content='Заполните онлайн-заявку и получите доступ к страховым и инвестиционным продуктам, специальным банковским предложениям, а также другим привилегиям Citigold.')
block title
	title Online Form Citigold | Citibank
block link
	-var page="citigold_client";
	-var activePage="citigold_client";

block analitics
	-var connonical_page = 'citigold_client';

block page-custom-analitics
	script.
		$(document).on('click', '#submit', function() {
			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=castep_1&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);
		});
		$(window).load(function() {
			function findInUrlParam() {
				var result = undefined
						tmp = [];
				
				window.location.href.split("?").forEach(function (item, index) {
					tmp[index] = item;
					result = tmp[1];
				});
				return result;
			}
			var url = undefined,
				tmp = [];
			
			if(window.location.href.split("?").length > 1){
				url = findInUrlParam();

				url.split("&").forEach(function(item) {
					tmp = item.split("=");
					if (tmp[0] == 'utm_source') {
						$("#utm_source").val(tmp[1]);
					}
					if(tmp[0] == 'utm_term') {
						$("#utm_term").val(tmp[1]);
					}
					if(tmp[0] == 'icid'){
						$("#icid").val(tmp[1]);
					}
				});
			}
		});
		<!--
			function analitics(events, url, var9, id){
				var loc, s_code;
				loc = window.location.host;
				loc = loc.toLowerCase();

				if ( loc.indexOf("citibank.") >= 0 ) {
					s.pageName = '';
					s.server = '';
					s.channel = '';
					s.pageType = '';
					s.prop1 = '';
					s.prop2 = '';
					s.prop3 = '';
					s.prop4 = '';
					s.prop5 = '';
					s.campaign = '';
					s.state = '';
					s.zip = '';
					s.events = events;
					s.products = url;
					s.purchaseID = '';
					s.eVar1 = '';
					s.eVar2 = '';
					s.eVar3 = '';
					s.eVar4 = '';
					s.eVar5 = '';
					s.eVar9 = var9;
					s.transactionID = id;
					s_code = s.t();
					if (s_code) {
						document.write(s_code);
					}
				}
			}
			analitics('event12', ';Citigold', '', '');
		//-->


block content
	.modal-dialog.modal-dialog--lg
		.modal-content#js-modal-reg
			.modal-content-header
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Online Form
				form#cglead.form-horizontal(autocomplete="off", name="cglead", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
					.row
						.col-xs-12.col-sm-12.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input#name.form-control.js-requere(placeholder="Full name", type="text", name="name", maxlength="100", tabindex="1", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input#phonenum.form-control.js-requere(type="text", placeholder="Phone number", name="phonenum11", maxlength="20", tabindex="3", value="")
							//- .form-group
								.col-xs-12.col-sm-12.col-md-12
									select#branch.form-control.select-box.js-requere(tabindex='6', name='branch', disabled)
										option(selected="selected", value="") Branch
						.col-xs-12.col-sm-12.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									select#city.form-control.select-box.js-requere(name="city", tabindex="5")
										option(value='') Select your city
										option(value="Moscow") Moscow
										option(value="St.Petersburg") St.Petersburg
										option(value="Volgograd") Volgograd
										option(value="Ekaterinburg") Ekaterinburg
										option(value="Nizhniy Novgorod") Nizhniy Novgorod
										option(value="Rostov-on-Don") Rostov-on-Don
										option(value="Samara") Samara
										option(value="Ufa") Ufa
					.form-group
						.col-xs-12.col-sm-12.col-md-12
							.modal-text
								.checkbox
									input#client.js-requere(type="checkbox", value="no customer", name="client", tabindex="8")
									label(for="client") I&rsquo;m an&nbsp;existing Citibank customer
								.checkbox.agreement
									input#agree.js-requere(type="checkbox", name="agree", value="0", tabindex="9")
									label(for="agree")
										span.agreement__scroll.scrollbar
											p I&nbsp;agree to&nbsp;receive from AO&nbsp;Citibank notifications and communications, including marketing communications about investment, insurance and banking products, by&nbsp;phone, fax, mobile and email.
											p I&nbsp;hereby give AO&nbsp;Citibank, with its office at&nbsp;8-10, bldg.&nbsp;1, Gasheka st., Moscow, my&nbsp;unconditional consent to&nbsp;the processing of&nbsp;all my&nbsp;personal data, including biometrics, contained in&nbsp;this form for the purpose of&nbsp;my&nbsp;investment goals discussion. AO&nbsp;Citibank may process my&nbsp;personal data, which includes its collection, systematization, analysis, accumulation, storage, update, modification, use, distribution and transfer, including across borders, depersonalization, blocking, destruction or&nbsp;other processes, electronically, mechanically, manually or&nbsp;otherwise as&nbsp;it&nbsp;thinks fit. The processing of&nbsp;the above personal data will also be&nbsp;carried out for the purposes of&nbsp;providing me&nbsp;with banking, investment, insurance or&nbsp;other products and services, data storage, statistical accounting, risk management, statutory compliance, or&nbsp;any other purpose not prohibited by&nbsp;Russian law. This consent for the processing of&nbsp;personal data will be&nbsp;valid until such time as&nbsp;the purpose of&nbsp;their processing is&nbsp;achieved and their retention period has expired after the termination of&nbsp;all my&nbsp;contractual relationships with AO&nbsp;Citibank.
											p I&nbsp;agree to&nbsp;the terms set out above.
							ul#error-list.list-styled.content-text.error-text(style="display: none;")
								li
							button#submit.btn.btn--lg.btn--gray.btn--rounded.disabled(type="button", tabindex="10") Submit
							input#sourcecode(type="hidden", name="sourcecode", value="EMPTY***")
							input#IEWAcategory(name="IEWAcategory", type="hidden", value="CitiGold Lead Form")
							input#utm_source(name="utm_source", type="hidden" value="")
							input#utm_term(name="utm_term", type="hidden" value="")
							input#icid(name="icid", type="hidden" value="")
			.modal-footer
