extends ./includes/head.jade
block description
	meta(name='description', content='Citigold - банковские продукты для VIP клиентов (физических лиц), банковский ВИП пакет. Персональный кредитный и финансовый инвестиционный консультант.')
block title
	title Ситиголд - премиальное банковское обслуживание физических лиц | Услуги личного финансового консультанта
block analitics
	-var connonical_page = 'citigold_ru';

extends ./includes/layout-index.jade
block link
	-var page="index";
	-var activePage="index";

block content
	.jumbotron
		.main-carousel
			.main-carousel-state
				.main-carousel-state__item(style="background-image: url('../content/slider/slide_1.jpg');")
					img(src="../f/i/spacer.gif", alt="Global bank privileges", title="Global bank privileges")
					.main-carousel-state-caption
						.main-carousel-state-caption__content
							.h2.main-carousel-state-caption__title Global bank privileges
							p.main-carousel-state-caption__text <span>Citigold</span>. Wealth on your terms.
							a.btn.btn--rounded.btn--black(href="advantage.htm#section-global") Details
				.main-carousel-state__item(style="background-image: url('../content/slider/slide_2.jpg');")
					.main-carousel-state-caption
						.main-carousel-state-caption__content
							.h2.main-carousel-state-caption__title Individual wealth solutions
							p.main-carousel-state-caption__text <span>Citigold</span>. Wealth on your terms.
							a.btn.btn--rounded.btn--black(href="invest.htm") Details
				.main-carousel-state__item(style="background-image: url('../content/slider/slide_3.jpg');")
					.main-carousel-state-caption
						.main-carousel-state-caption__content
							.h2.main-carousel-state-caption__title Your Personal Relationship Manager
							p.main-carousel-state-caption__text <span>Citigold</span>. Wealth on your terms.
							a.btn.btn--rounded.btn--black(href="citigold.htm#section-special") Details
				.main-carousel-state__item(style="background-image: url('../content/slider/slide_1.jpg');")
					img(src="../f/i/spacer.gif", alt="Global bank privileges", title="Global bank privileges")
					.main-carousel-state-caption
						.main-carousel-state-caption__content
							.h2.main-carousel-state-caption__title Global bank privileges
							p.main-carousel-state-caption__text <span>Citigold</span>. Wealth on your terms.
							a.btn.btn--rounded.btn--black(href="advantage.htm#section-global") Details
			.main-carousel-state-arrows
				.main-carousel-state-next
				.main-carousel-state-prev
			.main-carousel-nav-container
				.main-carousel-nav
					.main-carousel-nav-item
						.main-carousel-nav-item__inner
							.h4.main-carousel-nav__title Global privileges
							p Global View of&nbsp;Accounts
					.main-carousel-nav-item
						.main-carousel-nav-item__inner
							.h4.main-carousel-nav__title Wealth management
							p Investments
					.main-carousel-nav-item
						.main-carousel-nav-item__inner
							.h4.main-carousel-nav__title Professional Team
							p Your Personal Relationship Manager
					.main-carousel-nav-item
						.main-carousel-nav-item__inner
							.h4.main-carousel-nav__title Global privileges
							p Global View of&nbsp;Accounts
		.sticky.clearfix
			.sticky-header
				a.btn.btn--olive-light.text-shadow.full-width(href="https://www.citibank.ru/RUGCB/JPS/portal/LocaleSwitch.do?locale=en_RU&JFP_TOKEN=TFM2LVGQ") Sign on&nbsp;to&nbsp;Citibank Online
				a.btn.btn--shadow.btn--rounded.btn--icons.full-width(href="citigold_client.htm")
					span Become Citigold<br />customer
					i.icon-arrow-gold-sm
				.hr
				a.target-link(href="https://www.citibank.ru/russia/branches/eng/branches.htm")
					span Branches and ATMs
					i.icon-target
			.sticky-body
				p 24hrs Citigold Citiphone service
				dl
					dt Моscow
					dd +7 (495) 775-77-77
					dt Saint-Petersburg
					dd +7 (812) 336-38-38
					dt Other cities of&nbsp;Russia
					dd 8 (800) 700-91-91
