extends ./includes/head.jade
block title
	title Citigold. Exclusive Banking Service
block analitics
	-var connonical_page = 'eng/citigold';

extends ./includes/layout-content.jade
block link
	-var page="citigold";
	-var activePage="citigold";
block page
	-var page_name = "promo";
block scripts
	script(type="text/javascript" src="../f/js/promo-animate.js")

block content
	.start.fadeInUp
		.progress
	.article-page
		.article-header.section-promo
			include ./includes/frame-content
			.sections-nav
				.container
					ul.nav
						-var menu = [{"_target": "#section-about", "text": "About Citibank"}, {"_target": "#section-special", "text": "Citigold Team"}, {"_target": "#section-investstrategy", "text": "Investment Strategies"}, {"_target": "#section-analitics", "text": "Market Analytics"}, {"_target": "#section-investproduct", "text": "Investment<br />Products"}, {"_target": "#section-cards", "text": "Travel Privileges"}]
						each val in menu
							li.sections-nav__item
								a.sections-nav-target(href=val._target)
									.progress
										.progress-bar
									.sections-nav__title !{val.text}
		.section-about#section-about
			.section-about-box(style="background-image: url('../content/about/frame-bg.jpg');")
				.container
					.row.no-margin
						.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-lg-offset-6.no-padding
							.section-about__header
								h2.content-title-1.color-2 AO&nbsp;Citibank has been repeatedly named as&nbsp;one of&nbsp;Russia&rsquo;s most reliable banks*
							.section-about__content
								p.section-about__text Citibank began its operations in&nbsp;Russia in&nbsp;1992 and was one of&nbsp;the first international banks to&nbsp;enter the Russian market.
								.section-about__media
									img.visible-xs-block(alt="", src="../content/about/img-1.png")
									img.visible-sm-inline-block.visible-md-inline-block.visible-lg-block.i1(alt="", src="../content/about/img-1_1.jpg")
									img.visible-sm-inline-block.visible-md-inline-block.visible-lg-block.i2(alt="", src="../content/about/img-1_2.jpg")
								p.section-about__text Citibank is&nbsp;a&nbsp;member of&nbsp;Citi and provides consumers, corporations, governments and institutions with a&nbsp;broad range of&nbsp;world-class financial products and services.
							.section-about__footer
								.row
									.col-xs-12.col-sm-12.col-md-12.col-lg-5
										img(alt="", src="../f/i/brand-big.png")
										.section-about__descr For more information about AO&nbsp;Citibank, please refer&nbsp;to <a href="http://citibank.ru" title="Citibank" class="link">www.citibank.ru</a>.
									.col-xs-12.col-sm-12.col-md-12.col-lg-7
										.section-about__descl <sup>*</sup>2017: One of&nbsp;the Most Reliable Banks in&nbsp;Russia by&nbsp;Forbes; 2016: The Best Investment Offer by&nbsp;Franck Research Group.

		.section-special#section-special
			.article-content
				.particle-page
					.container
						.particle-page-title
							.h2.article-title A&nbsp;Team of&nbsp;Professionals
					.content.content-md(style="background-image: url('../content/about/overlay-bg-1.jpg');")
						.container
							.particle-page-heading
								.row
									.col-xs-12.col-sm-8.col-md-7.col-lg-8
										.particle-page-heading__title
											.content-title-1 We&nbsp;understand the importance of&nbsp;having a&nbsp;Relationship Manager with whom you can establish a&nbsp;good rapport.
										.particle-page-heading__subtitle
											.content-title-4.color-2
												b With this in&nbsp;mind, we&nbsp;offer you the services of&nbsp;experienced financial professionals.
							.particle-page-body
								.row
									.col-xs-12.col-sm-6.col-md-5
										.content-title-1.particle-page-item__title
											span Citigold Relationship Manager
										.content-text-5 Your Citigold Relationship Manager will work alongside you to&nbsp;understand your individual wealth management goals and partner you in&nbsp;achieving them.
							.particle-page-item.particle-page-item--right.js-fixed-height
								.row
									.col-xs-12.col-sm-6.col-md-7.col-md-push-5
										.b-table.box
											.b-table__cell-middle.box-content
												.thumbnail.particle-page-item__media
													img(src="../content/about/particle-img-1.jpg", alt="")
									.col-xs-12.col-sm-6.col-md-5.col-md-pull-7
										.b-table.box
											.b-table__cell-middle.box-content
												.particle-page-item__content
													.content-title-3.particle-page-item__title
														span Service Relationship Manager
													.content-text-5 Your Service Relationship Manager will work closely with you and your Citigold Relationship Manager to&nbsp;make sure you receive outstanding service and have all the support you need.
							.particle-page-item.js-fixed-height
								.row
									.col-xs-12.col-sm-6.col-md-6
										.b-table.box
											.b-table__cell-middle.box-content
												.thumbnail.particle-page-item__media
													img(src="../content/about/particle-img-2.jpg", alt="")
									.col-xs-12.col-sm-6.col-md-6
										.b-table.box
											.b-table__cell-middle.box-content
												.particle-page-item__content
													.content-title-3.particle-page-item__title
														span Investment Counsellor
													.content-text-5 Your Investment Counsellor will always be&nbsp;available to&nbsp;provide investment and insurance advice. You can also use the services of&nbsp;our Brokerage Line staff.
						.btn-panel.text-center
							a.btn.btn--black.btn--rounded.btn--lg.btn--rounded.btn--wide-lg(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm")
								span Request a&nbsp;callback
		.section-investstrategy#section-investstrategy
			.article-content
				.frame.frame--overlay
					.frame-visual(style="background-image: url('../content/frame-bg/frame-about-2.jpg');")
					.frame-content
						.b-table
							.b-table__cell-middle
								.container
									.row.no-margin
										.col-xs-12.col-sm-8.col-md-8.no-padding
											.frame-caption.frame-caption--lg.radius-rbottom-30
												.frame-caption__inner
													//- .frame-caption__text.text-uppercase Citigold
													.frame-caption__title Investment Strategies
													p.frame-caption__subtitle Investing is&nbsp;a&nbsp;long-term process that requires constant attention.
													p.frame-caption__leadtext Your investment goals and financial situation can change over time, and the same goes for market conditions and investment opportunities.
													p.frame-caption__leadtext Our experience and expertise will help you move towards your goals, regardless of&nbsp;the market environment.
													.btn-panel
														a.btn.btn--black.btn--rounded.btn--md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Request a&nbsp;callback
														a.btn.btn--black.btn--md.btn--rounded(href="https://www.citibank.ru/russia/invest/eng/invest.htm") Details

		.section-analitics#section-analitics
			.article-heading
				.container
					.content.content-md
						h2.h2.article-title.text-uppercase.color-2 Market Analytics
				.full-carousel
					.full-carousel-state
						.full-carousel__item
							a.preview-link(href="analitics.htm#tab-2")
							.content.content-md
								.container
									.full-carousel__title
										a(href="analitics.htm") Video outlooks and analytical reports
							img.full-carousel__media(src="../content/about/slide-2.jpg")
						//
							.full-carousel__item
								a.preview-link(href="analitics.htm#tab-2")
								.full-carousel__title Ежемесячный обзор рынка
								img.full-carousel__media(src="../content/about/slide-1.jpg")
					//
						.container
							.row
								.col-xs-12.col-sm-3
									.full-carousel-nav-container
										.full-carousel-nav
											.full-carousel-nav-item
												.full-carousel-nav-item__inner
													.content-title-6 Ежеквартальные обзоры

												.full-carousel-nav-item
													.full-carousel-nav-item__inner
														.content-title-6 Ежемесячный обзор рынка

											.full-carousel-state-arrows
												.full-carousel-state-next
												.full-carousel-state-prev

			.article-content
				.container
					.content.content-md
						.content-body
							.list-style-icons.border-top
								.row
									.col-xs-12.col-sm-12.col-md-12
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-dialog
														| Analysis of&nbsp;market challenges: comments, portfolio allocation and rebalancing recommendations for different scenarios.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-300
														| Most up-to-date recommendations from our global analytical team of&nbsp;300-plus professionals across the world.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-search
														| Analysis of&nbsp;focal themes and trends determining market dynamics.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-bag
														| Strategic model portfolio and recommendations on&nbsp;tactical rebalancing.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-tickets
														| Investment seminars and events for Citigold customers conducted by&nbsp;Citi in&nbsp;conjunction with its Russian and foreign partners.
									.col-xs-12.col-sm-12.col-md-12
										.list-style-icons__item
											.list-style-icons__caption.list-style-icons__caption--no-icon.content-title-6
												a.list-style-icons__link(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Получить инвестиционную стратегию на&nbsp;2018 год

		.section-cards#section-cards
			.article-page
				.article-heading
					.container
						.h2.article-title.text-uppercase.color-2.text-center Travel Privileges<small><sup>5</sup></small>
				.article-content
					.container
						.content.content-md
							.card-mode
								.card-mode-heading
								.card-mode-content
									.card-img-4
										img.card-mode-img(src="../content/card/card_citi.png")
										.card-mode-text Citigold <br />Debit Card
									//- .card-img-1
									//- 	img.card-mode-img(src="../content/card/card_priority_pass.png")
									//- 	.card-mode-text Priority <span class="visible-sm-block visible-md-block visible-lg-block"></span>Pass
									//- .card-img-2
									//- 	img.card-mode-img(src="../content/card/card_cg_loyalty.png")
									//- 	.card-mode-text Citigold <br />Loyalty Card <sup>*</sup>
									.card-img-3
										img.card-mode-img(src="../content/card/card_citi_ultima.png")
										.card-mode-text Сiti Ultima <br />Credit Card
											small <sup>6</sup>
							.list-style-icons.list-style-icons--md.border-top
								.row
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-plane-tickets
														a.list-style-icons__link(href="privileges.htm#business-lounges") Access to&nbsp;business lounges at&nbsp;major international airports with Mastercard<sup class="reg">&reg;</sup> Aeroport Experiences from Lounge&nbsp;Key<sup>7</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-umbrella
														a.list-style-icons__link(href="privileges.htm#polis") Foreign travel insurance for you, your supplementary cardholders and children<sup>8</sup>.
									//- .col-xs-12.col-sm-6.col-md-6
									//- 	.list-style-icons__item
									//- 		.list-style-icons__caption.content-text-5
									//- 			.b-table
									//- 				.b-table__cell-middle
									//- 					span.svg-icon-concierge
									//- 					a.list-style-icons__link(href="privileges.htm#section-privileges-concierge") Concierge Service<sup>5, 11</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-taxi
														a.list-style-icons__link(href="privileges.htm#transfer") VIP taxi transfer to/from an&nbsp;airport<sup>9</sup>.

									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-dialog-people
														a.list-style-icons__link(href="privileges.htm#section-privileges-consultation") Legal advice<sup>10, 11</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-call
														a.list-style-icons__link(href="privileges.htm#section-home-connect") Citigold Home Connect<sup>11</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-wifi
														a.list-style-icons__link(href="privileges.htm#section-privileges-boingo") Boingo Wi-Fi&nbsp;&mdash; Unlimited Internet Access Across the World<sup>11</sup>.

								.btn-panel.text-center
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Request a&nbsp;callback
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="privileges.htm#section-privileges") Details

		//- .content.content-md
		//- 	.container
		//- 		.disclamer
		//- 			p * Citigold Loyalty Cards will no longer be issued after September 15, 2016. All the previously issued cards will be valid until their ‘valid thru’ dates.
		//- 			p Citigold applications are processed in&nbsp;accordance with Citibank&rsquo;s standard practice. Please refer to&nbsp;the terms and conditions of&nbsp;the <a class="link" href="../pdf/privacy-gold_current.pdf" target="_blank">agreement</a> and the <a class="link" href="../pdf/cg_tariffs_current.pdf" target="_blank">tariffs</a>.

	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Disclaimers
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p Investment products are not insured by&nbsp;any governmental agencies, are not bank deposits or&nbsp;guaranteed by&nbsp;the bank, and may lose value, including possible loss of&nbsp;the principal amount invested. Past performance is&nbsp;not indicative of&nbsp;future results. Prior to&nbsp;purchasing any investment product, you should fully understand the terms and conditions of&nbsp;the transaction and determine the economic risks and merits as&nbsp;well as&nbsp;the legal, tax and accounting consequences of&nbsp;the transaction and that you are able to&nbsp;assume the risk. Investments in&nbsp;foreign currency are subject to&nbsp;currency risk which may result in&nbsp;value depreciation, in&nbsp;part or&nbsp;in&nbsp;whole.
								ul.list-default
									li AO&nbsp;Citibank acts as&nbsp;broker in&nbsp;relation to&nbsp;securities transactions (except for local mutual fund and dual currency deposit transactions). The terms of&nbsp;brokerage, the fees and other relevant documents are available from AO&nbsp;Citibank branches or&nbsp;at&nbsp;<a class="link" href="http://www.citibank.ru">www.citibank.ru</a> under &laquo;Investment Products&nbsp;&mdash; Documents&raquo;.
									li The Customer enters into the brokerage agreement for the purpose of&nbsp;investing his/her surplus funds to&nbsp;make an&nbsp;investment and/or other income on&nbsp;financial market transactions, which may involve the risk of&nbsp;no&nbsp;income or&nbsp;the loss of&nbsp;principal, rather than for the purpose of&nbsp;satisfying his/her personal, family, household or&nbsp;other consumer needs.
									li Investments in&nbsp;securities are exposed, without limitation, to&nbsp;the following risks, which the Customer accepts: country risk, foreign exchange risk, price risk, liquidity risk, credit risk, counterparty risk, settlement risk. A&nbsp;detailed description of&nbsp;the risks is&nbsp;made available to&nbsp;the Customer at&nbsp;the time of&nbsp;entering into the brokerage agreement.
									li AO&nbsp;Citibank will charge a&nbsp;brokerage fee, details of&nbsp;which are available at&nbsp;www.citibank.ru under &laquo;Investment Products&nbsp;&mdash; Documents&raquo;, from AO&nbsp;Citibank branches or&nbsp;via the CitiPhone brokerage line&nbsp;at:
									li
										ul.list-unstyled
											li +7 (495) 775-78-58 in&nbsp;Moscow;
											li +7 (812) 346-78-58 in&nbsp;St. Petersburg;
											li 8 (800) 700-78-58 elsewhere in&nbsp;Russia.
							li.list-increment__item
								p Foreign securities that have not been admitted to&nbsp;public placement and/or public circulation in&nbsp;Russia, as&nbsp;well as&nbsp;foreign financial instruments that have not been recognized as&nbsp;securities, may not be&nbsp;offered to&nbsp;an&nbsp;unlimited number of&nbsp;persons or&nbsp;to&nbsp;non-qualified investors and may only be&nbsp;bought by&nbsp;and/or sold to&nbsp;qualified investors under Russian law (Federal Law &laquo;On&nbsp;Securities Market&raquo; No. 39-FZ of&nbsp;April&nbsp;22, 1996).
							li.list-increment__item
								p Mutual funds are held at&nbsp;the customer&rsquo;s sole risk, and AO&nbsp;Citibank, Citigroup&nbsp;Inc. and their affiliates are not liable for any damage or&nbsp;loss occurring as&nbsp;a&nbsp;result of&nbsp;such investments. Mutual funds are not bank deposits or&nbsp;obligations of&nbsp;AO&nbsp;Citibank, Citigroup&nbsp;Inc. or&nbsp;their affiliates, and their performance is&nbsp;not guaranteed by&nbsp;the government. Past performance is&nbsp;not indicative of&nbsp;future returns, and the value of&nbsp;mutual funds may go&nbsp;down as&nbsp;well as&nbsp;up. All mutual fund transactions are subject to&nbsp;applicable regulations. AO&nbsp;Citibank receives fees from management companies for covering administrative expenses incurred in&nbsp;connection with mutual fund purchase or&nbsp;redemption, or&nbsp;as&nbsp;part of&nbsp;sales promotion programs, which have no&nbsp;effect on&nbsp;the value of&nbsp;a&nbsp;fund share.
								ul.list-default
									li Russian fund management companies may charge upfront and back-end fees, which reduces returns on&nbsp;mutual fund investments. Please, read carefully the rules of&nbsp;fund management before purchasing the fund. Detailed information on&nbsp;mutual funds, including upfront and back-end fees and other charges related to&nbsp;the purchase and ownership of&nbsp;mutual funds, the rules of&nbsp;fund management and other relevant documents are available at&nbsp;AO&nbsp;Citibank branches and on&nbsp;the management companies&rsquo; websites.
									li Income earned by&nbsp;consumers on&nbsp;mutual fund transactions is&nbsp;subject to&nbsp;taxation under Chapter 23&nbsp;of&nbsp;the RF&nbsp;Tax Code. AO&nbsp;Citibank does not act as&nbsp;tax agent in&nbsp;relation to&nbsp;customer transactions entered into within the framework of&nbsp;its agency agreements with Russian management companies. For such customers, income on&nbsp;the sale of&nbsp;securities is&nbsp;calculated by&nbsp;the management company.
									li AO&nbsp;Citibank acts as&nbsp;a&nbsp;mutual fund agent for the following Russian management companies:
									li <b>Alfa Capital LLC (FFMS license &#8470;&nbsp;21-000-1-00028 dated 22.09.1998):</b> &laquo;Alfa-Capital Bonds Plus&raquo; (&#8470;&nbsp;0095-59893492 dated 21.03.2003); &laquo;Alfa-Capital Oil &amp;&nbsp;Gas&raquo; (&#8470;&nbsp;0698-94121750 dated 12.12.2006); &laquo;Alfa-Capital High Tech&raquo; (&#8470;&nbsp;0699-94121833 dated 12.12.2006); &laquo;Alfa-Capital Retail&raquo; (&#8470;&nbsp;0907-94126486 dated 07.08.2007); &laquo;Alfa-Capital Reserve&raquo; (&#8470;&nbsp;0094&ndash;59893648 dated 21.03.2003);
									li <b>AO &laquo;VTB Capital Asset Management&raquo; (FFMS license &#8470;&nbsp;21-000-1-00059 dated 06.03.2002):</b> &laquo;VTB&nbsp;&mdash; Equity Fund&raquo; (&#8470;&nbsp;0968-94131582 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Balanced Fund&raquo; (&#8470;&nbsp;0962-94131346 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Bond Plus Fund&raquo; (&#8470;&nbsp;0958-94130789 dated13.09.2007); &laquo;VTB&nbsp;&mdash; Perspective Investments Fund&raquo; (&#8470;&nbsp;0959-94131180 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; State Owned Enterprises Fund&raquo; (&#8470;&nbsp;0966-94131263 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; MICEX Fund&raquo; (&#8470;&nbsp;0177-71671092 dated 21.01.2004); &laquo;VTB&nbsp;&mdash; Treasury Fund&raquo; (&#8470;&nbsp;0089-59893097 dated 26.02.2003); &laquo;VTB&nbsp;&mdash; Utility Sector Fund&raquo; (&#8470;&nbsp;0965-94131501 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Telecom Sector Fund&raquo; (&#8470;&nbsp;0967-94131429 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Metallurgy Sector Fund&raquo; (&#8470;&nbsp;0961-94131104 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Eurobonds Fund&raquo; (&#8470;&nbsp;0963-94130861 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Oil &amp;&nbsp;Gas Sector Fund&raquo; (&#8470;&nbsp;0960-94131027 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Consumer Sector Fund&raquo; (&#8470;&nbsp;0964-94130944 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; BRIC&nbsp;Fund&raquo; (&#8470;&nbsp;0012-46539678 dated 11.08.1997);
									li <b>AO &laquo;Sberbank Asset Management&raquo; (FFMS license &#8470;&nbsp;21-000-1-00010 dated 12.09.1996 ):</b> &laquo;Sberbank&nbsp;&mdash; Ilya Muromets Bond Fund&raquo; (&#8470;&nbsp;0007-45141428 dated 18.12.1996); &laquo;Sberbank&nbsp;&mdash; Dobrynya Nikitich Equity Fund&raquo; (&#8470;&nbsp;0011-46360962 dated 10.04.1997); &laquo;Sberbank&nbsp;&mdash; Balanced Fund&raquo; (&#8470;&nbsp;0051-56540197 dated 21.03.2001); &laquo;Sberbank&nbsp;&mdash; Money Market Fund&raquo; (&#8470;&nbsp;0082-59794722 dated 24.12.2002); &laquo;Sberbank -America&raquo; (&#8470;&nbsp;0716-94122086 dated 26.12.2006); &laquo;Sberbank&nbsp;&mdash; Natural Resources&raquo; (&#8470;&nbsp;0597-94120779 dated 31.08.2006); &laquo;Sberbank&nbsp;&mdash; Telecommunications&raquo; (&#8470;&nbsp;0596-94120696 dated 31.08.2006); &laquo;Sberbank&nbsp;&mdash; Electric Utilities&raquo; (&#8470;&nbsp;0598-94120851 dated 31.08.2006); &laquo;Sberbank&nbsp;&mdash; Consumer Sector&raquo; (&#8470;&nbsp;0757-94127221 dated 01.03.2007); &laquo;Sberbank&nbsp;&mdash; Emerging Markets&raquo; (&#8470;&nbsp;1924-94168958 dated 28.09.2010);
									li <b>TKB Investment Partners (AO) (FFMS license &#8470;&nbsp;21&mdash;000-1&mdash;00069 dated 17.06.02):</b> &laquo;ТКБ Investment Partners&nbsp;&mdash; Global Investments&raquo; (&#8470;&nbsp;0096-58227323 dated 21.03.2003) &laquo;TKB Investment Partners&nbsp;&mdash; Balanced Conservative&raquo; (&#8470;&nbsp;0078&ndash;58234010 dated 24.12.2002), &laquo;TKB Investment Partners&nbsp;&mdash; Bond Fund&raquo; (&#8470;&nbsp;0081&ndash;58233855 dated 24.12.2002), &laquo;TKB TKB Investment Partners&nbsp;&mdash; Premium. Equity&raquo; (&#8470;&nbsp;0478&ndash;75408434 dated 28.02.2006); &laquo;TKB Investment Partners&nbsp;&mdash; Foreign Currency Bonds&raquo; (&#8470;&nbsp;0991&ndash;94131990 dated 20.09.2007); &laquo;TKB Investment Partners&nbsp;&mdash; Gold&raquo; (&#8470;&nbsp;2026&ndash;94198244 dated 28.12.2010).
							li.list-increment__item
								p Life insurance savings programs are offered by&nbsp;CiV Life Insurance Co. Ltd (CBR licenses СЖ&nbsp;No.4105 and СЛ&nbsp;No.4105 dated May&nbsp;19, 2017). AO&nbsp;Citibank acts as&nbsp;an&nbsp;agent of&nbsp;the insurer and does not charge agency fees from individuals. The insurance programs are not deposits or&nbsp;obligations of&nbsp;AO&nbsp;Citibank, Citigroup&nbsp;Inc.&nbsp;or&nbsp;their affiliates. Funds under the programs are not insured in&nbsp;accordance with the Federal Law &laquo;On&nbsp;the Insurance of&nbsp;Individuals&rsquo; Deposits at&nbsp;Russian Banks&raquo;. Russian government organizations have no&nbsp;obligations under or&nbsp;in&nbsp;connection with these programs. If&nbsp;the customer terminates the contract of&nbsp;life insurance before maturity, the cash surrender value under the programs may be&nbsp;less than the premiums paid by&nbsp;the customer. The insured may, within the first thirty (30) calendar days of&nbsp;insurance commencement date, unless an&nbsp;insured event has occurred, terminate the insurance contract and be&nbsp;refunded the premium paid. If&nbsp;the contract is&nbsp;terminated before maturity but after the expiration of&nbsp;such period, all settlements with the insured will be&nbsp;made in&nbsp;accordance with the Policy Terms and Conditions.
								ul.list-default
									li AO&nbsp;Citibank may receive a&nbsp;fee from the insurer based on&nbsp;the amount of&nbsp;premium to&nbsp;cover its administrative costs.
							li.list-increment__item
								p All Citigold privileges, other than E-Library, Boingo Wi-Fi and the Legal Advice service, are only available subject to&nbsp;the condition that the Average Monthly Relationship Balance in&nbsp;the calendar month preceding the month in&nbsp;which the privileges are used was equal to&nbsp;or&nbsp;greater than RUB 4,000,000&nbsp;or equivalent for those who became Citigold customers before January&nbsp;1, 2018, or&nbsp;RUB 6,000,000&nbsp;or equivalent for those who became Citigold customers on&nbsp;or&nbsp;after January&nbsp;1, 2018. For the purpose of&nbsp;Citigold privileges, the Average Monthly Relationship Balance may include balances in&nbsp;the Customer&rsquo;s accounts with AO&nbsp;Citibank and balances in&nbsp;the Customer&rsquo;s accounts with AO&nbsp;Citibank&rsquo;s affiliates as&nbsp;referred to&nbsp;in&nbsp;the Consumer Banking Terms and Conditions.
							li.list-increment__item
								p The Citi Ultima credit card is&nbsp;made available at&nbsp;Citibank&rsquo;s discretion. All terms and conditions of&nbsp;the relevant agreement are available at&nbsp;<a class="link" href="https://www.citibank.ru">www.citibank.ru</a>.
							li.list-increment__item
								p Ten lounge visits for Citigold customers and an&nbsp;unlimited number of&nbsp;lounge visits for Citigold Private Client customers in&nbsp;a&nbsp;calendar month. For a&nbsp;full list of&nbsp;cities, lounges and their locations, go&nbsp;to&nbsp;<span class="link js-link-target" data-target="http://airport.mastercard.com">airport.mastercard.com</a>, use the Mastercard Airport Experiences mobile app, contact your Relationship Manager or&nbsp;call&nbsp;+7 (495) 775-77-77 in&nbsp;Moscow, +7 (812) 336-38-38 in&nbsp;St. Petersburg or&nbsp;8 (800) 700-91-91 elsewhere in&nbsp;Russia.
								ul.list-default
									li The Customer authorizes Citibank to&nbsp;debit any of&nbsp;his/her Citibank accounts for a&nbsp;ruble amount equivalent to&nbsp;US$ 30.00 in&nbsp;favor of&nbsp;Mastercard Europe&nbsp;SA (198A, Chauss&eacute;e de&nbsp;Tervuren, 1410&nbsp;Waterloo, Belgium) if&nbsp;the Customer used the privilege &laquo;Free Access to&nbsp;Airport Lounges&raquo; but had failed to&nbsp;maintain the required Average Monthly Relationship Balance in&nbsp;the calendar month preceding that in&nbsp;which the privilege was used.
							li.list-increment__item
								p The insurance program is&nbsp;an&nbsp;offer of&nbsp;AO&nbsp;IC&nbsp;Allianz (CBR licenses СИ &#8470;&nbsp;0290 and СЛ &#8470;&nbsp;0290 from Nov.10, 2014). AO&nbsp;Citibank, Citigroup&nbsp;Inc., their affiliates, government agencies and the Russian Federation are in&nbsp;no&nbsp;way liable under the insurance contract. The insurance program is&nbsp;only available to&nbsp;Ultima primary card holders. The privilege is&nbsp;available to&nbsp;customers up&nbsp;to&nbsp;and including the age of&nbsp;84&nbsp;years.
							li.list-increment__item
								p A&nbsp;transfer means a&nbsp;ride from/to the airport to/from the city that does not include stops at&nbsp;any other destinations en&nbsp;route. The service is&nbsp;available to&nbsp;Citigold customers and their supplementary cardholders. The Customer authorizes Citibank to&nbsp;debit any of&nbsp;his/her Citibank accounts for an&nbsp;amount no&nbsp;greater than the fare set out in&nbsp;the officially published Wheely fare schedule if&nbsp;the Customer used the privilege &laquo;Transfer from/to airport&raquo; but had failed to&nbsp;maintain the required Average Monthly Relationship Balance in&nbsp;the calendar month preceding that in&nbsp;which the privilege was used. Service is&nbsp;available in&nbsp;Moscow, St. Petersburg, Yekaterinburg, Perm, Kazan and Sochi, and also London (UK).
							li.list-increment__item
								p The Legal Advice service is&nbsp;only available subject to&nbsp;the condition that the Average Monthly Relationship Balance in&nbsp;the calendar month preceding the month in&nbsp;which the privilege is&nbsp;used was equal to&nbsp;or&nbsp;greater than RUB 20,000,000&nbsp;or its equivalent in&nbsp;other currencies.
							li.list-increment__item
								p Services are provided at&nbsp;the discretion&nbsp;of, and subject to&nbsp;the terms and conditions determined&nbsp;by, the service provider company. AO&nbsp;Citibank, Citigroup&nbsp;Inc. and their affiliates are not liable or&nbsp;responsible for any offers made by&nbsp;that company, particularly in&nbsp;connection with said services. Service details are provided based on&nbsp;information received from the company.