extends ./includes/layout-index.jade
block content
	.container
		.row
			.col-xs-12(style="padding-top: 60px;")
				h2 CitiGold
				ul.list-unstyled
					each val in [{"url": "../rus/citigold_ru.htm", "title": "Главная страница"}, {"url": "../rus/citigold.htm", "title": "О Citigold"}, {"url": "../rus/invest.htm", "title": "Инвестиции и страхование"}, {"url": "../rus/analitics.htm", "title": "Аналитические материалы"}, {"url": "../rus/invest_video.htm", "title": "Видеообзоры"}, {"url": "../rus/privileges.htm", "title": "Привилегии для путешествий"}, {"url": "../rus/specials.htm", "title": "Пригласите Ваших друзей"}, {"url": "../rus/library.htm", "title": "Электронная библиотека"}, {"url": "../rus/Citigold_vklad.htm", "title": "Всегда больше, чем Вы ожидаете"}, {"url": "../rus/advantage.htm", "title": "Банковский сервис"}, {"url": "../rus/kontakty.htm", "title": "Контакты"}, {"url": "../rus/citigold_client.htm", "title": "Стать клиентом Citigold"}, {"url": "../rus/citigold_client_thankyou.htm", "title": "Благодарим за регистрацию"}, {"url": "../rus/rewards_choice.htm", "title": "Комплименты для вас"}, {"url": "../rus/onlain-zajavka.htm", "title": "Заявка"}]
						li
							a(href=val.url) #{val.title}
			.col-xs-12(style="padding-top: 40px;")
				h2 CitiGold (eng)
				ul.list-unstyled
					each val in [{"url": "citigold_ru.htm", "title": "Main page"}, {"url": "citigold.htm", "title": "About Citigold"}, {"url": "invest.htm", "title": "Investment and insurance"}, {"url": "analitics.htm", "title": "Market Analytics"}, {"url": "invest_video.htm", "title": "Video Outlooks"}, {"url": "privileges.htm", "title": "Travel privileges"}, {"url": "specials.htm", "title": "Special offers"}, {"url": "Citigold_vklad.htm", "title": "Exceeding Your Expectations"}, {"url": "advantage.htm", "title": "Banking services"}, {"url": "kontakty.htm", "title": "Contacts"}, {"url": "citigold_client.htm", "title": "Client Citigold"}, {"url": "citigold_client_thankyou.htm", "title": "Thank you"}]
						li
							a(href=val.url) #{val.title}
