extends ./includes/head.jade
block title
	title Investment and Insurance
block analitics
	-var connonical_page = 'invest';

extends ./includes/layout-content.jade
block link
	-var page="invest";
	-var activePage="invest";
block content
	.article-page
		.article-header.no-print
			include ./includes/frame-content
		.article-content
			.article-heading
				.container
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__img-left
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-1.jpg")
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__text-right.text-left.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/invest/eng/mfunds.htm")
									u Russian and International Mutual Funds
									small
										sup 1, 2, 3
							.article-text
								p Over 250 funds denominated in&nbsp;rubles, U.S. dollars, euros and other currencies from global assets management leaders.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Become a&nbsp;Citigold customer
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.col-sm-push-6.col-md-push-6.center-table__col.media-inline__img-right
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-2.jpg")
						.col-xs-12.col-sm-6.col-md-6.col-sm-pull-6.col-md-pull-6.center-table__col.media-inline__text-left.text-right.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/invest/eng/fixed.htm")
									u Equities and Bonds
									small
										sup 1, 2
							.article-text
								p Fourteen largest markets.
								p Access to&nbsp;the world&rsquo;s markets under the roof of&nbsp;a&nbsp;single global financial institution.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Become a&nbsp;Citigold customer
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__img-left
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-3.jpg")
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__text-right.text-left.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/invest/rus/strukturirovannye-noty.htm")
									u Structured Notes
									small
										sup 1, 2
							.article-text
								p Structured notes offer an&nbsp;alternative way of&nbsp;investing in&nbsp;underlying assets.
								p Structured notes can help reduce the overall risk in&nbsp;the event of&nbsp;an&nbsp;aggressive investment strategy or&nbsp;increase portfolio returns.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Become a&nbsp;Citigold customer
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.col-sm-push-6.col-md-push-6.center-table__col.media-inline__img-right
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-4.jpg")
						.col-xs-12.col-sm-6.col-md-6.col-sm-pull-6.col-md-pull-6.center-table__col.media-inline__text-left.text-right.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/services/eng/fx_cbol.htm")
									u Foreign Exchange
							.article-text
								p Ten currencies.
								p Convert at&nbsp;a&nbsp;better rate right now.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Become a&nbsp;Citigold customer
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__img-left
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-5.jpg")
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__text-right.text-left.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/insurance/rus/cap_pr.htm")
									u Insurance Savings Programs
									small
										sup 4
							.article-text
								p Insurance savings programs are designed to&nbsp;help you meet your long-term savings needs and provide valuable financial protection for your family.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/citigold_client.htm") Become a&nbsp;Citigold customer
					.content.content-md
						.particle-page
							.article-text
								p Investment Products: Are not government-insured. Are not bank deposits. Are not bank-guaranteed. May lose value, including possible loss of&nbsp;principal.
								p Past performance is&nbsp;not a&nbsp;guarantee of&nbsp;future performance.
			//- mixin invest_item(_title, _hover_title, _hover_text, _hover_link, _back_img, _position)
				.col-xs-12.col-sm-12.col-md-6.no-padding
					.list-inline-bg-item.hover(class=_position)
						.list-inline-bg-item__inner
							.b-table
								.b-table__cell-middle.color-0
									h4.content-title-2 !{_title}
						.list-inline-bg-item__hover
							.b-table
								.b-table__cell-middle.vertical-align-top
									h4.content-title-3.color-2 !{_hover_title}
									each val in _hover_text
										p.content-text !{val.text}
									a.btn.btn--sm.btn--olive-light.btn--icon(href=_hover_link)
										span Become a&nbsp;Citigold customer
										i.icon-arrow-white
						.list-inline-bg-item__img(style="background-image: url('" + _back_img + "');")
			//- .row.no-margin.list-inline-bg.list-inline-bg--full
				.list-inline-bg-list
					-var list = [{"text": "Over 250 funds denominated in&nbsp;rubles, U.S. dollars, euros and other currencies from global assets management leaders."}]
					+invest_item('Russian and International Mutual Funds<small><sup class="color-0">&nbsp;1, 2, 3</sup></small>', 'Russian and International Mutual Funds<small><sup>&nbsp;1, 2, 3</sup></small>', list, 'https://www.citibank.ru/russia/invest/rus/mfunds.htm', '../content/investition/img-1.jpg', 'list-inline-bg-item--right')

					-var list = [{"text": "Fourteen largest markets."}, {"text": "Access to&nbsp;the world&rsquo;s markets under the roof of&nbsp;a&nbsp;single global financial institution."}]
					+invest_item('Equities and Bonds<small><sup class="color-0">1, 2</sup></small>', 'Equities and Bonds<small><sup>&nbsp;1, 2</sup></small>', list, 'https://www.citibank.ru/russia/invest/rus/invest.htm', '../content/investition/img-2.jpg', 'list-inline-bg-item--left')

					-var list = [{"text": "Structured notes offer an&nbsp;alternative way of&nbsp;investing in&nbsp;underlying assets."}, {"text": "Structured notes can help reduce the overall risk in&nbsp;the event of&nbsp;an&nbsp;aggressive investment strategy or&nbsp;increase portfolio returns."}]
					+invest_item('Structured Notes<small><sup class="color-0">1, 2</sup></small>', 'Structured Notes<small><sup>&nbsp;1,2</sup></small>', list, 'https://www.citibank.ru/russia/invest/rus/strukturirovannye-noty.htm', '../content/investition/img-3.jpg', 'list-inline-bg-item--right')

					-var list = [{"text": "Ten currencies."}, {"text": "Convert at&nbsp;a&nbsp;better rate right now."}]
					+invest_item('Foreign Exchange', 'Foreign Exchange', list, 'https://www.citibank.ru/russia/services/rus/fx_cbol.htm', '../content/investition/img-4.jpg', 'list-inline-bg-item--left')

					-var list = [{"text": "Insurance savings programs are designed to&nbsp;help you meet your long-term savings needs and provide valuable financial protection for your family."}]
					+invest_item('Insurance Savings Programs<small><sup class="color-0">4</sup></small>', 'Insurance Savings Programs<small><sup>&nbsp;4</sup></small>', list, ' https://www.citibank.ru/russia/insurance/rus/cap_pr.htm', '../content/investition/img-5.jpg', 'list-inline-bg-item--right')
				.col-xs-12.col-sm-12.col-md-6.no-padding
					.list-inline-bg-item.list-inline-bg-item--left
						.list-inline-bg-item__inner.bordered
							.b-table
								.b-table__cell-middle
									p.content-text.color-0 Investment Products: Are not government-insured. Are not bank deposits. Are not bank-guaranteed. May lose value, including possible loss of&nbsp;principal.
									p.content-text.color-0 Past performance is&nbsp;not a&nbsp;guarantee of&nbsp;future performance.
						.list-inline-bg-item__img(style="background-image: url('../content/investition/img-6.jpg');")
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Disclaimers
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p Investment products are not insured by&nbsp;any governmental agencies, are not bank deposits or&nbsp;guaranteed by&nbsp;the bank, and may lose value, including possible loss of&nbsp;the principal amount invested. Past performance is&nbsp;not indicative of&nbsp;future results. Prior to&nbsp;purchasing any investment product, you should fully understand the terms and conditions of&nbsp;the transaction and determine the economic risks and merits as&nbsp;well as&nbsp;the legal, tax and accounting consequences of&nbsp;the transaction and that you are able to&nbsp;assume the risk. Investments in&nbsp;foreign currency are subject to&nbsp;currency risk which may result in&nbsp;value depreciation, in&nbsp;part or&nbsp;in&nbsp;whole.
								p AO&nbsp;Citibank acts as&nbsp;broker in&nbsp;relation to&nbsp;securities transactions (except for local mutual fund and dual currency deposit transactions). The terms of&nbsp;brokerage, the fees and other relevant documents are available from AO&nbsp;Citibank branches or&nbsp;at&nbsp;<a class="link" href="http://www.citibank.ru">citibank.ru</a> under &laquo;Investment Products&nbsp;&mdash; Documents&raquo;.
								p The Customer enters into the brokerage agreement for the purpose of&nbsp;investing his/her surplus funds to&nbsp;make an&nbsp;investment and/or other income on&nbsp;financial market transactions, which may involve the risk of&nbsp;no&nbsp;income or&nbsp;the loss of&nbsp;principal, rather than for the purpose of&nbsp;satisfying his/her personal, family, household or&nbsp;other consumer needs.
								p Investments in&nbsp;securities are exposed, without limitation, to&nbsp;the following risks, which the Customer accepts: country risk, foreign exchange risk, price risk, liquidity risk, credit risk, counterparty risk, settlement risk. A&nbsp;detailed description of&nbsp;the risks is&nbsp;made available to&nbsp;the Customer at&nbsp;the time of&nbsp;entering into the brokerage agreement.
								p AO&nbsp;Citibank will charge a&nbsp;brokerage fee, Become a&nbsp;Citigold customer of&nbsp;which are available at&nbsp;www.citibank.ru under &laquo;Investment Products&nbsp;&mdash; Documents&raquo;, from AO&nbsp;Citibank branches or&nbsp;via the CitiPhone brokerage line&nbsp;at:
								ul.list-unstyled
									li +7 (495) 775-78-58 in&nbsp;Moscow;
									li +7 (812) 346-78-58 in&nbsp;St. Petersburg;
									li 8 (800) 700-78-58 elsewhere in&nbsp;Russia.
							li.list-increment__item
								p Foreign securities that have not been admitted to&nbsp;public placement and/or public circulation in&nbsp;Russia, as&nbsp;well as&nbsp;foreign financial instruments that have not been recognized as&nbsp;securities, may not be&nbsp;offered to&nbsp;an&nbsp;unlimited number of&nbsp;persons or&nbsp;to&nbsp;non-qualified investors and may only be&nbsp;bought by&nbsp;and/or sold to&nbsp;qualified investors under Russian law (Federal Law &laquo;On&nbsp;Securities Market&raquo; No. 39-FZ of&nbsp;April&nbsp;22, 1996).
							li.list-increment__item
								p Mutual funds are held at&nbsp;the customer&rsquo;s sole risk, and AO&nbsp;Citibank, Citigroup Inc. and their affiliates are not liable for any damage or&nbsp;loss occurring as&nbsp;a&nbsp;result of&nbsp;such investments. Mutual funds are not bank deposits or&nbsp;obligations of&nbsp;AO&nbsp;Citibank, Citigroup Inc. or&nbsp;their affiliates, and their performance is&nbsp;not guaranteed by&nbsp;the government. Past performance is&nbsp;not indicative of&nbsp;future returns, and the value of&nbsp;mutual funds may go&nbsp;down as&nbsp;well as&nbsp;up. All mutual fund transactions are subject to&nbsp;applicable regulations. AO&nbsp;Citibank receives fees from management companies for covering administrative expenses incurred in&nbsp;connection with mutual fund purchase or&nbsp;redemption, or&nbsp;as&nbsp;part of&nbsp;sales promotion programs, which have no&nbsp;effect on&nbsp;the value of&nbsp;a&nbsp;fund share.
								p Russian fund management companies may charge upfront and back-end fees, which reduces returns on&nbsp;mutual fund investments. Please, read carefully the rules of&nbsp;fund management before purchasing the fund. Detailed information on&nbsp;mutual funds, including upfront and back-end fees and other charges related to&nbsp;the purchase and ownership of&nbsp;mutual funds, the rules of&nbsp;fund management and other relevant documents are available at&nbsp;AO&nbsp;Citibank branches and on&nbsp;the management companies&rsquo; websites.
								p Income earned by&nbsp;consumers on&nbsp;mutual fund transactions is&nbsp;subject to&nbsp;taxation under Chapter 23&nbsp;of&nbsp;the RF&nbsp;Tax Code. AO&nbsp;Citibank does not act as&nbsp;tax agent in&nbsp;relation to&nbsp;customer transactions entered into within the framework of&nbsp;its agency agreements with Russian management companies. For such customers, income on&nbsp;the sale of&nbsp;securities is&nbsp;calculated by&nbsp;the management company.
								p AO&nbsp;Citibank acts as&nbsp;a&nbsp;mutual fund agent for the following Russian management companies:
								p <b>Alfa Capital LLC (FFMS license &#8470;&nbsp;21-000-1-00028 dated 22.09.1998):</b> &laquo;Alfa-Capital Bonds Plus&raquo; (&#8470;&nbsp;0095-59893492 dated 21.03.2003); &laquo;Alfa-Capital Oil &amp;&nbsp;Gas&raquo; (&#8470;&nbsp;0698-94121750 dated 12.12.2006); &laquo;Alfa-Capital High Tech&raquo; (&#8470;&nbsp;0699-94121833 dated 12.12.2006); &laquo;Alfa-Capital Retail&raquo; (&#8470;&nbsp;0907-94126486 dated 07.08.2007); &laquo;Alfa-Capital Reserve&raquo; (&#8470;&nbsp;0094&ndash;59893648 dated 21.03.2003);
								p <b>AO &laquo;VTB Capital Asset Management&raquo; (FFMS license &#8470;&nbsp;21-000-1-00059 dated 06.03.2002):</b> &laquo;VTB&nbsp;&mdash; Equity Fund&raquo; (&#8470;&nbsp;0968-94131582 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Balanced Fund&raquo; (&#8470;&nbsp;0962-94131346 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Bond Plus Fund&raquo; (&#8470;&nbsp;0958-94130789 dated13.09.2007); &laquo;VTB&nbsp;&mdash; Perspective Investments Fund&raquo; (&#8470;&nbsp;0959-94131180 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; State Owned Enterprises Fund&raquo; (&#8470;&nbsp;0966-94131263 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; MICEX Fund&raquo; (&#8470;&nbsp;0177-71671092 dated 21.01.2004); &laquo;VTB&nbsp;&mdash; Treasury Fund&raquo; (&#8470;&nbsp;0089-59893097 dated 26.02.2003); &laquo;VTB&nbsp;&mdash; Utility Sector Fund&raquo; (&#8470;&nbsp;0965-94131501 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Telecom Sector Fund&raquo; (&#8470;&nbsp;0967-94131429 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Metallurgy Sector Fund&raquo; (&#8470;&nbsp;0961-94131104 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Eurobonds Fund&raquo; (&#8470;&nbsp;0963-94130861 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Oil &amp;&nbsp;Gas Sector Fund&raquo; (&#8470;&nbsp;0960-94131027 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; Consumer Sector Fund&raquo; (&#8470;&nbsp;0964-94130944 dated 13.09.2007); &laquo;VTB&nbsp;&mdash; BRIC&nbsp;Fund&raquo; (&#8470;&nbsp;0012-46539678 dated 11.08.1997);
								p <b>AO &laquo;Sberbank Asset Management&raquo; (FFMS license &#8470;&nbsp;21-000-1-00010 dated 12.09.1996 ):</b> &laquo;Sberbank&nbsp;&mdash; Ilya Muromets Bond Fund&raquo; (&#8470;&nbsp;0007-45141428 dated 18.12.1996); &laquo;Sberbank&nbsp;&mdash; Dobrynya Nikitich Equity Fund&raquo; (&#8470;&nbsp;0011-46360962 dated 10.04.1997); &laquo;Sberbank&nbsp;&mdash; Balanced Fund&raquo; (&#8470;&nbsp;0051-56540197 dated 21.03.2001); &laquo;Sberbank&nbsp;&mdash; Money Market Fund&raquo; (&#8470;&nbsp;0082-59794722 dated 24.12.2002); &laquo;Sberbank -America&raquo; (&#8470;&nbsp;0716-94122086 dated 26.12.2006); &laquo;Sberbank&nbsp;&mdash; Natural Resources&raquo; (&#8470;&nbsp;0597-94120779 dated 31.08.2006); &laquo;Sberbank&nbsp;&mdash; Telecommunications&raquo; (&#8470;&nbsp;0596-94120696 dated 31.08.2006); &laquo;Sberbank&nbsp;&mdash; Electric Utilities&raquo; (&#8470;&nbsp;0598-94120851 dated 31.08.2006); &laquo;Sberbank&nbsp;&mdash; Consumer Sector&raquo; (&#8470;&nbsp;0757-94127221 dated 01.03.2007); &laquo;Sberbank&nbsp;&mdash; Emerging Markets&raquo; (&#8470;&nbsp;1924-94168958 dated 28.09.2010);
								p <b>TKB Investment Partners (AO) (FFMS license &#8470;&nbsp;21&mdash;000-1&mdash;00069 dated 17.06.02):</b> &laquo;ТКБ Investment Partners&nbsp;&mdash; Global Investments&raquo; (&#8470;&nbsp;0096-58227323 dated 21.03.2003) &laquo;TKB Investment Partners&nbsp;&mdash; Balanced Conservative&raquo; (&#8470;&nbsp;0078&ndash;58234010 dated 24.12.2002), &laquo;TKB Investment Partners&nbsp;&mdash; Bond Fund&raquo; (&#8470;&nbsp;0081&ndash;58233855 dated 24.12.2002), &laquo;TKB TKB Investment Partners&nbsp;&mdash; Premium. Equity&raquo; (&#8470;&nbsp;0478&ndash;75408434 dated 28.02.2006); &laquo;TKB Investment Partners&nbsp;&mdash; Foreign Currency Bonds&raquo; (&#8470;&nbsp;0991&ndash;94131990 dated 20.09.2007); &laquo;TKB Investment Partners&nbsp;&mdash; Gold&raquo; (&#8470;&nbsp;2026&ndash;94198244 dated 28.12.2010).
							li.list-increment__item
								p Life insurance savings programs are offered by&nbsp;CiV Life Insurance Co. Ltd (CBR licenses СЖ&nbsp;No.4105 and СЛ&nbsp;No.4105 dated May&nbsp;19, 2017). AO&nbsp;Citibank acts as&nbsp;an&nbsp;agent of&nbsp;the insurer and does not charge agency fees from individuals. The insurance programs are not deposits or&nbsp;obligations of&nbsp;AO&nbsp;Citibank, Citigroup Inc.&nbsp;or&nbsp;their affiliates. Funds under the programs are not insured in&nbsp;accordance with the Federal Law &laquo;On&nbsp;the Insurance of&nbsp;Individuals&rsquo; Deposits at&nbsp;Russian Banks&raquo;. Russian government organizations have no&nbsp;obligations under or&nbsp;in&nbsp;connection with these programs. If&nbsp;the customer terminates the contract of&nbsp;life insurance before maturity, the cash surrender value under the programs may be&nbsp;less than the premiums paid by&nbsp;the customer. The insured may, within the first thirty (30) calendar days of&nbsp;insurance commencement date, unless an&nbsp;insured event has occurred, terminate the insurance contract and be&nbsp;refunded the premium paid. If&nbsp;the contract is&nbsp;terminated before maturity but after the expiration of&nbsp;such period, all settlements with the insured will be&nbsp;made in&nbsp;accordance with the Policy Terms and Conditions.
								p AO&nbsp;Citibank may receive a&nbsp;fee from the insurer based on&nbsp;the amount of&nbsp;premium to&nbsp;cover its administrative costs.
