extends ./includes/head.jade
block title
	title Market Analytics
block analitics
	-var connonical_page = 'analitics';

extends ./includes/layout-content.jade
block link
	-var page="invest_video";
	-var activePage="analitics";
	-var activePageChild="invest_video";
block scripts
	script(type="text/javascript" src="../f/js/vendor-pdf/compatibility.js")
	script(type="text/javascript" src="../f/js/vendor-pdf/pdf.js")
	script(type="text/javascript" src="../f/js/view-pdf.js")

block content
	.article-page
		.article-content
			.container
				.content-heading-middle
					h1.h2.article-title.text-uppercase.text-center.color-2 Video Outlooks
		.article-content
			.article-heading.padding-top-0
				.container
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.youtube.com/embed/VsECZczkiuc?ecver=0&amp;rel=0", allowfullscreen="", frameborder="0", width="100%", height="300")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.center-table__col.video-content__right
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Investment Strategy in&nbsp;the International Financial Markets 2018
											p.content-text-5 January, 2018
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.col-xs-push-0.col-sm-push-5.col-md-push-5.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.youtube.com/embed/NAt_u-H7WDE?ecver=0&amp;rel=0", allowfullscreen="", frameborder="0", width="100%", height="300")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.col-xs-pull-0.col-sm-pull-7.col-md-pull-7.center-table__col.video-content__right.video-content__right_pull
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Investment Strategy 2017:
											p.content-text-5 What is&nbsp;in&nbsp;Focus in&nbsp;the forth quarter.
											p.content-text-5 November, 2017
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.youtube.com/embed/mAipX4R6QxU?ecver=0&amp;rel=0", allowfullscreen="", frameborder="0", width="100%", height="300")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.center-table__col.video-content__right
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Investment Strategy 2017:
											p.content-text-5 What is&nbsp;in&nbsp;Focus in&nbsp;the Second Half of&nbsp;the Year.
											p.content-text-5 May, 2017
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.col-xs-push-0.col-sm-push-5.col-md-push-5.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.youtube.com/embed/K3EarZR2ZD4?ecver=0&amp;rel=0", allowfullscreen="", frameborder="0", width="100%", height="300")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.col-xs-pull-0.col-sm-pull-7.col-md-pull-7.center-table__col.video-content__right.video-content__right_pull
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Investment Strategy 2017:
											p.content-text-5 What to&nbsp;Do in&nbsp;the Challenging Economic Environment.
											p.content-text-5 February, 2017
				.article-content
					.btn-panel.text-center
						a.btn.btn--black.btn--lg.btn--rounded.btn--wide-lg(href="https://www.citibank.ru/russia/citigold/eng/citigold_client.htm")
							span Request a&nbsp;callback
						a.btn.btn--black.btn--lg.btn--rounded.btn--wide-lg(href="https://www.citibank.ru/russia/citigold/rus/invest.htm")
							span Details
