extends ./includes/head.jade
block description
	meta(name='description', content='Узнайте круглосуточные телефоны Citigold Private Client в Москве, Санкт-Петербурге и других городах.')
block title
	title Citigold branches
block analitics
	-var connonical_page = 'kontakty'

extends ./includes/layout-content.jade
block link
	-var page="kontakty";
	-var activePage="kontakty";
block content
	.article-page.section-contacts
		.article-content
			.container
				.content.content-md
					.content-heading
						.row
							.col-xs-12.col-sm-12.col-md-12
								h1.h2.content-title-3 24-hour Citigold CitiPhone:
						.row
							.col-xs-12.col-sm-6.col-md-7
								dl.dl-horizontal.content-title-3
									dt Moscow:
									dd +7 (495) 775-77-77
									dt St. Petersburg:
									dd +7 (812) 336-38-38
									dt elsewhere in Russia:
									dd 8 (800) 700-91-91
							.col-xs-12.col-sm-6.col-md-5
								.btn-group-contacts
									a.btn.btn--xlg.btn--black.btn--rounded.color2(href="https://www.citibank.ru/russia/citigold/eng/citigold_client.htm") Request a&nbsp;callback
					//- .content-body
		.article-tab.tab
			.article-heading
				.container
					.article-tab__header
						.content-title-3 We&nbsp;will be&nbsp;glad to&nbsp;see you in&nbsp;our Branches with Citigold area:
					.tab-cover.dropdown
						.custom-select.dropdown-toggle(data-toggle="dropdown")
							span.filter-option Moscow
							span.caret
						.dropdown-menu
							ul.tab-nav.row.no-margin
								li.tab-nav__item.col-xs-12.col-sm-4.col-md-4.no-padding
									a.tab-nav-handler(href="#tab-1", data-text="Moscow") Moscow
								li.tab-nav__item.col-xs-12.col-sm-4.col-md-4.no-padding
									a.tab-nav-handler(href="#tab-2", data-text="St.Petersburg") St.Petersburg
								li.tab-nav__item.col-xs-12.col-sm-4.col-md-4.no-padding
									a.tab-nav-handler(href="#tab-3", data-text="Elsewhere in Russia") Elsewhere in&nbsp;Russia
			.article-content
				.tab-content
					mixin table_row(_title, _subtitle_1, _address, _subtitle_2, _text_2, _subtitle_3, _text_3, _class)
						if(_class != "")
							.table-address-wrap__row.table-address-wrap__rowspan
								.row
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item(class=_class)
										.b-table
											.b-table__cell-top
												.table-address__subtitle !{_subtitle_1}
												each value in _address
													.table-address__text!= value.text
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item.table-address__product
										.b-table
											.b-table__cell-top
												.table-address__subtitle.visible-lg-block !{_subtitle_2}
												.table-address__text !{_text_2}
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item.table-address__time
										.b-table
											.b-table__cell-top
												.table-address__subtitle.visible-lg-block !{_subtitle_3}
												.table-address__text !{_text_3}
						else
							.table-address-wrap__row
								.row
									.col-xs-12.col-sm-12.col-md-3.table-address-wrap__item
										.b-table
											.b-table__cell-top
												.table-address__title !{_title}
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item
										.b-table
											.b-table__cell-top
												.table-address__subtitle !{_subtitle_1}
												each value in _address
													.table-address__text!= value.text
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item.table-address__product
										.b-table
											.b-table__cell-top
												.table-address__subtitle.visible-lg-block !{_subtitle_2}
												.table-address__text !{_text_2}
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item.table-address__time
										.b-table
											.b-table__cell-top
												.table-address__subtitle.visible-lg-block !{_subtitle_3}
												.table-address__text !{_text_3}
					.tab-content__item.tab-pane.fade#tab-1
						.container
							.content.content-md
								.table-address.bordered
									.table-address-wrap
										-var address = [{'text': 'Center, 15, bld.1, Bolshaya Nikitskaya'}, {'text': 'Metro Station: &laquo;Arbatskaya&raquo;, &laquo;Biblioteka im. Lenina&raquo;, &laquo;Okhotnyi Ryad&raquo;'}];
										+table_row("Moscow", "&laquo;Na&nbsp;Bolshoy Nikitskoy&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': 'Center, 8, Novinsky boulevard'}, {'text': 'Metro Station: &laquo;Smolenskaya&raquo;'}];
										+table_row("Moscow", "&laquo;Na&nbsp;Arbate&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': 'Center, 32 bld.2, Komsomolsky prospect'}, {'text': 'Metro Station: &laquo;Frunzenskaya&raquo;'}];
										+table_row("Moscow", "&laquo;Na&nbsp;Komsomolskom prospecte&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': 'Center, 32-34, Krasnaya Presnya'}, {'text': 'Metro Station: &laquo;Ulitsa 1905 goda&raquo;'}];
										+table_row("Moscow", "&laquo;Na&nbsp;Krasnoy Presne&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': 'Center, 5, Marksistskaya'}, {'text': 'Metro Station: &laquo;Marksistskaya&raquo;'}];
										+table_row("Moscow", "&laquo;Na&nbsp;Marksistskoy&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': 'Center, 13, bld.1, 1st Tverskaya-Yamskaya'}, {'text': 'Metro Station: &laquo;Belorusskaya&raquo;, &laquo;Mayakovskaya&raquo;'}];
										+table_row("Moscow", "&laquo;Na&nbsp;Tverskoy-Yamskoy&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00, Sat 10:00-18:00", "")
										-var address = [{'text': 'Center, 7 bld.1, Ostozhenka'}, {'text': 'Metro Station: &laquo;Kropotkinskaya&raquo;'}];
										+table_row("Moscow", "&laquo;Ostozhenka&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': 'Center, 2 bld.1, Paveletskaya square'}, {'text': 'Metro Station: &laquo;Paveletskaya&raquo;'}];
										+table_row("Moscow", "&laquo;Paveletskoe&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00, Sat 10:00-18:00", "")
								.disclamer
									p The branches accept brokerage orders, custody instructions and mutual funds transactions orders.
					.tab-content__item.tab-pane.fade#tab-2
						.container
							.content.content-md
								.table-address.bordered
									.table-address-wrap
										-var address = [{'text': 'Petrogradsky r-on, 18 litera A, Bolshoy prospekt'}, {'text': 'Metro Station: &laquo;Sportivnaya&raquo;'}];
										+table_row("St.Petersburg", "&laquo;Bolshoy prospekt&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': 'Moskovsky r-on, 139/1, bld.1, Moskovsky prospekt'}, {'text': 'Metro Station: &laquo;Electrosila&raquo;'}];
										+table_row("St.Petersburg", "&laquo;Moskovsky prospekt&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00, Sat 10:00-18:00", "")
										-var address = [{'text': 'Central&rsquo;ny r-on, 68, litera A, Nevsky prospekt'}, {'text': 'Metro Station: &laquo;Gostiny Dvor&raquo;, &laquo;Mayakovskaya&raquo;, &laquo;Vladimirskaya&raquo;, &laquo;Dostoevskaya&raquo;'}];
										+table_row("St.Petersburg", "&laquo;Nevsky Prospect&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00, Sat 10:00-18:00", "")

								.disclamer
									p The branches accept brokerage orders, custody instructions and mutual funds transactions orders.
					.tab-content__item.tab-pane.fade#tab-3
						.container
							.content.content-md
								.table-address.bordered
									.table-address-wrap
										-var address = [{'text': '2, prosp. Lenina'}];
										+table_row("Volgograd", "&laquo;Volgogradsky&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': '84, Malysheva str.'}];
										+table_row("Ekaterinburg", "&laquo;Uralskiy&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': '16, B.Pokrovskaya str.'}];
										+table_row("Nizhniy Novgorod", "&laquo;Privolzhskiy&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': '124, Bol. Sadovaya str.'}];
										+table_row("Rostov-on-Don", "&laquo;Donskoy&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': '270, Samarskaya str.'}];
										+table_row("Samara", "&laquo;Srednevolzhskiy&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
										-var address = [{'text': '31/33 Lenina str.'}];
										+table_row("Ufa", "&laquo;Bashkortostan&raquo; branch", address, "&nbsp;", "ATM: 24&nbsp;hour", "&nbsp;", "Opening hours: Mon-Fri 10:00-20:00", "")
								.disclamer
									p The branches accept brokerage orders, custody instructions and mutual funds transactions orders.
