extends ./includes/head.jade
block description
	meta(name='description', content='Learn more about the minimum average monthly balance to receive Citigold services for free. Keep the average monthly balance to receive special compliments from our partners.')
block title
	title Citigold service standards in all countries | Citibank
block analitics
	-var connonical_page = 'special-2'

extends ./includes/layout-content.jade
block link
	-var page="special-2";
	-var activePage="special-2";
	-var activePageChild="special-2";

block content
	.article-page
		.article-content
			include ./includes/frame-content
			.panel-container.panel-container_bg
				.content.content-md
					.container.no-padding
						.panel-shadow.panel-shadow_offset-top
							.panel-shadow__inner.panel-shadow__inner_top
								h2.h2.article-title.text-uppercase.text-center.color-2 Dear customers,
								p.article-text.text-center Citi is&nbsp;a&nbsp;global bank, and we&nbsp;are proud to&nbsp;have the same service standards in&nbsp;all countries. This also means the same rules for all customers. An&nbsp;equivalent of&nbsp;$100,000&nbsp;is the minimum average monthly balance<sup>3</sup> to&nbsp;receive Citigold services for free in&nbsp;all countries. <b>Starting January&nbsp;1, 2019, it&nbsp;will be&nbsp;RUB 6&nbsp;mln</b> for Russian customers due to&nbsp;a&nbsp;sharp decline of&nbsp;the ruble. We&nbsp;understand that this is&nbsp;a&nbsp;significant change, and we&nbsp;will make sure that your transition to&nbsp;new terms and conditions is&nbsp;smooth.
							.panel-shadow__hr
							.panel-shadow__inner.panel-shadow__inner_bottom
								p.article-text.text-center To&nbsp;retain your Citigold status, the average monthly balance of&nbsp;your accounts <strong class="color-2">should increase to&nbsp;RUB 6&nbsp;mln</strong> in&nbsp;the near future. Your relationship manager will help you select banking and investment products to&nbsp;meet your objectives.
						.panel-thumbnail
							.thumbnail.thumbnail-inline
								.thumbnail__media
									span.svg-icon-gift
								.thumbnail__info
									.thumbnail-text
										p.article-text If&nbsp;you keep the average monthly balance of&nbsp;RUB 6&nbsp;mln or&nbsp;more for three months in&nbsp;a&nbsp;row, we&nbsp;will be&nbsp;pleased to&nbsp;offer you special compliments<sup>1</sup>: personal tailoring in&nbsp;Icon studio, a&nbsp;night at&nbsp;The Ritz-Carlton<sup>2</sup>, Moscow, or&nbsp;cash.
						.panel-shadow
							.panel-shadow__inner
								.article-title.content-title-2.color-2 To&nbsp;apply for the offer
								p.article-text please register until March&nbsp;31, 2019 by&nbsp;texting&nbsp;WE to&nbsp;2582 from the cell phone number indicated in&nbsp;your contact details provided to&nbsp;the bank.

			.offers.no-margin
				.content.content-md
					.offers-item.offers-item--right
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-2.jpg")
								.col-xs-12.col-sm-7.col-md-6.col-sm-offset-5.col-md-offset-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-costume
														.offers-text__heading
															.offers-text__logo
																img(src="../content/special/logo-icon.jpg")
														.offers-text__content
															.offers-title.content-title-3 Personal tailoring of&nbsp;3&nbsp;a&nbsp;shirts in&nbsp;Icon Suit<sup>2</sup> studio Handmade.
															.article-text
																p Made-to-measure. Exclusive fabrics.
														.offers-text__footer
															span.link.js-link-target(data-target="http://www.ru.iconsuit.com") www.iconsuit.com
					.offers-item.offers-item--left
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-1.jpg")
								.col-xs-12.col-sm-7.col-md-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-building
														.offers-text__heading
															.offers-text__logo
																img(src="../content/special/logo-ritz.jpg")
														.offers-text__content
															.offers-title.content-title-3 A&nbsp;luxury executive suite (a&nbsp;double room for one night, including breakfast)<sup>2</sup>
															.article-text
																p A&nbsp;unique retreat from the outside world right in&nbsp;the center of&nbsp;Moscow
														.offers-text__footer
															span.link.js-link-target(data-target="http://www.ritzcarlton.com/Moscow") www.ritzcarlton.com/Moscow
					.offers-item.offers-item--right
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-4.jpg")
								.col-xs-12.col-sm-7.col-md-6.col-sm-offset-5.col-md-offset-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-money
														.offers-text__content
															.offers-title.content-title-3 Cash: RUB 25,000
															.article-text
																p Will be&nbsp;paid to&nbsp;your account, less personal income tax
			.content
				.price-special
					.container
						.article-title.text-uppercase Special Time Deposits offer is&nbsp;available to&nbsp;you on&nbsp;the following terms:
						.price-special__list
							.price-special__list-item
								.price-special__list-count
									| 5,5
									span %
								.price-special__list-text per annum
							.price-special__list-item
								.price-special__list-count
									span for
									| 91
								.price-special__list-text day
							.price-special__list-item
								.price-special__list-count
									span RUB
									| 300 000
								.price-special__list-text or&nbsp;more<sup>*</sup>
			.content.content-md
				.container
					.content.content-md
						.disclamer
							p * You can deposit an&nbsp;amount not exceeding the difference between a&nbsp;customer&rsquo;s consolidated balance as&nbsp;of&nbsp;the date of&nbsp;making a&nbsp;deposit and the consolidated balance on&nbsp;the last business day of&nbsp;the previous month.
						p.content-title-6 Thank you for your trust.
						p.content-title-6 AO Citibank.
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Disclaimers
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p The duration of&nbsp;the Promotion is&nbsp;from November&nbsp;15, 2018, to&nbsp;June&nbsp;31, 2019, which includes the time necessary for receiving the rewards. Participation in&nbsp;the Promotion is&nbsp;open between November&nbsp;15, 2018, and March&nbsp;31, 2019. In&nbsp;order to&nbsp;satisfy the terms and conditions of&nbsp;the Promotion, its participant must increase his/her average monthly relationship balance by&nbsp;a&nbsp;minimum of&nbsp;RUB 500,000. The information concerning the organizer, the terms and conditions of&nbsp;the Promotion, and the details of&nbsp;the rewards and how and when they will be&nbsp;awarded, are available <a class="link" href="https://www.citibank.ru/russia/citigold/content/pdf/tcs-eng.pdf">here</a>. AO&nbsp;Citibank
							li.list-increment__item
								p Services are provided at&nbsp;the discretion&nbsp;of, and subject to&nbsp;the terms and conditions determined&nbsp;by, the service provider company. AO&nbsp;Citibank, Citigroup Inc. and their affiliates are not liable or&nbsp;responsible for any offers made by&nbsp;that company, particularly in&nbsp;connection with said services. Service details are provided based on&nbsp;information received from the company.
							li.list-increment__item
								p The average monthly relationship balance is&nbsp;calculated as&nbsp;the sum of&nbsp;daily credit balances (as&nbsp;at&nbsp;the beginning of&nbsp;day) in&nbsp;all of&nbsp;the Customer&rsquo;s Citibank accounts in&nbsp;any given month divided by&nbsp;the number of&nbsp;calendar days in&nbsp;the respective month. The Average Monthly Relationship Balance also includes the amounts of&nbsp;insurance premiums/contributions paid by&nbsp;the Customer under the insurance savings programs unexpired at&nbsp;the Average Monthly Relationship Balance calculation date as&nbsp;evidenced by&nbsp;the insurance contract/policy, if&nbsp;the inclusion of&nbsp;such insurance premiums/contributions is&nbsp;provided for by&nbsp;the relevant Tariffs and/or promotion terms and conditions and if&nbsp;the Customer was an&nbsp;existing Citibank customer under the Banking Services Agreement at&nbsp;the date of&nbsp;enrollment in&nbsp;the insurance program. A&nbsp;list of&nbsp;eligible insurance savings programs is&nbsp;published on&nbsp;Citibank&rsquo;s official website; such programs are an&nbsp;offer of&nbsp;OOO &laquo;Strakhovaya Kompaniya &laquo;CiV&nbsp;Life&raquo;. The Average Monthly Relationship Balance and the Relationship Balance at&nbsp;End of&nbsp;Calendar Month will include the amounts of&nbsp;insurance premiums/contributions paid under the eligible insurance savings programs as&nbsp;at&nbsp;the 27th day of&nbsp;each calendar month. No&nbsp;other insurance products or&nbsp;insurance premiums/contributions that do&nbsp;not satisfy the above requirements will be&nbsp;included in&nbsp;the calculation of&nbsp;the Average Monthly Relationship Balances and the Relationship Balance at&nbsp;End of&nbsp;Calendar Month.
							li.list-increment__item
								p The offer is&nbsp;valid since November 1&nbsp;to&nbsp;December&nbsp;31, 2018.
								p <a class="link" href="https://www.citibank.ru/russia/citigold/content/pdf/td-nnm-tcs-eng.pdf">All deposit agreement terms and conditions</a> form part of&nbsp;the Consumer Banking Terms and Conditions available at&nbsp;<a class="link" target="_blank" href="www.citibank.ru">www.citibank.ru</a>. All details are also available from AO&nbsp;Citibank branches.
								p On&nbsp;the deposit maturity date, you will get your money and accrued interest back to&nbsp;the current or&nbsp;savings account with AO&nbsp;Citibank from which the deposit was made.
								p The time deposit may not be&nbsp;terminated in&nbsp;part. If&nbsp;you elect to&nbsp;prematurely terminate the time deposit, you will be&nbsp;refunded the deposit amount in&nbsp;full. However, if&nbsp;the time deposit is&nbsp;prematurely terminated, interest will accrue at&nbsp;0.01% p.a. AO&nbsp;Citibank reserves the right to&nbsp;change the terms of&nbsp;these offers at&nbsp;any time without prior notice. The conditions of&nbsp;the deposit don&rsquo;t change after placement.
								p Consolidated balance is&nbsp;the sum of&nbsp;balances in&nbsp;all ruble accounts of&nbsp;client (current account and deposits) opened in&nbsp;AO&nbsp;Citibank.
