extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Программа Mastercard Airport Experiences от LoungeKey предоставляет доступ в бизнес залы аэропортов (Шереметьево, Домодедово, Пулково и др.), а также эксклюзивные предложения от ресторанов, магазинов, спа-центров и Duty Free.')
block title
	title Business lounges at major international airports
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../f/js/promo-animate.js")
	script.
		$(document).on('click', 'a[data-event="priveleges"]', function() {
			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=prcall&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);
		});

		$(document).on('click', 'a[data-event="issuecard"]', function() {
			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=castep_0&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);
		});

block content
	.article-page
		.article-header.no-print
			include ./includes/frame-content
		.article-content
			#business-lounges.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Business lounges at&nbsp;major international airports<small><sup>2</sup></small>
					.article-with-img
						.article-with-img__media.article-with-img__media--logo-lounge
							img(src="../content/travel/img-loungekey.jpg")
						.article-with-img__content
							.article-text
								p Program Mastercard Airport Experiences from LoungeKey2 give access to&nbsp;airport lounges in&nbsp;over 500 cities across the world (<span class="link js-link-target" data-target="https://airport.mastercard.com">a&nbsp;full list</span>) and to&nbsp;exclusive dining, spa, retail and duty-free shopping offers.
						.article-with-img__footer
							#content-spoiler.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler", href="#content-spoiler-item_1")
										.content-spoiler-handler__target
											span How to&nbsp;use
								#content-spoiler-item_1.collapse
									.content-spoiler__content
										.article-text
											p On&nbsp;arrival at&nbsp;the lounge, quote &lsquo;LoungeKey&rsquo; to&nbsp;the reception staff and present your Citigold World Elite Mastercard<sup class="reg">&reg;</sup> debit card.
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		p Please note that an&nbsp;authorization hold of&nbsp;US$ 1&nbsp;is required for card validation.<br />After validation is&nbsp;completed, the hold falls off usually within ten business days.
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg
										
										.article-text
											p You can bring any number of&nbsp;guests with you every time you visit an&nbsp;airport lounge. Lounge access is&nbsp;free for you and two of&nbsp;your guests (subject to&nbsp;meeting the minimum balance requirements set out in&nbsp;the Tariffs), but for your third and subsequent guests, one of&nbsp;your accounts will be&nbsp;charged the equivalent of&nbsp;US$ 30&nbsp;per guest.
										.card-list.card-list--inline.card-list--inline-bg.card-list--inline-bg-md.js-fixed-height
											.row.no-margin
												.col-xs-12.col-sm-5.col-md-5.col-sm-push-7.col-md-push-7.no-padding
													.b-table.box
														.b-table__cell-middle.box-content
															.card-list__media.card-list__media--img-center
																img(src="../content/travel/img-mastercardairport.jpg")
												.col-xs-12.col-sm-7.col-md-7.col-sm-pull-5.col-md-pull-5.no-padding
													.b-table.box
														.b-table__cell-middle.box-content
															.card-list-body
																.card-list-body__heading
																	.h2.content-title-2 Mobile app
																.card-list-body__content
																	.article-text
																		p.content-text-6 Download the Mastercard Airport Experiences mobile app to&nbsp;appreciate the benefits of&nbsp;the program and to&nbsp;take advantage of&nbsp;the exclusive dining, spa, retail and duty-free shopping offers.
																.card-list-body__footer
																	.content-text-5.text-uppercase Скачать приложение Mastercard Airport Experiences
																		.btn-panel
																			a.btn.btn--app(href="https://itunes.apple.com/app/mastercard-airport-experiences/id1218321651", target="_blank", style="background-image: url('../content/special/icon-ios.png')")
																			a.btn.btn--app(href="https://play.google.com/store/apps/details?id=com.loungekey.mastercard.android", target="_blank",  style="background-image: url('../content/special/icon-gplay.png')")
										.article-tab.tab
											.article-heading.article-heading_no-bg.padding-top-0
												.container
													.tab-cover.dropdown
														.custom-select.dropdown-toggle(data-toggle="dropdown")
															span.filter-option Lounge Access
															span.caret
														.dropdown-menu
															ul.tab-nav.row.no-margin
																li.tab-nav__item.col-xs-12.col-sm-6.col-md-6.no-padding
																	a.tab-nav-handler(href="#tab-1", data-text="Lounge Access") Lounge Access
																li.tab-nav__item.col-xs-12.col-sm-6.col-md-6.no-padding
																	a.tab-nav-handler(href="#tab-2", data-text="Offers and Discounts") Offers and Discounts
											.article-content.section-bggray
												.tab-content
													.tab-content__item.tab-pane.fade#tab-1
														.container
															.content.content-md
																.content-heading
																	.remuneration__list
																		.remuneration__item
																			.remuneration-slider.margin-top-0.remuneration-slider_steps.remuneration-slider_steps-col-4
																				-var remunerationItems = [{"title": "Register on&nbsp;the app using your Citigold Mastercard.", "icons": "user"}, {"title": "Locate an&nbsp;airport lounge.", "icons": "search-big"}, {"title": "Show your&nbsp;QR code at&nbsp;the reception.", "icons": "mobile-qr"}, {"title": "Relax and enjoy yourself!", "icons": "chair"}]
																				each value, key in remunerationItems
																					.remuneration-slider__item
																						.circle
																							.circle__inner
																								.b-table
																									.b-table__cell-middle
																										.remuneration-slider__icon-wrap
																											span(class="svg-icon-#{value.icons}")
																						.remuneration-slider__title!= value.title
													.tab-content__item.tab-pane.fade#tab-2
														.container
															.content.content-md
																.content-heading
																	.remuneration__list
																		.remuneration__item
																			.remuneration-slider.margin-top-0.remuneration-slider_steps.remuneration-slider_steps-col-5
																				-var remunerationItems = [{"title": "Register on&nbsp;the app using your Citigold Mastercard.", "icons": "user"}, {"title": "Find discounts and offers available at&nbsp;this particular airport.", "icons": "search-big"}, {"title": "Select an&nbsp;offer; the app will generate a&nbsp;voucher with your&nbsp;QR code", "icons": "qr-code"}, {"title": "Show your&nbsp;QR code to&nbsp;get a&nbsp;discount or&nbsp;special offer.", "icons": "mobile-qr"}, {"title": "Pay with the card registered on&nbsp;the app.", "icons": "pay-card"}]
																				each value, key in remunerationItems
																					.remuneration-slider__item
																						.circle
																							.circle__inner
																								.b-table
																									.b-table__cell-middle
																										.remuneration-slider__icon-wrap
																											span(class="svg-icon-#{value.icons}")
																						.remuneration-slider__title!= value.title
										.particle-page-item
											h5.content-title-2.particle-page-item__title Additional costs
											.particle-page-item__subtitle
												.content-text-5 Airport lounge access is&nbsp;available to&nbsp;Citigold Loyalty Card holders and their supplementary account holders subject to&nbsp;meeting the average monthly relationship balance requirement.
											.particle-page-item__text
												.content-text-6
													p If&nbsp;the average monthly relationship balance in&nbsp;the month preceding that in&nbsp;which the privilege is&nbsp;used was lower than the minimum required by&nbsp;the Tariffs, your account will be&nbsp;charged the access fee for the amount equivalent of&nbsp;US$ 30.
													p The charge will be&nbsp;made in&nbsp;the month following that in&nbsp;which a&nbsp;lounge is&nbsp;visited.
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Issue a&nbsp;card
			#polis.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Travel insurance
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/img-travel.jpg")
						.article-with-img__content
							.article-text
								p An&nbsp;annual certificate of&nbsp;insurance for you, your children and Citigold/Citigold Private Client supplementary cardholders.<small><sup>3,&nbsp;7</sup></small>
						.article-with-img__footer
							#content-spoiler-1.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-1", href="#content-spoiler-item_2")
										.content-spoiler-handler__target
											span How to use
								#content-spoiler-item_2.collapse
									.content-spoiler__content
										.h3 You can get your certificate of&nbsp;insurance in&nbsp;any of&nbsp;the following ways:
										.article-text
											ul.list-style-dot
												li at&nbsp;any <a href="https://www.citibank.ru/russia/branches/rus/branches.htm" class="link" target="_blank">Citibank branch</a>,
												li by&nbsp;calling Allianz Global Assistance on&nbsp;+7(495)783-30-56, +7(495)783-30-57.
										.h3 What&rsquo;s covered:
										.list-style-icons.list-style-icons--phone-middle.no-padding
											.row
												.col-xs-12.col-sm-12.col-md-10
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-sky
																	| medical and medical transportation expenses, including injuries incurred during mountain skiing, snowboarding, water skiing, yachting, kiting, horse riding, etc.;
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-airplane
																	| cancellation, curtailment, delayed departure, missed departure, missed connection;
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-bag-stroke
																	| lost baggage, delayed baggage, lost or&nbsp;delayed baggage assistance
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-car
																	| car hire excess insurance;
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-more
																	| and other risks.
										.card-list.card-list--divide
											.row
												.col-xs-12.col-sm-12.col-md-12
													.card-list-body.card-list-body--left
														.row
															.col-xs-12.col-sm-6
																.thumbnail.card-list__media
																	img.thumbnail-img-boxshadow(src="../content/privilege/card-21.png", alt="")
															.col-xs-12.col-sm-6
																.card-list__title.card-list__title--bordered For Citigold:
																.article-text
																	p Total cover limit: US$ 500,000 for you and US$ 50,000 for your children aged up&nbsp;to&nbsp;18&nbsp;years or&nbsp;up&nbsp;to&nbsp;23&nbsp;years if&nbsp;full-time higher education students.
												.col-xs-12.col-sm-12.col-md-12
													.card-list-body.card-list-body--right
														.row
															.col-xs-12.col-sm-6
																.thumbnail.card-list__media
																	img.thumbnail-img-boxshadow(src="../content/privilege/card-22.png", alt="")
															.col-xs-12.col-sm-6
																.card-list__title.card-list__title--bordered For Citigold Private Client:
																.article-text
																	p Total cover limit: US$ 1,000,000 for you, US$ 100,000 for your lawful spouse, and US$ 100,000 for your children aged up&nbsp;to&nbsp;18&nbsp;years or&nbsp;up&nbsp;to&nbsp;23&nbsp;years if&nbsp;full-time higher education students.
										.article-text
											ul.list-style-dot
												li Covers the first 60&nbsp;days of&nbsp;each trip; unlimited trips per year.
												li Coverage territory: worldwide, including Russia (within 100&nbsp;km of&nbsp;residential/registered address).
												li Maximum eligibility age: 84&nbsp;years.
												li No&nbsp;deductible&nbsp;&mdash; all costs will be&nbsp;covered by&nbsp;the insurer.
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once-icon
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		.list-style-icons.list-style-icons--phone-middle.no-padding
																			.list-style-icons__item.no-margin
																				.list-style-icons__caption
																					.b-table
																						.b-table__cell-middle
																							span.svg-icon-list-doc
																							| <a href="../content/pdf/gold-ultima-broshure-allianz-2018-new-programm-rus.docx" class="link" download="gold-ultima-broshure-allianz-2018-new-programm-rus.docx">Citigold</a> and&nbsp;<a href="../content/pdf/private-broshure-allianz-2018-new-programm-rus.docx" class="link" download="private-broshure-allianz-2018-new-programm-rus.docx">Citigold Private Client</a> Travel Insurance Guide..
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Issue a&nbsp;card
			#transfer.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Chauffeur-driven airport transfer service
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/img-taxi-1.jpg")
						.article-with-img__content
							.article-text
								p Citigold customers are entitled to&nbsp;two free transfers to&nbsp;or&nbsp;from an&nbsp;airport in&nbsp;a&nbsp;calendar year<small><sup>4</sup></small>.
								p Your comfort and safety will be&nbsp;entrusted to&nbsp;<b>Wheely</b>, a&nbsp;personal chauffeur service with a&nbsp;fleet of&nbsp;new luxury and executive cars without any taxi signage driven by&nbsp;smartly dressed chauffeurs. Wheely is&nbsp;available in&nbsp;Moscow, St. Petersburg, Yekaterinburg, Krasnodar, Perm, Kazan, Sochi, and London.
						.article-with-img__footer
							#content-spoiler-2.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-2", href="#content-spoiler-item_3")
										.content-spoiler-handler__target
											span How to use
								#content-spoiler-item_3.collapse
									.content-spoiler__content
										.remuneration__list
											.remuneration__item
												.remuneration-slider.remuneration-slider--md.remuneration-slider_steps.remuneration-slider_steps-col-3
													-var remunerationItems = [{"title": "Download and install <span data-target='https://wheely.com' class='link js-link-target'>the Wheely app</span>.", "icons": "app"}, {"title": "Add your Citigold debit card as&nbsp;the preferred payment method and automatically get two free transfers.", "icons": "card-add"}, {"title": "Request a&nbsp;driver using your Wheely app.", "icons": "app-auto"}]
													each value, key in remunerationItems
														.remuneration-slider__item
															.circle
																.circle__inner
																	.b-table
																		.b-table__cell-middle
																			.remuneration-slider__icon-wrap
																				span(class="svg-icon-#{value.icons}")
															.remuneration-slider__title!= value.title
										.card-list.card-list--inline.card-list--inline-bg.card-list--inline-bg-sm.js-fixed-height
											.row.no-margin
												.col-xs-12.col-sm-5.col-md-5.col-sm-push-7.col-md-push-7.no-padding
													.b-table.box
														.b-table__cell-middle.box-content
															.card-list__media.card-list__media--img-center
																img(src="../content/travel/img-taxi-3.jpg")
												.col-xs-12.col-sm-7.col-md-7.col-sm-pull-5.col-md-pull-5.no-padding
													.b-table.box
														.b-table__cell-middle.box-content
															.card-list-body
																.card-list-body__heading
																	.h2.content-title-2 Available service classes
																.card-list-body__content
																	.article-text
																		p.h5 For Citigold customers:
																		p.content-text-6 Business, Kids, Plus
																		p.h5 For Citigold Private Client customers:
																		p.content-text-6 Business, Kids, Plus, Luxe,<br />VIP (except in&nbsp;London)
										br
										h5.content-title-2.particle-page-item__title Possible additional costs
										.article-text
											p he&nbsp;service is&nbsp;available to&nbsp;Citigold customers and their supplementary cardholders and provided free of&nbsp;charge subject to&nbsp;maintaining the required Average Monthly Relationship Balance<small><sup>1</sup></small>. If&nbsp;the Average Monthly Relationship Balance in&nbsp;the month preceding that in&nbsp;which the privilege is&nbsp;used was lower than the minimum required by&nbsp;the Tariffs, a&nbsp;standard Wheely fare will apply.
											p Regardless of&nbsp;your Average Monthly Relationship Balance, standard Wheely charges will apply and be&nbsp;debited to&nbsp;the card you added in&nbsp;the Wheely app in&nbsp;the following events:
											ul.list-style-dot
												li Exceeding the free of&nbsp;charge waiting time (30&nbsp;minutes);
												li Waiting at&nbsp;an&nbsp;airport with a&nbsp;name board (for this service, please enter your flight number in&nbsp;the comments box);
												li Going beyond the official city boundaries (please refer to&nbsp;the <span data-target="https://wheely.com" class="link js-link-target">Wheely website</span> for the official city boundaries);
												li Using toll roads.
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Issue a&nbsp;card
			#section-privileges-boingo.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Boingo Wi-Fi&nbsp;&mdash; Unlimited Internet Access Across the World<small><sup>*</sup></small>
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/img-boingo.jpg")
						.article-with-img__content
							.article-text
								p Boingo offers Citigold World Elite Mastercard<sup class="reg">&reg;</sup> cardholders access<sup>7</sup> to&nbsp;over a&nbsp;million Wi-Fi hotspots throughout the world on&nbsp;up&nbsp;to&nbsp;four devices at&nbsp;absolutely no&nbsp;charge.
								p The service is&nbsp;available in&nbsp;hotels, restaurants, shopping malls, and even in&nbsp;flights. For Mastercard holders only.
						.article-with-img__footer
							#content-spoiler-3.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-3", href="#content-spoiler-item_4")
										.content-spoiler-handler__target
											span How to use
								#content-spoiler-item_4.collapse
									.content-spoiler__content
										.remuneration__list
											.remuneration__item
												.remuneration-slider.remuneration-slider--md.remuneration-slider_steps.remuneration-slider_steps-col-3
													-var remunerationItems = [{"title": "Create your account and register your Citigold Mastercard debit card at&nbsp;<span data-target='http://mastercard.boingo.com' class='link js-link-target'>http://mastercard.boingo.com</span>.", "icons": "claster"}, {"title": "<span>In&nbsp;order to&nbsp;access the internet on&nbsp;your smartphone or&nbsp;tablet, download the Boingo Wi-Finder mobile app.</span><div class='btn-panel no-padding text-center'><a class='btn btn--app' href='https://itunes.apple.com/app/apple-store/id297596317?mt=8' target='_blank', style='background-image: url(../content/special/icon-ios.png)'></a><a class='btn btn--app' href='https://market.android.com/details?id=com.boingo.boingowifi' target='_blank', style='background-image: url(../content/special/icon-gplay.png)'></a></div>", "icons": "app-download"}, {"title": "Log in&nbsp;to&nbsp;the app with the user&nbsp;ID and password you set up&nbsp;at&nbsp;registration.", "icons": "man"}, {"title": "Locate and connect to&nbsp;the available Wi-Fi network nearby.", "icons": "app-wifi"}]
													each value, key in remunerationItems
														.remuneration-slider__item
															.circle
																.circle__inner
																	.b-table
																		.b-table__cell-middle
																			.remuneration-slider__icon-wrap
																				span(class="svg-icon-#{value.icons}")
															.remuneration-slider__title!= value.title
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		p In&nbsp;order to&nbsp;access the internet on&nbsp;your laptop, log in&nbsp;<span class="link js-link-target" data-target="http://mastercard.boingo.com/">mastercard.boingo.com</span> to&nbsp;see a&nbsp;list of&nbsp;available Wi-Fi networks.
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg
										.disclamer
											p
												sup *
												| Boingo Wi-Fi is&nbsp;offered by&nbsp;Boingo Wireless, Inc.
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Issue a&nbsp;card
			.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Citigold Home Connect<small><sup>*</sup></small>
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/conclusion-2.jpg")
						.article-with-img__content
							.article-text
								p While travelling abroad, you can call Citigold CitiPhone back in&nbsp;Russia using a&nbsp;dedicated toll-free number.
						.article-with-img__footer
							#content-spoiler-4.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-4", href="#content-spoiler-item_5")
										.content-spoiler-handler__target
											span How to use
								#content-spoiler-item_5.collapse
									.content-spoiler__content
										.article-text
											ul.list-style-dot
												li For a&nbsp;call from the USA, please dial: 1-800-2484-2633; after three beep sounds, press &laquo;7&raquo;.
												li For a&nbsp;call from other countries, please dial: international call prefix-<span class="text-nowrap">800-2484-2633</span>, after three beep sounds, press &laquo;7&raquo;.
											p Example: To&nbsp;call from Germany, please dial: 00&nbsp;(international call prefix in&nbsp;Germany)-<span class="text-nowrap">800-2484-2633</span>; after three beep sounds, press &laquo;7&raquo;.
											p International access codes are available <a class="link" target="_blank" href="https://www.citibank.ru/russia/pdf/rus/International_Access_Codes.pdf">here</a>.<br />Or&nbsp;you can always call Citigold CitiPhone: <span class="text-nowrap">+7&nbsp;(495)&nbsp;775-77-77</span> in&nbsp;Moscow, <span class="text-nowrap">+7&nbsp;(812)&nbsp;336-38-38</span> in&nbsp;St.Petersburg, <span class="text-nowrap">8&nbsp;(800)&nbsp;700-91-91</span> elsewhere in&nbsp;Russia.
											p &nbsp;
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Issue a&nbsp;card
			.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Concierge
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/conclusion-3.jpg")
						.article-with-img__content
							.article-text
								p Concierge is&nbsp;available 24/75, 7&nbsp;<small><sup>5, 7</sup></small>.
						.article-with-img__footer
							#content-spoiler-5.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-5", href="#content-spoiler-item_6")
										.content-spoiler-handler__target
											span How to use
								#content-spoiler-item_6.collapse
									.content-spoiler__content
										.article-text
											p Concierge will help you with hotel and flight reservations around the world, restaurant bookings, gifts, tickets to&nbsp;the most interesting events, information about shops, services, etc.
											p To&nbsp;get in&nbsp;touch with Concierge, please call Citigold CitiPhone.
											p &nbsp;
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Issue a&nbsp;card
			#section-privileges-consultation.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Legal Advice
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/conclusion-4.jpg")
						.article-with-img__content
							.article-text
								p Citigold customers can get legal advice from our partnering law firms&nbsp;<small><sup>6, 7</sup></small>.
						.article-with-img__footer
							#content-spoiler-6.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-6", href="#content-spoiler-item_7")
										.content-spoiler-handler__target
											span How to use
								#content-spoiler-item_7.collapse
									.content-spoiler__content
										.article-text
											p Обратитесь к&nbsp;Вашему персональному финансовому консультанту, чтобы организовать бесплатную консультацию у&nbsp;нашего партнера.
											p &nbsp;
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Issue a&nbsp;card
			.container
				.disclamer
					p Citigold applications are processed in&nbsp;accordance with Citibank&rsquo;s standard practice. Please refer to&nbsp;the terms and conditions of&nbsp;the <a class="link" href="../content/pdf/privacy-gold_current.pdf" target="_blank">agreement</a> and the <a class="link" href="../content/pdf/cg_tariffs_current.pdf" target="_blank">tariffs</a>.
		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Disclaimers
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li.list-increment__item
									p All Citigold privileges, other than E-Library, Boingo Wi-Fi and the Legal Advice service, are only available subject to&nbsp;the condition that the Average Monthly Relationship Balance in&nbsp;the calendar month preceding the month in&nbsp;which the privileges are used was equal to&nbsp;or&nbsp;greater than RUB 4,000,000&nbsp;or equivalent for those who became Citigold customers before January&nbsp;1, 2018, or&nbsp;RUB 6,000,000&nbsp;or equivalent for those who became Citigold customers on&nbsp;or&nbsp;after January&nbsp;1, 2018. For the purpose of&nbsp;Citigold privileges, the Average Monthly Relationship Balance may include balances in&nbsp;the Customer&rsquo;s accounts with AO&nbsp;Citibank and balances in&nbsp;the Customer&rsquo;s accounts with AO&nbsp;Citibank&rsquo;s affiliates as&nbsp;referred to&nbsp;in&nbsp;the Consumer Banking Terms and Conditions.
								li.list-increment__item
									p Ten lounge visits for Citigold customers and an&nbsp;unlimited number of&nbsp;lounge visits for Citigold Private Client customers in&nbsp;a&nbsp;calendar month. For a&nbsp;full list of&nbsp;cities, lounges and their locations, go&nbsp;to&nbsp;<span class="link js-link-target" data-target="http://airport.mastercard.com">airport.mastercard.com</span>, use the Mastercard Airport Experiences mobile app, contact your Relationship Manager or&nbsp;call&nbsp;+7 (495) 775-77-77 in&nbsp;Moscow, +7 (812) 336-38-38 in&nbsp;St. Petersburg or&nbsp;8 (800) 700-91-91 elsewhere in&nbsp;Russia.
									ul.list-default
										li The Customer authorizes Citibank to&nbsp;debit any of&nbsp;his/her Citibank accounts for a&nbsp;ruble amount equivalent to&nbsp;US$ 30.00 in&nbsp;favor of&nbsp;Mastercard Europe&nbsp;SA (198A, Chauss&eacute;e de&nbsp;Tervuren, 1410&nbsp;Waterloo, Belgium) if&nbsp;the Customer used the privilege &laquo;Free Access to&nbsp;Airport Lounges&raquo; but had failed to&nbsp;maintain the required Average Monthly Relationship Balance in&nbsp;the calendar month preceding that in&nbsp;which the privilege was used.
								li.list-increment__item
									p The insurance is&nbsp;an&nbsp;offer of&nbsp;JSC IC&nbsp;Allianz (CBR licenses СИ&nbsp;No.&nbsp;0290 and СЛ&nbsp;No.&nbsp;0290 both dated November&nbsp;10, 2014). Insured persons include Customers aged up&nbsp;to&nbsp;84&nbsp;years, Customers&rsquo; children aged up&nbsp;to&nbsp;18&nbsp;years or&nbsp;up&nbsp;to&nbsp;23&nbsp;years if&nbsp;full-time higher education students, and Citigold Private Client Customers&rsquo; lawful spouses. For a&nbsp;full list of&nbsp;insured events, covers, exclusions, and the terms of&nbsp;use, please see our Citigold and Citigold Private Client Travel Insurance Guide published on&nbsp;our website at&nbsp;<a href="https://www.citigold.ru" class="link">www.citigold.ru</a>.
								li.list-increment__item
									p Two transfers from/to airports in&nbsp;the cities of&nbsp;Wheely&rsquo;s presence per year. A&nbsp;transfer means a&nbsp;ride from/to the airport to/from the city that does not include stops at&nbsp;any other destinations en&nbsp;route.
									p The service is&nbsp;available to&nbsp;Citigold customers and their supplementary cardholders. The Customer authorizes Citibank to&nbsp;debit any of&nbsp;his/her Citibank accounts for an&nbsp;amount no&nbsp;greater than the fare set out in&nbsp;the officially published Wheely fare schedule if&nbsp;the Customer used the privilege &laquo;Transfer from/to airport&raquo; but had failed to&nbsp;maintain the required Average Monthly Relationship Balance in&nbsp;the calendar month preceding that in&nbsp;which the privilege was used.
								li.list-increment__item
									p The Citigold Concierge service is&nbsp;made available at&nbsp;the discretion&nbsp;of, and subject to&nbsp;the procedure set&nbsp;by, the service provider company. AO&nbsp;Citibank, Citigroup Inc. and their affiliates accept no&nbsp;liability whatsoever for the offers of&nbsp;such company, including in&nbsp;connection with the availability of&nbsp;any service. Service details are provided based on&nbsp;information received from the company.
								li.list-increment__item
									p The Legal Advice service is&nbsp;only available subject to&nbsp;the condition that the Average Monthly Relationship Balance in&nbsp;the calendar month preceding the month in&nbsp;which the privilege is&nbsp;used was equal to&nbsp;or&nbsp;greater than RUB 20,000,000&nbsp;or its equivalent in&nbsp;other currencies. The services are made available at&nbsp;the discretion&nbsp;of, and subject to&nbsp;the procedure set&nbsp;by, the service provider company. AO&nbsp;Citibank, Citigroup Inc. and their affiliates accept no&nbsp;liability whatsoever for the offers of&nbsp;such company, including in&nbsp;connection with the availability of&nbsp;any service. Service details are provided based on&nbsp;information received from the company.
								li.list-increment__item
									p The services are made available at&nbsp;the discretion&nbsp;of, and subject to&nbsp;the procedure set&nbsp;by, the service provider companies. AO&nbsp;Citibank, Citigroup Inc. and their affiliates accept no&nbsp;liability whatsoever for the offers of&nbsp;such companies, including in&nbsp;connection with the availability of&nbsp;any service. Service details are provided based on&nbsp;information received from the companies.
