extends ./includes/head.jade
block description
	meta(name='description', content='Интересное специальное предложение от Citigold -  приведи друга и получи банковское вознаграждение.')
block title
	title Citigold. Special offers
block analitics
	-var connonical_page = 'specials'

extends ./includes/layout-content.jade
block link
	-var page="special";
	-var activePage="special";
	-var activePageChild="special";
block scripts
	script(type="text/javascript" src="../f/js/remuneration_eng.js")
block content
	.article-page
		.article-content
			.container
				.content-heading-middle
					h1.h2.article-title.text-uppercase.text-center.color-2 Special Offers
		.article-content
			mixin download_item_sm(_url, _src, _title, _text, _size, _class)
				a.download-item(href=_url, target="_blank", class=_class)
					.b-table
						.b-table__row
							.b-table__cell.download-item__content
								.download-item__text
									p !{_title}
									if(_text != "")
										p !{_text}
							.b-table__cell.download-item__hover
								.download-item-target
									.download-item-target__link
										span Download PDF (#{_size} mb)
										i.icon--download
							.b-table__cell.download-item__bg(style="background-image: url('" + _src + "');")
			-var frame_tab = 'tab_1';
			include ./includes/frame-content
			.content.content-md
				.article-content.section-bggray
					.content-heading
						.container
							.h2.article-title.text-center.text-uppercase Compliments for you
							p.content-text-5.text-center Your choice is&nbsp;the best choice. It&rsquo;s up&nbsp;to&nbsp;you to&nbsp;choose what suits you best: a&nbsp;referral fee or&nbsp;a&nbsp;compliment from the bank.
				.offers
					.offers-item.offers-item--left
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-1.jpg")
								.col-xs-12.col-sm-7.col-md-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-building
														.offers-text__heading
															.offers-text__logo
																img(src="../content/special/logo-ritz.jpg")
														.offers-text__content
															.offers-title.content-title-3 A&nbsp;weekend, SPA treatment or&nbsp;tea ceremony at
															.article-text
																p the Ritz-Carlton Hotel. A&nbsp;welcoming retreat from the outside world right in&nbsp;the center of&nbsp;Moscow.
														.offers-text__footer
															span.link.js-link-target(data-target="http://www.ritzcarlton.com/Moscow") www.ritzcarlton.com/Moscow
					.offers-item.offers-item--right
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-2.jpg")
								.col-xs-12.col-sm-7.col-md-6.col-sm-offset-5.col-md-offset-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-costume
														.offers-text__heading
															.offers-text__logo
																img(src="../content/special/logo-icon.jpg")
														.offers-text__content
															.offers-title.content-title-3 A&nbsp;made-to-measure shirt or&nbsp;suit from Icon Suit.
															.article-text
																p Handmade. Personally tailored. Exclusive fabrics.
														.offers-text__footer
															span.link.js-link-target(data-target="http://www.iconsuit.com") www.iconsuit.com
					.offers-item.offers-item--left
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-3.jpg")
								.col-xs-12.col-sm-7.col-md-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-theater-tickets
														.offers-text__heading
															.offers-text__logo
																img(src="../content/special/logo-aspire.jpg")
														.offers-text__content
															.offers-title.content-title-3 Tickets to&nbsp;theaters, concerts or&nbsp;sports events.
															.article-text
																p We&nbsp;will get you the best seats and help you choose an&nbsp;event both interesting and ideally fitting your schedule.
														.offers-text__footer
															span.link.js-link-target(data-target="http://www.aspirelifestyles.com") www.aspirelifestyles.com
					.offers-item.offers-item--right
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-4.jpg")
								.col-xs-12.col-sm-7.col-md-6.col-sm-offset-5.col-md-offset-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-money
														.offers-text__content
															.offers-title.content-title-3 Or&nbsp;you can opt for a&nbsp;referral fee
															.article-text
																p to&nbsp;be&nbsp;paid into your account.
			.content.content-md
				.content-heading
					.container
						.h2.article-title.text-center.text-uppercase How it&nbsp;works
						- var steps = [{"title": "You recommend Citigold to&nbsp;your friends and give their contact", "info": "details to&nbsp;your Relationship Manager or&nbsp;fill out a&nbsp;simple online form."}, {"title": "Your referee opens a&nbsp;Citigold account", "info": "and maintains a&nbsp;minimum average monthly relationship balance of&nbsp;RUB 4,000,000&nbsp;or equivalent."}, {"title": "We&nbsp;pay a&nbsp;referral fee into your account", "info": "or&nbsp;give you a&nbsp;compliment of&nbsp;your choice."}]
						.steps
							each value, key in steps
								.steps__item
									.steps__heading
										.circle.circle--border
											.circle__inner
												.b-table
													.b-table__cell-middle
														.circle__title
															span #{key + 1}
									.steps__content
										.steps__title!= value.title
										.steps__text!= value.info
			.article-content.section-bggray
				.content.content-md
					.content-heading
						.container
							.h2.article-title.text-center.text-uppercase Reward levels
							p.content-text-5.text-center Your fee or&nbsp;compliment depends on&nbsp;the amount your referee deposits in&nbsp;the account.
						.container
							.remuneration
								input#remuneration_control.ranger(type="text" value="4")
								.remuneration__list
									.remuneration__item
										- var remunerationItems = [{"title": "A&nbsp;&laquo;Tsarsky Chai&raquo; tea ceremony for two people at&nbsp;the Lobby Bar", "icons": "building"}, {"title": "A&nbsp;made-to-measure shirt", "icons": "costume"}, {"title": "A&nbsp;ticket for one or&nbsp;two people to&nbsp;the theater, concert or&nbsp;a&nbsp;sports event", "icons": "theater-tickets"}, {"title": "A&nbsp;referral fee of&nbsp;RUB 7&nbsp;700", "icons": "money"}]
										.remuneration-slider
											each value, key in remunerationItems
												.remuneration-slider__item
													.circle
														.circle__inner
															.b-table
																.b-table__cell-middle
																	.remuneration-slider__icon-wrap
																		span(class="svg-icon-#{value.icons}")
													.remuneration-slider__title!= value.title
									.remuneration__item(style="display: none;")
										- var remunerationItems = [{"title": "The Superior Room (two people, one night, breakfast included)", "icons": "building"}, {"title": "SPA treatment of&nbsp;your choice", "icons": "building"}, {"title": "A&nbsp;ticket for one or&nbsp;two people to&nbsp;the theater, concert or&nbsp;a&nbsp;sports event", "icons": "theater-tickets"}, {"title": "A&nbsp;referral fee of&nbsp;RUB 15&nbsp;000", "icons": "money"}]
										.remuneration-slider
											each value, key in remunerationItems
												.remuneration-slider__item
													.circle
														.circle__inner
															.b-table
																.b-table__cell-middle
																	.remuneration-slider__icon-wrap
																		span(class="svg-icon-#{value.icons}")
													.remuneration-slider__title!= value.title
									.remuneration__item(style="display: none;")
										- var remunerationItems = [{"title": "The Executive Suite (two people, one night, breakfast included)", "icons": "building"}, {"title": "A&nbsp;ticket for one or&nbsp;two people to&nbsp;the theater, concert or&nbsp;a&nbsp;sports event", "icons": "theater-tickets"}, {"title": "A&nbsp;referral fee of&nbsp;RUB 25&nbsp;000", "icons": "money"}]
										.remuneration-slider
											each value, key in remunerationItems
												.remuneration-slider__item
													.circle
														.circle__inner
															.b-table
																.b-table__cell-middle
																	.remuneration-slider__icon-wrap
																		span(class="svg-icon-#{value.icons}")
													.remuneration-slider__title!= value.title
									.remuneration__item(style="display: none;")
										- var remunerationItems = [{"title": "The Executive Suite (weekend, two people, two nights, breakfast included)", "icons": "building"}, {"title": "A&nbsp;made-to-measure suit", "icons": "costume"}, {"title": "A&nbsp;ticket for one or&nbsp;two people to&nbsp;the theater, concert or&nbsp;a&nbsp;sports event", "icons": "theater-tickets"}, {"title": "A&nbsp;referral fee of&nbsp;RUB 50&nbsp;000", "icons": "money"}]
										.remuneration-slider
											each value, key in remunerationItems
												.remuneration-slider__item
													.circle
														.circle__inner
															.b-table
																.b-table__cell-middle
																	.remuneration-slider__icon-wrap
																		span(class="svg-icon-#{value.icons}")
													.remuneration-slider__title!= value.title
						.container.text-center
							a.btn.btn--black.btn--lg.btn--rounded.js-guid(href="#")
								span Refer a&nbsp;friend now
			.content.content-md
				.content-heading
					.container
						.download.no-margin
							.row
								.col-xs-12.col-sm-12.col-md-12.col-lg-12
									+download_item_sm("../content/pdf/usloviya-akcii.pdf", "../content/downloads-media/img-1-lg.jpg", "Download the PDF file to&nbsp;read all the terms and conditions of&nbsp;the promotion:", "", "0,21", "download-item--lg")
			
			.content.content-md
				.container
					.disclamer
						ul.list-increment
							li.list-increment__item
								p The promotion is&nbsp;organized by&nbsp;AO&nbsp;Citibank and will be&nbsp;held between 1&nbsp;December 2016 and 31&nbsp;May 2018. Information concerning the organizer, the terms and conditions of&nbsp;the promotion, the number of&nbsp;prizes and the date and place&nbsp;of, and the procedure for, their receipt is&nbsp;available at&nbsp;www.citigold.ru
						p Citigold applications are processed in&nbsp;accordance with Citibank&rsquo;s standard practice. Please refer to&nbsp;the terms and conditions of&nbsp;the <a class="link" href="../pdf/privacy-gold_current.pdf" target="_blank">agreement</a> and the <a class="link" href="../pdf/cg_tariffs_current.pdf" target="_blank">tariffs</a>.
