extends ./includes/head.jade
block description
	meta(name='description', content='Citigold -  выгодные банковские депозиты в рублях и валюте (доллары, евро),  управление сбережениями. Оформите кредитную или дебетовую карту Citigold с возможностью бесплатного снятия наличных в банкомате любого банка!')
block title
	title Банковский сервис Citigold - открыть текущий или депозитный (рублевый/валютный) счет в банке | Премиальные дебетовые и кредитные банковские карты
block analitics
	-var connonical_page = 'advantage';

extends ./includes/layout-content.jade
block link
	-var page="advantage";
	-var activePage = "advantage"
block scripts
	script(type="text/javascript" src="../f/js/promo-animate.js")

block content
	mixin thumbsVertical(data)
		each value in data
			.b-table
				.b-table__cell-top
					.thumbnail.box
						.thumbnail__media.box-img
							span(class="svg-icon-" + value.icon)
						.thumbnail__info.box-content
							if(value.title)
								.thumbnail-title!= value.title
							if(value.text)
								.thumbnail-text!= value.text
							if(value.description)
								.thumbnail-description!= value.description

	.article-page
		.article-header
			include ./includes/frame-content
		.article-content
			.section-overlay(style="background-image: url('../content/privilege/overlay-bg-1.jpg');")
				.container
					.content
						.content-heading
							.h2.article-title.text-uppercase Текущие счета
							p.article-text Текущие счета предназначены для ежедневных расходов.
						.content-body
							.content-body__heading
								.thumbnail.thumbnail-inline
									.thumbnail__media
										span.svg-icon-card
									.thumbnail__info
										.thumbnail-text На&nbsp;суммы размещенных средств не&nbsp;начисляются проценты.<br />Для Вашего удобства&nbsp;Вы можете оформить единую дебетовую карту Citigold и&nbsp;оперативно привязывать ее&nbsp;к&nbsp;текущему счету в&nbsp;любой валюте либо оформить несколько дебетовых карт (к&nbsp;одному счету привязывается одна карта).
							.table-bg
								mixin table_bg_row(list)
									each val in list
										.table-bg-wrap__row
											.row
												if(val.text_1 != "")
													.col-xs-6.col-sm-3.col-md-3.table-bg-wrap__item
														.b-table
															.b-table__cell-middle
																.table-bg-wrap__title !{val.title_1}
																.table-bg-wrap__text !{val.text_1}
												else
													.col-xs-12.col-sm-6.col-md-6.table-bg-wrap__item.table-bg__title
														.b-table
															.b-table__cell-middle
																.table-bg-wrap__title !{val.title_1}
												.col-xs-6.col-sm-3.col-md-3.table-bg-wrap__item
													.b-table
														.b-table__cell-middle
															.table-bg-wrap__title !{val.title_2}
															.table-bg-wrap__text !{val.text_2}
												.col-xs-6.col-sm-3.col-md-3.table-bg-wrap__item
													.b-table
														.b-table__cell-middle
															.table-bg-wrap__title !{val.title_3}
															.table-bg-wrap__text !{val.text_3}
												if(val.text_4)
													.col-xs-6.col-sm-3.col-md-3.table-bg-wrap__item
														.b-table
															.b-table__cell-middle
																.table-bg-wrap__title !{val.title_4}
																.table-bg-wrap__text !{val.text_4}

								.table-bg-wrap
									-var list = [{"title_1": "Вы&nbsp;можете открыть текущие счета в&nbsp;следующих валютах:", "text_1" : "", "title_2" : "AUD", "text_2": "Доллар (Австралия)", "title_3": "EUR", "text_3": "Евро (Евросоюз)"}, {"title_1": "RUB", "text_1" : "Рубль (РФ)", "title_2" : "USD", "text_2": "Доллар (США)", "title_3": "GBP", "text_3": "Фунт стерлингов (Великобритания)", "title_4": "SGD", "text_4": "Доллар (Сингапур)"}, {"title_1": "CHF", "text_1" : "Франк (Швейцария)", "title_2" : "NZD", "text_2": "Доллар (Новая Зеландия)", "title_3": "JPY", "text_3": "Иена (Япония)", "title_4": "ZAR", "text_4": "Рэнд (ЮАР)"}]
									+table_bg_row(list)
							.btn-panel.text-center
								a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Открыть счет
							.content-body__heading
								.content-title-1.color-2 Управление счетами
							.table-collapse
								.table-collapse-header
									.row.table-collapse-wrap
										.col-xs-12.col-sm-6.col-md-6.visible-sm-block.visible-md-block.visible-lg-block
											.table-collapse-header__item
												.b-table
													.b-table__cell-middle
														.table-collapse__title Операция
										.col-xs-12.col-sm-6.col-md-6
											.row
												.col-xs-4.col-sm-4.col-md-4
													.table-collapse-header__item
														.b-table
															.b-table__cell-middle.text-center
																.table-collapse__title Citibank<br /> Online*
												.col-xs-4.col-sm-4.col-md-4
													.table-collapse-header__item
														.b-table
															.b-table__cell-middle.text-center
																.table-collapse__title Citi<br /> Mobile
												.col-xs-4.col-sm-4.col-md-4
													.table-collapse-header__item
														.b-table
															.b-table__cell-middle.text-center
																.table-collapse__title CitiPhone

								mixin row_item(_title, _class_1, _class_2, _class_3)
									.row.table-collapse-item
										.col-xs-12.col-sm-6.col-md-6
											.table-collapse__text
												p !{_title}
										.col-xs-12.col-sm-6.col-md-6
											.row
												.col-xs-4.col-sm-4.col-md-4.text-center
													i(class=_class_1)
												.col-xs-4.col-sm-4.col-md-4.text-center
													i(class=_class_2)
												.col-xs-4.col-sm-4.col-md-4.text-center
													i(class=_class_3)
								.table-collapse__body#table-collapse
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_1")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Информация по&nbsp;счетам
										.collapse#table-collapse-item_1
											.table-collapse-wrap__body
												+row_item("Просмотреть историю операций по&nbsp;счетам и&nbsp;текущие балансы", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Распечатать электронную выписку", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Получить мини-выписку по&nbsp;текущим балансам на&nbsp;счетах", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Получить информацию по&nbsp;инвестиционным счетам", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Получить информацию по&nbsp;размещенным депозитам", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Узнать об&nbsp;остатке задолженности, сумме и&nbsp;сроке очередного платежа по&nbsp;кредиту", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Уточнить текущие курсы валют и&nbsp;процентные ставки по&nbsp;депозитам", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Просмотреть счета в&nbsp;других странах", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_2")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Переводы и&nbsp;платежи
										.collapse#table-collapse-item_2
											.table-collapse-wrap__body
												+row_item("Осуществить мгновенный перевод денежных средств между Вашими счетами, включая конвертацию", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Перевести денежные средства другим клиентам Ситибанка", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Осуществить бесплатный рублевый перевод третьим лицам в&nbsp;другой банк на&nbsp;территории&nbsp;РФ", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Выполнить перевод в&nbsp;иностранной валюте за&nbsp;пределы&nbsp;РФ", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Совершить перевод с&nbsp;текущего счета на&nbsp;счет кредитной карты", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Совершить перевод со&nbsp;счета кредитной карты", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Быстро и&nbsp;без комиссии оплатить услуги связи, телевидения, коммунальные и&nbsp;другие услуги", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Совершить платежи в&nbsp;адрес бюджетных организаций, осуществить налоговые платежи", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Установить поручения на&nbsp;осуществление регулярных платежей", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_3")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Cбережения
										.collapse#table-collapse-item_3
											.table-collapse-wrap__body
												+row_item("Разместить срочный депозит", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Прекратить действие депозита досрочно", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_4")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Дополнительные услуги
										.collapse#table-collapse-item_4
											.table-collapse-wrap__body
												+row_item("Установить инструкцию для регулярных автоматических платежей", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Изменить контактную информацию", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Осуществить перепривязку основного счета по&nbsp;дебетовой карте к&nbsp;другой валюте", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Получить копию платежного поручения", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Подключить услугу СМС-оповещений Citibank Alerting Service**", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Проверить свой баланс бонусных баллов и&nbsp;перевести селекты в&nbsp;баллы программы партнера", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
									.panel
										.table-collapse-wrap__header
											a.table-collapse-handler(data-toggle="collapse", data-parent="#table-collapse", href="#table-collapse-item_5")
												.table-collapse-wrap
													.b-table
														.b-table__cell-middle
															.table-collapse__target
																span Безопасность
										.collapse#table-collapse-item_5
											.table-collapse-wrap__body
												+row_item("Активировать карту и&nbsp;создать ПИН-код", "icon-plus-sm", "icon-plus-sm", "icon-plus-sm")
												+row_item("Изменить ПИН-код", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Создать и&nbsp;изменить ТПИН-код", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Заблокировать и&nbsp;перевыпустить карту", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
												+row_item("Разблокировать карту", "icon-plus-sm", "icon-minus-sm", "icon-plus-sm")
		.article-content
			.container
				.content.content-md
					.content-heading
						.h2.article-title.text-uppercase Сберегательные счета
						p.article-text Предназначены для накопления и&nbsp;надежного хранения основных средств.
						.row.js-fixed-height
							-var thumbList_1 = [{"icon": "card", "text": "Проценты начисляются ежедневно на&nbsp;всю сумму средств на&nbsp;счете.", "description": "Сумма начисленных процентов за&nbsp;каждый день размещения средств на&nbsp;счете зачисляется в&nbsp;конце месяца на&nbsp;сберегательный счет."}]
							-var thumbList_2 = [{"icon": "coins", "text": "Сберегательные счета открываются в&nbsp;3&nbsp;валютах: рублях, долларах США и&nbsp;евро."}]
							-var thumbList_3 = [{"icon": "safe", "text": "В&nbsp;целях безопасности привязка дебетовой карты к&nbsp;сберегательным счетам не&nbsp;предусмотрена."}]
							.col-xs-12.col-sm-12.col-md-4.col-lg-4
								+thumbsVertical(thumbList_1)
							.col-xs-12.col-sm-6.col-md-4.col-lg-4
								+thumbsVertical(thumbList_2)
							.col-xs-12.col-sm-6.col-md-4.col-lg-4
								+thumbsVertical(thumbList_3)
						.row
							.col-xs-12.col-sm-12.col-md-8.col-md-offset-2
								p.text-center В&nbsp;случае утери или хищения карты средства на&nbsp;сберегательных счетах будут недоступны для постороннего пользователя при оплате в&nbsp;POS-терминалах и&nbsp;банкоматах других банков.
								.btn-panel.text-center.no-padding
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Открыть счет

		mixin list-inline-block-item(_src, _title, _list, _class)
			.row.list-inline-block-item(class=_class)
				.col-xs-12.col-sm-12.col-md-6.list-inline-block__img(style="background-image: url('"+ _src +"')")
				.col-xs-12.col-sm-12.col-md-6.list-inline-block__content
					.b-table
						.b-table__cell-middle
							.list-inline-block-inner
								p.list-inline-block-inner__title !{_title}
								if(_list)
									ul.list-style-check
										each val in _list
											li
												.list-style-check__inner !{val.text}

		.article-content
			.frame.frame--overlay
				.frame-visual(style="background-image: url('../content/frame-bg/frame-privilege-2.jpg');")
				.frame-content
					.b-table
						.b-table__cell-middle
							.container
								.row.no-margin
									.col-xs-12.col-sm-6.col-md-6.no-padding
										.frame-caption.frame-caption--md.radius-rbottom-30
											.frame-caption__inner
												.frame-caption__title Вклады<small><sup>1</sup></small>
												p.frame-caption__leadtext Клиентам Citigold доступны специальные условия по&nbsp;вкладам.
												a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/promo/rus/promo_deposit_dlya_klientov.htm?icid=lopvsbn") Подробнее
												//- ul.list-unstyled
													li
														a.btn.btn--white.btn--sm.btn--icon(href="https://www.citibank.ru/russia/promo/rus/promo_deposit_cg.htm")
															span Подробнее
															i.icon-arrow-black
													li
														a.read-more(href="https://www.citibank.ru/russia/promo/rus/promo_deposit_cpc.htm")
															span Получить более выгодные условия по&nbsp;депозитам
															i.icon-read-more

			.content.content-md
				.container
					.content-heading
						.h2.article-title.text-uppercase Накопительные счета<small><sup>2</sup></small>
						p.article-text Накопительный счет является вкладом до&nbsp;востребования, поэтому совмещает в&nbsp;себе преимущества выгодного размещения средств с&nbsp;удобством их&nbsp;использования.
						.list-inline-block.list-inline-block--overlay
							-var _list = [{"text": "Проценты по&nbsp;НАКОПИТЕЛЬНОМУ счету начисляются исходя из&nbsp;суммы ежедневного остатка денежных средств на&nbsp;счетe;"}, {"text": "Чем больше сумма на&nbsp;счете, тем выше начисляемые проценты! Доходность накопительного счета составляет от&nbsp;3&nbsp;до&nbsp;7% годовых в&nbsp;рублях."}]
							+list-inline-block-item("../content/privilege/img-1.jpg", "Этот продукт сохраняет все характеристики сберегательных счетов:", _list, "")
							-var _list = [{"text": "Вы&nbsp;можете снимать средства или пополнять накопительный счет в&nbsp;удобное для Вас время, не&nbsp;потеряв при этом уже начисленные проценты;"}, {"text": "Вы&nbsp;получаете неограниченный доступ к&nbsp;Вашим средствам через системы круглосуточного обслуживания Ситибанка: Citibank<sup>&reg;</sup> Online* и&nbsp;Citi Mobile<sup>&reg;</sup>."}]
							+list-inline-block-item("../content/privilege/img-2.jpg", "В&nbsp;отличие от&nbsp;срочного депозита:", _list,  "list-inline-block-item--right")
							.text-center
								a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Открыть счет

			.section-bggray.section-cards#citigold_card
				.container
					.content.content-md
						.content-heading
							.h2.article-title.text-uppercase Карты
							.row
								.col-xs-12.col-sm-12.col-md-6
									.card-list
										.card-list-heading
											h4.card-list__title.content-title-1
												a.link-title(href="https://www.citibank.ru/russia/citigold/rus/citigold.htm")
													u Citigold
											.article-text Для оплаты покупок и&nbsp;услуг&nbsp;Вы можете использовать Вашу премиальную дебетовую карту Citigold.
										.card-list-body
											.row
												.col-xs-12.col-sm-6.col-sm-push-6.col-md-12.col-md-push-0.card-mode.card-mode--sm
													.card-mode-content
														.card-img-gold
															img.card-mode-img(src="../content/card/card_citi.png")
													//- .thumbnail.card-list__media
													//- 	img(src="../content/privilege/card-1.png", alt="")
												.col-xs-12.col-sm-6.col-sm-pull-6.col-md-12.col-md-pull-0
													ul.list-style-dot
														li Привилегированный курс обмена валюты.
														li Бесплатное снятие наличных в&nbsp;России и&nbsp;за&nbsp;рубежом в&nbsp;банкоматах любых банков<sup>3</sup>.
														li Бесплатные банковские переводы<sup>4</sup> в&nbsp;рублях через отделения, CitiPhone и&nbsp;Citibank Online.
														li Специальные центры Citigold и&nbsp;обслуживание вне очереди.
														li Круглосуточная служба Citigold CitiPhone.
								.col-xs-12.col-sm-12.col-md-6
									.card-list
										.card-list-heading
											h4.card-list__title.content-title-1
												a.link-title(href="https://www.citibank.ru/russia/cards/rus/ultima_main.htm")
													u Citi Ultima
											.article-text Только клиентам Citigold мы&nbsp;рады предложить элитную кредитную карту Citi Ultima<sup>5</sup>.
										.card-list-body
											.row
												.col-xs-12.col-sm-6.col-sm-push-6.col-md-12.col-md-push-0.card-mode.card-mode--sm
													.card-mode-content
														.card-img-priority
															img.card-mode-img(src="../content/card/card_citi_ultima.png")
													//- .thumbnail.card-list__media
													//- 	img(src="../content/privilege/card-2.png", alt="")
												.col-xs-12.col-sm-6.col-sm-pull-6.col-md-12.col-md-pull-0
													ul.list-style-dot
														li Страховой полис для выезжающих за&nbsp;рубеж, включая экстремальные виды спорта, с&nbsp;покрытием до&nbsp;500&nbsp;000 долларов США<sup>6</sup>.
														li Страховая программа для детей с&nbsp;покрытием до&nbsp;50&nbsp;000 долларов США<sup>6</sup>.
														li Скидки в&nbsp;магазинах&nbsp;&mdash;&nbsp;партнерах Ситибанка.
														li Кредитный лимит до&nbsp;1&nbsp;500&nbsp;000&nbsp;рублей.
														li Дополнительные карты с&nbsp;теми&nbsp;же привилегиями, что и&nbsp;основная (за&nbsp;исключением страховой программы), и&nbsp;возможностью установления кредитного лимита по&nbsp;каждой карте.

			#section-global.section-global
				.conclusion
					.container
						.row
							.conclusion-media
								img(src="../content/privilege/conclusion.jpg")
							.col-xs-12.col-sm-8.col-md-8
								.content.content-md
									.conclusion-text
										.conclusion-text__heading
											.h2.article-title.text-uppercase Глобальные банковские привилегии
											.article-text
												p Ваши персональные привилегии клиента Citigold действуют не&nbsp;только в&nbsp;России, но&nbsp;и&nbsp;за&nbsp;ее&nbsp;пределами.
												p Разветвленная сеть отделений и&nbsp;банкоматов и&nbsp;система банковского обслуживания Citibank Online позволят Вам наиболее полно использовать те&nbsp;возможности, которые дает статус клиента Citigold, где&nbsp;бы&nbsp;Вы&nbsp;ни&nbsp;находились.
										.conclusion-text__body
											.row
												.col-xs-12.col-sm-6.col-md-6
													.b-table
														.b-table__cell-top
															.thumbnail
																.thumbnail__media
																	span.svg-icon-earth
																.thumbnail__info
																	.thumbnail-text Глобальное признание статуса клиента Citigold.

												.col-xs-12.col-sm-6.col-md-6
													.b-table
														.b-table__cell-top
															.thumbnail
																.thumbnail__media
																	span.svg-icon-eye
																.thumbnail__info
																	.thumbnail-text Просмотр счетов в&nbsp;других странах.

												.col-xs-12.col-sm-12.col-md-12
													.b-table
														.b-table__cell-top
															.thumbnail
																.thumbnail__media
																	span.svg-icon-plane
																.thumbnail__info
																	.thumbnail-text Поддержка во&nbsp;время зарубежных поездок:
																	.thumbnail-description
																		p бесплатное снятие наличных в&nbsp;банкоматах любых банков<sup>3</sup>;
																		p экстренное снятие наличных в&nbsp;случае утери карты за&nbsp;рубежом (если&nbsp;Вы потеряли банковскую карту за&nbsp;рубежом, Вам необходимо обратиться в&nbsp;ближайшее отделение Ситибанка и&nbsp;предъявить документ, удостоверяющий личность).
											a.btn.btn--black.btn--md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Открыть счет
			.content.content-md
				.container
					.disclamer
						p * Онлайн.
						p ** Ситибанк Алертинг Сервис.
						p Рассмотрение заявления на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold производится в&nbsp;предусмотренном Ситибанком порядке. Ознакомьтесь с&nbsp;условиями <a class="link" href="../content/pdf/privacy-gold_current.pdf" target="_blank">Договора</a> и&nbsp;<a class="link" href="../content/pdf/cg_tariffs_current.pdf" target="_blank">Тарифами</a>.
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Юридическая информация
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p Все условия договора Вклада являются частью Условий банковского обслуживания физических лиц, размещенных ниже на&nbsp;сайте <a class="link" href="http://www.citibank.ru">www.citibank.ru</a>. Вы&nbsp;также можете получить интересующую Вас информацию в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;. В&nbsp;день окончания срока вклада (депозита) Вы&nbsp;получите обратно свои деньги с&nbsp;начисленными процентами на&nbsp;тот счет в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, с&nbsp;которого деньги были переведены во&nbsp;вклад. Вклад (депозит) не&nbsp;может быть прекращен частично.
								p В&nbsp;случае досрочного прекращения вклада по&nbsp;Вашему желанию, Вам будет возвращена вся сумма вклада. При этом, начисление процентов в&nbsp;случае досрочного прекращения вклада предусматривается по&nbsp;ставке 0,01% годовых. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; оставляет за&nbsp;собой право изменять условия данных предложений в&nbsp;любое время и&nbsp;без предварительного уведомления. После размещения вклада его условия не&nbsp;меняются.
							li.list-increment__item
								p Настоящие предложения действительны для владельцев пакета банковских услуг АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
							li.list-increment__item
								p Услуга бесплатного снятия наличных в&nbsp;других банкоматах с&nbsp;помощью банковской карты доступна только при условии поддержания среднемесячного баланса от&nbsp;4&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold до&nbsp;1&nbsp;января 2018&nbsp;года) или от&nbsp;6&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold после 1&nbsp;января 2018&nbsp;года) в&nbsp;календарном месяце, предшествующем месяцу использования привилегий.
								p Сторонние банки могут удерживать комиссию за&nbsp;снятие наличных в&nbsp;собственных банкоматах.
							li.list-increment__item
								p Услуга доступна только при условии поддержания среднемесячного баланса от&nbsp;4&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold до&nbsp;1&nbsp;января 2018&nbsp;года) или от&nbsp;6&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold после 1&nbsp;января 2018&nbsp;года) в&nbsp;календарном месяце, предшествующем месяцу использования привилегий.
							li.list-increment__item
								p Кредитная карта оформляется исключительно по&nbsp;усмотрению Ситибанка. Ознакомиться со&nbsp;всеми условиями договора и&nbsp;тарифами&nbsp;Вы можете на&nbsp;сайте <a class="link" href="http://www.citibank.ru">www.citibank.ru</a>.
							li.list-increment__item
								p Программа страхования является предложением АО&nbsp;СК&nbsp;&laquo;Альянс&raquo; (лицензия Банка России: СЛ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г.&nbsp;и&nbsp;СИ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г). АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, Citigroup Inc. или их&nbsp;аффилированные лица, государственные органы и&nbsp;Российская Федерация не&nbsp;несут никакой ответственности за&nbsp;исполнение АО&nbsp;СК&nbsp;&laquo;Альянс&raquo; обязательств по&nbsp;договору страхования рисков. Программа страхования распространяется только на&nbsp;держателей основных кредитных карт Ultima. Привилегия доступна клиентам в&nbsp;возрасте до&nbsp;84&nbsp;лет включительно.
