extends ./includes/head.jade
block description
	meta(name='description', content='Узнайте, куда лучше инвестировать в этом году, посмотрев видеообзоры и материалы по аналитике фондовых рынков и рынка финансов от экспертов Citibank')
block title
	title Рыночная аналитика фондовых и финансовых рынков | Citigold
block analitics
	-var connonical_page = 'analitics';

extends ./includes/layout-content.jade
block link
	-var page="analitics";
	-var activePage="analitics";
	-var activePageChild="analitics";
block scripts
	script(type="text/javascript" src="../f/js/vendor-pdf/compatibility.js")
	script(type="text/javascript" src="../f/js/vendor-pdf/pdf.js")
	script(type="text/javascript" src="../f/js/view-pdf.js")
	//- script(type="text/javascript" src="../f/js/vendor-video.js")
	//- script(type="text/javascript" src="../f/js/view-video.js")

block content
	mixin pdf_item(_title, _data_url, _src)
		.col-xs-12.col-sm-6.col-md-6.no-padding.analitics-item.box
			.analitics-item__heading.box-content
				h4.analitics-item__title.content-title-1.color7 !{_title}
			.analitics-item__content.box-img
				a.preview-link.pdf-link(href="#", data-src=_data_url)
				img.analitics-item__media(src=_src, alt="")
	.article-page
		.article-content
			.container
				.content-heading-middle
					h1.h2.article-title.text-uppercase.text-center.color-2 Аналитические материалы
		.article-header.no-print
			include ./includes/frame-content
		.article-content
			.article-heading
				.container
					.row.no-margin.js-fixed-height
						+pdf_item("Октябрь 2016 года", "../content/pdf/2016q4/standpoint-q4-2016-ru.pdf", "../content/pdf/2016q4/index.jpg")
			.article-content
				.container
					.row
						.col-xs-12
							ul.list-style-dot
								li Характеристика экономических и&nbsp;политических факторов.
								li Обзор основных классов активов: акций, облигаций, сырья и&nbsp;валют.
								li Стратегические модельные портфели с&nbsp;долгосрочным горизонтом инвестирования.
								li Среднесрочный тактический взгляд на&nbsp;классы активов.
			
			.article-content
				.btn-panel.text-center
					a.btn.btn--lg.btn--black.btn--rounded.btn--wide-lg(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm")
						span Заказать звонок
					a.btn.btn--lg.btn--black.btn--rounded.btn--wide-lg(href="https://www.citibank.ru/russia/citigold/rus/invest.htm")
						span Подробнее о&nbsp;продукте
