extends ./includes/head.jade
block description
	meta(name='description', content='промо-вклад Citigold, открыть вклад, депозит')
block title
	title Вклад на специальных условиях для клиентов Citigold
block analitics
	-var connonical_page = 'Citigold_vklad'

extends ./includes/layout-content.jade
block link
	-var page="Citigold_vklad";
	-var activePage="special";
	-var activePageChild="Citigold_vklad";
block scripts
	script(type="text/javascript" src="../f/js/remuneration.js")
	script.
		var getParams = location.search.substr(1).split('&'),
			id = null,
			elib_vote = null;

		for (var i = 0; i < getParams.length; i++) {
			if (getParams[i].indexOf('id') !== -1) { id = getParams[i].substr(3); }
				if (getParams[i].indexOf('elib_vote') !== -1) { elib_vote = getParams[i].substr(10); }
		}

		if (elib_vote && id) {
			if (Tools.getCookie('elibform') === 'passed') {
				Popup.shownModalFixed('#popup-elib');
				} else {
				$('#customer_id').val(id);
				$('#elib-vote-1').val(elib_vote);

				var data = {elib: $('#elib-vote-1').val(), sourcecode: $('#sourcecode_elib').val(), customer_id: $('#customer_id').val()};

				$.post($('#elib').attr('action'), data, function(json){}, "json");

				Tools.setCookie('elibform', 'passed');
				Popup.shownModalFixed('#popup-elib');
				}
		}

block content
	mixin thumbsVertical(data)
		each value in data
			.b-table
				.b-table__cell-top
					.thumbnail.box
						.thumbnail__media.box-img
							span(class="svg-icon-" + value.icon)
						.thumbnail__info.box-content
							if(value.title)
								.thumbnail-title!= value.title
							if(value.text)
								.thumbnail-text!= value.text
							if(value.description)
								.thumbnail-description!= value.description
	.article-page
		.article-content
			.container
				.content-heading-middle
					h1.h2.article-title.text-uppercase.text-center.color-2 Специальные предложения
		.article-content
			-var frame_tab = 'tab_3';
			include ./includes/frame-content
			.content-body
				.container
					.content.content-md
						.disclamer
							ul.list-increment
								li.list-increment__item
									p Все условия договора Вклада являются частью Условий банковского обслуживания физических лиц, размещенных ниже на&nbsp;сайте <a class="link" href="https://www.citibank.ru/">www.citibank.ru</a>. Вы&nbsp;также можете получить интересующую Вас информацию в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;. В&nbsp;день окончания срока вклада (депозита) Вы&nbsp;получите обратно свои деньги с&nbsp;начисленными процентами на&nbsp;тот счет в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, с&nbsp;которого деньги были переведены во&nbsp;вклад. Вклад (депозит) не&nbsp;может быть прекращен частично.
									p В&nbsp;случае досрочного прекращения вклада по&nbsp;Вашему желанию, Вам будет возвращена вся сумма вклада. При этом, начисление процентов в&nbsp;случае досрочного прекращения вклада предусматривается по&nbsp;ставке 0,01% годовых. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; оставляет за&nbsp;собой право изменять условия данных предложений в&nbsp;любое время и&nbsp;без предварительного уведомления. После размещения вклада его условия не&nbsp;меняются.
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Юридическая информация
				.article-content
					p Услуга предоставляется АО&nbsp;&laquo;Публичная библиотека&raquo; по&nbsp;его усмотрению и&nbsp;в&nbsp;предусмотренном им&nbsp;порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.