extends ./includes/layout-content.jade
block description
	meta(name='description', content='Заполните онлайн-заявку и получите доступ к страховым и инвестиционным продуктам, специальным банковским предложениям, а также другим привилегиям Citigold.')
block title
	title Онлайн-заявка Citigold | Citibank
block link
	-var page="citigold_client";
	-var activePage="citigold_client";

block analitics
	-var connonical_page = 'citigold_client';

block page-custom-analitics
	script.
		$(document).on('click', '#submit', function() {
			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=castep_1&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);
		});
		$(window).load(function() {
			function findInUrlParam() {
				var result = undefined
						tmp = [];
				
				window.location.href.split("?").forEach(function (item, index) {
					tmp[index] = item;
					result = tmp[1];
				});
				return result;
			}
			var url = undefined,
				tmp = [];
			
			if(window.location.href.split("?").length > 1){
				url = findInUrlParam();

				url.split("&").forEach(function(item) {
					tmp = item.split("=");
					if (tmp[0] == 'utm_source') {
						$("#utm_source").val(tmp[1]);
					}
					if(tmp[0] == 'utm_term') {
						$("#utm_term").val(tmp[1]);
					}
					if(tmp[0] == 'icid'){
						$("#icid").val(tmp[1]);
					}
				});
			}
		});
		<!--
			function analitics(events, url, var9, id){
				var loc, s_code;
				loc = window.location.host;
				loc = loc.toLowerCase();

				if ( loc.indexOf("citibank.") >= 0 ) {
					s.pageName = ' RU|public|citigold|citigolg_client';
					s.server = '';
					s.channel = 'RU|public|';
					s.pageType = '';
					s.prop1 = 'RU|public|citigold|';
					s.prop2 = 'RU|public|citigold|citigold|';
					s.prop3 = 'RU|public|citigold|citigold|';
					s.prop4 = '';
					s.prop5 = '';
					s.prop11="pre-login lead form";
					s.campaign = '';
					s.state = '';
					s.zip = '';
					s.events = events;
					s.products = url;
					s.purchaseID = '';
					s.eVar1 = '';
					s.eVar2 = '';
					s.eVar3 = '';
					s.eVar4 = '';
					s.eVar5 = '';
					s.eVar9 = var9;
					s.eVar17="CG-Citigolg bau form";
					s.eVar23="D=c20";
					s.eVar29="IEWA:Acquisition:Short:Lead";
					s.transactionID = id;
					s_code = s.t();
					if (s_code) {
						document.write(s_code);
					}
				}
			}
			analitics('event12', 'Citigold;Citigold', '', '');
		//-->

block content
	.modal-dialog.modal-dialog--lg
		.modal-content#js-modal-reg
			.modal-content-header
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Онлайн-заявка
				form#cglead.form-horizontal(autocomplete="off", name="cglead", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
					.row
						.col-xs-12.col-sm-12.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input#name.form-control.js-requere(placeholder="Имя Фамилия", type="text", name="name", maxlength="100", tabindex="1", value="")
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									input#phonenum.form-control.js-requere(type="text", placeholder="Телефон", name="phonenum11", maxlength="20", tabindex="3", value="")
						.col-xs-12.col-sm-12.col-md-6
							.form-group
								.col-xs-12.col-sm-12.col-md-12
									select#city.form-control.select-box.js-requere(name="city", tabindex="2")
										option(value='') Выберите город
										option(value="Москва") Москва
										option(value="Санкт-Петербург") Санкт-Петербург
										option(value="Волгоград") Волгоград
										option(value="Екатеринбург") Екатеринбург
										option(value="Нижний Новгород") Нижний Новгород
										option(value="Ростов-на-Дону") Ростов-на-Дону
										option(value="Самара") Самара
										option(value="Уфа") Уфа
					.form-group
						.col-xs-12.col-sm-12.col-md-12
							.modal-text
								.checkbox
									input#client.js-requere(type="checkbox", value="не клиент", name="client", tabindex="8")
									label(for="client") Являюсь клиентом Ситибанка
								.checkbox.agreement
									input#agree.js-requere(type="checkbox", name="agree", value="0", tabindex="9")
									label(for="agree")
										span.agreement__scroll.scrollbar
											p Я&nbsp;согласен получать от&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; уведомления и&nbsp;звонки по&nbsp;сетям электросвязи, в&nbsp;том числе рекламного характера (в&nbsp;том числе по&nbsp;телефону, факсу, мобильной связи и&nbsp;электронной почте) с&nbsp;целью предложения инвестиционных, страховых и&nbsp;банковских продуктов.
											p Настоящим я&nbsp;выражаю АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; (Москва, ул. Гашека, д. 8–10, стр.&nbsp;1) свое безусловное согласие на&nbsp;обработку (в&nbsp;том числе сбор, систематизацию, анализ, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в&nbsp;том числе передачу, включая трансграничную), обезличивание, блокирование, уничтожение и&nbsp;иные действия) автоматизированным, механическим, ручным или иным способом по&nbsp;усмотрению АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; всех моих персональных данных (в&nbsp;том числе биометрических), содержащихся в&nbsp;настоящем заявлении, в&nbsp;целях обсуждения моих инвестиционных целей. Обработка указанных выше персональных данных осуществляется также с&nbsp;целью предложения мне банковских, инвестиционных, страховых и&nbsp;иных услуг и&nbsp;продуктов, хранения данных, ведения статистической отчетности, управления рисками, выполнения предъявляемых АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; требований, а&nbsp;также с&nbsp;иными не&nbsp;запрещенными законодательством Российской Федерации целями. Данное согласие на&nbsp;обработку персональных данных действует до&nbsp;достижения целей их&nbsp;обработки и&nbsp;до&nbsp;момента истечения сроков их&nbsp;архивного хранения после прекращения всех моих договорных отношений с&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
											p Я соглашаюсь с обозначенными выше условиями.
							ul#error-list.list-styled.content-text.error-text(style="display: none;")
								li
							button#submit.btn.btn--lg.btn--gray.btn--rounded.disabled(type="button", tabindex="10") Отправить заявку
							input#sourcecode(type="hidden", name="sourcecode", value="EMPTY***")
							input#PageName.success(type="hidden", value="citi_gold")
							input#IEWAcategory(name="IEWAcategory", type="hidden", value="CitiGold Lead Form")
							input#utm_source(name="utm_source", type="hidden" value="")
							input#utm_term(name="utm_term", type="hidden" value="")
							input#icid(name="icid", type="hidden" value="")
					p Адрес: 125047, Москва, ул. Гашека, дом 8-10, стр. 1&nbsp;Контактные телефоны: +7 (495) 775-75-75&nbsp;в Москве, +7 (812) 336-75-75&nbsp;в Санкт-Петербурге, 8 (800) 700-38-38 для звонков из&nbsp;других городов&nbsp;РФ. citibank.customer@citi.com

			.modal-footer
