extends ./includes/head.jade

block description
	meta(name='description', content='Узнайте больше, о эксклюзивном банковском сервисе Citibank: эксклюзивные банковские карты Citigold, персональный финансовый консультант, привилегии, инвестиции и рыночная аналитика.')
block title
	title Эксклюзивный банковский сервис Citigold | Citibank

block analitics
	-var connonical_page = 'citigold';

extends ./includes/layout-content.jade

block link
	-var page="citigold";
	-var activePage="citigold";
block page
	-var page_name = "promo";

block scripts
	script(type="text/javascript" src="../f/js/promo-animate.js")

block content
	.start.fadeInUp
		.progress
	.article-page
		.article-header.section-promo
			include ./includes/frame-content
			.sections-nav
				.container
					ul.nav
						-var menu = [{"_target": "#section-about", "text": "О&nbsp;Ситибанке"}, {"_target": "#section-special", "text": "Специалисты Citigold"}, {"_target": "#section-investstrategy", "text": "Инвестиционные стратегии"}, {"_target": "#section-analitics", "text": "Рыночная аналитика"}, {"_target": "#section-investproduct", "text": "Инвестиционные продукты"}, {"_target": "#section-cards", "text": "Привилегии для&nbsp;путешествий"}]
						each val in menu
							li.sections-nav__item
								a.sections-nav-target(href=val._target)
									.progress
										.progress-bar
									.sections-nav__title !{val.text}
		.section-about#section-about
			.section-about-box(style="background-image: url('../content/about/frame-bg.jpg');")
				.container
					.row.no-margin
						.col-xs-12.col-sm-12.col-md-12.col-lg-6.col-lg-offset-6.no-padding
							.section-about__header
								h2.content-title-1.color-2 АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; стабильно в&nbsp;топе рейтинга надежности банков России*
							.section-about__content
								p.section-about__text АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; начало свою деятельность в&nbsp;России в&nbsp;1992&nbsp;году и&nbsp;является одним из&nbsp;первых международных банков, вышедших на&nbsp;российский рынок.
								.section-about__media
									img.visible-xs-block(alt="", src="../content/about/img-1.png")
									img.visible-sm-inline-block.visible-md-inline-block.visible-lg-block.i1(alt="", src="../content/about/img-1_1.jpg")
									img.visible-sm-inline-block.visible-md-inline-block.visible-lg-block.i2(alt="", src="../content/about/img-1_2.jpg")
								p.section-about__text Ситибанк входит в&nbsp;состав корпорации Citi и&nbsp;предоставляет частным лицам, компаниям и&nbsp;государственным учреждениям широкий спектр финансовых продуктов и&nbsp;услуг мирового класса.
							.section-about__footer
								.section-about__reward
									.section-about__reward-img
										img(alt="", src="../f/i/cup.svg")
									.section-about__reward-text
										sup *
										|  Один из&nbsp;самых надежных банков в&nbsp;России (Forbes, март, 2018). Лучшее инвестиционное предложение (Frank Research Group, апрель, 2018)

		.section-special#section-special
			.article-content
				.particle-page
					.container
						.particle-page-title
							.h2.article-title Команда специалистов
					.content.content-md(style="background-image: url('../content/about/overlay-bg-1.jpg');")
						.container
							.particle-page-heading
								.row
									.col-xs-12.col-sm-8.col-md-7.col-lg-8
										.particle-page-heading__title
											.content-title-1 Мы&nbsp;знаем, насколько важно иметь персонального консультанта, с&nbsp;которым у&nbsp;Вас хорошее взаимопонимание.
										.particle-page-heading__subtitle
											.content-title-4.color-2
												b Именно поэтому мы&nbsp;предлагаем своим клиентам поддержку опытных профессионалов в&nbsp;финансовой сфере.
							.particle-page-body
								.row
									.col-xs-12.col-sm-6.col-md-5
										.content-title-1.particle-page-item__title
											span Персональный финансовый консультант Citigold
										.content-text-5 Будет работать с&nbsp;Вами, чтобы понять Ваши индивидуальные цели в&nbsp;области управления активами и&nbsp;стать Вашим партнером в&nbsp;их&nbsp;достижении.
							.particle-page-item.particle-page-item--right.js-fixed-height
								.row
									.col-xs-12.col-sm-6.col-md-7.col-md-push-5
										.b-table.box
											.b-table__cell-middle.box-content
												.thumbnail.particle-page-item__media
													img(src="../content/about/particle-img-1.jpg", alt="")
									.col-xs-12.col-sm-6.col-md-5.col-md-pull-7
										.b-table.box
											.b-table__cell-middle.box-content
												.particle-page-item__content
													.content-title-3.particle-page-item__title
														span Ассистент по сервисным вопросам
													.content-text-5 В&nbsp;тесном контакте с&nbsp;Вами и&nbsp;Вашим персональным консультантом будет работать ассистент по&nbsp;сервисным вопросам, который обеспечит вам высокий уровень обслуживания и&nbsp;необходимую поддержку.
							.particle-page-item.js-fixed-height
								.row
									.col-xs-12.col-sm-6.col-md-6
										.b-table.box
											.b-table__cell-middle.box-content
												.thumbnail.particle-page-item__media
													img(src="../content/about/particle-img-2.jpg", alt="")
									.col-xs-12.col-sm-6.col-md-6
										.b-table.box
											.b-table__cell-middle.box-content
												.particle-page-item__content
													.content-title-3.particle-page-item__title
														span Менеджер по&nbsp;инвестициям
													.content-text-5 Вы&nbsp;всегда сможете получить профессиональную консультацию в&nbsp;области инвестиций и&nbsp;страховых продуктов. Также к&nbsp;Вашим услугам специалисты брокерской линии Ситибанка.
						.btn-panel.text-center
							a.btn.btn--black.btn--rounded.btn--lg.btn--rounded.btn--wide-lg(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm")
								span Заказать звонок

		.section-investstrategy#section-investstrategy
			.article-content
				.frame.frame--overlay
					.frame-visual(style="background-image: url('../content/frame-bg/frame-about-2.jpg');")
					.frame-content
						.b-table
							.b-table__cell-middle
								.container
									.row.no-margin
										.col-xs-12.col-sm-8.col-md-8.no-padding
											.frame-caption.frame-caption--lg.radius-rbottom-30
												.frame-caption__inner
													//- .frame-caption__text.text-uppercase Citigold
													.frame-caption__title Инвестиционные стратегии 
													p.frame-caption__subtitle Инвестирование&nbsp;&mdash; это длительный процесс, требующий постоянного внимания.
													p.frame-caption__leadtext С&nbsp;течением времени Ваши инвестиционные цели и&nbsp;финансовые условия, равно как и&nbsp;ситуация на&nbsp;рынке и&nbsp;возможности для инвестирования, могут меняться.
													p.frame-caption__leadtext Наш опыт и&nbsp;знания позволят Вам двигаться к&nbsp;Вашим целям независимо от&nbsp;состояния инвестиционных рынков.
													.btn-panel
														a.btn.btn--black.btn--rounded.btn--md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заказать звонок
														a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/invest/rus/invest.htm") Подробнее

		.section-analitics#section-analitics
			.article-heading
				.container
					.content.content-md
						h2.h2.article-title.text-uppercase.color-2 Рыночная аналитика
				.full-carousel
					.full-carousel-state
						.full-carousel__item
							a.preview-link(href="analitics.htm#tab-2")
							.content.content-md
								.container
									.full-carousel__title
										a(href="analitics.htm") Видеообзоры и&nbsp;аналитические материалы
							img.full-carousel__media(src="../content/about/slide-2.jpg")
						//
							.full-carousel__item
								a.preview-link(href="analitics.htm#tab-2")
								.full-carousel__title Ежемесячный обзор рынка
								img.full-carousel__media(src="../content/about/slide-1.jpg")
					//
						.container
							.row
								.col-xs-12.col-sm-3
									.full-carousel-nav-container
										.full-carousel-nav
											.full-carousel-nav-item
												.full-carousel-nav-item__inner
													.content-title-6 Ежеквартальные обзоры

												.full-carousel-nav-item
													.full-carousel-nav-item__inner
														.content-title-6 Ежемесячный обзор рынка

											.full-carousel-state-arrows
												.full-carousel-state-next
												.full-carousel-state-prev

			.article-content
				.container
					.content.content-md
						.content-body
							.list-style-icons.border-top
								.row
									.col-xs-12.col-sm-12.col-md-12
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-dialog
														| Оперативный анализ острых ситуаций на&nbsp;мировых финансовых рынках: комментарии и&nbsp;рекомендации по&nbsp;повышению эффективности портфеля при различных сценариях развития событий.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-300
														| Актуальные рекомендации глобальной аналитической команды: более 300 специалистов по&nbsp;всему миру.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-search
														| Анализ фокусных тем и&nbsp;трендов, определяющих динамику рынков.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-bag
														| Стратегический модельный портфель и&nbsp;тактические рекомендации по&nbsp;балансировке Вашего инвестиционного портфеля.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-title-6
												.b-table
													.b-table__cell-middle
														span.svg-icon-tickets
														| Инвестиционные семинары и&nbsp;мероприятия, которые проводятся для клиентов Citigold совместно с&nbsp;российскими и&nbsp;зарубежными партнерами Citi.
									.col-xs-12.col-sm-12.col-md-12
										.list-style-icons__item
											.list-style-icons__caption.list-style-icons__caption--no-icon.content-title-6
												a.list-style-icons__link(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Получить инвестиционную стратегию на&nbsp;2018 год

		.section-cards#section-cards
			.article-page
				.article-heading
					.container
						.h2.article-title.text-uppercase.color-2.text-center Привилегии для путешествий<small><sup>5</sup></small>
				.article-content
					.container
						.content.content-md
							.card-mode
								.card-mode-heading
								.card-mode-content
									.card-img-4
										img.card-mode-img(src="../content/card/card_citi.png")
										.card-mode-text Дебетовая карта <br />Citigold
									//- .card-img-1
									//- 	img.card-mode-img(src="../content/card/card_priority_pass.png")
									//- 	.card-mode-text Priority <span class="visible-sm-block visible-md-block visible-lg-block"></span>Pass
									//- .card-img-2
									//- 	img.card-mode-img(src="../content/card/card_cg_loyalty.png")
									//- 	.card-mode-text Карта <span class="visible-sm-block visible-md-block visible-lg-block"></span>привилегированного <br /> клиента Citigold <sup>**</sup>
									.card-img-3
										img.card-mode-img(src="../content/card/card_citi_ultima.png")
										.card-mode-text Кредитная карта <br />Сiti Ultima
											small <sup>6</sup>
							.list-style-icons.list-style-icons--md.border-top
								.row
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-plane-tickets
														a.list-style-icons__link(href="privileges.htm#business-lounges") Международная программа доступа в&nbsp;бизнес-залы аэропортов Mastercard&reg; Aeroport Experiences от&nbsp;Lounge<sup>7</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-umbrella
														a.list-style-icons__link(href="privileges.htm#polis") Страховой полис на&nbsp;время зарубежных поездок для Вас, Ваших детей и&nbsp;держателей дополнительных карт<sup>8</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-taxi
														a.list-style-icons__link(href="privileges.htm#transfer") Трансфер (VIP-такси) в&nbsp;аэропорт<sup>9</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-dialog-people
														a.list-style-icons__link(href="privileges.htm#section-privileges-consultation") Юридическая консультация<sup>10, 11</sup>.
									//- .col-xs-12.col-sm-6.col-md-6
									//- 	.list-style-icons__item
									//- 		.list-style-icons__caption.content-text-5
									//- 			.b-table
									//- 				.b-table__cell-middle
									//- 					span.svg-icon-concierge
									//- 					a.list-style-icons__link(href="privileges.htm#section-privileges-concierge") Услуга &laquo;Консьерж&raquo;<sup class="color-2">5, 11</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-wifi
														a.list-style-icons__link(href="privileges.htm#section-privileges-boingo") Безлимитный Wi-Fi по&nbsp;всему миру с&nbsp;сервисом Boingo<sup>11</sup>.
									.col-xs-12.col-sm-6.col-md-6
										.list-style-icons__item
											.list-style-icons__caption.content-text-5
												.b-table
													.b-table__cell-middle
														span.svg-icon-tablet-stroke
														a.list-style-icons__link(href="library.htm") Доступ к&nbsp;электронной библиотеке газет и&nbsp;журналов от&nbsp;АО&nbsp;&laquo;Публичная библиотека&raquo;<sup>11</sup>.

								.btn-panel.text-center
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заказать звонок
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="privileges.htm#section-privileges") Подробнее

		.content.content-md
			.container
				.disclamer
					p Рассмотрение заявления на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold производится в&nbsp;предусмотренном Ситибанком порядке. Ознакомьтесь с&nbsp;условиями <a class="link" href="../content/pdf/privacy-gold_current.pdf" target="_blank">Договора</a> и&nbsp;<a class="link" href="../content/pdf/cg_tariffs_current.pdf" target="_blank">Тарифами</a>.
		//- 			p * Ситиголд Хоум Коннект.

	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Юридическая информация
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p Инвестиционные продукты не&nbsp;застрахованы государством, не&nbsp;являются банковским депозитом, не&nbsp;гарантируются банком, могут потерять стоимость, включая возможную потерю сумм основных инвестиций. Определенная доходность в&nbsp;прошлом не&nbsp;является гарантией такой&nbsp;же доходности в&nbsp;будущем. Прежде чем приобрести инвестиционный продукт, внимательно ознакомьтесь с&nbsp;условиями и&nbsp;правилами сделки, оценив экономические риски и&nbsp;выгоды, юридические, налоговые и&nbsp;бухгалтерские последствия и&nbsp;Вашу возможность принять данные риски. Инвестиционные активы в&nbsp;иностранной валюте подвержены валютному риску, который может выражаться в&nbsp;потерях основной суммы инвестиций (частично или полностью).
								ul.list-default
									li АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; действует в&nbsp;качестве брокера при заключении сделок с&nbsp;ценными бумагами (кроме сделок с&nbsp;паями локальных паевых инвестиционных фондов и&nbsp;валютными опционами). С&nbsp;условиями брокерского обслуживания, тарифами, а&nbsp;также с&nbsp;другими документами можно ознакомиться в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; и&nbsp;на&nbsp;сайте <a class="link" href="www.citibank.ru">www.citibank.ru</a>, в&nbsp;разделе &laquo;Инвестиционные продукты&raquo;&nbsp;&mdash; &laquo;Важная информация&raquo;.
									li Договор об&nbsp;оказании брокерских услуг заключается с&nbsp;целью инвестирования временно свободных денежных средств для получения инвестиционного&nbsp;и (или) иного дохода от&nbsp;операций на&nbsp;финансовом рынке, сопряженных с&nbsp;риском неполучения дохода и&nbsp;потери инвестируемых денежных средств, а&nbsp;не&nbsp;с&nbsp;целью удовлетворения личных, семейных, домашних и&nbsp;иных потребительских нужд клиента.
									li Вложение средств в&nbsp;ценные бумаги включает следующие риски, которые клиент принимает на&nbsp;себя (но&nbsp;не&nbsp;ограничивается ими): риск страны, валютный риск, ценовой риск, риск ликвидности, кредитный риск, риск контрагента, расчетный риск. Детальное описание рисков предоставляется клиентам при заключении договора об&nbsp;оказании брокерских услуг.
									li За&nbsp;оказание брокерских услуг в&nbsp;интересах клиента АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; взимает комиссию, с&nbsp;размерами которой можно ознакомиться на&nbsp;сайте <a class="link" href="www.citibank.ru">www.citibank.ru</a>, в&nbsp;разделе &laquo;Инвестиционные продукты&raquo;&nbsp;&mdash; &laquo;Важная информация&raquo;, в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; или позвонив на&nbsp;брокерскую линию по&nbsp;телефонам:
									li
										ul.list-unstyled
											li +7 (495) 775-78-58&nbsp;в Москве;
											li +7 (812) 346-78-58&nbsp;в Санкт-Петербурге;
											li 8 (800) 700-78-58&nbsp;в других городах России.
							li.list-increment__item
								p Иностранные ценные бумаги, не&nbsp;допущенные к&nbsp;публичному размещению&nbsp;и (или) публичному обращению в&nbsp;Российской Федерации, а&nbsp;также иностранные финансовые инструменты, не&nbsp;являющиеся ценными бумагами, не&nbsp;могут предлагаться неограниченному кругу лиц или неквалифицированным инвесторам и&nbsp;могут приобретаться&nbsp;и (или) продаваться только квалифицированными инвесторами в&nbsp;рамках, определенных российским законодательством (Федеральный закон No&nbsp;39-ФЗ от&nbsp;22.04.1996 года &laquo;О&nbsp;рынке ценных бумаг&raquo;).
							li.list-increment__item
								p Вложение средств в&nbsp;паевые инвестиционные фонды осуществляется на&nbsp;собственный страх и&nbsp;риск клиента. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, Citigroup&nbsp;Inc.&nbsp;и&nbsp;их&nbsp;аффилированные структуры не&nbsp;несут ответственности за&nbsp;ущерб или убытки, которые могут возникать в&nbsp;связи с&nbsp;указанными вложениями. Паи не&nbsp;являются ни&nbsp;банковским вкладом, ни&nbsp;обязательством АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, Citigroup&nbsp;Inc.&nbsp;и&nbsp;их&nbsp;аффилированных подразделений. Государство не&nbsp;гарантирует доходность инвестиций в&nbsp;паевые инвестиционные фонды. Результаты инвестирования в&nbsp;прошлом не&nbsp;гарантируют будущих доходов, стоимость инвестиционных паев может увеличиваться и&nbsp;уменьшаться. Все операции с&nbsp;паями осуществляются в&nbsp;соответствии с&nbsp;действующим законодательством. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; получает вознаграждение от&nbsp;управляющих компаний, никаким образом не&nbsp;влияющее на&nbsp;стоимость пая, выплачиваемое для покрытия административных расходов в&nbsp;связи с&nbsp;приобретением или погашением клиентами паев паевых инвестиционных фондов или как часть программы по&nbsp;стимулированию продаж.
								ul.list-default
									li Правилами доверительного управления паевыми инвестиционными фондами под управлением российских управляющих компаний предусмотрены надбавки (скидки) к&nbsp;расчетной стоимости инвестиционных паев при их&nbsp;выдаче (погашении). Взимание надбавок (скидок) уменьшает доходность вложений в&nbsp;паевые инвестиционные фонды. Прежде чем приобрести инвестиционный пай, внимательно ознакомьтесь с&nbsp;правилами доверительного управления паевым инвестиционным фондом. Получить подробную информацию о&nbsp;паевых инвестиционных фондах, включая информацию о&nbsp;скидках (надбавках) и&nbsp;иных комиссиях, связанных с&nbsp;приобретением инвестиционных паев и&nbsp;владением ими, а&nbsp;также ознакомиться с&nbsp;правилами доверительного управления паевыми инвестиционными фондами, агентом которых является АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, и&nbsp;иными документами можно в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; и&nbsp;на&nbsp;официальных интернет-сайтах управляющих компаний.
									li Налогообложение доходов от&nbsp;операций с&nbsp;инвестиционными паями владельцев инвестиционных паев&nbsp;&mdash; физических лиц осуществляется в&nbsp;соответствии с&nbsp;главой 23&nbsp;Налогового кодекса Российской Федерации. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; не&nbsp;является налоговым агентом по&nbsp;операциям клиентов, совершенным/осуществленным в&nbsp;рамках агентских соглашений с&nbsp;российскими управляющими компаниями. Расчет доходов от&nbsp;реализации ценных бумаг для таких клиентов производится управляющей компанией.
									li АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; действует в&nbsp;качестве агента инвестиционных фондов следующих российских управляющих компаний:
									li <b>ООО &laquo;Управляющая компания &laquo;Альфа-Капитал&raquo;, Лицензия ФСФР &#8470;&nbsp;21-000-1-00028 от&nbsp;22.09.1998;</b> ОПИФ облигаций &laquo;Альфа-Капитал Облигации Плюс&raquo; (&#8470;&nbsp;0095-59893492 от&nbsp;21.03.2003); ОПИФ акций &laquo;Альфа-Капитал Нефтегаз&raquo; (&#8470;&nbsp;0698-94121750 от&nbsp;12.12.2006); ОПИФ акций &laquo;Альфа-Капитал Технологии&raquo; (&#8470;&nbsp;0699-94121833 от&nbsp;12.12.2006); ОПИФ акций &laquo;Альфа-Капитал Торговля&raquo; (&#8470;&nbsp;0907-94126486 от&nbsp;07.08.2007); ОПИФ облигаций &laquo;Альфа-Капитал Резерв&raquo; (&#8470;&nbsp;0094&ndash;59893648 от&nbsp;21.03.2003);
									li <b>АО&nbsp;&laquo;ВТБ Капитал Управление Активами&raquo;, Лицензия ФСФР &#8470;&nbsp;21-000-1-00059 от&nbsp;06.03.2002;</b> ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Акций&raquo; (&#8470;&nbsp;0968&nbsp;&mdash; 94131582 от&nbsp;13.09.2007); ОПИФ смешанных инвестиций &laquo;ВТБ&nbsp;&mdash; Фонд Сбалансированный&raquo; (&#8470;&nbsp;0962&nbsp;&mdash; 94131346 от&nbsp;13.09.2007); ОПИФ облигаций &laquo;ВТБ&nbsp;&mdash; Фонд Облигации плюс&raquo; (&#8470;&nbsp;0958&nbsp;&mdash; 94130789 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Перспективных инвестиций&raquo; (&#8470;&nbsp;0959&nbsp;&mdash; 94131180 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Предприятий с&nbsp;государственным участием&raquo; (&#8470;&nbsp;0966&nbsp;&mdash; 94131263 от&nbsp;13.09.2007); ОИПИФ &laquo;ВТБ&nbsp;&mdash; Индекс ММВБ&raquo; (&#8470;&nbsp;0177-71671092 от&nbsp;21.01.2004); ОПИФ облигаций &laquo;ВТБ&nbsp;&mdash; Фонд Казначейский&raquo; (&#8470;&nbsp;0089-59893097 от&nbsp;26.02.2003); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Электроэнергетики&raquo; (&#8470;&nbsp;0965&nbsp;&mdash; 94131501 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Телекоммуникаций&raquo; (&#8470;&nbsp;0967&nbsp;&mdash; 94131429 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Металлургии&raquo; (&#8470;&nbsp;0961&nbsp;&mdash; 94131104 от&nbsp;13.09.2007); ОПИФ облигаций &laquo;ВТБ&nbsp;&mdash; Фонд Еврооблигаций&raquo; (&#8470;&nbsp;0963&nbsp;&mdash; 94130861 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Нефтегазового сектора&raquo; (&#8470;&nbsp;0960&nbsp;&mdash; 94131027 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Потребительского сектора&raquo; (&#8470;&nbsp;0964&nbsp;&mdash; 94130944 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; БРИК&raquo; (&#8470;&nbsp;0012-46539678 от&nbsp;11.08.1997);
									li <b>АО&nbsp;&laquo;Сбербанк Управление Активами&raquo;, Лицензия ФСФР РФ &#8470;&nbsp;21-000-1-00010 от&nbsp;12.09.1996&nbsp;г.;</b> ОПИФ &laquo;Сбербанк&nbsp;&mdash; Фонд облигаций &laquo;Илья Муромец&raquo; (&#8470;&nbsp;0007-45141428 от&nbsp;18.12.1996); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Фонд акций &laquo;Добрыня Никитич&raquo; (&#8470;&nbsp;0011-46360962 от&nbsp;10.04.1997); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Фонд Сбалансированный&raquo; (&#8470;&nbsp;0051-56540197 от&nbsp;21.03.2001); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Фонд денежного рынка&raquo; (&#8470;&nbsp;0082-59794722 от&nbsp;24.12.2002); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Америка&raquo; (&#8470;&nbsp;0716-94122086 от&nbsp;26&nbsp;декабря 2006&nbsp;года). ОПИФ &laquo;Сбербанк&nbsp;&mdash; Природные ресурсы&raquo; (&#8470;&nbsp;0597-94120779 от&nbsp;31&nbsp;августа 2006&nbsp;года). ОПИФ &laquo;Сбербанк&nbsp;&mdash; Телекоммуникации&raquo; (&#8470;&nbsp;0596-94120696 от&nbsp;31&nbsp;августа 2006&nbsp;года). ОПИФ &laquo;Сбербанк&nbsp;&mdash; Электроэнергетика&raquo; (&#8470;&nbsp;0598-94120851 от&nbsp;31&nbsp;августа 2006&nbsp;года), ОПИФ &laquo;Сбербанк&nbsp;&mdash; Потребительский сектор&raquo; (&#8470;&nbsp;0757-94127221 от&nbsp;1&nbsp;марта 2007&nbsp;года); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Развивающиеся рынки&raquo; (&#8470;&nbsp;1924&ndash;94168958 от&nbsp;28&nbsp;сентября 2010&nbsp;года);
									li <b>ТКБ Инвестмент Партнерс (АО), Лицензия ФСФР России 21-000-1-00069 от&nbsp;17.06.02.</b> ОПИФ &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Глобальные Инвестиции&raquo; (&#8470;&nbsp;0096-58227323 от&nbsp;21.03.2003); ОПИФ смешанных инвестиций &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Фонд сбалансированный консервативный&raquo; (&#8470;&nbsp;0078-58234010 от&nbsp;24.12.2002); ОПИФ облигаций &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Фонд облигаций&raquo; (&#8470;&nbsp;0081-58233855 от&nbsp;24.12.2002); ОПИФ акций &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Премиум. Фонд акций&raquo; (&#8470;&nbsp;0478-75408434от 28.02.2006); ОПИФ облигаций &quot;ТКБ Инвестмент Партнерс&nbsp;&mdash; Фонд валютных облигаций&laquo;(&#8470;&nbsp;0991-94131990 от&nbsp;20.09.2007); ОПИФ фондов &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Золото&raquo; (&#8470;&nbsp;2026-94198244 от&nbsp;28.12.2010).
							li.list-increment__item
								p Накопительные программы страхования жизни являются предложением ООО &laquo;Страховая компания &laquo;СиВ Лайф&raquo; (лицензии Банка России от&nbsp;19.05.2017: СЖ &#8470;&nbsp;4105, СЛ &#8470;&nbsp;4105), АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; является агентом страховщика, комиссионное вознаграждение за&nbsp;предоставление услуг агента с&nbsp;физического лица не&nbsp;взимается. Программы не&nbsp;являются депозитом или любым другим обязательством АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорации Citigroup&nbsp;Inc. или других аффилированных с&nbsp;ними лиц. Денежные средства по&nbsp;данным программам не&nbsp;застрахованы в&nbsp;соответствии с&nbsp;Федеральным законом &laquo;О&nbsp;страховании вкладов физических лиц в&nbsp;банках Российской Федерации&raquo;. Правительственные организации Российской Федерации не&nbsp;несут никаких обязательств по&nbsp;этим программам или в&nbsp;связи с&nbsp;ними. В&nbsp;случае если клиент досрочно расторгнет договор страхования жизни, выкупная сумма по&nbsp;этим программам может быть меньше, чем уплаченные им&nbsp;страховые взносы. В&nbsp;течение первых&nbsp;30 (тридцати) календарных дней с&nbsp;даты начала действия договора страхования и&nbsp;до&nbsp;наступления страхового случая страхователь вправе расторгнуть заключенный договор страхования с&nbsp;возвратом уплаченного страхового взноса. По&nbsp;истечении указанного срока при досрочном расторжении договора все расчеты со&nbsp;страхователем производятся согласно Правилам страхования.
								ul.list-default
									li АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; может получать комиссионное вознаграждение от&nbsp;страховой компании, выплачиваемое исходя из&nbsp;размера страхового взноса, для покрытия административных расходов.
							li.list-increment__item
								p Все привилегии Citigold, за&nbsp;исключением привилегии &laquo;Электронная библиотека&raquo;, &laquo;Boingo Wi-Fi&raquo; и&nbsp;&laquo;Юридическая консультация&raquo;, доступны только при условии поддержания Среднемесячного баланса от&nbsp;4&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold до&nbsp;1&nbsp;января 2018&nbsp;года) или от&nbsp;6&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold с&nbsp;1&nbsp;января 2018&nbsp;года) в&nbsp;календарном месяце, предшествующем месяцу использования привилегий. В&nbsp;целях предоставления привилегий могут учитываться как суммы, находящиеся на&nbsp;счетах Клиента в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, так и&nbsp;суммы, находящиеся на&nbsp;его счетах в&nbsp;аффилированных с&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; компаниях, в&nbsp;соответствии с&nbsp;Условиями банковского обслуживания.
							li.list-increment__item
								p Кредитная карта оформляется исключительно по&nbsp;усмотрению Ситибанка. Ознакомиться со&nbsp;всеми условиями договора и&nbsp;тарифами&nbsp;Вы можете на&nbsp;сайте <a class="link" href="https://www.citibank.ru">www.citibank.ru</a>.
							li.list-increment__item
								p Десять проходов в&nbsp;бизнес-залы аэропортов для Клиентов Citigold и&nbsp;неограниченное количество проходов для Клиентов Citigold Private Client в&nbsp;течение календарного месяца. Полный список городов, адреса и&nbsp;месторасположение бизнес-залов смотрите на&nbsp;сайте <span class="link js-link-target" data-target="http://airport.mastercard.com">airport.mastercard.com</span> или в&nbsp;мобильном приложении Mastercard Airport Experiences.
								ul.list-default
									li Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;рублях, эквивалентной 30&nbsp;долларам США, в&nbsp;адрес получателя средств: Mastercard Europe&nbsp;SA (198A, Chaussee de&nbsp;Tervuren, 1410&nbsp;Waterloo, Belgium), в&nbsp;случае, если Клиент воспользовался привилегией &laquo;Бесплатный проход в&nbsp;бизнес-залы аэропортов &raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии.
							li.list-increment__item
								p Программа страхования является предложением АО&nbsp;СК&nbsp;&laquo;Альянс&raquo; (лицензия Банка России: СЛ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г.&nbsp;и&nbsp;СИ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г). АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, Citigroup&nbsp;Inc. или их&nbsp;аффилированные лица, государственные органы и&nbsp;Российская Федерация не&nbsp;несут никакой ответственности за&nbsp;исполнение АО&nbsp;СК&nbsp;&laquo;Альянс&raquo; обязательств по&nbsp;договору страхования рисков. Программа страхования распространяется только на&nbsp;держателей основных кредитных карт Ultima. Привилегия доступна клиентам в&nbsp;возрасте до&nbsp;84&nbsp;лет включительно.
							li.list-increment__item
								p Под трансфером понимается поездка&nbsp;в (из) аэропорт&nbsp;из (в) города без заезда по&nbsp;третьим адресам. Услуга предоставляется клиентам Citigold и&nbsp;держателям дополнительных карт к&nbsp;их&nbsp;счетам. Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;размере не&nbsp;более стоимости поездки, установленной в&nbsp;официально опубликованных тарифах Wheely, в&nbsp;случае, если клиент воспользовался привилегией &laquo;Трансфер из/в аэропорт&raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии. Услуга доступна в&nbsp;Москве, Санкт&nbsp;&mdash; Петербурге, Екатеринбурге, Перми, Казани, Краснодаре, Сочи, а&nbsp;также в&nbsp;Лондоне (Великобритания).
							li.list-increment__item
								p Привилегия &laquo;Юридическая консультация&raquo; предоставляется при условии поддержания среднемесячного баланса от&nbsp;20&nbsp;000&nbsp;000 рублей или эквивалентной суммы в&nbsp;других валютах в&nbsp;календарном месяце, предшествующем месяцу использования привилегий.
							li.list-increment__item
								p Услуги предоставляются поставщиками услуг по&nbsp;их&nbsp;усмотрению и&nbsp;в&nbsp;предусмотренном ими порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup&nbsp;Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.