extends ./includes/head.jade
block description
	meta(name='description', content='Откройте для себя персональное банковское обслуживание Citigold: банковские продукты для VIP клиентов (физических лиц), банковский ВИП пакет, персональный финансовый инвестиционный консультант.')
block title
	title Citigold - персональное банковское обслуживание физических лиц | Citibank
block analitics
	-var connonical_page = 'citigold_ru';

extends ./includes/layout-index.jade
block link
	-var page="index";
	-var activePage="index";

block content
	.jumbotron
		.main-carousel
			.main-carousel-state
				.main-carousel-state__item(style="background-image: url('../content/slider/slide_1.jpg');")
					img(src="../f/i/spacer.gif", alt="услуги личного финансового консультанта", title="премиальное банковское обслуживание физических лиц")
					.main-carousel-state-caption
						.main-carousel-state-caption__content
							.h2.main-carousel-state-caption__title Глобальные банковские привилегии
							p.main-carousel-state-caption__text <span>Citigold.</span> Успех, каким его видите вы.
						a.btn.btn--rounded.btn--black(href="advantage.htm#section-global") Подробнее
				.main-carousel-state__item(style="background-image: url('../content/slider/slide_2.jpg');")
					.main-carousel-state-caption
						.main-carousel-state-caption__content
							.h2.main-carousel-state-caption__title Индивидуальные решения по&nbsp;управлению капиталом
							p.main-carousel-state-caption__text <span>Citigold.</span> Успех, каким его видите вы.
						a.btn.btn--rounded.btn--black(href="invest.htm") Подробнее
				.main-carousel-state__item(style="background-image: url('../content/slider/slide_3.jpg');")
					.main-carousel-state-caption
						.main-carousel-state-caption__content
							.h2.main-carousel-state-caption__title Услуги персонального финансового консультанта
							p.main-carousel-state-caption__text <span>Citigold.</span> Успех, каким его видите вы.
						a.btn.btn--rounded.btn--black(href="citigold.htm#section-special") Подробнее
				.main-carousel-state__item(style="background-image: url('../content/slider/slide_5.jpg');")
					a.main-carousel-state-caption.main-carousel-state-caption--text-img(href="specials.htm" style="background-image: url('../content/slider/text-img.png');")
						.main-carousel-state-caption__content
							.h2.main-carousel-state-caption__title Citigold. Ваш круг избранных.
							p.main-carousel-state-caption__text Больше друзей&nbsp;&mdash; выше вознаграждение.
			.main-carousel-state-arrows
				.main-carousel-state-next
				.main-carousel-state-prev
			.main-carousel-nav-container
				.main-carousel-nav
					.main-carousel-nav-item
						.main-carousel-nav-item__inner
							.h4.main-carousel-nav__title Глобальные<br />привилегии
							p Просмотр счетов в других странах
					.main-carousel-nav-item
						.main-carousel-nav-item__inner
							.h4.main-carousel-nav__title Управление<br />капиталом
							p Инвестиции
					.main-carousel-nav-item
						.main-carousel-nav-item__inner
							.h4.main-carousel-nav__title Команда<br />специалистов
							p Персональный финансовый консультант
					.main-carousel-nav-item
						.main-carousel-nav-item__inner
							.h4.main-carousel-nav__title Citigold
							p 465&nbsp;000&nbsp;руб.<br />за&nbsp;7&nbsp;рекомендаций
		.sticky.clearfix
			.sticky-header
				a.btn.btn--olive-light.text-shadow.full-width(href="https://www.citibank.ru/RUGCB/JSO/signon/DisplayUsernameSignon.do?locale=ru_RU") Вход в Citibank Online
				a.btn.btn--shadow.btn--rounded.btn--icons.full-width(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm")
					span Стать клиентом<br />Citigold
					i.icon-arrow-gold-sm
				.hr
				a.target-link(href="https://www.citibank.ru/russia/branches/rus/branches.htm")
					span Отделения и банкоматы
					i.icon-target
			.sticky-body
				p Круглосуточная служба Citigold CitiPhone
				dl
					dt Москва
					dd +7 (495) 775-77-77
					dt Санкт-Петербург
					dd +7 (812) 336-38-38
					dt Другие города РФ
					dd 8 (800) 700-91-91

		//- .content.content-md
			.container
				.disclamer
					p * Онлайн
