extends ./includes/layout-content.jade
block link
	-var page="citigold_client_thankyou";
	-var activePage="citigold_client_thankyou";

block content
	.modal-dialog.modal-dialog--lg
		.modal-content
			.modal-content-header
				.modal-content-header__inner
			.modal-content-body
				.modal-content-body__header
					h2.modal-content__title Благодарим Вас за&nbsp;заполненную онлайн-заявку!
					p.modal-content__subtitle В&nbsp;ближайшее время наш сотрудник позвонит Вам, чтобы договориться <span class="visible-md-block visible-lg-block"></span>о&nbsp;встрече в&nbsp;удобное для Вас время.
			.modal-footer
