extends ./includes/layout-index.jade
block link
	-var page="index";
	-var activePage="index";
block content
	.container
		.row
			.col-xs-12(style="padding-top: 40px;")
				h2 CitiGold (rus)
				ul.list-unstyled
					each val in [{"url": "citigold_ru.htm", "title": "Главная страница"}, {"url": "citigold.htm", "title": "О Citigold"}, {"url": "invest.htm", "title": "Инвестиции и страхование"}, {"url": "analitics.htm", "title": "Аналитические материалы"}, {"url": "invest_video.htm", "title": "Видеообзоры"}, {"url": "privileges.htm", "title": "Привилегии для путешествий"}, {"url": "specials.htm", "title": "Пригласите Ваших друзей"}, {"url": "library.htm", "title": "Электронная библиотека"}, {"url": "Citigold_vklad.htm", "title": "Всегда больше, чем Вы ожидаете"}, {"url": "advantage.htm", "title": "Банковский сервис"}, {"url": "kontakty.htm", "title": "Контакты"}, {"url": "citigold_client.htm", "title": "Стать клиентом Citigold"}, {"url": "citigold_client_thankyou.htm", "title": "Благодарим за регистрацию"}, {"url": "rewards_choice.htm", "title": "Комплименты для вас"}, {"url": "onlain-zajavka.htm", "title": "Заявка"}, {"url": "servis-i-privilegii.htm", "title": "Эксклюзивный банковский сервис"}]
						li
							a(href=val.url) #{val.title}
			.col-xs-12(style="padding-top: 40px;")
				h2 CitiGold (eng)
				ul.list-unstyled
					each val in [{"url": "../eng/citigold_ru.htm", "title": "Main page"}, {"url": "../eng/citigold.htm", "title": "About Citigold"}, {"url": "../eng/invest.htm", "title": "Investment and insurance"}, {"url": "../eng/analitics.htm", "title": "Market Analytics"}, {"url": "../eng/invest_video.htm", "title": "Video Outlooks"}, {"url": "../eng/privileges.htm", "title": "Travel privileges"}, {"url": "../eng/specials.htm", "title": "Special offers"}, {"url": "../eng/Citigold_vklad.htm", "title": "Exceeding Your Expectations"}, {"url": "../eng/advantage.htm", "title": "Banking services"}, {"url": "../eng/kontakty.htm", "title": "Contacts"}, {"url": "../eng/citigold_client.htm", "title": "Client Citigold"}, {"url": "../eng/citigold_client_thankyou.htm", "title": "Thank you"}]
						li
							a(href=val.url) #{val.title}
