extends ./includes/head.jade
block description
	meta(name='description', content='Инвестиционная аналитика, прогнозы по рынкам, мнение аналитиков Citi')
block title
	title Инвестиционные видеообзоры
block analitics
	-var connonical_page = 'analitics';

extends ./includes/layout-content.jade
block link
	-var page="invest_video";
	-var activePage="analitics";
	-var activePageChild="invest_video";
block scripts
	script(type="text/javascript" src="../f/js/vendor-pdf/compatibility.js")
	script(type="text/javascript" src="../f/js/vendor-pdf/pdf.js")
	script(type="text/javascript" src="../f/js/view-pdf.js")
	//- script(type="text/javascript" src="../f/js/vendor-video.js")
	//- script(type="text/javascript" src="../f/js/view-video.js")

block content
	.article-page
		.article-content
			.container
				.content-heading-middle
					h1.h2.article-title.text-uppercase.text-center.color-2 Видеообзоры
		.article-content
			.article-heading.padding-top-0
				.container
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.col-xs-push-0.col-sm-push-5.col-md-push-5.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCitibankRussia%2Fvideos%2F658462247873929%2F&show_text=0&width=560" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.col-xs-pull-0.col-sm-pull-7.col-md-pull-7.center-table__col.video-content__right.video-content__right_pull
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Нестабильность на развивающихся рынках: тактика инвестирования
											//- p.content-text-5 на&nbsp;что обратить внимание в&nbsp;4-м квартале.
											p.content-text-5 4 сентября 2018
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCitibankRussia%2Fvideos%2F2138466156407182%2F&show_text=0&width=560" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.center-table__col.video-content__right
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Стратегия на 3 квартал 2018 года: как действовать инвестору в условиях обострения торговых войн
											//- p.content-text-5 в&nbsp;какие активы инвестировать в&nbsp;2018&nbsp;году.
											p.content-text-5 9 августа 2018
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.col-xs-push-0.col-sm-push-5.col-md-push-5.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCitibankRussia%2Fvideos%2F2093919984195133%2F&show_text=0&width=560" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.col-xs-pull-0.col-sm-pull-7.col-md-pull-7.center-table__col.video-content__right.video-content__right_pull
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Перспективы глобального рынка облигаций
											//- p.content-text-5 на&nbsp;что обратить внимание в&nbsp;4-м квартале.
											p.content-text-5 28 июня 2018
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCitibankRussia%2Fvideos%2F2066262996960832%2F&show_text=0&width=560" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.center-table__col.video-content__right
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Ситуация на мировых рынках капитала после выхода США из ядерной сделки с Ираном
											//- p.content-text-5 в&nbsp;какие активы инвестировать в&nbsp;2018&nbsp;году.
											p.content-text-5 23 мая 2018
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.col-xs-push-0.col-sm-push-5.col-md-push-5.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCitibankRussia%2Fvideos%2F2043273019259830%2F&show_text=0&width=560" width="100%" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.col-xs-pull-0.col-sm-pull-7.col-md-pull-7.center-table__col.video-content__right.video-content__right_pull
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Не утоляйте голод финансовым фастфудом
											//- p.content-text-5 на&nbsp;что обратить внимание в&nbsp;4-м квартале.
											p.content-text-5 5 апреля 2018
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.youtube.com/embed/VsECZczkiuc?ecver=0&amp;rel=0", allowfullscreen="", frameborder="0", width="100%", height="300")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.center-table__col.video-content__right
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Стратегия на&nbsp;мировых рынках капитала:
											p.content-text-5 в&nbsp;какие активы инвестировать в&nbsp;2018&nbsp;году.
											p.content-text-5 Январь 2018
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.col-xs-push-0.col-sm-push-5.col-md-push-5.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.youtube.com/embed/NAt_u-H7WDE?ecver=0&amp;rel=0", allowfullscreen="", frameborder="0", width="100%", height="300")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.col-xs-pull-0.col-sm-pull-7.col-md-pull-7.center-table__col.video-content__right.video-content__right_pull
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Инвестиционная стратегия 2017:
											p.content-text-5 на&nbsp;что обратить внимание в&nbsp;4-м квартале.
											p.content-text-5 Ноябрь 2017
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.youtube.com/embed/mAipX4R6QxU?ecver=0&amp;rel=0", allowfullscreen="", frameborder="0", width="100%", height="300")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.center-table__col.video-content__right
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Инвестиционная стратегия 2017:
											p.content-text-5 на&nbsp;что обратить внимание во&nbsp;втором полугодии
											p.content-text-5 Май 2017
					.video-content
						.row.center-table
							.col-xs-12.col-sm-7.col-md-7.col-lg-7.col-xs-push-0.col-sm-push-5.col-md-push-5.center-table__col.video-content__left
								.video-content__frame
									iframe(src="https://www.youtube.com/embed/K3EarZR2ZD4?ecver=0&amp;rel=0", allowfullscreen="", frameborder="0", width="100%", height="300")
							.col-xs-12.col-sm-5.col-md-5.col-lg-5.col-xs-pull-0.col-sm-pull-7.col-md-pull-7.center-table__col.video-content__right.video-content__right_pull
								.b-table
									.b-table__cell-middle
										.video-content__info
											h4.content-title-1 Инвестиционная стратегия 2017:
											p.content-text-5 как действовать в&nbsp;меняющейся экономической реальности.
											p.content-text-5 Февраль 2017
			.article-content
				.btn-panel.text-center
					a.btn.btn--lg.btn--black.btn--rounded.btn--wide-lg(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm")
						span Заказать звонок
					a.btn.btn--lg.btn--black.btn--rounded.btn--wide-lg(href="https://www.citibank.ru/russia/citigold/rus/invest.htm")
						span Подробнее о&nbsp;продукте
