extends ./includes/head.jade
block description
	meta(name='description', content='Узнайте, больше о видах инвестиций и страхования, которые предлагает Citigold: ПИФы, акции и облигации, структурированные ноты, валютные инструменты и накопительные страховые программы.')
block title
	title Куда инвестировать деньги – Виды инвестиций и страхования | Citigold
block analitics
	-var connonical_page = 'invest';

extends ./includes/layout-content.jade
block link
	-var page="invest";
	-var activePage="invest";
block content
	.article-page
		.article-header.no-print
			include ./includes/frame-content
		.article-content
			.article-heading
				//- mixin invest_item(_title, _hover_title, _hover_text, _hover_link, _back_img, _position)
					.col-xs-12.col-sm-12.col-md-6.no-padding
						.list-inline-bg-item.hover(class=_position)
							.list-inline-bg-item__inner
								.b-table
									.b-table__cell-middle.color-0
										h4.content-title-2 !{_title}
							.list-inline-bg-item__hover
								.b-table
									.b-table__cell-middle.vertical-align-top
										h4.content-title-3.color-2 !{_hover_title}
										each val in _hover_text
											p.content-text !{val.text}
										a.btn.btn--sm.btn--olive-light.btn--icon(href=_hover_link)
											span Подробнее о&nbsp;продукте
											i.icon-arrow-white
							.list-inline-bg-item__img(style="background-image: url('" + _back_img + "');")
				//- .row.no-margin.list-inline-bg.list-inline-bg--full
					.list-inline-bg-list
						-var list = [{"text": "Более 250 фондов в&nbsp;рублях, долларах США, евро и&nbsp;других валютах от&nbsp;глобальных лидеров в&nbsp;сфере управления активами."}]
						+invest_item('Российские и&nbsp;международные паевые инвестиционные<br />фонды<small><sup class="color-0">&nbsp;1, 2, 3</sup></small>', 'Российские и&nbsp;международные паевые инвестиционные фонды<small><sup>&nbsp;1, 2, 3</sup></small>', list, 'https://www.citibank.ru/russia/invest/rus/mfunds.htm', '../content/investition/img-1.jpg', 'list-inline-bg-item--right')

						-var list = [{"text": "14 крупнейших мировых рынков."}, {"text": "Доступ к&nbsp;торговым операциям на&nbsp;мировых биржах в&nbsp;едином глобальном финансовом институте."}]
						+invest_item('Акции и&nbsp;облигации<small><sup class="color-0">&nbsp;1, 2</sup></small>', 'Акции и&nbsp;облигации<small><sup>&nbsp;1, 2</sup></small>', list, 'https://www.citibank.ru/russia/invest/rus/invest.htm', '../content/investition/img-2.jpg', 'list-inline-bg-item--left')

						-var list = [{"text": "Альтернативный способ инвестирования в&nbsp;базовые активы."}, {"text": "Могут способствовать снижению общего риска при агрессивной стратегии инвестирования или повышению доходности портфеля."}]
						+invest_item('Структурированные ноты<small><sup class="color-0">&nbsp;1, 2</sup></small>', 'Структурированные ноты<small><sup>&nbsp;1,2</sup></small>', list, 'https://www.citibank.ru/russia/invest/rus/strukturirovannye-noty.htm', '../content/investition/img-3.jpg', 'list-inline-bg-item--right')

						-var list = [{"text": "10 валют."}, {"text": "Конвертируйте по&nbsp;выгодному курсу прямо сейчас"}]
						+invest_item('Валютные инструменты', 'Валютные инструменты', list, 'https://www.citibank.ru/russia/services/rus/fx_cbol.htm', '../content/investition/img-4.jpg', 'list-inline-bg-item--left')

						-var list = [{"text": "Финансовый инструмент, позволяющий решить задачи долгосрочных накоплений и&nbsp;обеспечения надежной финансовой защиты семьи."}]
						+invest_item('Накопительные страховые программы<small><sup class="color-0">&nbsp;4</sup></small>', 'Накопительные страховые программы<small><sup class="color-0">&nbsp;4</sup></small>', list, ' https://www.citibank.ru/russia/insurance/rus/cap_pr.htm', '../content/investition/img-5.jpg', 'list-inline-bg-item--right')
					.col-xs-12.col-sm-12.col-md-6.no-padding
						.list-inline-bg-item.list-inline-bg-item--left
							.list-inline-bg-item__inner.bordered
								.b-table
									.b-table__cell-middle
										p.content-text.color-0 Инвестиционные продукты не&nbsp;застрахованы государством, не&nbsp;являются банковским депозитом, не&nbsp;гарантируются банком, могут потерять стоимость, включая возможную потерю сумм основных инвестиций.
										p.content-text.color-0 Результаты инвестирования в&nbsp;прошлом не&nbsp;являются гарантией такой&nbsp;же доходности в&nbsp;будущем.
							.list-inline-bg-item__img(style="background-image: url('../content/investition/img-6.jpg');")
				.container
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__img-left
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-1.jpg")
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__text-right.text-left.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/invest/rus/mfunds.htm")
									u Российские и&nbsp;международные паевые инвестиционные<br />фонды
									small 
										sup 1, 2, 3
							.article-text
								p Более 250 фондов в&nbsp;рублях, долларах США, евро и&nbsp;других валютах от&nbsp;глобальных лидеров в&nbsp;сфере управления активами.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заявка на&nbsp;консультацию
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.col-sm-push-6.col-md-push-6.center-table__col.media-inline__img-right
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-2.jpg")
						.col-xs-12.col-sm-6.col-md-6.col-sm-pull-6.col-md-pull-6.center-table__col.media-inline__text-left.text-right.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/invest/rus/fixed.htm")
									u Акции и&nbsp;облигации
									small
										sup 1, 2
							.article-text
								p 14 крупнейших мировых рынков.
								p Доступ к&nbsp;торговым операциям на&nbsp;мировых биржах в&nbsp;едином глобальном финансовом&nbsp;институте.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заявка на&nbsp;консультацию
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__img-left
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-3.jpg")
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__text-right.text-left.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/invest/rus/strukturirovannye-noty.htm")
									u Структурированные ноты
									small
										sup 1, 2
							.article-text
								p Альтернативный способ инвестирования в&nbsp;базовые активы.
								p Могут способствовать снижению общего риска при агрессивной стратегии инвестирования или повышению доходности портфеля.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заявка на&nbsp;консультацию
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.col-sm-push-6.col-md-push-6.center-table__col.media-inline__img-right
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-4.jpg")
						.col-xs-12.col-sm-6.col-md-6.col-sm-pull-6.col-md-pull-6.center-table__col.media-inline__text-left.text-right.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/services/rus/fx_cbol.htm")
									u Валютные инструменты
							.article-text
								p 10 валют.
								p Конвертируйте по&nbsp;выгодному курсу прямо&nbsp;сейчас
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заявка на&nbsp;консультацию
					.row.center-table.media-inline
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__img-left
							.media-inline__wrap-img
								img.media-inline__img(src="../content/investition/media-5.jpg")
						.col-xs-12.col-sm-6.col-md-6.center-table__col.media-inline__text-right.text-left.phone-text-center
							h4.content-title-1
								a.link-title(href="https://www.citibank.ru/russia/insurance/rus/cap_pr.htm")
									u Накопительные страховые программы
									small
										sup 4
							.article-text
								p Финансовый инструмент, позволяющий решить задачи долгосрочных накоплений и&nbsp;обеспечения надежной финансовой защиты&nbsp;семьи.
							a.btn.btn--md.btn--black.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заявка на&nbsp;консультацию
					.content.content-md
						.particle-page
							.article-text
								p Обратите внимание: инвестиционные продукты не&nbsp;застрахованы государством, не&nbsp;являются банковским депозитом, не&nbsp;гарантируются банком, могут потерять стоимость, включая возможную потерю сумм основных инвестиций.
								p Результаты инвестирования в&nbsp;прошлом не&nbsp;являются гарантией такой&nbsp;же доходности&nbsp;в&nbsp;будущем.
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Юридическая информация
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p Инвестиционные продукты не&nbsp;застрахованы государством, не&nbsp;являются банковским депозитом, не&nbsp;гарантируются банком, могут потерять стоимость, включая возможную потерю сумм основных инвестиций. Определенная доходность в&nbsp;прошлом не&nbsp;является гарантией такой&nbsp;же доходности в&nbsp;будущем. Прежде чем приобрести инвестиционный продукт, внимательно ознакомьтесь с&nbsp;условиями и&nbsp;правилами сделки, оценив экономические риски и&nbsp;выгоды, юридические, налоговые и&nbsp;бухгалтерские последствия и&nbsp;Вашу возможность принять данные риски. Инвестиционные активы в&nbsp;иностранной валюте подвержены валютному риску, который может выражаться в&nbsp;потерях основной суммы инвестиций (частично или полностью).
								p АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; действует в&nbsp;качестве брокера при заключении сделок с&nbsp;ценными бумагами (кроме сделок с&nbsp;паями локальных паевых инвестиционных фондов и&nbsp;валютными опционами). С&nbsp;условиями брокерского обслуживания, тарифами, а&nbsp;также с&nbsp;другими документами можно ознакомиться в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; и&nbsp;на&nbsp;сайте www.citibank.ru, в&nbsp;разделе &laquo;Инвестиционные продукты&raquo;&nbsp;&mdash; &laquo;Важная информация&raquo;.
								p Договор об&nbsp;оказании брокерских услуг заключается с&nbsp;целью инвестирования временно свободных денежных средств для получения инвестиционного&nbsp;и (или) иного дохода от&nbsp;операций на&nbsp;финансовом рынке, сопряженных с&nbsp;риском неполучения дохода и&nbsp;потери инвестируемых денежных средств, а&nbsp;не&nbsp;с&nbsp;целью удовлетворения личных, семейных, домашних и&nbsp;иных потребительских нужд клиента.
								p Вложение средств в&nbsp;ценные бумаги включает следующие риски, которые клиент принимает на&nbsp;себя (но&nbsp;не&nbsp;ограничивается ими): риск страны, валютный риск, ценовой риск, риск ликвидности, кредитный риск, риск контрагента, расчетный риск. Детальное описание рисков предоставляется клиентам при заключении договора об&nbsp;оказании брокерских услуг.
								p За&nbsp;оказание брокерских услуг в&nbsp;интересах клиента АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; взимает комиссию, с&nbsp;размерами которой можно ознакомиться на&nbsp;сайте www.citibank.ru, в&nbsp;разделе &laquo;Инвестиционные продукты&raquo;&nbsp;&mdash; &laquo;Важная информация&raquo;, в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; или позвонив на&nbsp;брокерскую линию по&nbsp;телефонам:
								ul.list-unstyled
									li +7 (495) 775-78-58&nbsp;в Москве;
									li +7 (812) 346-78-58&nbsp;в Санкт-Петербурге;
									li 8 (800) 700-78-58&nbsp;в других городах России.
							li.list-increment__item
								p Иностранные ценные бумаги, не&nbsp;допущенные к&nbsp;публичному размещению&nbsp;и (или) публичному обращению в&nbsp;Российской Федерации, а&nbsp;также иностранные финансовые инструменты, не&nbsp;являющиеся ценными бумагами, не&nbsp;могут предлагаться неограниченному кругу лиц или неквалифицированным инвесторам и&nbsp;могут приобретаться&nbsp;и (или) продаваться только квалифицированными инвесторами в&nbsp;рамках, определенных российским законодательством (Федеральный закон No&nbsp;39-ФЗ от&nbsp;22.04.1996 года &laquo;О&nbsp;рынке ценных бумаг&raquo;).
							li.list-increment__item
								p Вложение средств в&nbsp;паевые инвестиционные фонды осуществляется на&nbsp;собственный страх и&nbsp;риск клиента. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, Citigroup Inc. и&nbsp;их&nbsp;аффилированные структуры не&nbsp;несут ответственности за&nbsp;ущерб или убытки, которые могут возникать в&nbsp;связи с&nbsp;указанными вложениями. Паи не&nbsp;являются ни&nbsp;банковским вкладом, ни&nbsp;обязательством АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, Citigroup Inc. и&nbsp;их&nbsp;аффилированных подразделений. Государство не&nbsp;гарантирует доходность инвестиций в&nbsp;паевые инвестиционные фонды. Результаты инвестирования в&nbsp;прошлом не&nbsp;гарантируют будущих доходов, стоимость инвестиционных паев может увеличиваться и&nbsp;уменьшаться. Все операции с&nbsp;паями осуществляются в&nbsp;соответствии с&nbsp;действующим законодательством. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; получает вознаграждение от&nbsp;управляющих компаний, никаким образом не&nbsp;влияющее на&nbsp;стоимость пая, выплачиваемое для покрытия административных расходов в&nbsp;связи с&nbsp;приобретением или погашением клиентами паев паевых инвестиционных фондов или как часть программы по&nbsp;стимулированию продаж.
								p Правилами доверительного управления паевыми инвестиционными фондами под управлением российских управляющих компаний предусмотрены надбавки (скидки) к&nbsp;расчетной стоимости инвестиционных паев при их&nbsp;выдаче (погашении). Взимание надбавок (скидок) уменьшает доходность вложений в&nbsp;паевые инвестиционные фонды. Прежде чем приобрести инвестиционный пай, внимательно ознакомьтесь с&nbsp;правилами доверительного управления паевым инвестиционным фондом. Получить подробную информацию о&nbsp;паевых инвестиционных фондах, включая информацию о&nbsp;скидках (надбавках) и&nbsp;иных комиссиях, связанных с&nbsp;приобретением инвестиционных паев и&nbsp;владением ими, а&nbsp;также ознакомиться с&nbsp;правилами доверительного управления паевыми инвестиционными фондами, агентом которых является АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, и&nbsp;иными документами можно в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; и&nbsp;на&nbsp;официальных интернет-сайтах управляющих компаний.
								p Налогообложение доходов от&nbsp;операций с&nbsp;инвестиционными паями владельцев инвестиционных паев&nbsp;&mdash; физических лиц осуществляется в&nbsp;соответствии с&nbsp;главой 23&nbsp;Налогового кодекса Российской Федерации. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; не&nbsp;является налоговым агентом по&nbsp;операциям клиентов, совершенным/осуществленным в&nbsp;рамках агентских соглашений с&nbsp;российскими управляющими компаниями. Расчет доходов от&nbsp;реализации ценных бумаг для таких клиентов производится управляющей компанией.
								p АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; действует в&nbsp;качестве агента инвестиционных фондов следующих российских управляющих компаний:
								p <b>ООО &laquo;Управляющая компания &laquo;Альфа-Капитал&raquo;, Лицензия ФСФР &#8470;&nbsp;21-000-1-00028 от&nbsp;22.09.1998;</b> ОПИФ облигаций &laquo;Альфа-Капитал Облигации Плюс&raquo; (&#8470;&nbsp;0095-59893492 от&nbsp;21.03.2003); ОПИФ акций &laquo;Альфа-Капитал Нефтегаз&raquo; (&#8470;&nbsp;0698-94121750 от&nbsp;12.12.2006); ОПИФ акций &laquo;Альфа-Капитал Технологии&raquo; (&#8470;&nbsp;0699-94121833 от&nbsp;12.12.2006); ОПИФ акций &laquo;Альфа-Капитал Торговля&raquo; (&#8470;&nbsp;0907-94126486 от&nbsp;07.08.2007); ОПИФ облигаций &laquo;Альфа-Капитал Резерв&raquo; (&#8470;&nbsp;0094&ndash;59893648 от&nbsp;21.03.2003);
								p <b>АО &laquo;ВТБ Капитал Управление Активами&raquo;, Лицензия ФСФР &#8470;&nbsp;21-000-1-00059 от&nbsp;06.03.2002;</b> ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Акций&raquo; (&#8470;&nbsp;0968&nbsp;&mdash; 94131582 от&nbsp;13.09.2007); ОПИФ смешанных инвестиций &laquo;ВТБ&nbsp;&mdash; Фонд Сбалансированный&raquo; (&#8470;&nbsp;0962&nbsp;&mdash; 94131346 от&nbsp;13.09.2007); ОПИФ облигаций &laquo;ВТБ&nbsp;&mdash; Фонд Облигации плюс&raquo; (&#8470;&nbsp;0958&nbsp;&mdash; 94130789 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Перспективных инвестиций&raquo; (&#8470;&nbsp;0959&nbsp;&mdash; 94131180 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Предприятий с&nbsp;государственным участием&raquo; (&#8470;&nbsp;0966&nbsp;&mdash; 94131263 от&nbsp;13.09.2007); ОИПИФ &laquo;ВТБ&nbsp;&mdash; Индекс ММВБ&raquo; (&#8470;&nbsp;0177-71671092 от&nbsp;21.01.2004); ОПИФ облигаций &laquo;ВТБ&nbsp;&mdash; Фонд Казначейский&raquo; (&#8470;&nbsp;0089-59893097 от&nbsp;26.02.2003); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Электроэнергетики&raquo; (&#8470;&nbsp;0965&nbsp;&mdash; 94131501 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Телекоммуникаций&raquo; (&#8470;&nbsp;0967&nbsp;&mdash; 94131429 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Металлургии&raquo; (&#8470;&nbsp;0961&nbsp;&mdash; 94131104 от&nbsp;13.09.2007); ОПИФ облигаций &laquo;ВТБ&nbsp;&mdash; Фонд Еврооблигаций&raquo; (&#8470;&nbsp;0963&nbsp;&mdash; 94130861 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Нефтегазового сектора&raquo; (&#8470;&nbsp;0960&nbsp;&mdash; 94131027 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; Фонд Потребительского сектора&raquo; (&#8470;&nbsp;0964&nbsp;&mdash; 94130944 от&nbsp;13.09.2007); ОПИФ акций &laquo;ВТБ&nbsp;&mdash; БРИК&raquo; (&#8470;&nbsp;0012-46539678 от&nbsp;11.08.1997);
								p <b>АО &laquo;Сбербанк Управление Активами&raquo;, Лицензия ФСФР РФ &#8470;&nbsp;21-000-1-00010 от&nbsp;12.09.1996&nbsp;г.;</b> ОПИФ &laquo;Сбербанк&nbsp;&mdash; Фонд облигаций &laquo;Илья Муромец&raquo; (&#8470;&nbsp;0007-45141428 от&nbsp;18.12.1996); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Фонд акций &laquo;Добрыня Никитич&raquo; (&#8470;&nbsp;0011-46360962 от&nbsp;10.04.1997); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Фонд Сбалансированный&raquo; (&#8470;&nbsp;0051-56540197 от&nbsp;21.03.2001); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Фонд денежного рынка&raquo; (&#8470;&nbsp;0082-59794722 от&nbsp;24.12.2002); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Америка&raquo; (&#8470;&nbsp;0716-94122086 от&nbsp;26&nbsp;декабря 2006&nbsp;года). ОПИФ &laquo;Сбербанк&nbsp;&mdash; Природные ресурсы&raquo; (&#8470;&nbsp;0597-94120779 от&nbsp;31&nbsp;августа 2006&nbsp;года). ОПИФ &laquo;Сбербанк&nbsp;&mdash; Телекоммуникации&raquo; (&#8470;&nbsp;0596-94120696 от&nbsp;31&nbsp;августа 2006&nbsp;года). ОПИФ &laquo;Сбербанк&nbsp;&mdash; Электроэнергетика&raquo; (&#8470;&nbsp;0598-94120851 от&nbsp;31&nbsp;августа 2006&nbsp;года), ОПИФ &laquo;Сбербанк&nbsp;&mdash; Потребительский сектор&raquo; (&#8470;&nbsp;0757-94127221 от&nbsp;1&nbsp;марта 2007&nbsp;года); ОПИФ &laquo;Сбербанк&nbsp;&mdash; Развивающиеся рынки&raquo; (&#8470;&nbsp;1924&ndash;94168958 от&nbsp;28&nbsp;сентября 2010&nbsp;года);
								p <b>ТКБ Инвестмент Партнерс (АО), Лицензия ФСФР России 21-000-1-00069 от&nbsp;17.06.02.</b> ОПИФ &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Глобальные Инвестиции&raquo; (&#8470;&nbsp;0096-58227323 от&nbsp;21.03.2003); ОПИФ смешанных инвестиций &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Фонд сбалансированный консервативный&raquo; (&#8470;&nbsp;0078-58234010 от&nbsp;24.12.2002); ОПИФ облигаций &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Фонд облигаций&raquo; (&#8470;&nbsp;0081-58233855 от&nbsp;24.12.2002); ОПИФ акций &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Премиум. Фонд акций&raquo; (&#8470;&nbsp;0478-75408434от 28.02.2006); ОПИФ облигаций &quot;ТКБ Инвестмент Партнерс&nbsp;&mdash; Фонд валютных облигаций&laquo;(&#8470;&nbsp;0991-94131990 от&nbsp;20.09.2007); ОПИФ фондов &laquo;ТКБ Инвестмент Партнерс&nbsp;&mdash; Золото&raquo; (&#8470;&nbsp;2026-94198244 от&nbsp;28.12.2010).
							li.list-increment__item
								p Накопительные программы страхования жизни являются предложением ООО &laquo;Страховая компания &laquo;СиВ Лайф&raquo; (лицензии Банка России от&nbsp;19.05.2017 : СЖ &#8470;&nbsp;4105, СЛ &#8470;&nbsp;4105), АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; является агентом страховщика, комиссионное вознаграждение за&nbsp;предоставление услуг агента с&nbsp;физического лица не&nbsp;взимается. Программы не&nbsp;являются депозитом или любым другим обязательством АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорации Citigroup Inc. или других аффилированных с&nbsp;ними лиц. Денежные средства по&nbsp;данным программам не&nbsp;застрахованы в&nbsp;соответствии с&nbsp;Федеральным законом &laquo;О&nbsp;страховании вкладов физических лиц в&nbsp;банках Российской Федерации&raquo;. Правительственные организации Российской Федерации не&nbsp;несут никаких обязательств по&nbsp;этим программам или в&nbsp;связи с&nbsp;ними. В&nbsp;случае если клиент досрочно расторгнет договор страхования жизни, выкупная сумма по&nbsp;этим программам может быть меньше, чем уплаченные им&nbsp;страховые взносы. В&nbsp;течение первых&nbsp;30 (тридцати) календарных дней с&nbsp;даты начала действия договора страхования и&nbsp;до&nbsp;наступления страхового случая страхователь вправе расторгнуть заключенный договор страхования с&nbsp;возвратом уплаченного страхового взноса. По&nbsp;истечении указанного срока при досрочном расторжении договора все расчеты со&nbsp;страхователем производятся согласно Правилам страхования.
								p АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; может получать комиссионное вознаграждение от&nbsp;страховой компании, выплачиваемое исходя из&nbsp;вышеуказанного страхового взноса, для покрытия административных расходов.
