extends ./includes/head.jade
block description
	meta(name='description', content='Узнайте круглосуточные телефоны Citigold CitiPhone в Москве, Санкт-Петербурге и других городах.')
block title
	title Контакты отделений Citibank с зоной Citigold в Москве, Санкт-Петербурге и других городах РФ
block analitics
	-var connonical_page = 'kontakty'

extends ./includes/layout-content.jade
block link
	-var page="kontakty";
	-var activePage="kontakty";
block content
	.article-page.section-contacts
		.article-content
			.container
				.content.content-md
					.content-heading
						//.h2.article-title Безупречный сервис высочайшего уровня
						.row
							.col-xs-12.col-sm-12.col-md-12
								h1.h2.content-title-3 Круглосуточная служба Citigold CitiPhone:
						.row
							.col-xs-12.col-sm-6.col-md-7
								dl.dl-horizontal.content-title-3
									dt Москва:
									dd +7 (495) 775-77-77
									dt Санкт-Петербург:
									dd +7 (812) 336-38-38
									dt другие города РФ:
									dd 8 (800) 700-91-91
							.col-xs-12.col-sm-6.col-md-5
								.btn-group-contacts
									a.btn.btn--xlg.btn--black.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заказать звонок
					//- .content-body
		.article-tab.tab
			.article-heading
				.container
					.article-tab__header
						.content-title-3 Мы&nbsp;будем рады видеть Вас в&nbsp;отделениях Ситибанка с&nbsp;зоной Citigold:
					.tab-cover.dropdown
						.custom-select.dropdown-toggle(data-toggle="dropdown")
							span.filter-option Москва
							span.caret
						.dropdown-menu
							ul.tab-nav.row.no-margin
								li.tab-nav__item.col-xs-12.col-sm-4.col-md-4.no-padding
									a.tab-nav-handler(href="#tab-1", data-text="Москва") Москва
								li.tab-nav__item.col-xs-12.col-sm-4.col-md-4.no-padding
									a.tab-nav-handler(href="#tab-2", data-text="Санкт-Петербург") Санкт-Петербург
								li.tab-nav__item.col-xs-12.col-sm-4.col-md-4.no-padding
									a.tab-nav-handler(href="#tab-3", data-text="Другие города РФ") Другие города РФ
			.article-content
				.tab-content
					mixin table_row(_title, _subtitle_1, _address, _subtitle_2, _text_2, _subtitle_3, _text_3, _class)
						if(_class != "")
							.table-address-wrap__row.table-address-wrap__rowspan
								.row
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item(class=_class)
										.b-table
											.b-table__cell-top
												.table-address__subtitle !{_subtitle_1}
												each value in _address
													.table-address__text!= value.text
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item.table-address__product
										.b-table
											.b-table__cell-top
												.table-address__subtitle.visible-lg-block !{_subtitle_2}
												.table-address__text !{_text_2}
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item.table-address__time
										.b-table
											.b-table__cell-top
												.table-address__subtitle.visible-lg-block !{_subtitle_3}
												.table-address__text !{_text_3}
						else
							.table-address-wrap__row
								.row
									.col-xs-12.col-sm-12.col-md-3.table-address-wrap__item
										.b-table
											.b-table__cell-top
												.table-address__title !{_title}
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item
										.b-table
											.b-table__cell-top
												.table-address__subtitle !{_subtitle_1}
												each value in _address
													.table-address__text!= value.text
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item.table-address__product
										.b-table
											.b-table__cell-top
												.table-address__subtitle.visible-lg-block !{_subtitle_2}
												.table-address__text !{_text_2}
									.col-xs-12.col-sm-4.col-md-3.table-address-wrap__item.table-address__time
										.b-table
											.b-table__cell-top
												.table-address__subtitle.visible-lg-block !{_subtitle_3}
												.table-address__text !{_text_3}
					.tab-content__item.tab-pane.fade#tab-1
						.container
							.content.content-md
								.table-address.bordered
									.table-address-wrap
										-var address = [{'text': 'ЦАО, Большая Никитская&nbsp;ул., д.&nbsp;15, стр.&nbsp;1'}, {'text': 'Метро: &laquo;Арбатская&raquo;, &laquo;Библиотека им. Ленина&raquo;, &laquo;Охотный Ряд&raquo;'}];
										+table_row("Москва", "Отделение &laquo;На&nbsp;Большой Никитской&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'ЦАО, Новинский бульвар, д.&nbsp;8'}, {'text': 'Метро: &laquo;Смоленская&raquo;'}]
										+table_row("Москва", "Отделение &laquo;На&nbsp;Арбате&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'ЦАО, ул. Красная Пресня, д. 32&ndash;34'}, {'text': 'Метро: &laquo;Улица 1905&nbsp;года&raquo;'}]
										+table_row("Москва", "Отделение &laquo;На&nbsp;Красной Пресне&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'ЦАО, Марксистская&nbsp;ул., д.&nbsp;5'}, {'text': 'Метро: &laquo;Марксистская&raquo;'}]
										+table_row("Москва", "Отделение &laquo;На&nbsp;Марксистской&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'ЦАО, 1-ая Тверская-Ямская, д. 13, стр.&nbsp;1'}, {'text': 'Метро: &laquo;Белорусская&raquo;, &laquo;Маяковская&raquo;'}]
										+table_row("Москва", "Отделение &laquo;На&nbsp;Тверской-Ямской&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00, сб.&nbsp;с&nbsp;10:00 до&nbsp;18:00", "")
										-var address = [{'text': 'ЦАО, ул. Остоженка, д.&nbsp;7, стр.&nbsp;1'}, {'text': 'Метро: &laquo;Кропоткинская&raquo;'}]
										+table_row("Москва", "Отделение &laquo;Остоженка&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'ЦАО, Павелецкая пл., д. 2, стр.&nbsp;1'}, {'text': 'Метро: &laquo;Павелецкая&raquo;'}]
										+table_row("Москва", "Отделение &laquo;Павелецкое&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00, сб.&nbsp;с&nbsp;10:00 до&nbsp;18:00", "")
								.disclamer
									p В&nbsp;отделениях принимаются брокерские поручения, депозитарные поручения и&nbsp;заявки на&nbsp;осуществление операций с&nbsp;ПИФ
					.tab-content__item.tab-pane.fade#tab-2
						.container
							.content.content-md
								.table-address.bordered
									.table-address-wrap
										-var address = [{'text': 'Петроградский район, Большой проспект, д.&nbsp;18, лит. А'}, {'text': 'Метро: &laquo;Спортивная&raquo;'}]
										+table_row("Санкт-Петербург", "Отделение &laquo;Большой проспект&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'Московский район, Московский проспект, 139 корпус&nbsp;1, строение 1'}, {'text': 'Метро: &laquo;Электросила&raquo;'}]
										+table_row("Санкт-Петербург", "Отделение &laquo;Московский проспект&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00 , сб.&nbsp;10:00 до&nbsp;18:00", "")
										-var address = [{'text': 'Центральный район, Невский проспект, д.&nbsp;68, лит. А'}, {'text': 'Метро: &laquo;Гостиный двор&raquo;, &laquo;Маяковская&raquo;, &laquo;Владимирская&raquo;, &laquo;Достоевская&raquo;'}]
										+table_row("Санкт-Петербург", "Отделение &laquo;Невский проспект&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00, сб.&nbsp;10:00 до&nbsp;18:00", "")
								.disclamer
									p В&nbsp;отделениях принимаются брокерские поручения, депозитарные поручения и&nbsp;заявки на&nbsp;осуществление операций с&nbsp;ПИФ
					.tab-content__item.tab-pane.fade#tab-3
						.container
							.content.content-md
								.table-address.bordered
									.table-address-wrap
										-var address = [{'text': 'Волгоград, проспект Ленина, д.&nbsp;2'}]
										+table_row("Волгоград", "Филиал &laquo;Волгоградский&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'Екатеринбург, ул. Малышева, д.&nbsp;84'}]
										+table_row("Екатеринбург", "Филиал &laquo;Уральский&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'Нижний Новгород, Покровская&nbsp;ул., д.&nbsp;16'}]
										+table_row("Нижний Новгород", "Филиал &laquo;Приволжский&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'Ростов-на-Дону, Большая Садовая&nbsp;ул., д.&nbsp;124'}]
										+table_row("Ростов-на-Дону", "Филиал &laquo;Донской&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'Самара, Самарская&nbsp;ул., д.&nbsp;270'}]
										+table_row("Самара", "Филиал &laquo;Средневолжский&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
										-var address = [{'text': 'Уфа, ул. Ленина, д. 31/33'}]
										+table_row("Уфа", "Филиал &laquo;Башкортостан&raquo;", address, "&nbsp;", "Банкомат: 24&nbsp;часа", "&nbsp;", "Часы работы: пн.&mdash;&nbsp;пт. с&nbsp;10:00 до&nbsp;20:00", "")
								.disclamer
									p В&nbsp;отделениях принимаются брокерские поручения, депозитарные поручения и&nbsp;заявки на&nbsp;осуществление операций с&nbsp;ПИФ
