extends ./includes/head.jade
block description
	meta(name='description', content='электронная библиотека, свежая пресса')
block title
	title Электронная библиотека Citigold
block analitics
	-var connonical_page = 'specials'

extends ./includes/layout-content.jade
block link
	-var page="special";
	-var activePage="special";
	-var activePageChild="library";
block scripts
	script(type="text/javascript" src="../f/js/remuneration.js")
	script.
		var getParams = location.search.substr(1).split('&'),
				id = null,
				elib_vote = null;

		for (var i = 0; i < getParams.length; i++) {
			if (getParams[i].indexOf('id') !== -1) { id = getParams[i].substr(3); }
				if (getParams[i].indexOf('elib_vote') !== -1) { elib_vote = getParams[i].substr(10); }
		}

		if (elib_vote && id) {
			if (Tools.getCookie('elibform') === 'passed') {
				Popup.shownModalFixed('#popup-elib');
				} else {
				$('#customer_id').val(id);
				$('#elib-vote-1').val(elib_vote);

				var data = {elib: $('#elib-vote-1').val(), sourcecode: $('#sourcecode_elib').val(), customer_id: $('#customer_id').val()};

				$.post($('#elib').attr('action'), data, function(json){}, "json");

				Tools.setCookie('elibform', 'passed');
				Popup.shownModalFixed('#popup-elib');
				}
		}


block content
	mixin thumbsVertical(data)
		each value in data
			.b-table
				.b-table__cell-top
					.thumbnail.box
						.thumbnail__media.box-img
							span(class="svg-icon-" + value.icon)
						.thumbnail__info.box-content
							if(value.title)
								.thumbnail-title!= value.title
							if(value.text)
								.thumbnail-text!= value.text
							if(value.description)
								.thumbnail-description!= value.description
	.article-page
		.article-content
			.container
				.content-heading-middle
					h1.h2.article-title.text-uppercase.text-center.color-2 Специальные предложения
		.article-content
			mixin download_item_sm(_url, _src, _title, _text, _size, _class)
				a.download-item(href=_url, target="_blank", class=_class)
					.b-table
						.b-table__row
							.b-table__cell.download-item__content
								.download-item__text
									p !{_title}
									if(_text != "")
										p !{_text}
							.b-table__cell.download-item__hover
								.download-item-target
									.download-item-target__link
										span Скачать PDF (#{_size} Мб)
										i.icon--download
							.b-table__cell.download-item__bg(style="background-image: url('" + _src + "');")
			-var frame_tab = 'tab_2';
			include ./includes/frame-content
			.container
				.content.content-md
					.content-heading.content-heading-md
						p.article-text В&nbsp;московском офисе, в&nbsp;отеле Нью-Йорка и&nbsp;даже в&nbsp;небе над Атлантическим океаном&nbsp;&mdash; читать качественную российскую прессу&nbsp;Вы можете везде, где есть интернет.
						.content-heading.content-heading-md
							.h2.article-title 
								span.text-uppercase Электронная библиотека&nbsp;&mdash;
							p.article-text это бесплатное интернет-хранилище газет и&nbsp;журналов, доступ к&nbsp;которому есть только у&nbsp;привилегированных клиентов Ситибанка.
						.content-body
							.row.js-fixed-height
								-var thumbList_1 = [{"icon": "time-circle", "title": "Библиотека обновляется ежедневно:", "text": "со&nbsp;свежей прессой можно знакомиться уже в&nbsp;9&nbsp;утра по&nbsp;московскому времени."}]
								-var thumbList_2 = [{"icon": "tablet", "title": "Читать газеты и&nbsp;журналы можно откуда угодно и&nbsp;с&nbsp;любых устройств:", "text": "начиная со&nbsp;смартфона и&nbsp;планшета, заканчивая компьютером и телевизором с&nbsp;выходом в&nbsp;интернет;"}]
								-var thumbList_3 = [{"icon": "magnifier", "title": "По&nbsp;всем изданиям действует удобный поиск.", "text": "А&nbsp;значит, Вы&nbsp;без труда найдете нужную и&nbsp;проверенную информацию."}]
								.col-xs-12.col-sm-12.col-md-4.col-lg-4
									+thumbsVertical(thumbList_1)
								.col-xs-12.col-sm-6.col-md-4.col-lg-4
									+thumbsVertical(thumbList_2)
								.col-xs-12.col-sm-6.col-md-4.col-lg-4
									+thumbsVertical(thumbList_3)
						
			.section-bggray
				.particle-page
					.container
						.content.content-md
							.content-title-1.color-1 Сегодня в&nbsp;электронной библиотеке архивы и&nbsp;свежие выпуски газет и&nbsp;журналов:
							.books-carousel
								.books-carousel__state.books-slider
									-var booksList = [{"src": "1.jpg"}, {"caption": "Forbes", "src": "img-1.jpg"}, {"src": "3.jpg"}, {"src": "4.jpg"}, {"caption": "&laquo;Коммерсантъ&raquo;", "src": "img-2.jpg"}, {"src": "6.jpg"}, {"src": "7.jpg"}, {"caption": "&laquo;Огонек&raquo;", "src": "img-3.jpg"}, {"src": "9.jpg"}, {"src": "10.jpg"}, {"caption": "&laquo;Счастливые родители&raquo;", "src": "img-4.jpg"}]
									each value in booksList
										.books-carousel__item
											.books-item(class=(value.caption) ? "" : "books-item_no-caption")
												.books-item__media
													img.books-item__img(src="../content/thumb-books/" + value.src)
												if(value.caption)
													.books-item__content
														.books-item__caption!= value.caption
			
			.conclusion.padding-bottom-0
				.conclusion-item.conclusion-item--left-full
					.container
						.row
							.conclusion-media
								img(src="../content/travel/conclusion-5.jpg")
							.col-xs-12.col-sm-6.col-md-6
								.content.content-md
									.conclusion-text
										.b-table
											.b-table__cell-middle
												.conclusion-text__heading
													.h2.article-title Как войти?
													.article-text
														p Войти в&nbsp;электронную библиотеку просто. Пройдите по <span data-target="http://citigold.public.ru/" class="link js-link-target">ссылке</span> и введите пароль&nbsp;&mdash; первые 6 цифр номера Вашей дебетовой карты.
														p Не&nbsp;забудьте сохранить ссылку в&nbsp;&laquo;Избранном&raquo; Вашего браузера, если&nbsp;Вы планируете пользоваться библиотекой регулярно.
														p Вы также можете скачать приложение &laquo;Электронная библиотека&raquo; для IOS или Android.
													.btn-panel
														a.btn.btn--app(href="https://itunes.apple.com/us/app/citigold-library/id1300566077?l=ru&ls=1&mt=8", target="_blank", style="background-image: url('../content/special/icon-ios.png')")
														a.btn.btn--app(href="https://play.google.com/store/apps/details?id=ru.public.lib.city", target="_blank",  style="background-image: url('../content/special/icon-gplay.png')")
													.disclamer.border-top
														p Ключ для входа&nbsp;&mdash; первые 6&nbsp;цифр Вашей дебетовой карты Citigold или Citigold Private Client.
			// .border-top.form-emoji
				form#elib(autocomplete="off", name="elib", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
					.particle-page
						.container
							.content.content-md
								.panel-note
									.panel-note__text
										p.content-text-5.color-0 Электронная библиотека Citigold работает в&nbsp;тестовом режиме до&nbsp;15&nbsp;июня. Пожалуйста, оцените новый сервис. В&nbsp;зависимости от&nbsp;результатов, мы&nbsp;примем решение: оставить его на&nbsp;постоянной основе или нет.

								.form-emoji__group-item.js-fixed-height
									input#IEWAcategory(name="IEWAcategory", type="hidden", value="Citigold Application Form")
									input#sourcecode_elib(type="hidden", name="sourcecode", value="EMPTY***")
									input#customer_id(name="customer_id", type="hidden", value="")
									label.form-emoji__item(for="elib-vote-1")
										.thumbnail.box
											.thumbnail__media.box-img
												span.svg-icon-emoji-good
											.thumbnail__info.box-content
												.thumbnail-title Мне нравится, я&nbsp;буду пользоваться библиотекой.
										input.form-control.js-requere(id="elib-vote-1", type="radio", name="elib_vote", value="good")
									label.form-emoji__item(for="elib-vote-2")
										.thumbnail.box
											.thumbnail__media.box-img
												span.svg-icon-emoji-bad
											.thumbnail__info.box-content
												.thumbnail-title Нет, мне это не&nbsp;нужно.
										input.form-control.js-requere(id="elib-vote-2", type="radio", name="elib_vote", value="bad")
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Юридическая информация
				.article-content
					p Услуга предоставляется АО&nbsp;&laquo;Публичная библиотека&raquo; по&nbsp;его усмотрению и&nbsp;в&nbsp;предусмотренном им&nbsp;порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.