extends ./includes/head.jade
block description
	meta(name='description', content='Узнайте минимальный порог среднемесячного баланса для бесплатного обслуживания в Citigold. Поддерживайте среднемесячный баланс и получите особые комплименты от наших партнеров.')
block title
	title Единые условия обслуживания клиентов Citigold | Citibank
block analitics
	-var connonical_page = 'novye-edinye-standarty-obsluzhivaniya'

extends ./includes/layout-content.jade
block link
	-var page="special-2";
	-var activePage="special-2";
	-var activePageChild="special-2";

block content
	mixin thumbsVertical(data)
		each value in data
			.b-table
				.b-table__cell-top
					.thumbnail.box
						.thumbnail__media.box-img
							span(class="svg-icon-" + value.icon)
						.thumbnail__info.box-content
							if(value.title)
								.thumbnail-title!= value.title
							if(value.text)
								.thumbnail-text!= value.text
							if(value.description)
								.thumbnail-description!= value.description
	.article-page
		.article-content
			mixin download_item_sm(_url, _src, _title, _text, _size, _class)
				a.download-item(href=_url, target="_blank", class=_class)
					.b-table
						.b-table__row
							.b-table__cell.download-item__content
								.download-item__text
									p !{_title}
									if(_text != "")
										p !{_text}
							.b-table__cell.download-item__hover
								.download-item-target
									.download-item-target__link
										span Скачать PDF (#{_size} Мб)
										i.icon--download
							.b-table__cell.download-item__bg(style="background-image: url('" + _src + "');")
			-var frame_tab = 'tab_1';
			include ./includes/frame-content
			.panel-container.panel-container_bg
				.content.content-md
					.container.no-padding
						.panel-shadow.panel-shadow_offset-top
							.panel-shadow__inner.panel-shadow__inner_top
								h2.h2.article-title.text-uppercase.text-center.color-2 Уважаемые клиенты!
								p.article-text.text-center Citi&nbsp;&mdash; глобальный банк, и&nbsp;мы&nbsp;гордимся едиными стандартами обслуживания во&nbsp;всех странах. Это в&nbsp;том числе означает применение одинаковых правил в&nbsp;отношении клиентов. Во&nbsp;всех странах минимальный порог среднемесячного баланса<sup>3</sup> для бесплатного обслуживания в&nbsp;Citigold<sup>&reg;</sup>&nbsp;&mdash; эквивалент 100 тыс. долларов США. Из-за резкого падения курса рубля <b>с&nbsp;1&nbsp;января 2019 года для российских клиентов он&nbsp;составит 6&nbsp;млн рублей</b>. Мы&nbsp;понимаем, что это существенное изменение, и&nbsp;позаботимся о&nbsp;том, чтобы переход на&nbsp;новые условия был для Вас комфортным.
							.panel-shadow__hr
							.panel-shadow__inner.panel-shadow__inner_bottom
								p.article-text.text-center Чтобы Ваш статус Citigold сохранился, среднемесячный баланс по&nbsp;Вашим счетам в&nbsp;ближайшее время <strong class="color-2">должен увеличиться до&nbsp;6&nbsp;млн рублей</strong>. Ваш персональный финансовый консультант поможет подобрать банковские и&nbsp;инвестиционные продукты, которые будут отвечать Вашим целям.
						.panel-thumbnail
							.thumbnail.thumbnail-inline
								.thumbnail__media
									span.svg-icon-gift
								.thumbnail__info
									.thumbnail-text
										p.article-text Если Ваш среднемесячный баланс в&nbsp;течение трех месяцев подряд будет составлять 6&nbsp;млн рублей и&nbsp;более, мы&nbsp;будем рады предложить Вам особые комплименты<sup>1</sup>: индивидуальный пошив по&nbsp;Вашим меркам в&nbsp;ателье Icon, ночь в&nbsp;отеле Ritz Carlton Moscow<sup>2</sup> или денежное вознаграждение.
						.panel-shadow
							.panel-shadow__inner
								.article-title.content-title-2.color-2 Для получения вознаграждения
								p.article-text Зарегистрируйтесь в&nbsp;акции до&nbsp;31&nbsp;марта 2019&nbsp;года, отправив СМС с&nbsp;текстом&nbsp;WE на&nbsp;номер 2582&nbsp;с номера мобильного телефона, указанного в&nbsp;контактной информации, предоставленной в&nbsp;банк.

			.offers.no-margin
				.content.content-md
					.offers-item.offers-item--right
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-2.jpg")
								.col-xs-12.col-sm-7.col-md-6.col-sm-offset-5.col-md-offset-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-costume
														.offers-text__heading
															.offers-text__logo
																img(src="../content/special/logo-icon.jpg")
														.offers-text__content
															.offers-title.content-title-3 Индивидуальный пошив 3&nbsp;сорочек в&nbsp;ателье Icon Suit<sup>2</sup>.
															.article-text
																p Вручную. По&nbsp;меркам. Из&nbsp;элитных тканей.
														.offers-text__footer
															span.link.js-link-target(data-target="http://www.ru.iconsuit.com") www.iconsuit.com
					.offers-item.offers-item--left
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-1.jpg")
								.col-xs-12.col-sm-7.col-md-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-building
														.offers-text__heading
															.offers-text__logo
																img(src="../content/special/logo-ritz.jpg")
														.offers-text__content
															.offers-title.content-title-3 Номер категории &laquo;представительский люкс&raquo; (на&nbsp;двоих, на&nbsp;одну ночь, включая завтраки)<sup>2</sup>&nbsp;&mdash;
															.article-text
																p уникальная возможность скрыться от&nbsp;суеты в&nbsp;самом сердце Москвы.
														.offers-text__footer
															span.link.js-link-target(data-target="http://www.ritzcarlton.com/Moscow") www.ritzcarlton.com/Moscow
					.offers-item.offers-item--right
						.container
							.row
								.offers-media
									img(src="../content/special/img-md-4.jpg")
								.col-xs-12.col-sm-7.col-md-6.col-sm-offset-5.col-md-offset-6
									.content.content-md
										.offers-text
											.b-table
												.b-table__cell-middle
													.offers-text__container
														.offers-text__icon
															span.svg-icon-money
														.offers-text__content
															.offers-title.content-title-3 Денежное вознаграждение 25&nbsp;000 рублей<sup>*</sup>,
															.article-text
																p которое будет перечислено на&nbsp;Ваш счет.
			.content
				.price-special
					.container
						.article-title.text-uppercase Также для Вас действует специальное предложение по&nbsp;срочным вкладам в&nbsp;рублях<small><sup>4</sup></small>:
						.price-special__list
							.price-special__list-item
								.price-special__list-count
									| 5,5
									span %
								.price-special__list-text годовых
							.price-special__list-item
								.price-special__list-count
									span на
									| 91
								.price-special__list-text день
							.price-special__list-item
								.price-special__list-count
									span от
									| 300 000
								.price-special__list-text рублей<sup>**</sup>
			.content.content-md
				.container
					.content.content-md
						.disclamer
							p * Сумма до&nbsp;налогообложения.
							p ** Вклад может быть размещен на&nbsp;сумму, не&nbsp;превышающую разницу консолидированного баланса клиента на&nbsp;дату размещения вклада и&nbsp;консолидированного баланса в&nbsp;последний рабочий день предыдущего месяца.
						p.content-title-6 Благодарим Вас за&nbsp;доверие!
						p.content-title-6 АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Юридическая информация
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p Акция проводится с&nbsp;15&nbsp;ноября 2018 года по&nbsp;31&nbsp;июня 2019 года (с&nbsp;учетом срока выдачи призов). Стать участником акции можно в&nbsp;период с&nbsp;15&nbsp;ноября 2018 года по&nbsp;31&nbsp;марта 2019&nbsp;года. Для выполнения условий акции необходимо повысить среднемесячный баланс минимум на&nbsp;500&nbsp;000 рублей&nbsp;РФ. Информация об&nbsp;организаторе и&nbsp;условиях акции, количестве призов, сроках и&nbsp;порядке их&nbsp;получения размещена <a class="link" href="https://www.citibank.ru/russia/citigold/content/pdf/tcs.pdf">здесь</a>. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
							li.list-increment__item
								p Услуги предоставляются поставщиками услуг по&nbsp;их&nbsp;усмотрению и&nbsp;в&nbsp;предусмотренном ими порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
							li.list-increment__item
								p Среднемесячный баланс рассчитывается путем сложения ежедневных положительных остатков денежных средств (на&nbsp;начало дня) по&nbsp;всем счетам Клиента в&nbsp;Ситибанке в&nbsp;течение месяца и&nbsp;деления этой суммы на&nbsp;количество календарных дней в&nbsp;соответствующем месяце. Среднемесячный баланс также включает в&nbsp;себя сумму уплаченной Клиентом страховой премии (страхового взноса) по&nbsp;накопительным программам страхования, страхование по&nbsp;которым не&nbsp;истекло согласно договору страхования (страховому полису) Клиента на&nbsp;момент определения среднемесячного баланса и&nbsp;в&nbsp;случае, если включение таких страховых премий (взносов) предусмотрено соответствующими тарифами и/или условиями акции и&nbsp;Клиент на&nbsp;момент оформления программы являлся клиентом Ситибанка в&nbsp;рамках договора на&nbsp;банковское обслуживание. Перечень накопительных программ страхования, уплаченные страховые премии (взносы) по&nbsp;которым учитываются при расчете среднемесячного баланса, размещается на&nbsp;официальном сайте Ситибанка, должен предлагаться ООО &laquo;Страховая компания &laquo;СиВ Лайф&raquo;. Для расчета среднемесячного баланса и&nbsp;Баланса на&nbsp;конец календарного месяца используются суммы страховых премий (взносов) по&nbsp;накопительным программам страхования, соответствующим требованиям настоящего пункта, по&nbsp;состоянию на&nbsp;27&nbsp;число каждого календарного месяца. Иные страховые продукты или уплаченные по&nbsp;ним страховые премии (взносы), которые не&nbsp;соответствуют указанным выше требованиям, не&nbsp;учитываются при подсчете среднемесячного баланса или баланса на&nbsp;конец каждого календарного месяца.
							li.list-increment__item
								p Предложение по&nbsp;вкладу действительно с&nbsp;1&nbsp;ноября 2018 года до&nbsp;31&nbsp;декабря 2018&nbsp;года. <a class="link" href="https://www.citibank.ru/russia/citigold/content/pdf/td-nnm-tcs.pdf">Все условия договора Вклада</a> являются частью Условий банковского обслуживания, размещенных на&nbsp;сайте <a class="link" target="_blank" href="www.citibank.ru">www.citibank.ru</a>. Вы&nbsp;также можете получить интересующую Вас информацию в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, либо позвонить в&nbsp;CitiPhone.
								p В&nbsp;день окончания срока вклада (депозита) Вы&nbsp;получите обратно свои деньги с&nbsp;начисленными процентами на&nbsp;тот счет в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, с&nbsp;которого деньги были переведены во&nbsp;вклад.
								p Вклад (депозит) не&nbsp;может быть прекращен частично. В&nbsp;случае досрочного прекращения вклада по&nbsp;Вашему желанию, Вам будет возвращена вся сумма вклада. При этом начисление процентов в&nbsp;случае досрочного прекращения вклада предусматривается по&nbsp;ставке 0,01% годовых. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; оставляет за&nbsp;собой право изменять условия данных предложений в&nbsp;любое время и&nbsp;без предварительного уведомления. После размещения вклада его условия не&nbsp;меняются.
								p Консолидированный баланс&nbsp;&mdash; это сумма остатков денежных средств на&nbsp;всех рублевых счетах клиента (текущих счетах и&nbsp;счетах вкладов), открытых в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;
