extends ./includes/head.jade

block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с картой Citigold. Счета в 10 валютах, доступ в бизнес-залы, привилегированные курсы обмена валют, консультации по инвестициям и многое другое.')

block title
	title Оставьте онлайн-заявку на премиальное банковское обслуживание Citigold

block analitics
	-var connonical_page = 'onlain-zajavka';

extends ./includes/layout-content.jade

block link
	-var page="onlain-zajavka";
	-var activePage="onlain-zajavka";

block scripts
	script(type="text/javascript" src="../f/js/js-online-request.js")

block page-custom-analitics
	script.
		<!--
			function analitics(events, url, var9, id){
				var loc, s_code;
				loc = window.location.host;
				loc = loc.toLowerCase();

				if ( loc.indexOf("citibank.") >= 0 ) {
					s.pageName = 'RU|public|citigold|start';
					s.server = '';
					s.channel = 'RU|public|';
					s.pageType = '';
					s.prop1 = 'RU|public|citigold|';
					s.prop2 = 'RU|public|citigold|citigold|';
					s.prop3 = 'RU|public|citigold|citigold|';
					s.prop4 = '';
					s.prop5 = '';
					s.prop11="pre-login lead form";
					s.campaign = '';
					s.state = '';
					s.zip = '';
					s.events = events;
					s.products = url;
					s.purchaseID = '';
					s.eVar1 = '';
					s.eVar2 = '';
					s.eVar3 = '';
					s.eVar4 = '';
					s.eVar5 = '';
					s.eVar9 = var9;
					s.eVar17="CG-Citigolg form";
					s.eVar23="D=c20";
					s.eVar29="IEWA:Acquisition:Short:Lead";
					s.transactionID = id;
					s_code = s.t();
					if (s_code) {
						document.write(s_code);
					}
				}
			}
			analitics('event12', 'Citigold;CG-Citigold', '', '');
		//-->

block content
	.article-page
		.article-header.no-print
			include ./includes/frame-content
		.article-content.section-barleycorn
			.content.content-md
				.container
					form#cgclient_1.form-horizontal.form-horizontal--request.js-online-request(autocomplete="off", name="cgclient_1", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
						.form__title Вы&nbsp;можете узнать подробности у&nbsp;консультанта, оставив заявку.
						.form-group
							.col-xs-12.col-sm-6.col-md-4
								input#name_1.form-control.js-requere(placeholder="Ваше имя", type="text", name="name_1", maxlength="100", tabindex="1", value="")
							.col-xs-12.col-sm-6.col-md-4
								input#phonenum_1.form-control.js-requere(type="text", placeholder="Телефон", name="phonenum11_1", maxlength="20", tabindex="2", value="")
							.col-xs-12.col-sm-6.col-md-4
								select#city_1.form-control.select-box.js-requere(name="city_1", tabindex="3")
									option(value='') Выберите город
									option(value="Москва") Москва
									option(value="Санкт-Петербург") Санкт-Петербург
									option(value="Волгоград") Волгоград
									option(value="Екатеринбург") Екатеринбург
									option(value="Нижний Новгород") Нижний Новгород
									option(value="Ростов-на-Дону") Ростов-на-Дону
									option(value="Самара") Самара
									option(value="Уфа") Уфа
						.row
							.col-xs-12.col-sm-12.col-md-8
								.checkbox
									input#agree_1.js-requere(type="checkbox", name="agree_1", value="0", tabindex="4")
									label(for="agree_1") Нажимая &laquo;Отправить заявку&raquo;, я&nbsp;соглашаюсь на&nbsp;обработку моих персональных данных АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
							.col-xs-12.col-sm-12.col-md-4
								button#submit_1.btn.btn--inverse.btn--lg.disabled(type="button", tabindex="5") Отправить заявку
								input#PageName(type="hidden", value="citi_gold")
								input#sourcecode(type="hidden", name="sourcecode", value="ADC01")
								input#Ads_ref(name="Ads_ref", type="hidden")
								input#IEWAcategory(name="IEWAcategory", type="hidden", value="CitiGold Lead Form")
		.article-content.section-barleycorn
			.wrapper-middle.wrapper-middle--bg-white
				.wrapper-middle__box
					.wrapper-middle__box-circle
						span.svg-icon-coins-white
					.wrapper-middle__box-content
						span.wrapper-middle__box-title Текущие счета в&nbsp;10&nbsp;валютах,
						p.wrapper-middle__box-text депозиты и&nbsp;накопительные счета<sup>1</sup>
					.wrapper-middle__box-bottom
						.wrapper-middle__box-bottom-left
							img(src="../content/onlain-zajavka/forbes.png")
						.wrapper-middle__box-bottom-right Самый надежный банк в&nbsp;России по&nbsp;версии Forbes (апрель 2016&nbsp;года)
				.wrapper-middle__box
					.wrapper-middle__box-circle
						span.svg-icon-null
					.wrapper-middle__box-content
						span.wrapper-middle__box-title Бесплатное снятие наличных
						p.wrapper-middle__box-text в&nbsp;любых банкоматах по&nbsp;всему миру<sup>2</sup>
				.wrapper-middle__box
					.wrapper-middle__box-circle
						span.svg-icon-plane-tickets-white
					.wrapper-middle__box-content
						span.wrapper-middle__box-title Бесплатный доступ в&nbsp;бизнес-залы
						p.wrapper-middle__box-text крупнейших аэропортов<sup>3</sup>, страховка для путешественников<sup>4</sup> и&nbsp;такси в&nbsp;аэропорт<sup>5,&nbsp;6</sup>
				.wrapper-middle__box
					.wrapper-middle__box-circle
						span.svg-icon-dialog-peoplee-white 
					.wrapper-middle__box-content
						span.wrapper-middle__box-title Привилегированные курсы при
						p.wrapper-middle__box-text обмене валюты<sup>7</sup>
				.wrapper-middle__box
					.wrapper-middle__box-circle
						span.svg-icon-dialog-people-white
					.wrapper-middle__box-content
						span.wrapper-middle__box-title Профессиональные консультации
						p.wrapper-middle__box-text по&nbsp;инвестициям<sup>8</sup>
					.wrapper-middle__box-bottom
						.wrapper-middle__box-bottom-left
							img(src="../content/onlain-zajavka/frank.png")
						.wrapper-middle__box-bottom-right Лучшее инвестиционное предложение по&nbsp;версии Frank Research Group (декабрь 2016&nbsp;года).
				.wrapper-middle__box
					.wrapper-middle__box-circle
						span.svg-icon-70-white
					.wrapper-middle__box-content
						span.wrapper-middle__box-title Круглосуточная служба поддержки,
						p.wrapper-middle__box-text персональный менеджер и&nbsp;услуга &laquo;Консьерж&raquo;<sup>9</sup>
		.article-content.product-referral
			.content.content-md
				.container
					.row
						.col-xs-12.col-sm-6.col-md-6
							h3.product-referral__title <span class="color-2">Станьте клиентом Citigold</span>
							p.product-referral__text Заполните форму, и&nbsp;наш консультант свяжется с&nbsp;Вами, чтобы рассказать подробности услуги и&nbsp;уточнить удобное для Вас время посещения офиса.
						.col-xs-12.col-sm-6.col-md-6
							.product-referral__img-wrap
								img.product-referral__img(src="../content/onlain-zajavka/gold-card.png")
		.article-content.section-barleycorn
			.content.content-md
				.container
					.particle-page
						form#cgclient_2.form-horizontal.form-horizontal--request.js-online-request(autocomplete="off", name="cgclient_2", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
							.form-group
								.col-xs-12.col-sm-6.col-md-4
									input#name_2.form-control.js-requere(placeholder="Ваше имя", type="text", name="name_2", maxlength="100", tabindex="6", value="")
								.col-xs-12.col-sm-6.col-md-4
									input#phonenum_2.form-control.js-requere(type="text", placeholder="Телефон", name="phonenum11_2", maxlength="20", tabindex="7", value="")
								.col-xs-12.col-sm-6.col-md-4
									select#city_2.form-control.select-box.js-requere(name="city_2", tabindex="8")
										option(value='') Выберите город
										option(value="Москва") Москва
										option(value="Санкт-Петербург") Санкт-Петербург
										option(value="Волгоград") Волгоград
										option(value="Екатеринбург") Екатеринбург
										option(value="Нижний Новгород") Нижний Новгород
										option(value="Ростов-на-Дону") Ростов-на-Дону
										option(value="Самара") Самара
										option(value="Уфа") Уфа
							.row
								.col-xs-12.col-sm-12.col-md-8
									.checkbox
										input#agree_2.js-requere(type="checkbox", name="agree_2", value="0", tabindex="9")
										label(for="agree_2") Нажимая &laquo;Отправить заявку&raquo;, я&nbsp;соглашаюсь на&nbsp;обработку моих персональных данных АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
								.col-xs-12.col-sm-12.col-md-4
									button#submit_2.btn.btn--inverse.btn--lg.disabled(type="button", tabindex="10") Отправить заявку
									input#PageName_2(type="hidden", value="citi_gold")
									input#sourcecode_2(type="hidden", name="sourcecode", value="ADC01")
									input#Ads_ref_2(name="Ads_ref", type="hidden")
									input#IEWAcategory_2(name="IEWAcategory", type="hidden", value="CitiGold Lead Form")
		.article-content
			.content.content-md
				.container
					.content-heading
						p 1. Все условия депозитного договора являются частью Условий банковского обслуживания, размещенных на&nbsp;сайте www.citibank.ru. Вы&nbsp;также можете получить интересующую Вас информацию в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; либо позвонив в&nbsp;CitiPhone. В&nbsp;день окончания срока депозита&nbsp;Вы получите обратно свои деньги с&nbsp;начисленными процентами на&nbsp;тот текущий или сберегательный счет в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, с&nbsp;которого деньги были переведены на&nbsp;депозит. Депозит не&nbsp;может быть прекращен частично. В&nbsp;случае досрочного прекращения депозита по&nbsp;Вашему желанию Вам будет возвращена вся сумма депозита. При этом начисление процентов в&nbsp;случае досрочного прекращения депозита предусматривается по&nbsp;ставке 0,05% годовых. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; оставляет за&nbsp;собой право изменять условия данных предложений в&nbsp;любое время и&nbsp;без предварительного уведомления. Предложения действительны для владельцев пакета банковских услуг АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
						p 2. В&nbsp;соответствии с&nbsp;тарифами АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
						p 3. Тридцать проходов в&nbsp;бизнес-залы аэропортов в&nbsp;течение календарного года. С&nbsp;полным списком бизнес-залов, доступных для посещения по&nbsp;карте Priority Pass, Вы&nbsp;можете ознакомиться на&nbsp;сайте www.prioritypass.com. Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;рублях, эквивалентной 30&nbsp;долларам США, в&nbsp;адрес получателя средств: MasterCard Europe&nbsp;SA (198A, Chaussee de&nbsp;Tervuren, 1410&nbsp;Waterloo, Belgium), в&nbsp;случае если Клиент воспользовался привилегией &laquo;Бесплатный проход в&nbsp;бизнес-залы аэропортов&raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии. Плата за&nbsp;третьего и&nbsp;последующих гостей будет списана с&nbsp;Вашего счета в&nbsp;размере суммы, эквивалентной 30&nbsp;долларам США, за&nbsp;каждого гостя вне зависимости от&nbsp;поддержания баланса.
						p 4. Данная программа страхования является предложением ОАО СК&nbsp;&laquo;Альянс&raquo; (лицензии Банка России: СИ &#8470;&nbsp;0290, СЛ &#8470;&nbsp;0290). АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, Citigroup Inc. или их&nbsp;аффилированные лица, государственные органы и&nbsp;Российская Федерация не&nbsp;несут никакой ответственности за&nbsp;исполнение ОАО СК&nbsp;&laquo;Альянс&raquo; обязательств по&nbsp;договору страхования рисков.
						p 5. Два трансфера в&nbsp;год из/в аэропорты России. Под трансфером понимается поездка из/в аэропорт в/из города без заезда по&nbsp;третьим адресам. Трансферы из/в аэропорт в/из Московской области согласовываются с&nbsp;оператором Citigold CitiPhone.
						p 6. Все привилегии Citigold, за&nbsp;исключением привилегий &laquo;Консьерж&raquo; и&nbsp;&laquo;Юридическая консультация&raquo;, доступны только при условии поддержания Среднемесячного баланса от&nbsp;4&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах в&nbsp;календарном месяце, предшествующем месяцу использования привилегий. В&nbsp;целях предоставления привилегий могут учитываться как суммы, находящиеся на&nbsp;счетах клиента в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, так и&nbsp;суммы, находящиеся на&nbsp;его счетах в&nbsp;аффилированных с&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; компаниях, в&nbsp;соответствии с&nbsp;Условиями банковского обслуживания. При этом, если в&nbsp;целях предоставления привилегий учитываются суммы, находящиеся на&nbsp;счетах клиента в&nbsp;аффилированных с&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; компаниях, у&nbsp;клиента возникает доход в&nbsp;натуральной форме, с&nbsp;которого должен быть уплачен налог на&nbsp;доходы физических лиц в&nbsp;соответствии с&nbsp;законодательством РФ. Удержание с&nbsp;налогоплательщика (клиента) начисленной суммы налога производится налоговым агентом (АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;) за&nbsp;счет любых денежных средств, выплачиваемых налоговым агентом налогоплательщику. Клиент может получить справку 2-НДФЛ о&nbsp;доходах/удержанных налогах за&nbsp;год от&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; после представления такой справки в&nbsp;налоговый орган по&nbsp;месту учета АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, но&nbsp;не&nbsp;ранее 1&nbsp;апреля года, следующего за&nbsp;отчетным. Если клиент желает отказаться от&nbsp;получения привилегий&nbsp;и (или) денежного вознаграждения, то&nbsp;такой отказ клиенту необходимо предоставить АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; в&nbsp;письменной форме до&nbsp;начала участия в&nbsp;программе привилегий, в&nbsp;противном случае согласие клиента на&nbsp;участие в&nbsp;программе привилегий и&nbsp;удержание налога за&nbsp;счет всей денежной выплаты будет считаться полученным АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;. Услуги предоставляются поставщиками услуг по&nbsp;их&nbsp;усмотрению и&nbsp;в&nbsp;предусмотренном ими порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc. и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
						p 7. Обменный курс, установленный Ситибанком, включает комиссию (спред), зависящую от&nbsp;конвертируемой суммы, даты и&nbsp;времени совершения транзакции, а&nbsp;также Вашего пакета банковских услуг. Обменные курсы, установленные в&nbsp;Citibank<sup class="reg">&reg;</sup> Online, могут отличаться от&nbsp;обменных курсов, установленных в&nbsp;отделениях Ситибанка, CitiPhone или системе автоматического банковского обслуживания по&nbsp;телефону.
						p 8. Инвестиционные продукты не&nbsp;застрахованы государством, не&nbsp;являются банковским депозитом, не&nbsp;гарантируются банком, могут потерять стоимость, включая возможную потерю сумм основных инвестиций. Определенная доходность в&nbsp;прошлом не&nbsp;является гарантией такой&nbsp;же доходности в&nbsp;будущем. Инвестиционные продукты подвержены инвестиционным рискам, которые могут выражаться в&nbsp;потерях основной суммы инвестиций. Иностранные ценные бумаги, не&nbsp;размещенные публично&nbsp;и (или) не&nbsp;находящиеся в&nbsp;свободном обороте в&nbsp;России, а&nbsp;также иностранные финансовые инструменты, не&nbsp;являющиеся ценными бумагами, не&nbsp;могут предлагаться неограниченному кругу лиц или неквалифицированным инвесторам и&nbsp;могут приобретаться&nbsp;и (или) продаваться только квалифицированными инвесторами.
						p 9. Привилегия &laquo;Консьерж&raquo; предоставляется при условии поддержания среднемесячного баланса от&nbsp;10&nbsp;000&nbsp;000 рублей или эквивалентной суммы в&nbsp;других валютах в&nbsp;календарном месяце, предшествующем месяцу использования привилегии.
						p Рассмотрение заявления на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold производится в&nbsp;предусмотренном Ситибанком порядке. Ознакомьтесь с&nbsp;условиями <a href="https://www.citibank.ru/russia/citigold/pdf/privacy-gold_current.pdf" target="_blank">Договора</a> и&nbsp;<a href="https://www.citibank.ru/russia/citigold/pdf/cg_tariffs_current.pdf" target="_blank">Тарифами</a>.
