extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь программой банковских привилегий с удобной для путешествий картой Citigold. Программа Mastercard Airport Experiences от LoungeKey предоставляет доступ в бизнес залы аэропортов (Шереметьево, Домодедово, Пулково и др.), а также эксклюзивные предложения от ресторанов, магазинов, спа-центров и Duty Free.')
block title
	title Доступ в бизнес залы аэропортов: Шереметьево, Домодедово, Пулково и др. по программе  Mastercard Airport Experiences от LoungeKey
block analitics
	-var connonical_page = 'privileges';

extends ./includes/layout-content.jade
block link
	-var page="privileges";
	-var activePage="privileges";
block scripts
	script(type="text/javascript" src="../f/js/promo-animate.js")
	script.
		$(document).on('click', 'a[data-event="priveleges"]', function(e) {
			e.preventDefault()
			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=prcall&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);

			window.location.href = $(e.currentTarget).prop('href');
		});

		$(document).on('click', 'a[data-event="issuecard"]', function(e) {
			e.preventDefault()

			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=castep_0&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);
			window.location.href = $(e.currentTarget).prop('href');
		});

block content
	.article-page
		.article-header.no-print
			include ./includes/frame-content
		.article-content
			#business-lounges.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Бизнес-залы крупнейших международных аэропортов<small><sup>2</sup></small>
					.article-with-img
						.article-with-img__media.article-with-img__media--logo-lounge
							img(src="../content/travel/img-loungekey.jpg")
						.article-with-img__content
							.article-text
								p Программа Mastercard Airport Experiences от&nbsp;LoungeKey<sup>2</sup> предоставляет доступ в&nbsp;бизнес-залы аэропортов более чем в&nbsp;500 городах мира (<span class="link js-link-target" data-target="https://airport.mastercard.com">полный список</span>), а&nbsp;также эксклюзивные предложения от&nbsp;ресторанов, магазинов, спа-центров и&nbsp;Duty Free.
						.article-with-img__footer
							#content-spoiler.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler", href="#content-spoiler-item_1")
										.content-spoiler-handler__target
											span Как воспользоваться
								#content-spoiler-item_1.collapse
									.content-spoiler__content
										.article-text
											p Для посещения бизнес-зала достаточно предъявить действующую дебетовую карту Citigold World Elite Mastercard<sup class="reg">&reg;</sup> и&nbsp;сообщить сотруднику бизнес-зала об&nbsp;участии в&nbsp;программе LoungeKey.
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		p При посещении бизнес-зала для проверки карты временно блокируется сумма, эквивалентная 1&nbsp;USD. После завершения проверки данная сумма будет разблокирована (как правило, в&nbsp;течение 10 рабочих дней).
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg
										
										.article-text
											p Вы&nbsp;можете пригласить с&nbsp;собой неограниченное количество гостей при каждом посещении бизнес-зала. Вы&nbsp;и&nbsp;два Ваших гостя сможете пройти в&nbsp;зал бесплатно (при условии поддержания минимального баланса, предусмотренного тарифами на&nbsp;обслуживание АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;), за&nbsp;проход третьего и&nbsp;последующих гостей с&nbsp;одного из&nbsp;Ваших счетов будет списана сумма, эквивалентная 30&nbsp;USD за&nbsp;каждого гостя.
										.card-list.card-list--inline.card-list--inline-bg.card-list--inline-bg-md.js-fixed-height
											.row.no-margin
												.col-xs-12.col-sm-5.col-md-5.col-sm-push-7.col-md-push-7.no-padding
													.b-table.box
														.b-table__cell-middle.box-content
															.card-list__media.card-list__media--img-center
																img(src="../content/travel/img-mastercardairport.jpg")
												.col-xs-12.col-sm-7.col-md-7.col-sm-pull-5.col-md-pull-5.no-padding
													.b-table.box
														.b-table__cell-middle.box-content
															.card-list-body
																.card-list-body__heading
																	.h2.content-title-2 Мобильное приложение
																.card-list-body__content
																	.article-text
																		p.content-text-6 Чтобы в&nbsp;полном объеме оценить преимущества программы и&nbsp;воспользоваться специальными предложениями и&nbsp;скидками от&nbsp;ресторанов, магазинов, салонов красоты и&nbsp;магазинов Duty Free, рекомендуем Вам скачать мобильное приложение Mastercard Airport Experiences.
																.card-list-body__footer
																	.content-text-5.text-uppercase Скачать приложение Mastercard Airport Experiences
																		.btn-panel
																			a.btn.btn--app(href="https://itunes.apple.com/app/mastercard-airport-experiences/id1218321651", target="_blank", style="background-image: url('../content/special/icon-ios.png')")
																			a.btn.btn--app(href="https://play.google.com/store/apps/details?id=com.loungekey.mastercard.android", target="_blank",  style="background-image: url('../content/special/icon-gplay.png')")
										.article-tab.tab
											.article-heading.article-heading_no-bg.padding-top-0
												.container
													.tab-cover.dropdown
														.custom-select.dropdown-toggle(data-toggle="dropdown")
															span.filter-option Доступ в залы
															span.caret
														.dropdown-menu
															ul.tab-nav.row.no-margin
																li.tab-nav__item.col-xs-12.col-sm-6.col-md-6.no-padding
																	a.tab-nav-handler(href="#tab-1", data-text="Доступ в залы") Доступ в&nbsp;залы
																li.tab-nav__item.col-xs-12.col-sm-6.col-md-6.no-padding
																	a.tab-nav-handler(href="#tab-2", data-text="Скидки и предложения") Скидки и&nbsp;предложения
											.article-content.section-bggray
												.tab-content
													.tab-content__item.tab-pane.fade#tab-1
														.container
															.content.content-md
																.content-heading
																	.remuneration__list
																		.remuneration__item
																			.remuneration-slider.margin-top-0.remuneration-slider_steps.remuneration-slider_steps-col-4
																				-var remunerationItems = [{"title": "Зарегистрируйтесь в&nbsp;приложении с&nbsp;использованием Вашей карты Citigold Mastercard.", "icons": "user"}, {"title": "Найдите удобный зал в&nbsp;аэропорту.", "icons": "search-big"}, {"title": "На&nbsp;входе в&nbsp;зал покажите QR-код для подтверждения участия в&nbsp;программе.", "icons": "mobile-qr"}, {"title": "Приятного Вам отдыха!", "icons": "chair"}]
																				each value, key in remunerationItems
																					.remuneration-slider__item
																						.circle
																							.circle__inner
																								.b-table
																									.b-table__cell-middle
																										.remuneration-slider__icon-wrap
																											span(class="svg-icon-#{value.icons}")
																						.remuneration-slider__title!= value.title
													.tab-content__item.tab-pane.fade#tab-2
														.container
															.content.content-md
																.content-heading
																	.remuneration__list
																		.remuneration__item
																			.remuneration-slider.margin-top-0.remuneration-slider_steps.remuneration-slider_steps-col-5
																				-var remunerationItems = [{"title": "Зарегистрируйтесь в&nbsp;приложении с&nbsp;использованием Вашей карты Citigold Mastercard.", "icons": "user"}, {"title": "Найдите перечень скидок и&nbsp;предложений, доступных в&nbsp;конкретном аэропорту.", "icons": "search-big"}, {"title": "Выберите предложение, приложение сгенерирует ваучер c&nbsp;QR-кодом.", "icons": "qr-code"}, {"title": "Предъявите QR-код в&nbsp;торговой точке для получения скидки или предложения.", "icons": "mobile-qr"}, {"title": "Оплатите услуги зарегистрированной в&nbsp;приложении картой.", "icons": "pay-card"}]
																				each value, key in remunerationItems
																					.remuneration-slider__item
																						.circle
																							.circle__inner
																								.b-table
																									.b-table__cell-middle
																										.remuneration-slider__icon-wrap
																											span(class="svg-icon-#{value.icons}")
																						.remuneration-slider__title!= value.title
										.particle-page-item
											h5.content-title-2.particle-page-item__title Дополнительные расходы
											.particle-page-item__subtitle
												.content-text-5 Услуга доступа в&nbsp;бизнес-залы аэропортов предоставляется Привилегированному клиенту Citigold и&nbsp;держателям дополнительных карт по&nbsp;его счетам при условии поддержания минимального среднемесячного баланса.
											.particle-page-item__text
												.content-text-6
													p Если среднемесячный баланс за&nbsp;месяц, предшествующий месяцу использования привилегии, ниже минимального порога, установленного Тарифами, с&nbsp;Вашего счета будет списана плата за&nbsp;проход в&nbsp;бизнес зал в&nbsp;размере суммы, эквивалентной 30&nbsp;USD.
													p Списание произойдет в&nbsp;следующем после посещения бизнес-зала месяце.
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Оформить карту
			#polis.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Страхование на&nbsp;время путешествий
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/img-travel.jpg")
						.article-with-img__content
							.article-text
								p Годовой сертификат на&nbsp;время путешествий для Вас, Ваших детей и&nbsp;держателей дополнительных дебетовых карт Citigold и&nbsp;Citigold Private Client.<small><sup>3,&nbsp;7</sup></small>
						.article-with-img__footer
							#content-spoiler-1.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-1", href="#content-spoiler-item_2")
										.content-spoiler-handler__target
											span Как воспользоваться
								#content-spoiler-item_2.collapse
									.content-spoiler__content
										.h3 Получить сертификат можно одним из&nbsp;способов:
										.article-text
											ul.list-style-dot
												li в&nbsp;любом <a href="https://www.citibank.ru/russia/branches/rus/branches.htm" class="link" target="_blank">отделении Ситибанка</a>,
												li в&nbsp;сервисной службе Allianz Global Assistance: +7 (495) 783-30-56, +7 (495) 783-30-57.
										.h3 В&nbsp;страховое покрытие включены:
										.list-style-icons.list-style-icons--phone-middle.no-padding
											.row
												.col-xs-12.col-sm-12.col-md-10
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-sky
																	| медицинские и&nbsp;медико-транспортные расходы, в&nbsp;том числе во&nbsp;время активного отдыха, включая горные и&nbsp;водные лыжи, сноубординг, яхтинг, кайтинг, конные походы и&nbsp;т.&nbsp;п.;
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-airplane
																	| отмена поездки, досрочное возвращение, задержка рейса, пропущенный рейс (включая стыковочный);
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-bag-stroke
																	| утрата багажа, задержка багажа, административная помощь при поиске утерянного или задержанного багажа;
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-car
																	| защита франшизы при аренде автомобиля и&nbsp;покрытие незастрахованных частей автомобиля;
													.list-style-icons__item
														.list-style-icons__caption.content-text-5
															.b-table
																.b-table__cell-middle
																	span.svg-icon-more
																	| и&nbsp;многое другое.
										.card-list.card-list--divide
											.row
												.col-xs-12.col-sm-12.col-md-12
													.card-list-body.card-list-body--left
														.row
															.col-xs-12.col-sm-6
																.thumbnail.card-list__media
																	img.thumbnail-img-boxshadow(src="../content/privilege/card-21.png", alt="")
															.col-xs-12.col-sm-6
																.card-list__title.card-list__title--bordered Для клиентов Citigold:
																.article-text
																	p Общий лимит страховой суммы&nbsp;&mdash; 500&nbsp;000&nbsp;USD для Вас и&nbsp;50&nbsp;000&nbsp;USD для Ваших детей в&nbsp;возрасте до&nbsp;18&nbsp;лет или 23&nbsp;лет в&nbsp;период обучения в&nbsp;вузе на&nbsp;дневной форме.
												.col-xs-12.col-sm-12.col-md-12
													.card-list-body.card-list-body--right
														.row
															.col-xs-12.col-sm-6
																.thumbnail.card-list__media
																	img.thumbnail-img-boxshadow(src="../content/privilege/card-22.png", alt="")
															.col-xs-12.col-sm-6
																.card-list__title.card-list__title--bordered Для клиентов Citigold Private Client:
																.article-text
																	p Общий лимит страховой суммы&nbsp;&mdash; 1&nbsp;000&nbsp;000&nbsp;USD для Вас, 100&nbsp;000&nbsp;USD для законного(ой) супруга(и) и&nbsp;100&nbsp;000&nbsp;USD для Ваших детей в&nbsp;возрасте до&nbsp;18&nbsp;лет или 23&nbsp;лет в&nbsp;период обучения в&nbsp;вузе на&nbsp;дневной форме.
										.article-text
											ul.list-style-dot
												li Срок действия страхового покрытия&nbsp;&mdash; первые 60&nbsp;дней каждой поездки, количество поездок в&nbsp;год не&nbsp;ограничено.
												li Территория страхования: все страны мира, включая Россию (100 километров от&nbsp;места постоянного проживания&nbsp;/ регистрации).
												li Возраст застрахованного&nbsp;&mdash; до&nbsp;84&nbsp;лет включительно.
												li Отсутствие франшизы&nbsp;&mdash; все расходы берет на&nbsp;себя страховая компания.
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once-icon
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		.list-style-icons.list-style-icons--phone-middle.no-padding
																			.list-style-icons__item.no-margin
																				.list-style-icons__caption
																					.b-table
																						.b-table__cell-middle
																							span.svg-icon-list-doc
																							| Памятки страхования на&nbsp;время путешествий держателей дебетовых карт <a href="../content/pdf/gold-ultima-broshure-allianz-2018-new-programm-rus.docx" class="link" download="gold-ultima-broshure-allianz-2018-new-programm-rus.docx">Citigold</a> и&nbsp;<a href="../content/pdf/private-broshure-allianz-2018-new-programm-rus.docx" class="link" download="private-broshure-allianz-2018-new-programm-rus.docx">Citigold Private Client</a>.
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Оформить карту
			#transfer.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Премиальный трансфер в&nbsp;аэропорт
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/img-taxi-1.jpg")
						.article-with-img__content
							.article-text
								p Клиентам Citigold Ситибанк бесплатно предоставляет 2 трансфера в&nbsp;(из)&nbsp;аэропорт(а) в течение календарного года<small><sup>4</sup></small>.
								p Ваши комфорт и&nbsp;безопасность мы&nbsp;доверили сервису личных водителей <b>Wheely</b>. К&nbsp;Вашим услугам новые автомобили представительского и&nbsp;бизнес-класса без опознавательных знаков такси, а&nbsp;также профессиональные водители в&nbsp;деловых костюмах в&nbsp;Москве, Санкт-Петербурге, Екатеринбурге, Краснодаре, Перми, Казани, Сочи и&nbsp;Лондоне.
						.article-with-img__footer
							#content-spoiler-2.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-2", href="#content-spoiler-item_3")
										.content-spoiler-handler__target
											span Как воспользоваться
								#content-spoiler-item_3.collapse
									.content-spoiler__content
										.remuneration__list
											.remuneration__item
												.remuneration-slider.remuneration-slider--md.remuneration-slider_steps.remuneration-slider_steps-col-3
													-var remunerationItems = [{"title": "Установите <span data-target='https://wheely.com' class='link js-link-target'>приложение Wheely</span>", "icons": "app"}, {"title": "Добавьте дебетовую карту Citigold как основной способ оплаты, и&nbsp;2&nbsp;бесплатных трансфера начислятся автоматически.", "icons": "card-add"}, {"title": "Вызовите автомобиль в&nbsp;приложении Wheely.", "icons": "app-auto"}]
													each value, key in remunerationItems
														.remuneration-slider__item
															.circle
																.circle__inner
																	.b-table
																		.b-table__cell-middle
																			.remuneration-slider__icon-wrap
																				span(class="svg-icon-#{value.icons}")
															.remuneration-slider__title!= value.title
										.card-list.card-list--inline.card-list--inline-bg.card-list--inline-bg-sm.js-fixed-height
											.row.no-margin
												.col-xs-12.col-sm-5.col-md-5.col-sm-push-7.col-md-push-7.no-padding
													.b-table.box
														.b-table__cell-middle.box-content
															.card-list__media.card-list__media--img-center
																img(src="../content/travel/img-taxi-3.jpg")
												.col-xs-12.col-sm-7.col-md-7.col-sm-pull-5.col-md-pull-5.no-padding
													.b-table.box
														.b-table__cell-middle.box-content
															.card-list-body
																.card-list-body__heading
																	.h2.content-title-2 Доступные классы обслуживания
																.card-list-body__content
																	.article-text
																		p.h5 Для клиентов Citigold
																		p.content-text-6 Бизнес, Детский, Плюс
																		p.h5 Для клиентов Citigold Private Client
																		p.content-text-6 Бизнес, Детский, Плюс, Luxe,<br />VIP (за исключением Лондона).
										br
										h5.content-title-2.particle-page-item__title Дополнительные расходы
										.article-text
											p Услуга доступна клиентам Citigold и&nbsp;держателям дополнительных карт к&nbsp;их&nbsp;счетам. Услуга предоставляется бесплатно при условии поддержания минимального среднемесячного баланса<small><sup>1</sup></small>. Если среднемесячный баланс за&nbsp;месяц, предшествующий месяцу использования привилегии, ниже минимального порога, установленного Тарифами, с&nbsp;Вашего счета будет списана плата за&nbsp;поездку в&nbsp;размере тарифа Wheely.
											p Дополнительная плата также может быть списана с&nbsp;Вашей карты, добавленной в&nbsp;приложении Wheely, согласно тарифам Wheely вне зависимости от&nbsp;поддержания баланса в&nbsp;Ситибанке в&nbsp;следующих случаях:
											ul.list-style-dot
												li превышение времени бесплатного ожидания (30 минут);
												li встреча с табличкой в аэропорту (для этого укажите в комментарии к заказу номер рейса);
												li поездка за пределы черты города (условные границы города обозначены на <span data-target="https://wheely.com" class="link js-link-target">сайте Wheely</span>);
												li проезд по платным дорогам.
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Оформить карту
			#section-privileges-boingo.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Безлимитный интернет по&nbsp;всему миру*
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/img-boingo.jpg")
						.article-with-img__content
							.article-text
								p Доступ<sup>7</sup> более чем к&nbsp;миллиону точек Wi-Fi по&nbsp;всему миру&nbsp;&mdash; в&nbsp;отелях, ресторанах, торговых центрах и&nbsp;даже в&nbsp;самолетах.
								p Вы&nbsp;можете подключить до&nbsp;четырех устройств одновременно. Для клиентов Citigold это абсолютно бесплатно (только для держателей дебетовых карт Citigold World Elite Mastercard<sup class="reg">&reg;</sup>).
						.article-with-img__footer
							#content-spoiler-3.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-3", href="#content-spoiler-item_4")
										.content-spoiler-handler__target
											span Как воспользоваться
								#content-spoiler-item_4.collapse
									.content-spoiler__content
										.remuneration__list
											.remuneration__item
												.remuneration-slider.remuneration-slider--md.remuneration-slider_steps.remuneration-slider_steps-col-3
													-var remunerationItems = [{"title": "Создайте учетную запись на&nbsp;сайте <span data-target='http://mastercard.boingo.com' class='link js-link-target'>http://mastercard.boingo.com</span> и&nbsp;зарегистрируйте в&nbsp;ней Вашу карту Citigold.", "icons": "claster"}, {"title": "<span>Для выхода в&nbsp;интернет со&nbsp;смартфона или планшета&nbsp;&mdash; скачайте мобильное приложение Boingo Wi-Finder.</span><div class='btn-panel no-padding text-center'><a class='btn btn--app' href='https://itunes.apple.com/app/apple-store/id297596317?mt=8' target='_blank', style='background-image: url(../content/special/icon-ios.png)'></a><a class='btn btn--app' href='https://market.android.com/details?id=com.boingo.boingowifi' target='_blank', style='background-image: url(../content/special/icon-gplay.png)'></a></div>", "icons": "app-download"}, {"title": "Авторизуйтесь в&nbsp;приложении", "icons": "man"}, {"title": "Найдите ближайшую сеть и&nbsp;подключитесь к&nbsp;ней.", "icons": "app-wifi"}]
													each value, key in remunerationItems
														.remuneration-slider__item
															.circle
																.circle__inner
																	.b-table
																		.b-table__cell-middle
																			.remuneration-slider__icon-wrap
																				span(class="svg-icon-#{value.icons}")
															.remuneration-slider__title!= value.title
										.download
											.row
												.col-xs-12.col-sm-12.col-md-12.col-lg-12
													.download-item.download-item--lg.download-item--text-once
														.b-table
															.b-table__row
																.b-table__cell.download-item__content
																	.download-item__text
																		p Для выхода в&nbsp;интернет с&nbsp;ноутбука авторизуйтесь на&nbsp;сайте <span class="link js-link-target" data-target="http://mastercard.boingo.com/">mastercard.boingo.com</span>, и&nbsp;сайт покажет список доступных сетей Wi-Fi.
																.b-table__cell.download-item__hover
																	.download-item-target
																		.download-item-target__link
																.b-table__cell.download-item__bg
										.disclamer
											p
												sup *
												| Программа Boingo Wi-Fi предоставляется Boingo Wireless, Inc.
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Оформить карту
			.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Citigold Home Connect&nbsp;<small><sup>*</sup></small>
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/conclusion-2.jpg")
						.article-with-img__content
							.article-text
								p Находясь за&nbsp;границей&nbsp;Вы можете позвонить в&nbsp;Citigold CitiPhone по&nbsp;местной связи, не&nbsp;платя за&nbsp;международный звонок в&nbsp;Россию.
						.article-with-img__footer
							#content-spoiler-4.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-4", href="#content-spoiler-item_5")
										.content-spoiler-handler__target
											span Как воспользоваться
								#content-spoiler-item_5.collapse
									.content-spoiler__content
										.article-text
											ul.list-style-dot
												li Для звонка из&nbsp;США, пожалуйста, наберите <span class="text-nowrap">1-800-2484-2633</span>, после 3&nbsp;гудков нажмите &laquo;7&raquo;
												li Для звонка из&nbsp;других стран, пожалуйста, наберите : код международного доступа-<span class="text-nowrap">800-2484-2633</span>, после 3&nbsp;гудков нажмите &laquo;7&raquo;
											p Пример: если звонок из&nbsp;Германии, наберите: 00&nbsp;(код международного доступа в&nbsp;Германии)-<span class="text-nowrap">800-2484-2633</span>, после 3&nbsp;гудков&nbsp;&mdash; &laquo;7&raquo;.
											p Код вашей страны пребывания вы&nbsp;можете узнать <a class="link" target="_blank" href="https://www.citibank.ru/russia/pdf/rus/International_Access_Codes.pdf">здесь</a>.<br />Также Вы&nbsp;всегда можете позвонить на&nbsp;российскую линию Citigold CitiPhone: Москва&nbsp;<span class="text-nowrap">+7&nbsp;(495)&nbsp;775-77-77</span>, Санкт-Петербург&nbsp;<span class="text-nowrap">+7&nbsp;(812)&nbsp;336-38-38</span>, другие города&nbsp;РФ&nbsp;<span class="text-nowrap">8&nbsp;(800)&nbsp;700-91-91</span>.
											p &nbsp;
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Оформить карту
			.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Консьерж
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/conclusion-3.jpg")
						.article-with-img__content
							.article-text
								p Услуга доступна круглосуточно, 7&nbsp;дней в&nbsp;неделю&nbsp;<small><sup>5, 7</sup></small>.
						.article-with-img__footer
							#content-spoiler-5.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-5", href="#content-spoiler-item_6")
										.content-spoiler-handler__target
											span Как воспользоваться
								#content-spoiler-item_6.collapse
									.content-spoiler__content
										.article-text
											p По&nbsp;Вашему запросу служба Консьерж поможет с&nbsp;бронированием гостиниц и&nbsp;поиском авиабилетов по&nbsp;всему миру, забронирует столик в&nbsp;ресторане, поможет с&nbsp;выбором подарка, найдет билеты самые интересные и&nbsp;значимые мероприятия, предоставит информацию о&nbsp;магазинах и&nbsp;объектах инфраструктуры и&nbsp;многое другое.
											p Чтобы связаться со&nbsp;специалистами &laquo;Консьерж&raquo; позвоните в&nbsp;службу Citigold CitiPhone.
											p &nbsp;
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Оформить карту
			#section-privileges-consultation.container
				.content.content-md
					.content-heading.content-heading-middle
						.h2.article-title.text-uppercase Юридическая консультация
					.article-with-img
						.article-with-img__media
							img(src="../content/travel/conclusion-4.jpg")
						.article-with-img__content
							.article-text
								p Клиенты Citigold могут получать консультации по&nbsp;юридическим аспектам от&nbsp;компаний-партнеров АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, ведущих поставщиков профессиональных услуг&nbsp;<small><sup>6, 7</sup></small>.
						.article-with-img__footer
							#content-spoiler-6.content-spoiler
								.content-spoiler__header
									a.content-spoiler-handler(data-toggle="collapse", data-parent="#content-spoiler-6", href="#content-spoiler-item_7")
										.content-spoiler-handler__target
											span Как воспользоваться
								#content-spoiler-item_7.collapse
									.content-spoiler__content
										.article-text
											p Обратитесь к&nbsp;Вашему персональному финансовому консультанту, чтобы организовать бесплатную консультацию у&nbsp;нашего партнера.
											p &nbsp;
								.content-spoiler__footer
									a.btn.btn--black.btn--md.btn--wide-md.btn--rounded(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm" data-event="issuecard") Оформить карту
			.container
				.disclamer
					p <sup>*</sup> Ситиголд Хоум Коннект.
					p Рассмотрение заявления на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold производится в&nbsp;предусмотренном Ситибанком порядке. Ознакомьтесь с&nbsp;условиями <a class="link" href="../content/pdf/privacy-gold_current.pdf" target="_blank">Договора</a> и&nbsp;<a class="link" href="../content/pdf/cg_tariffs_current.pdf" target="_blank">Тарифами</a>.
		//- #section-privileges
			.article-tab.tab
				.article-heading
					.container
						.article-tab__header
							.content-title-3 Бизнес-залы, доступные для посещения по&nbsp;Карте привилегированного клиента Citigold (Citigold Loyalty Card):
							.btn.btn--olive-light.btn--sm.btn--icon.btn--wide-md.js-print
								span Распечатать полный список
								i.icon-arrow-white
						.tab-cover.dropdown
							.custom-select.dropdown-toggle(data-toggle="dropdown")
								span.filter-option Шереметьево (Москва)
								span.caret
							.dropdown-menu
								ul.tab-nav.row.no-margin
									li.tab-nav__item.col-xs-12.col-sm-2.col-md-2.no-padding
										a.tab-nav-handler(href="#tab-1", data-text="Шереметьево (Москва)") Шереметьево<br /><small>Москва</small>
									li.tab-nav__item.col-xs-12.col-sm-2.col-md-2.no-padding
										a.tab-nav-handler(href="#tab-2", data-text="Домодедово (Москва)") Домодедово<br /><small>Москва</small>
									li.tab-nav__item.col-xs-12.col-sm-3.col-md-3.no-padding
										a.tab-nav-handler(href="#tab-3", data-text="Пулково (Санкт-Петербург)") Пулково<br /><small>Санкт-Петербург</small>
									li.tab-nav__item.col-xs-12.col-sm-3.col-md-3.no-padding
										a.tab-nav-handler(href="#tab-4", data-text="Ростов-на-Дону") Ростов-на-Дону
									li.tab-nav__item.col-xs-12.col-sm-2.col-md-2.no-padding
										a.tab-nav-handler(href="#tab-5", data-text="Екатеринбург") Екатеринбург
				.article-content
					.tab-content
						mixin table_row(_title, list)
							.table-address-wrap__row
								.row
									.col-xs-12.col-sm-4.col-md-4.table-address-wrap__item
										.b-table
											.b-table__cell-top
												.table-address__title !{_title}
									.col-xs-12.col-sm-8.col-md-8.table-address-wrap__item
										.b-table
											.b-table__cell-top
												.table-address__text
													each val in list
														p !{val.text}
						.tab-content__item.tab-pane.fade#tab-1
							//.frame.frame--md
								.frame-visual(style="background-image: url('../content/frame-bg/frame-tab-sm-1.jpg');")
							.container
								.content.content-md
									.table-address
										.table-address-heading
											.article-text Международный аэропорт Шереметьево, Москва, скоростная автомагистраль (М-10), 29-й&nbsp;км.
										.table-address-wrap
											-var list =[{"text": "Бизнес-зал &laquo;Галерея&raquo; расположен на&nbsp;3&nbsp;этаже, напротив выхода на&nbsp;посадку &#8470;&nbsp;32, зона после паспортного контроля."}, {"text": "Бизнес-зал &laquo;Классика&raquo; предназначен для пассажиров внутренних авиарейсов, расположен вне&nbsp;зоны паспортного контроля, на&nbsp;4-м этаже."}, {"text": "Бизнес-залы &laquo;Джаз&raquo; и&nbsp;&laquo;Блюз&raquo; для пассажиров международных рейсов расположены за&nbsp;линией паспортного контроля, также на&nbsp;4-м этаже."}, {"text": "Бизнес-зал &laquo;Матрешка&raquo; предназначен для пассажиров внутренних авиарейсов, расположен на&nbsp;3&nbsp;этаже напротив выхода на&nbsp;посадку &#8470;&nbsp;17"}]
											+table_row("Терминал D", list)
											-var list =[{"text": "Бизнес-зал &laquo;Галактика&raquo; расположен на&nbsp;3-м&nbsp;этаже, в&nbsp;стерильной зоне, напротив выхода &#8470;&nbsp;39. После прохождения регистрации, паспортного и&nbsp;таможенного контролей необходимо  подняться на&nbsp;этаж выше и двигаться по&nbsp;указателю &laquo;Бизнес-зал&raquo; налево."}, {"text": "Бизнес-зал &laquo;Космос&raquo; расположен на&nbsp;3-м&nbsp;этаже, в&nbsp;стерильной зоне, напротив выхода &#8470;&nbsp;39. После прохождения регистрации, паспортного и&nbsp;таможенного контролей необходимо подняться на&nbsp;этаж выше и двигаться по&nbsp;указателю &laquo;Бизнес-зал&raquo; налево."}]
											+table_row("Терминал Е", list)
											-var list =[{"text": "Бизнес-зал &laquo;Classic&raquo; расположен после зоны паспортного контроля, напротив выхода &#8470;&nbsp;42, на&nbsp;втором уровне."},  {"text": "Бизнес-зал &laquo;Звездный&raquo; расположен на&nbsp;3-м&nbsp;этаже Терминала&nbsp;F, на&nbsp;балконе напротив выхода &#8470;&nbsp;52."}, {"text": "Бизнес-зал &laquo;Янтарный&raquo; расположен на&nbsp;2&nbsp;этаже, напротив выхода на&nbsp;посадку &#8470;&nbsp;48, зона после паспортного контроля."}]
											+table_row("Терминал F", list)
						.tab-content__item.tab-pane.fade#tab-2
							//.frame.frame--md
								.frame-visual(style="background-image: url('../content/frame-bg/frame-tab-sm-2.jpg');")
							.container
								.content.content-md
									.table-address
										.table-address-heading
											.article-text Международный аэропорт Домодедово, Москва, Каширское шоссе, 22-й&nbsp;км.
										.table-address-wrap
											-var list =[{"text": "Бизнес-зал аэропорта расположен после зоны паспортного контроля, в&nbsp;конце галереи МВЛ, 2-м&nbsp;этаже (указатель &laquo;Бизнес-зал аэропорта&raquo;)."}, {"text": "Тел.: +7 (495) 967-83-63, доб. 262-41"}]
											+table_row("Международные воздушные линии (секторы А, В)", list)
											-var list =[{"text": "Бизнес-зал аэропорта расположен в&nbsp;конце галереи ВВЛ, 2-м&nbsp;этаже (указатель &laquo;Бизнес-зал аэропорта&raquo;)."}, {"text": "Тел.: +7 (495) 967-83-63, доб. 216-87 "}]
											+table_row("Внутренние воздушные линии (секторы С, D)", list)
						.tab-content__item.tab-pane.fade#tab-3
							//.frame.frame--md
								.frame-visual(style="background-image: url('../content/frame-bg/frame-tab-sm-3.jpg');")
							.container
								.content.content-md
									.table-address
										.table-address-heading
											.article-text Международный аэропорт Пулково, Санкт-Петербург, Пулковское шоссе, д. 41, лит. 3а.
										.table-address-wrap
											-var list =[{"text": "Салон бизнес-класса расположен в&nbsp;центральном терминале аэропорта, после паспортного контроля на&nbsp;1-м&nbsp;этаже."}, {"text": "Тел: +7 (812) 331-48-91"}]
											+table_row("Бизнес-салон для пассажиров внутренних рейсов", list)
											-var list =[{"text": "Салон бизнес-класса расположен в&nbsp;центральном терминале аэропорта, после паспортного контроля, на&nbsp;3-м&nbsp;этаже."}, {"text": "Тел: +7 (812) 331-48-91"}]
											+table_row("Зона комфортного ожидания для пассажиров внутренних рейсов", list)
											-var list =[{"text": "Салон бизнес-класса расположен в&nbsp;центральном терминале аэропорта, после паспортного контроля, на&nbsp;4-м&nbsp;этаже."}, {"text": "Тел: +7 (812) 331-47-86"}]
											+table_row("Бизнес-салон для&nbsp;пассажиров международных рейсов", list)
						.tab-content__item.tab-pane.fade#tab-4
							//.frame.frame--md
								.frame-visual(style="background-image: url('../content/frame-bg/frame-tab-sm-4.jpg');")
							.container
								.content.content-md
									.table-address
										.table-address-heading
											.article-text Аэропорт внутренних авиарейсов, Ростов-на-Дону, пр. Шолохова, д. 270/1.
										.table-address-wrap
											-var list =[{"text": "Тел.: +7 (863) 276-70-04"}]
											+table_row("Бизнес-салон аэропорта", list)
						.tab-content__item.tab-pane.fade#tab-5
							//.frame.frame--md
								.frame-visual(style="background-image: url('../content/frame-bg/frame-tab-sm-5.jpg');")
							.container
								.content.content-md
									.table-address
										.table-address-heading
											.article-text Аэропорт Кольцово, Екатеринбург, ул. Спутников, д. 6.
										.table-address-wrap
											-var list =[{"text": "Здание аэровокзала, 2-й этаж."}]
											+table_row("Зал повышенной комфортности", list)
		//- .article-content.no-print
			.section-cards-2
				.container
					.content.content-md
						.card-list.card-list--inline.js-fixed-height
							.row
								.col-xs-12.col-sm-6.col-md-8
									.b-table.box
										.b-table__cell-middle.box-content
											.card-list-body
												.content-title-4.color-2 Priority Pass
												ul.list-style-dot
													li Предоставляет доступ в&nbsp;бизнес-залы аэропортов<sup class="color-2">2</sup> более чем в&nbsp;500 городах мира (с&nbsp;полным списком бизнес-залов, доступных для посещения по&nbsp;карте Priority Pass, Вы&nbsp;можете ознакомиться на&nbsp;сайте <span class="link js-link-target" data-target="http://www.prioritypass.com">www.prioritypass.com</span>).
													li Доступ в&nbsp;бизнес-залы предоставляется Вам и&nbsp;двум Вашим гостям совершенно бесплатно при условии поддержания минимального баланса, предусмотренного Тарифами на&nbsp;обслуживание АО&nbsp;КБ&nbsp;&quot;Ситибанк&quot;&nbsp;<sup class="color-2">2</sup>.
													li Выпускается сроком на&nbsp;3&nbsp;года.
													li Карты Priority Pass не&nbsp;выпускаются с&nbsp;1&nbsp;апреля 2018&nbsp;года.
								.col-xs-12.col-sm-6.col-md-4
									.b-table.box
										.b-table__cell-middle.box-content
											.card-mode.card-mode--sm
												.card-mode-content
													.card-img-priority
														img.card-mode-img(src="../content/card/card_priority_pass.png")
											//- .thumbnail.card-list__media
											//- 	img(src="../content/travel/card-pp.png", alt="")
				//- mixin list-inline-block-item(_src, _title, _class)
				//- 	.row.list-inline-block-item(class=_class)
				//- 		.col-xs-12.col-sm-12.col-md-6.list-inline-block__img(style="background-image: url('"+ _src +"')")
				//- 		.col-xs-12.col-sm-12.col-md-6.list-inline-block__content
				//- 			.b-table
				//- 				.b-table__cell-middle
				//- 					.list-inline-block-inner
				//- 						p.list-inline-block-inner__title !{_title}

				//- .container
				//- 	.content-heading
				//- 		.h2.article-title.text-uppercase Страховой полис
				//- 		p.article-subtitle На&nbsp;время зарубежных поездок для Вас, Ваших детей и&nbsp;держателей дополнительных карт<small><sup class="color-2">3</sup></small>
				//- 		p.article-text Ситибанк предоставит Вам годовой полис на&nbsp;время зарубежных поездок с&nbsp;общим лимитом страховой суммы 500&nbsp;000&nbsp;USD, полис предоставляет защиту в&nbsp;течение первых 60&nbsp;дней в&nbsp;каждой поездке, количество поездок в&nbsp;году не&nbsp;ограничено.
				//- 		.list-inline-block.list-inline-block--overlay
				//- 			+list-inline-block-item("../content/travel/img-1.jpg", "В&nbsp;страховое покрытие включены активные виды отдыха, такие как горные лыжи, сноуборд, яхтинг, конные прогулки и&nbsp;многое другое.", "")
				//- 			+list-inline-block-item("../content/travel/img-2.jpg", "Привилегия доступна клиентам в&nbsp;возрасте до&nbsp;84&nbsp;лет включительно.", "list-inline-block-item--right")
				//- 		.disclamer
				//- 			.article-text Для получения страхового полиса, пожалуйста, обратитесь в&nbsp;любое <a class="link" href="https://www.citibank.ru/russia/branches/rus/branches.htm">отделение Ситибанка</a>.
		.rules.no-print
			.rules__container
				.container.article-page
					.article-header
						.h2.article-title Юридическая информация
					.article-content
						.rules__scroll.scrollbar
							ul.list-increment
								li.list-increment__item
									p Все привилегии Citigold, за&nbsp;исключением привилегии &laquo;Электронная библиотека&raquo;, &laquo;Boingo Wi-Fi&raquo; и&nbsp;&laquo;Юридическая консультация&raquo;, доступны только при условии поддержания Среднемесячного баланса от&nbsp;4&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold до&nbsp;1&nbsp;января 2018&nbsp;года) или от&nbsp;6&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold.
								li.list-increment__item
									p Десять проходов в&nbsp;бизнес-залы аэропортов для Клиентов Citigold и&nbsp;неограниченное количество проходов для Клиентов Citigold Private Client в&nbsp;течение календарного месяца. Полный список городов, адреса и&nbsp;месторасположение бизнес-залов смотрите на&nbsp;сайте <span class="link js-link-target" data-target="http://airport.mastercard.com">airport.mastercard.com</span> или в&nbsp;мобильном приложении Mastercard Airport Experiences.
									ul.list-default
										li Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;рублях, эквивалентной 30&nbsp;долларам США, в&nbsp;адрес получателя средств: Mastercard Europe&nbsp;SA (198A, Chaussee de&nbsp;Tervuren, 1410&nbsp;Waterloo, Belgium), в&nbsp;случае, если Клиент воспользовался привилегией &laquo;Бесплатный проход в&nbsp;бизнес-залы аэропортов &raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии.
								li.list-increment__item
									p Программа страхования является предложением АО&nbsp;СК&nbsp;&laquo;Альянс&raquo; (лицензия Банка России: СЛ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г.&nbsp;и&nbsp;СИ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г). Застрахованными лицами являются Клиенты до&nbsp;84&nbsp;лет, дети Клиента до&nbsp;достижения 18-ти летнего возраста или до&nbsp;достижения 23-х летнего возраста в&nbsp;период обучения в&nbsp;вузе на&nbsp;дневной форме, а&nbsp;также законный(ая) супруг(а) Клиента Citigold Private Client. Полный список страховых случаев и&nbsp;покрытий, а&nbsp;также список исключений и&nbsp;условия использования программы указаны в&nbsp;Памятках страхования на&nbsp;время путешествий держателей дебетовых карт Citigold и&nbsp;Citigold Private Client, расположенных на&nbsp;сайте <a href="https://www.citigold.ru" class="link">www.citigold.ru</a>.
								li.list-increment__item
									p Два трансфера в&nbsp;год&nbsp;в (из) аэропорты в&nbsp;городах присутствия Wheely. Под трансфером понимается поездка&nbsp;в (из) аэропорт&nbsp;из (в) города без заезда по&nbsp;третьим адресам. 
									p Услуга предоставляется клиентам Citigold и&nbsp;держателям дополнительных карт к&nbsp;их&nbsp;счетам. Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;размере не&nbsp;более стоимости поездки, установленной в&nbsp;официально опубликованных тарифах Wheely, в&nbsp;случае, если клиент воспользовался привилегией &laquo;Трансфер из/в аэропорт&raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии. Услуга доступна в&nbsp;Москве, Санкт&nbsp;&mdash; Петербурге, Екатеринбурге, Перми, Казани, Краснодаре, Сочи, а&nbsp;также в&nbsp;Лондоне (Великобритания).
								li.list-increment__item
									p Привилегия &laquo;Консьерж&raquo; предоставляется поставщиком услуг по&nbsp;его усмотрению и&nbsp;в&nbsp;предусмотренном им&nbsp;порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этой компании, в&nbsp;частности касающимся предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
								li.list-increment__item
									p Привилегия &laquo;Юридическая консультация&raquo; предоставляется только при условии поддержания Среднемесячного баланса от&nbsp;20&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах в&nbsp;календарном месяце, предшествующем месяцу использования привилегии. Услуги предоставляются поставщиком услуг по&nbsp;его усмотрению и&nbsp;в&nbsp;предусмотренном им&nbsp;порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc. и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этой компании, в&nbsp;частности касающимся предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
								li.list-increment__item
									p Услуги предоставляются поставщиками услуг по&nbsp;их&nbsp;усмотрению и&nbsp;в&nbsp;предусмотренном ими порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
