extends ./includes/head.jade
block description
	meta(name='description', content='Интересное специальное предложение от Citigold -  приведи друга и получи банковское вознаграждение.')
block title
	title Комплименты для вас!
block analitics
	-var connonical_page = 'specials'

extends ./includes/layout-content.jade

block link
	-var page="rewards";
	-var activePage = "special"

block scripts
	script(type="text/javascript", src="../f/js/vendor/jquery.cookie.min.js")
	script(type="text/javascript", src="../f/js/remuneration.js")
	script(type="text/javascript", src="../f/js/selection.js")


block popup-success
	#popup-success.modal.fade.collapse
		.modal-dialog.modal-dialog--lg
			.modal-content
				.modal-content-header
					.close
					.modal-content-header__inner
				.modal-content-body
					.modal-content-body__header
						h2.modal-content__title Спасибо за&nbsp;Ваш выбор
						p.modal-content__subtitle Вы&nbsp;сможете воспользоваться комплиментом в&nbsp;ближайшее время!
				.modal-footer

block content
	mixin download_item_sm(_url, _src, _title, _text, _size, _class)
		a.download-item(href=_url, target="_blank", class=_class)
			.b-table
				.b-table__row
					.b-table__cell.download-item__content
						.download-item__text
							p !{_title}
							if(_text != "")
								p !{_text}
					.b-table__cell.download-item__hover
						.download-item-target
							.download-item-target__link
								span Скачать PDF (#{_size} Мб)
								i.icon--download
					.b-table__cell.download-item__bg(style="background-image: url('" + _src + "');")
	include ./includes/frame-content
	
	.section-bggray
		.content.content-md
			.article-content
				.content-heading
					.container
						p.content-text-5 Пожалуйста, выберите Ваш комплимент. Для этого просто нажмите кнопку &laquo;Выбрать&raquo;.
						p.content-text-5 Если Вы&nbsp;выбираете комплименты от&nbsp;наших партнеров&nbsp;&mdash; отеля Ritz-Carlton Москва, ателье индивидуального пошива Icon Suit или билеты на&nbsp;мероприятие, то&nbsp;мы&nbsp;пришлем Вам сертификат, который&nbsp;Вы сможете использовать в&nbsp;любое удобное время.
						p.content-text-5 Денежное вознаграждение<sup>2</sup> будет перечислено на&nbsp;Ваш текущий рублевый счет в&nbsp;Ситибанке в&nbsp;течение 5&nbsp;рабочих дней.
	
	// ----------------------------------------------------------------------- lev 1
	#lev1.block_sel
		.offers
			.offers-item.offers-item--left.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/1lev.jpg")
						.col-xs-12.col-sm-12.col-md-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-building
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-ritz.jpg")
												.offers-text__content
													.offers-title.content-title-3 &laquo;Царская чайная церемония&raquo; на&nbsp;двоих в&nbsp;Lobby Lounge and Bar
													.article-text
														p Уникальная возможность скрыться от&nbsp;суеты в&nbsp;самом сердце Москвы.
												.offers-text__footer
													span(data-target="http://www.ritzcarlton.com/Moscow").link.js-link-target www.ritzcarlton.com/Moscow
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id1')") Выбрать

			.offers-item.offers-item--right.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/2lev.jpg")
						.col-xs-12.col-sm-12.col-md-6.col-md-offset-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-costume
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-icon.jpg")
												.offers-text__content
													.offers-title.content-title-3 Индивидуальный пошив сорочки в&nbsp;ателье Icon Suits
													.article-text
														p Вручную. По&nbsp;меркам. Из&nbsp;элитных тканей.
												.offers-text__footer
													span(data-target="http://www.iconsuit.com").link.js-link-target www.iconsuit.com
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id2')") Выбрать

			.offers-item.offers-item--left.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/3lev.jpg")
						.col-xs-12.col-sm-12.col-md-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-theater-tickets
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-aspire.jpg")
												.offers-text__content
													.offers-title.content-title-3 Билеты в&nbsp;театр, на&nbsp;концерт или спортивное мероприятие на&nbsp;сумму в&nbsp;рамках номинала сертификата
													.article-text
														p Мы&nbsp;подберем для Вас лучшие места и&nbsp;поможем выбрать событие, которое будет Вам интересно и&nbsp;идеально впишется в&nbsp;Ваш плотный график.
												.offers-text__footer
													span(data-target="http://www.aspirelifestyles.com").link.js-link-target www.aspirelifestyles.com
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id3')") Выбрать

			.offers-item.offers-item--right.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/4lev.jpg")
						.col-xs-12.col-sm-12.col-md-6.col-md-offset-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-money
												.offers-text__content
													.offers-title.content-title-3 Денежное вознаграждение 7&nbsp;700 рублей<sup>2</sup>
													.article-text
														p Оно будет перечислено на&nbsp;Ваш счет за&nbsp;вычетом налога на&nbsp;доходы физических лиц.
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id4')") Выбрать
	// -------------------------------------------------------------------------  lev 2
	#lev2.block_sel
		.offers
			.offers-item.offers-item--left.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/5lev.jpg")
						.col-xs-12.col-sm-12.col-md-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-building
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-ritz.jpg")
												.offers-text__content
													.offers-title.content-title-3 Номер категории Superior (на&nbsp;двоих, на&nbsp;одну ночь, включая завтраки)
													.article-text
														p Уникальная возможность скрыться от&nbsp;суеты в&nbsp;самом сердце Москвы.
												.offers-text__footer
													span(data-target="http://www.ritzcarlton.com/Moscow").link.js-link-target www.ritzcarlton.com/Moscow
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id9')") Выбрать

			.offers-item.offers-item--right.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/6lev.jpg")
						.col-xs-12.col-sm-12.col-md-6.col-md-offset-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-building
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-ritz.jpg")
												.offers-text__content
													.offers-title.content-title-3 SPA процедура на&nbsp;ваш выбор в&nbsp;The Ritz-Carlton Spa
													.article-text
														p Уникальная возможность скрыться от&nbsp;суеты в&nbsp;самом сердце Москвы.
												.offers-text__footer
													span(data-target="http://www.ritzcarlton.com/Moscow").link.js-link-target www.ritzcarlton.com/Moscow
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id10')") Выбрать

			.offers-item.offers-item--left.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/3lev.jpg")
						.col-xs-12.col-sm-12.col-md-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-theater-tickets
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-aspire.jpg")
												.offers-text__content
													.offers-title.content-title-3 Билеты в&nbsp;театр, на&nbsp;концерт или спортивное мероприятие на&nbsp;сумму в&nbsp;рамках номинала сертификата
													.article-text
														p Мы&nbsp;подберем для Вас лучшие места и&nbsp;поможем выбрать событие, которое будет интересно и&nbsp;идеально впишется в&nbsp;Ваш плотный график.
												.offers-text__footer
													span(data-target="http://www.aspirelifestyles.com").link.js-link-target www.aspirelifestyles.com
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id3')") Выбрать

			.offers-item.offers-item--right.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/4lev.jpg")
						.col-xs-12.col-sm-12.col-md-6.col-md-offset-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-money
												.offers-text__content
													.offers-title.content-title-3 Денежное вознаграждение 15&nbsp;000 рублей<sup>2</sup>
													.article-text
														p Оно будет перечислено на&nbsp;Ваш счет за&nbsp;вычетом налога на&nbsp;доходы физических лиц.
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id5')") Выбрать

	// -------------------------------------------------------------------------  lev 3
	#lev3.block_sel
		.offers
			.offers-item.offers-item--left.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/5lev.jpg")
						.col-xs-12.col-sm-12.col-md-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-building
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-ritz.jpg")
												.offers-text__content
													.offers-title.content-title-3 Номер категории &laquo;Представительский люкс&raquo; (на&nbsp;двоих, на&nbsp;одну ночь, включая завтраки)
													.article-text
														p Уникальная возможность скрыться от&nbsp;суеты в&nbsp;самом сердце Москвы.
												.offers-text__footer
													span(data-target="http://www.ritzcarlton.com/Moscow").link.js-link-target www.ritzcarlton.com/Moscow
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id11')") Выбрать

			.offers-item.offers-item--right.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/3lev.jpg")
						.col-xs-12.col-sm-12.col-md-6.col-md-offset-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-theater-tickets
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-aspire.jpg")
												.offers-text__content
													.offers-title.content-title-3 Билеты в&nbsp;театр, на&nbsp;концерт или спортивное мероприятие на&nbsp;сумму в&nbsp;рамках номинала сертификата
													.article-text
														p Мы&nbsp;подберем для Вас лучшие места и&nbsp;поможем выбрать событие, которое будет интересно и&nbsp;идеально впишется в&nbsp;Ваш плотный график.
												.offers-text__footer
													span(data-target="http://www.aspirelifestyles.com").link.js-link-target www.aspirelifestyles.com
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id3')") Выбрать

			.offers-item.offers-item--left.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/4lev.jpg")
						.col-xs-12.col-sm-12.col-md-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-money
												.offers-text__content
													.offers-title.content-title-3 Денежное вознаграждение 25&nbsp;000 рублей<sup>2</sup>
													.article-text
														p Оно будет перечислено на&nbsp;Ваш счет за&nbsp;вычетом налога на&nbsp;доходы физических лиц.
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id6')") Выбрать
	// -------------------------------------------------------------------------  lev 4
	#lev4.block_sel
		.offers
			.offers-item.offers-item--right.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/8lev.jpg")
						.col-xs-12.col-sm-12.col-md-6.col-md-offset-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-building
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-ritz.jpg")
												.offers-text__content
													.offers-title.content-title-3 Уикенд: номер категории &laquo;Представительский люкс&raquo; (на&nbsp;двоих, на&nbsp;две ночи, включая завтрак)
													.article-text
														p Уникальная возможность скрыться от&nbsp;суеты в&nbsp;самом сердце Москвы.
												.offers-text__footer
													span(data-target="http://www.ritzcarlton.com/Moscow").link.js-link-target www.ritzcarlton.com/Moscow
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id8')") Выбрать

			.offers-item.offers-item--left.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/9lev.jpg")
						.col-xs-12.col-sm-12.col-md-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-costume
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-ritz.jpg")
												.offers-text__content
													.offers-title.content-title-3 Индивидуальный пошив костюма в&nbsp;ателье Icon Suits
													.article-text
														p Вручную. По&nbsp;меркам. Из&nbsp;элитных тканей.
												.offers-text__footer
													span(data-target="http://www.iconsuit.com").link.js-link-target www.iconsuit.com
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id12')") Выбрать

			.offers-item.offers-item--right.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/3lev.jpg")
						.col-xs-12.col-sm-12.col-md-6.col-md-offset-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-theater-tickets
												.offers-text__heading
													.offers-text__logo
														img(src="../content/special/logo-aspire.jpg")
												.offers-text__content
													.offers-title.content-title-3 Билеты в&nbsp;театр, на&nbsp;концерт или спортивное мероприятие на&nbsp;сумму в&nbsp;рамках номинала сертификата
													.article-text
														p Мы&nbsp;подберем для Вас лучшие места и&nbsp;поможем выбрать событие, которое будет интересно и&nbsp;идеально впишется в&nbsp;Ваш плотный график.
												.offers-text__footer
													span(data-target="http://www.aspirelifestyles.com").link.js-link-target www.aspirelifestyles.com
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id3')") Выбрать

			.offers-item.offers-item--left.offers-item--inline-sm
				.container
					.row
						.offers-media
							img(src="../content/special/4lev.jpg")
						.col-xs-12.col-sm-12.col-md-6
							.content.content-md
								.offers-text
									.b-table
										.b-table__cell-middle
											.offers-text__container
												.offers-text__icon
													span.svg-icon-money
												.offers-text__content
													.offers-title.content-title-3 Денежное вознаграждение 50&nbsp;000 рублей<sup>2</sup>
													.article-text
														p Оно будет перечислено на&nbsp;Ваш счет за&nbsp;вычетом налога на&nbsp;доходы физических лиц.
												.button-selection-block
													button.btn.btn--olive.btn--md(onclick="select('id7')") Выбрать
	
	.content.content-md
		.content-heading
			.container
				.download.no-margin
					.row
						.col-xs-12.col-sm-12.col-md-12.col-lg-12
							+download_item_sm("../content/pdf/usloviya-akcii.pdf", "../content/downloads-media/img-1-lg.jpg", "Вы&nbsp;можете ознакомиться с&nbsp;полными условиями акции", "", "0,21", "download-item--lg")
	.container
		.content.content-md
			.disclamer
				ul.list-increment
					li.list-increment__item
						p Организатор акции&nbsp;&mdash; АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
						p Акция проводится с&nbsp;1&nbsp;декабря 2016 года по&nbsp;31&nbsp;мая 2018&nbsp;года. Информация об&nbsp;организаторе и&nbsp;условиях акции, количестве призов, сроках, месте и&nbsp;порядке их&nbsp;получения размещена на&nbsp;<a href="http://www.citigold.ru">www.citigold.ru</a>.
					li.list-increment__item
						p До&nbsp;вычета налога на&nbsp;доходы физических лиц.
				p Рассмотрение заявления на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold производится в&nbsp;предусмотренном Ситибанком порядке. Ознакомьтесь с&nbsp;условиями <a class="link" href="https://www.citibank.ru/russia/citigold/pdf/privacy-gold_current.pdf" target="_blank">Договора</a> и&nbsp;<a class="link" href="https://www.citibank.ru/russia/citigold/pdf/cg_tariffs_current.pdf" target="_blank">Тарифами</a>.
