extends ./includes/head.jade
block description
	meta(name='description', content='Воспользуйтесь эксклюзивным банковским сервисом Citigold: частное банковское обслуживание vip клиентов, персональный менеджер, привилегии для путешествия, премиальные карты и другое.')
block title
	title Эксклюзивный банковский сервис. Премиум-банк | Citigold
block analitics
	-var connonical_page = 'servis-i-privilegii';

extends ./includes/layout-content.jade
block link
	//- -var page="advantage";
	-var page="bank-service";
	//- -var activePage = "advantage"
	-var activePage = "bank-service"
block scripts
	script(type="text/javascript" src="../f/js/promo-animate.js")
	script.
		$(document).on('click', 'a[data-event="getconsult"]', function(e) {
			e.preventDefault()
			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=costep_0&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);
			window.location.href = $(e.currentTarget).prop('href');
		});

		$(document).on('click', 'a[data-event="priveleges"]', function(e) {
			e.preventDefault()
			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=privilege&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);
			window.location.href = $(e.currentTarget).prop('href');
		});

		$(window).load(function() {
			function findInUrlParam() {
				var result = undefined
						tmp = [];
				
				window.location.href.split("?").forEach(function (item, index) {
					tmp[index] = item;
					result = tmp[1];
				});
				return result;
			}
			var url = undefined,
				tmp = [];
			
			if(window.location.href.split("?").length > 1){
				url = findInUrlParam();

				url.split("&").forEach(function(item) {
					tmp = item.split("=");
					if (tmp[0] == 'utm_source') {
						$("#utm_source").val(tmp[1]);
						$("#utm_source_1").val(tmp[1]);
					}
					if(tmp[0] == 'utm_term') {
						$("#utm_term").val(tmp[1]);
						$("#utm_term_1").val(tmp[1]);
					}
					if(tmp[0] == 'icid'){
						$("#icid").val(tmp[1]);
						$("#icid_1").val(tmp[1]);
					}
				});
			}
		});

block content
	mixin thumbsVertical(data)
		each value in data
			.b-table
				.b-table__cell-top
					.thumbnail.box
						.thumbnail__media.box-img
							span(class="svg-icon-" + value.icon)
						.thumbnail__info.box-content
							if(value.title)
								.thumbnail-title!= value.title
							if(value.text)
								.thumbnail-text!= value.text
							if(value.description)
								.thumbnail-description!= value.description

	.article-page
		.article-header
			include ./includes/frame-content
		.article-content
			.container
				.content.content-md
					.panel-benefits
						.panel-benefits__heading
							.panel-benefits__title
								span Citigold
								|  Эксклюзивный банковский сервис
						.panel-benefits__row
							.panel-benefits__item
								.panel-benefits__media
									span.svg-icon-dialog-people-md
								.panel-benefits__leadtext Персональный менеджер
							.panel-benefits__item
								.panel-benefits__media
									span.svg-icon-earth
								.panel-benefits__leadtext Глобальные банковские привилегии
							//- .panel-benefits__item
							//- 	.panel-benefits__media
							//- 		span.svg-icon-bag
							//- 	.panel-benefits__leadtext Индивидуальные решения по&nbsp;управлению капиталом
							.panel-benefits__item
								.panel-benefits__media
									span.svg-icon-plane
								.panel-benefits__leadtext Привилегии для путешествий&nbsp;<sup>1</sup>
							.panel-benefits__item
								.panel-benefits__media
									span.svg-icon-tickets
								.panel-benefits__leadtext Образовательные мероприятия и&nbsp;инвестиционные семинары
			.frame.frame--overlay.frame--lg(style="background-color: #eeeeee")
				.frame-visual(style="background-image: url('../content/frame-bg/frame-contacts.jpg');")
				.frame-content
					.b-table
						.b-table__cell-middle
							.container
								.row
									.col-xs-12.col-sm-8.col-md-8.col-sm-offset-4.col-md-offset-4.no-padding
										.frame-caption.frame-caption--form
											.frame-caption__inner
												form#cglead.form-horizontal.form-horizontal--overlay(autocomplete="off", name="cglead-1", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
													.form__title Оставьте Ваши контакты, и наш специалист проконсультирует Вас по всем вопросам
													.form-group
														.col-xs-12.col-sm-12.col-md-12
															.form-relative-label.form-relative-label--nolast
																input#name.form-control.js-requere(type="text", name="name", maxlength="100", tabindex="1", value="", required="")
																label Ваше имя
													.form-group
														.col-xs-12.col-sm-12.col-md-12
															.form-relative-label
																input#phonenum.form-control.js-requere(type="text", name="phonenum11", maxlength="20", tabindex="2", value="", required="")
																label Номер телефона
													.form-group
														.col-xs-12.col-sm-12.col-md-12
															select#city.form-control.select-box.js-requere(name="city", tabindex="3")
																option(value='') Выберите город
																option(value="Москва") Москва
																option(value="Санкт-Петербург") Санкт-Петербург
																option(value="Волгоград") Волгоград
																option(value="Екатеринбург") Екатеринбург
																option(value="Нижний Новгород") Нижний Новгород
																option(value="Ростов-на-Дону") Ростов-на-Дону
																option(value="Самара") Самара
																option(value="Уфа") Уфа
													.modal-text
														.checkbox.checkbox--dark
															input#client.js-requere(type="checkbox", value="не клиент", name="client", tabindex="4")
															label(for="client") Являюсь клиентом Ситибанка
													.text-center
														button#submit.btn.btn--lg.btn--gray.btn--rounded(type="button", tabindex="5") Отправить
														input#sourcecode(type="hidden", name="sourcecode", value="EMPTY***")
														input#PageName.success(type="hidden", value="citi_gold")
														input#IEWAcategory(name="IEWAcategory", type="hidden", value="CitiGold Lead Form")
														input#utm_source(name="utm_source", type="hidden" value="")
														input#utm_term(name="utm_term", type="hidden" value="")
														input#icid(name="icid", type="hidden" value="")
														p.no-margin Нажимая &laquo;Отправить заявку&raquo;, я&nbsp;соглашаюсь на&nbsp;обработку <br>моих персональных данных АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
			.container
				.content.content-md
					.benefits-sentence
						.benefits-sentence__row
							.benefits-sentence__col-media
								img.benefits-sentence__media.benefits-sentence__media--lg(src="../content/privilege/frg-logo.png")
								img.benefits-sentence__media.benefits-sentence__media--sm(src="../content/privilege/frg-logo-sm.png")
							.benefits-sentence__col-text
								.benefits-sentence__leadtext Лучшее инвестиционное предложение по&nbsp;версии <span class="text-nowrap">Frank Research Group</span><sup>2</sup>
								ul.benefits-sentence__list
									li.benefits-sentence__list-item Построение долгосрочной стратегии инвестирования, соответствующей Вашим ожиданиям
									li.benefits-sentence__list-item Инвестиции в&nbsp;России и&nbsp;за&nbsp;рубежом<sup>3,4</sup>
									li.benefits-sentence__list-item Профессиональные консультации в&nbsp;области инвестиций и&nbsp;страховых продуктов
			.container
				.content.content-md
					.content-heading.padding-bottom-0
						.h2.article-title.text-uppercase.text-center Ваши персональные привилегии
						.list-inline-block.list-inline-block--overlay-md
							mixin list-inline-block-item(_src, _title, _list, _class)
								.row.list-inline-block-item(class=_class)
									.col-xs-12.col-sm-12.col-md-6.list-inline-block__img(style="background-image: url('"+ _src +"')")
									.col-xs-12.col-sm-12.col-md-6.list-inline-block__content
										.b-table
											.b-table__cell-middle
												.list-inline-block-inner
													.h3.color-2 !{_title}
													if(_list)
														ul.list-style-check.list-style-check--color
															each val in _list
																li
																	.list-style-check__inner !{val.text}
							-var _list = [{"text": "Квалифицированный персональный финансовый консультант (персональный менеджер)"}, {"text": "Ассистент по сервисным вопросам"}, {"text": "Менеджеры по инвестиционным продуктам и специалисты брокерской линии"}, {"text": "Выделенная круглосуточная линия Citigold CitiPhone"}]
							+list-inline-block-item("../content/privilege/advantages-img-1.jpg", "Финансовое консультирование - индивидуальный подход", _list, "list-inline-block-item--right")
							-var _list = [{"text": "Открытие счетов за рубежом через глобальный банк"}, {"text": "Текущие счета в 10 валютах"}, {"text": "Привилегированный курс обмена валют"}, {"text": "Глобальное признание статуса клиента Citigold"}]
							+list-inline-block-item("../content/privilege/advantages-img-2.jpg", "Глобальные банковские привилегии", _list,  "")
							//- -var _list = [{"text": "Бесплатные банковский переводы в рублях"},{"text": "Специальные условия по вкладам<sup>5</sup>"},{"text": "Широкий выбор инвестиционных инструментов в России и за рубежом"},{"text": "Депозитарная ячейка<sup>3</sup>"}]
							//- +list-inline-block-item("../content/privilege/advantages-img-3.jpg", "Индивидуальные решения по управлению капиталом", _list, "list-inline-block-item--right")
							-var _list = [{"text": "Бесплатное снятие наличных в&nbsp;банкоматах в&nbsp;любой точке мира<sup>6</sup>"},{"text": "Страховой полис на&nbsp;время зарубежных поездок для Вас, Ваших детей и держателей дополнительных карт<sup>7</sup>"},{"text": "Трансфер (VIP-такси) в&nbsp;аэропорт<sup>8</sup>"},{"text": "Lounge Key&nbsp;&mdash; программа доступа в&nbsp;бизнес-залы<br>500 аэропортов по&nbsp;всему миру<sup>9</sup>"},{"text": "Безлимитный Wi-Fi по&nbsp;всему миру<sup>10</sup>"},{"text": "Услуга Emergency Cash<sup>11</sup>"}]
							+list-inline-block-item("../content/privilege/advantages-img-4.jpg", "Привилегии для путешествий", _list, "list-inline-block-item--right")
							-var _list = [{"text": "Семинары, бизнес-завтраки и&nbsp;другие мероприятия с&nbsp;экспертами Ситибанка"},{"text": "Еженедельные, квартальные, тематические инвистиционные обзоры"},{"text": "Доступ к&nbsp;электронной библиотеке газет и&nbsp;журналов (обновляются ежедневно)<sup>1</sup>"}]
							+list-inline-block-item("../content/privilege/advantages-img-5.jpg", "Инвестиционная аналитика", _list, "")
						.panel-with-icons
							.panel-with-icons__row
								.panel-with-icons__col
									.panel-with-icons__item
										.panel-with-icons__media
											span.svg-icon-headset
										.panel-with-icons__leadtext.color-0 Юридические и налоговые консультации<sup>12</sup>
								.panel-with-icons__col
									.panel-with-icons__item
										.panel-with-icons__media
											span.svg-icon-bell
										.panel-with-icons__leadtext.color-0 Услуга «Консьерж»<sup>13</sup>
								.panel-with-icons__col
									.panel-with-icons__item
										.panel-with-icons__media
											span.svg-icon-pay-card-1
										.panel-with-icons__leadtext.color-0 Привилегии премиальных карт Mastercard
						.btn-panel.text-center
							a.btn.btn--md.btn--black.btn--rounded(href="privileges.htm" data-event="priveleges") Узнать больше о&nbsp;привилегиях
		.section-cards.article-page
			.container
				.content.content-md
					.article-heading.border-top
						.h2.article-title.text-uppercase.color-2.text-center Карты
			.container
				.content.content-md
					.card-mode
						.card-mode-heading
						.card-mode-content
							.card-img-4
								img.card-mode-img(src="../content/card/card_citi.png")
								.card-mode-text.card-mode-text--descr
									a.link-title.card-mode-text__title(href="https://www.citibank.ru/russia/citigold/rus/citigold.htm") Citigold
									.article-text.color-1 Премиальная дебетовая карта Citigold
							.card-img-3
								img.card-mode-img(src="../content/card/card_citi_ultima.png")
								.card-mode-text.card-mode-text--descr
									a.link-title.card-mode-text__title(href="https://www.citibank.ru/russia/cards/rus/ultima_main.htm") Citi Ultima
									.article-text.color-1 Элитная кредитная карта Citi Ultima<small><sup>14</sup></small>.
		.conclusion-item.conclusion-item--right-full
			.container
				.row
					.conclusion-media
						img(src="../content/travel/conclusion-6.jpg")
					.col-xs-12.col-sm-6.col-md-6.col-sm-offset-6.col-md-offset-6
						.content.content-md
							.conclusion-text
								.b-table
									.b-table__cell-middle
										.conclusion-text__heading
											.awards
												.awards__title
													span АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;
													|  стабильно в&nbsp;топе рейтинга надежности банков России
												.awards__list
													.awards__list-item
														.awards__list-media
															img.awards__list-img(src="../f/i/logo-frank.png" alt="")
														.awards__list-title Лучшее инвестиционное предложение <br/>по&nbsp;версии Frank Research Group
														.awards__list-leadtext (декабрь, 2018).
													.awards__list-item
														.awards__list-media
															img.awards__list-img(src="../f/i/logo-forbes.png" alt="")
														.awards__list-title Один из&nbsp;самых надежных банков <br/>в&nbsp;России по&nbsp;версии Forbes
														.awards__list-leadtext (апрель, 2018)
			.container
				.content.content-md
					.panel-form
						form#cglead_1.form-horizontal.form-horizontal--overlay(autocomplete="off", name="cglead_1", enctype="multipart/form-data", action="https://www.citibank.com/securemail/last.sm?path=/russia/appforms/citigold_lead/registration/russian/")
							.form__title Оставьте Ваши контакты, и наш специалист проконсультирует Вас по всем вопросам
							.row
								.col-xs-12.col-sm-4.col-md-4
									.form-group
										.col-xs-12.col-sm-12.col-md-12
											.form-relative-label.form-relative-label--nolast
												input#name_1.form-control.js-requere(type="text", name="name_1", maxlength="100", tabindex="1", value="", required="")
												label Ваше имя
								.col-xs-12.col-sm-4.col-md-4
									.form-group
										.col-xs-12.col-sm-12.col-md-12
											.form-relative-label.form-relative-label--nolast
												input#phonenum_1.form-control.js-requere(type="text", name="phonenum11_1", maxlength="20", tabindex="2", value="", required="")
												label Номер телефона
								.col-xs-12.col-sm-4.col-md-4
									.form-group
										.col-xs-12.col-sm-12.col-md-12
											.form-relative-label
												select#city_1.form-control.select-box.js-requere(name="city_1", tabindex="3")
													option(value='') Выберите город
													option(value="Москва") Москва
													option(value="Санкт-Петербург") Санкт-Петербург
													option(value="Волгоград") Волгоград
													option(value="Екатеринбург") Екатеринбург
													option(value="Нижний Новгород") Нижний Новгород
													option(value="Ростов-на-Дону") Ростов-на-Дону
													option(value="Самара") Самара
													option(value="Уфа") Уфа
								.col-xs-12.col-sm-12.col-md-12
									.modal-text.text-center
										.checkbox.checkbox--dark
											input#client_1.js-requere(type="checkbox", value="не клиент", name="client_1", tabindex="4")
											label(for="client_1") Являюсь клиентом Ситибанка
									.modal-text.text-center
										button#submit_1.btn.btn--lg.btn--gray.btn--rounded(type="button", tabindex="5") Отправить
										input#sourcecode_1(type="hidden", name="sourcecode", value="EMPTY***")
										input#PageName_1.success(type="hidden", value="citi_gold")
										input#IEWAcategory_1(name="IEWAcategory", type="hidden", value="CitiGold Lead Form")
										input#utm_source_1(name="utm_source", type="hidden" value="")
										input#utm_term_1(name="utm_term", type="hidden" value="")
										input#icid_1(name="icid", type="hidden" value="")
									.text-center
										p.no-margin Нажимая &laquo;Отправить заявку&raquo;, я&nbsp;соглашаюсь на&nbsp;обработку моих персональных данных АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;.
	.rules
		.rules__container
			.container.article-page
				.article-header
					.h2.article-title Юридическая информация
				.article-content
					.rules__scroll.scrollbar
						ul.list-increment
							li.list-increment__item
								p Все привилегии Citigold, за&nbsp;исключением привилегии &laquo;Электронная библиотека&raquo;, &laquo;Boingo Wi-Fi&raquo; и&nbsp;&laquo;Юридическая консультация&raquo;, доступны только при условии поддержания Среднемесячного баланса от&nbsp;4&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold до&nbsp;1&nbsp;января 2018&nbsp;года) или от&nbsp;6&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold с&nbsp;1&nbsp;января 2018&nbsp;года) в&nbsp;календарном месяце, предшествующем месяцу использования привилегий. В&nbsp;целях предоставления привилегий могут учитываться как суммы, находящиеся на&nbsp;счетах Клиента в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, так и&nbsp;суммы, находящиеся на&nbsp;его счетах в&nbsp;аффилированных с&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; компаниях, в&nbsp;соответствии с&nbsp;Условиями банковского обслуживания.
							li.list-increment__item
								p Франк Рисерч Груп
							li.list-increment__item
								p Инвестиционные продукты не&nbsp;застрахованы государством, не&nbsp;являются банковским депозитом,не гарантируются банком, могут потерять стоимость, включая возможную потерю сумм основных инвестиций. Определенная доходность в&nbsp;прошлом не&nbsp;является гарантией такой&nbsp;же доходности в&nbsp;будущем. Прежде чем приобрестиинвестиционный продукт, внимательно ознакомьтесь с&nbsp;условиями и&nbsp;правилами сделки, оценив экономические риски и&nbsp;выгоды, юридические, налоговые и&nbsp;бухгалтерские последствия и&nbsp;Вашу возможность принять данные риски. Инвестиционные активы в&nbsp;иностранной валюте подвержены валютному риску, который может выражаться в&nbsp;потерях основной суммы инвестиций (частично или полностью).АО КБ&nbsp;&laquo;Ситибанк&raquo; действует в&nbsp;качестве брокера при заключении сделок с&nbsp;ценными бумагами (кроме сделок с&nbsp;паями локальных паевых инвестиционных фондов и&nbsp;валютными опционами). С&nbsp;условиями брокерского обслуживания, тарифами, а&nbsp;также с&nbsp;другими документами можно ознакомиться в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; и&nbsp;на&nbsp;сайте <a href="www.citibank.ru" class="link" target="_blank">www.citibank.ru</a>, в&nbsp;разделе &laquo;Инвестиционные продукты&raquo;&nbsp;&mdash; &laquo;Важная информация&raquo;. Договор об&nbsp;оказании брокерских услуг заключается с&nbsp;целью инвестирования временно свободных денежных средств для получения инвестиционного&nbsp;и (или) иного дохода от&nbsp;операций на&nbsp;финансовом рынке, сопряженных с&nbsp;риском неполучения дохода и&nbsp;потери инвестируемых денежных средств, а&nbsp;не&nbsp;с&nbsp;целью удовлетворения личных, семейных, домашних и&nbsp;иных потребительских нужд клиента.Вложение средств в&nbsp;ценные бумаги включает следующие риски, которые клиент принимает на&nbsp;себя (но&nbsp;не&nbsp;ограничивается ими): риск страны, валютный риск, ценовой риск, риск ликвидности, кредитный риск, риск контрагента, расчетный риск. Детальное описание рисков предоставляется клиентам при заключении договора об&nbsp;оказании брокерских услуг.За оказание брокерских услуг в&nbsp;интересах клиента АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; взимает комиссию, с&nbsp;размерами которой можно ознакомиться на&nbsp;сайте <a href="www.citibank.ru" target="_blank">www.citibank.ru</a>, в&nbsp;разделе &laquo;Инвестиционные продукты&raquo;&nbsp;&mdash; &laquo;Важная информация&raquo;, в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; или позвонив на&nbsp;брокерскую линию по&nbsp;телефонам: <a href="tel:+7 (495) 775-78-58" class="link text-nowrap">+7 (495) 775-78-58</a>&nbsp;в Москве; <a href="tel:+7 (812) 346-78-58" class="link text-nowrap">+7 (812) 346-78-58</a>&nbsp;в Санкт-Петербурге; <a href="tel:8 (800) 700-78-58" class="link text-nowrap">8 (800) 700-78-58</a>&nbsp;в других городах России.
							li.list-increment__item
								p Ценные бумаги иностранных эмитентов, не&nbsp;допущенные к&nbsp;публичному размещению&nbsp;и (или) публичному обращению в&nbsp;Российской Федерации, а&nbsp;также иностранные финансовые инструменты, не&nbsp;квалифицированные в&nbsp;качестве ценных бумаг, не&nbsp;могут предлагаться неограниченному (неопределенному) кругу лиц, а&nbsp;также лицам, не&nbsp;являющимся квалифицированными инвесторами, и&nbsp;могут приобретаться только квалифицированными инвесторами в&nbsp;рамках, определенных российским законодательством (Федеральный закон от&nbsp;22&nbsp;апреля 1996 года &#8470;&nbsp;39-ФЗ &laquo;О&nbsp;рынке ценных бумаг&raquo;).
							li.list-increment__item
								p Все условия договора Вклада являются частью Условий банковского обслуживания физических лиц, размещенных ниже на&nbsp;сайте <a href="www.citibank.ru" target="_blank">www.citibank.ru</a>. Вы&nbsp;также можете получить интересующую Вас информацию в&nbsp;отделениях АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;. В&nbsp;день окончания срока вклада (депозита) Вы&nbsp;получите обратно свои деньги с&nbsp;начисленнымипроцентами на&nbsp;тот счет в&nbsp;АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, с&nbsp;которого деньги были переведены во&nbsp;вклад. Вклад (депозит) не&nbsp;может быть прекращен частично. В&nbsp;случае досрочного прекращения вклада по&nbsp;Вашему желанию, Вам будет возвращена вся сумма вклада. При этом, начисление процентов в&nbsp;случае досрочного прекращения вклада предусматривается по&nbsp;ставке 0,01% годовых. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo; оставляет за&nbsp;собой право изменять условия данных предложений в&nbsp;любое время и&nbsp;без предварительного уведомления. После размещения вклада его условия не&nbsp;меняются.
							li.list-increment__item
								p Услуга бесплатного снятия наличных в&nbsp;других банкоматах с&nbsp;помощью банковской карты доступна только при условии поддержания среднемесячного баланса от&nbsp;4&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold до&nbsp;1&nbsp;января 2018&nbsp;года) или от&nbsp;6&nbsp;000&nbsp;000 рублей&nbsp;РФ или эквивалентной суммы в&nbsp;других валютах (для Клиентов, принятых на&nbsp;банковское обслуживание в&nbsp;рамках пакета банковских услуг Citigold после 1&nbsp;января 2018&nbsp;года) в&nbsp;календарном месяце, предшествующем месяцу использования привилегий.Сторонние банки могут удерживать комиссию за&nbsp;снятие наличных в&nbsp;собственных банкоматах.
							li.list-increment__item
								p Под трансфером понимается поездка&nbsp;в (из) аэропорт&nbsp;из (в) города без заезда по&nbsp;третьим адресам. Услуга предоставляется клиентам Citigold и&nbsp;держателям дополнительных карт к&nbsp;их&nbsp;счетам. Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;размере не&nbsp;более стоимости поездки, установленной в&nbsp;официально опубликованных тарифах Wheely, в&nbsp;случае, если клиент воспользовался привилегией &laquo;Трансфер из/в аэропорт&raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии. Услуга доступна в&nbsp;Москве, Санкт&nbsp;&mdash; Петербурге, Екатеринбурге, Перми, Казани, Краснодаре, Сочи, а&nbsp;также в&nbsp;Лондоне (Великобритания).
							li.list-increment__item
								p Программа страхования является предложением АО&nbsp;СК&nbsp;&laquo;Альянс&raquo; (лицензия Банка России: СЛ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г.&nbsp;и&nbsp;СИ &#8470;&nbsp;0290 от&nbsp;10&nbsp;ноября 2014&nbsp;г).
								p Застрахованными лицами являются Клиенты до&nbsp;84&nbsp;лет, дети Клиента до&nbsp;достижения 18-ти летнего возраста или до&nbsp;достижения 23-х летнего возраста в&nbsp;период обучения в&nbsp;вузе на&nbsp;дневной форме, а&nbsp;также законный(ая) супруг(а) Клиента Citigold Private Client. Полный список страховых случаев и&nbsp;покрытий, а&nbsp;также список исключений и&nbsp;условия использования программы указаны в&nbsp;Памятках страхования на&nbsp;время путешествий держателей дебетовых карт Citigold и&nbsp;Citigold Private Client, расположенных на&nbsp;сайте <a href="www.citibank.ru" target="_blank" class="link">www.citibank.ru</a>.
							li.list-increment__item
								p Десять проходов в&nbsp;бизнес-залы аэропортов для Клиентов Citigold и&nbsp;неограниченное количество проходов для Клиентов Citigold Private Client в&nbsp;течение календарного месяца. Полный список городов, адреса и&nbsp;месторасположение бизнес-залов смотрите на&nbsp;сайте airport.mastercard.com или в&nbsp;мобильном приложении Mastercard Airport Experiences. Клиент заранее дает Ситибанку акцепт на&nbsp;списание с&nbsp;любого из&nbsp;его счетов в&nbsp;Ситибанке суммы в&nbsp;рублях, эквивалентной 30&nbsp;долларам США, в&nbsp;адрес получателя средств: Mastercard Europe&nbsp;SA (198A, Chaussee de&nbsp;Tervuren, 1410&nbsp;Waterloo, Belgium), в&nbsp;случае, если Клиент воспользовался привилегией &laquo;Бесплатный проход в&nbsp;бизнес-залы аэропортов &raquo;, но&nbsp;при этом не&nbsp;поддерживал Среднемесячный баланс на&nbsp;необходимом уровне в&nbsp;календарном месяце, предшествующем месяцу использования привилегии.
							li.list-increment__item
								p Программа Boingo Wi-Fi предоставляется Boingo Wireless, Inc.
							li.list-increment__item
								p Экстренное снятие наличных в&nbsp;случае утери карты за&nbsp;рубежом (если&nbsp;Вы потеряли банковскую карту за&nbsp;рубежом, Вам необходимо обратиться в&nbsp;ближайшее отделение Ситибанка и&nbsp;предъявить документ, удостоверяющий личность)
							li.list-increment__item
								p Привилегия &laquo;Юридическая и&nbsp;налоговая консультация&raquo; предоставляется при условии поддержания среднемесячного баланса от&nbsp;20&nbsp;000&nbsp;000 рублей или эквивалентной суммы в&nbsp;других валютах в&nbsp;календарном месяце, предшествующем месяцу использования привилегий.
							li.list-increment__item
								p Привилегия &laquo;Консьерж&raquo; предоставляется поставщиком услуг по&nbsp;его усмотрению и&nbsp;в&nbsp;предусмотренном им&nbsp;порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этой компании, в&nbsp;частности касающимся предоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
							li.list-increment__item
								p Кредитная карта оформляется исключительно по&nbsp;усмотрению Ситибанка. Ознакомиться со&nbsp;всеми условиями договора и&nbsp;тарифами&nbsp;Вы можете на&nbsp;сайте <a href="www.citibank.ru" target="_blank" class="link">www.citibank.ru</a>.
							li.list-increment__item
								p Услуги предоставляются поставщиками услуг по&nbsp;их&nbsp;усмотрению и&nbsp;в&nbsp;предусмотренном ими порядке. АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;, корпорация Citigroup Inc.&nbsp;и&nbsp;их&nbsp;аффилированные лица не&nbsp;несут никаких обязательств по&nbsp;предложениям этих компаний, касающимся, в&nbsp;частности, редоставления указанных услуг, или в&nbsp;связи с&nbsp;ними. Информация об&nbsp;услугах приводится на&nbsp;основании данных, полученных от&nbsp;соответствующей компании.
