if(connonical_page == '')
	-var connonical_page = 'citibank'
script.
	// Yandex.Metrika tracking code START
	if ((window.location.href.indexOf('citibank.ru') >= 0) || (window.location.href.indexOf('citibank.com') >= 0)) {
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function () {
					try {
						w.yaCounter10209925 = new Ya.Metrika({
							id: 10209925,
							webvisor: true,
							clickmap: true,
							accurateTrackBounce:true
						});
					} catch (e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
	}
	// Yandex.Metrika tracking code END
	// Google Analytics tracking code START
	(function (i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-17370299-2', 'auto', {'allowLinker': true,'allowAnchor': true});
	ga('require', 'linker');
	ga('linker:autoLink', ['citibank.com', 'instantsalesautomation.citigroup.com']);
	ga('send', 'pageview');
	// Google Analytics tracking code END

	// Rating@mail.ru counter START
	var _tmr = _tmr || [];
	_tmr.push({id: "2597437", type: "pageView", start: (new Date()).getTime()});
	(function (d, w) {
	var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
	ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
	var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
	if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
	})(document, window);
	// Rating@mail.ru counter END

script(type="text/javascript", src="../f/js/sourse_track.js")
//- script(src='https://www.citibank.ru/russia/citigold/f/js/sourse_track.js')
script(src='https://www.citibank.ru/russia/js/tracking.js')
// Start SiteCatalyst code
script(src='https://www.citibank.ru/russia/js/catalyst_ru.js')
block page-custom-analitics
	script.
		<!--
			function analitics(events, url, var9, id){
				var loc, s_code;
				loc = window.location.host;
				loc = loc.toLowerCase();

				if ( loc.indexOf("citibank.") >= 0 ) {
					s.pageName = '';
					s.server = '';
					s.channel = '';
					s.pageType = '';
					s.prop1 = '';
					s.prop2 = '';
					s.prop3 = '';
					s.prop4 = '';
					s.prop5 = '';
					s.campaign = '';
					s.state = '';
					s.zip = '';
					s.events = events;
					s.products = url;
					s.purchaseID = '';
					s.eVar1 = '';
					s.eVar2 = '';
					s.eVar3 = '';
					s.eVar4 = '';
					s.eVar5 = '';
					s.eVar9 = var9;
					s.transactionID = id;
					s_code = s.t();
					if (s_code) {
						document.write(s_code);
					}
				}
			}
			analitics('event6', ';Citigold', '', '');
		//-->

script.
	<!--
		if (navigator.appVersion.indexOf('MSIE') >= 0) {
			document.write(unescape('%3C') + '!-' + '-');
		}
	//-->
noscript
	a(href="https://www.omniture.com", title="Web Analytics")
		img(src="https://devgundersen.112.2O7.net/b/ss/devgundersen/1/H.17--NS/0", height="1", width="1", border="0", alt="")
// /DO NOT REMOVE/
// End SiteCatalyst code
script(src="/russia/js/xss.js")
script(src="/russia/js/xfs.js")
