footer.app-footer
	.app-footer-wrap
	.app-footer-nav
		.app-footer-nav__top
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12
						.app-footer-nav-inner
							.brand-footer
								img(alt="citi", src="../f/i/brand-big.svg")
							.btn-group-footer
								a.btn.btn--md.btn--olive.btn--rounded.full-width(href="https://www.citibank.ru/russia/citigold/rus/citigold_client.htm") Заказать звонок
		.app-footer-nav__bottom
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12
						.app-footer-nav-inner
							ul.footer-nav
								li.footer-nav__item
									a(href="about.htm") О&nbsp;Citigold
								li.footer-nav__item
									a(href="advantage.htm") Банковский сервис
							ul.footer-nav
								li.footer-nav__item
									a(href="invest.htm") Инвестиции и&nbsp;страхование
								li.footer-nav__item
									a(href="analitics.htm") Рыночная аналитика
							ul.footer-nav
								li.footer-nav__item
									a(href="privileges.htm") Привилегии для путешествий
								li.footer-nav__item
									a(href="specials.htm") Специальные предложения
							ul.footer-nav
								li.footer-nav__item
									a(href="kontakty.htm") Контакты
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/rus/payment_details.htm") Банковские реквизиты
						.app-footer-disclamer
							p АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;. Генеральная лицензия на&nbsp;осуществление банковских операций Банка России &#8470;&nbsp;2557 от&nbsp;28&nbsp;июля 2015&nbsp;года.
							p Адрес: 125047, Москва, ул. Гашека, дом 8-10, стр.&nbsp;1. Контактные телефоны: +7 (495) 775-75-75&nbsp;в Москве, +7 (812) 336-75-75&nbsp;в Санкт-Петербурге, 8 (800) 700-38-38 для звонков из&nbsp;других городов РФ. E-mail: <a  href="mailto:citibank.customer@citi.com">citibank.customer@citi.com</a>
