footer.app-footer
	.app-footer-wrap
	.app-footer-nav
		.app-footer-nav__top
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12
						.app-footer-nav-inner
							ul.footer-nav
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/main/rus/home.htm") citibank.ru
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/rus/payment_details.htm") Банковские реквизиты
							ul.footer-nav
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/main/rus/privacy.htm") Конфиденциальность
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/rus/security.htm") Ваша безопасность
							ul.footer-nav
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/citigroup/rus/career.htm") Вакансии
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/citigroup/rus/about.htm") О&nbsp;Ситибанке
							ul.footer-nav
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/rus/contacts.htm") Контакты
								li.footer-nav__item
									a(href="https://www.citibank.ru/russia/info/rus/sitemap.htm") Карта сайта
		.app-footer-nav__bottom
			.container
				.row
					.col-xs-12.col-sm-12.col-md-12
						.app-footer-nav-inner
							.brand-footer
								img(alt="citi", src="f/i/brand-small.png")
							.footer-description
								-var list_links = [{"url": "https://www.citibank.ru/russia/main/rus/promise.htm", "text": "Соблюдение неприкосновенности частной жизни"}, {"url": "https://www.citibank.ru/russia/main/rus/disclamer.htm", "text": "Условия, предостережения и&nbsp;оговорки"}]
								ul.footer-description-list
									li
										each value, index in list_links
											a.footer-description-list__target(href=value.url)!= value.text
											if(index < list_links.length - 1)
												| ,
									li
										span Копирайт &copy;&nbsp;2002&ndash;2016 Citigroup Inc.
						.app-footer-disclamer
							p АО&nbsp;КБ&nbsp;&laquo;Ситибанк&raquo;. Генеральная лицензия на&nbsp;осуществление банковских операций Банка России &#8470;&nbsp;2557 от&nbsp;28&nbsp;июля 2015&nbsp;года.
							p Адрес: 125047, Москва, ул. Гашека, дом 8-10, стр.&nbsp;1. Контактные телефоны: +7 (495) 775-75-75&nbsp;в Москве, +7 (812) 336-75-75&nbsp;в Санкт-Петербурге, 8 (800) 700-38-38 для звонков из&nbsp;других городов РФ. E-mail: <a  href="mailto:citibank.customer@citi.com">citibank.customer@citi.com</a>
