script(src='../f/js/jquery.min.js')
script(src='../f/js/vendor.js')
//- script(src='../f/js/jquery.fancybox.pack.js')
script(src='../f/js/main.js')
script(src='../f/js/validate.js')


script.
	$(document).on('click', 'a[data-event="prcall"]', function(e) {
			e.preventDefault()
			var loc = encodeURIComponent(window.location.href);
			var ref = encodeURIComponent(document.referrer);
			var img = document.createElement('img');

			img.width = 1;
			img.height = 1;
			img.style.display = 'none';
			img.src = '//tag.rutarget.ru/tag?event=thankYou&conv_id=prcall&__location=' + loc + '&__referrer=' + ref;
			img.alt = '';
			document.body.insertBefore(img, document.body.firstChild);
			window.location.href = $(e.currentTarget).prop('href');
		});